<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Bat_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,224},{50,32}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,80},{50,32}}</string>
			<key>sourceSize</key>
			<string>{56,196}</string>
		</dict>
		<key>Bat_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{54,32}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,81},{54,32}}</string>
			<key>sourceSize</key>
			<string>{56,196}</string>
		</dict>
		<key>Bat_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,66},{44,30}}</string>
			<key>offset</key>
			<string>{1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,89},{44,30}}</string>
			<key>sourceSize</key>
			<string>{56,196}</string>
		</dict>
		<key>Bat_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,223},{32,34}}</string>
			<key>offset</key>
			<string>{4,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,92},{32,34}}</string>
			<key>sourceSize</key>
			<string>{56,196}</string>
		</dict>
		<key>Bat_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,66},{28,40}}</string>
			<key>offset</key>
			<string>{0,-21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,99},{28,40}}</string>
			<key>sourceSize</key>
			<string>{56,196}</string>
		</dict>
		<key>Bat_death_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,95},{30,24}}</string>
			<key>offset</key>
			<string>{1,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,122},{30,24}}</string>
			<key>sourceSize</key>
			<string>{56,196}</string>
		</dict>
		<key>Bat_death_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,111},{28,22}}</string>
			<key>offset</key>
			<string>{-2,-49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,136},{28,22}}</string>
			<key>sourceSize</key>
			<string>{56,196}</string>
		</dict>
		<key>Bat_death_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,120},{22,26}}</string>
			<key>offset</key>
			<string>{-2,-71}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,156},{22,26}}</string>
			<key>sourceSize</key>
			<string>{56,196}</string>
		</dict>
		<key>Bat_death_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,27},{14,16}}</string>
			<key>offset</key>
			<string>{-2,-90}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,180},{14,16}}</string>
			<key>sourceSize</key>
			<string>{56,196}</string>
		</dict>
		<key>Bat_fly_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,66},{32,52}}</string>
			<key>offset</key>
			<string>{-1,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{32,52}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>Bat_fly_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,66},{46,46}}</string>
			<key>offset</key>
			<string>{-1,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{46,46}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>Bat_fly_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,27},{60,38}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{60,38}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>Bat_fly_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,0},{66,26}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,24},{66,26}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>Bat_fly_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,160},{38,44}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,24},{38,44}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>Bat_fly_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,113},{46,36}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,24},{46,36}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>Bat_fly_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,66},{50,28}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,25},{50,28}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>Bat_fly_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,119},{50,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,21},{50,30}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>FireBat_fly_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,33},{32,52}}</string>
			<key>offset</key>
			<string>{-1,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,0},{32,52}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>FireBat_fly_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,116},{46,46}}</string>
			<key>offset</key>
			<string>{-1,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{46,46}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>FireBat_fly_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,27},{60,38}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{60,38}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>FireBat_fly_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{66,26}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,24},{66,26}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>FireBat_fly_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,66},{38,44}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,24},{38,44}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>FireBat_fly_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,210},{46,36}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,24},{46,36}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>FireBat_fly_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,170},{50,28}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,25},{50,28}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>FireBat_fly_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,172},{50,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,21},{50,30}}</string>
			<key>sourceSize</key>
			<string>{66,72}</string>
		</dict>
		<key>FrostBat_fly_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,119},{31,52}}</string>
			<key>offset</key>
			<string>{0,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,0},{31,52}}</string>
			<key>sourceSize</key>
			<string>{65,72}</string>
		</dict>
		<key>FrostBat_fly_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,163},{45,46}}</string>
			<key>offset</key>
			<string>{-1,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{45,46}}</string>
			<key>sourceSize</key>
			<string>{65,72}</string>
		</dict>
		<key>FrostBat_fly_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,27},{61,38}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,12},{61,38}}</string>
			<key>sourceSize</key>
			<string>{65,72}</string>
		</dict>
		<key>FrostBat_fly_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,0},{65,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,23},{65,26}}</string>
			<key>sourceSize</key>
			<string>{65,72}</string>
		</dict>
		<key>FrostBat_fly_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,111},{37,44}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,23},{37,44}}</string>
			<key>sourceSize</key>
			<string>{65,72}</string>
		</dict>
		<key>FrostBat_fly_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,221},{45,34}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,25},{45,34}}</string>
			<key>sourceSize</key>
			<string>{65,72}</string>
		</dict>
		<key>FrostBat_fly_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,66},{49,28}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,25},{49,28}}</string>
			<key>sourceSize</key>
			<string>{65,72}</string>
		</dict>
		<key>FrostBat_fly_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,172},{51,30}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,20},{51,30}}</string>
			<key>sourceSize</key>
			<string>{65,72}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BatSpriteSheet.png</string>
		<key>size</key>
		<string>{254,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a0d0a2912f5775d3bbddfe3e3ac14d27$</string>
		<key>textureFileName</key>
		<string>BatSpriteSheet.png</string>
	</dict>
</dict>
</plist>
