<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BK_arm_top_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,84},{60,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,76}}</string>
			<key>sourceSize</key>
			<string>{60,76}</string>
		</dict>
		<key>BK_arm_top_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,322},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>BK_foot_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,2},{76,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,28}}</string>
			<key>sourceSize</key>
			<string>{76,28}</string>
		</dict>
		<key>BK_foot_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,480},{76,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,28}}</string>
			<key>sourceSize</key>
			<string>{76,28}</string>
		</dict>
		<key>BK_foot_top_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,450},{52,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,36}}</string>
			<key>sourceSize</key>
			<string>{52,36}</string>
		</dict>
		<key>BK_foot_top_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,392},{56,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,40}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>BK_gauntlet01_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,2},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>BK_gauntlet01_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,394},{68,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,104}}</string>
			<key>sourceSize</key>
			<string>{68,104}</string>
		</dict>
		<key>BK_gauntlet_base_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,166},{56,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,68}}</string>
			<key>sourceSize</key>
			<string>{56,68}</string>
		</dict>
		<key>BK_head01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,84},{80,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,76}}</string>
			<key>sourceSize</key>
			<string>{80,76}</string>
		</dict>
		<key>BK_leg_cloth_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,78},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>BK_leg_cloth_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,166},{60,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,72}}</string>
			<key>sourceSize</key>
			<string>{60,72}</string>
		</dict>
		<key>BK_shoulder_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,236},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>BK_shoulder_b_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,162},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>BK_shoulder_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,394},{84,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,76}}</string>
			<key>sourceSize</key>
			<string>{84,76}</string>
		</dict>
		<key>BK_thight_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,240},{80,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,56}}</string>
			<key>sourceSize</key>
			<string>{80,56}</string>
		</dict>
		<key>BK_thight_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,2},{74,54}}</string>
			<key>offset</key>
			<string>{-5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,54}}</string>
			<key>sourceSize</key>
			<string>{84,56}</string>
		</dict>
		<key>BK_torso_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,240},{140,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,152}}</string>
			<key>sourceSize</key>
			<string>{140,152}</string>
		</dict>
		<key>BK_wep01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{104,236}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,236}}</string>
			<key>sourceSize</key>
			<string>{104,236}</string>
		</dict>
		<key>spikeBall_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,2},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BK_Sheet.png</string>
		<key>size</key>
		<string>{334,510}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d23b115c4bf49cdaa663db56dfb69b3a$</string>
		<key>textureFileName</key>
		<string>BK_Sheet.png</string>
	</dict>
</dict>
</plist>
