<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BK_arm_top_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,44},{30,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,38}}</string>
			<key>sourceSize</key>
			<string>{30,38}</string>
		</dict>
		<key>BK_arm_top_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,86},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>BK_foot_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,196},{38,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,14}}</string>
			<key>sourceSize</key>
			<string>{38,14}</string>
		</dict>
		<key>BK_foot_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,122},{38,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,14}}</string>
			<key>sourceSize</key>
			<string>{38,14}</string>
		</dict>
		<key>BK_foot_top_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,236},{26,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,18}}</string>
			<key>sourceSize</key>
			<string>{26,18}</string>
		</dict>
		<key>BK_foot_top_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,224},{28,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,20}}</string>
			<key>sourceSize</key>
			<string>{28,20}</string>
		</dict>
		<key>BK_gauntlet01_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,194},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>BK_gauntlet01_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,200},{34,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,52}}</string>
			<key>sourceSize</key>
			<string>{34,52}</string>
		</dict>
		<key>BK_gauntlet_base_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,86},{28,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,34}}</string>
			<key>sourceSize</key>
			<string>{28,34}</string>
		</dict>
		<key>BK_head01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,44},{40,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,38}}</string>
			<key>sourceSize</key>
			<string>{40,38}</string>
		</dict>
		<key>BK_leg_cloth_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,162},{26,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,30}}</string>
			<key>sourceSize</key>
			<string>{26,30}</string>
		</dict>
		<key>BK_leg_cloth_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,164},{30,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,36}}</string>
			<key>sourceSize</key>
			<string>{30,36}</string>
		</dict>
		<key>BK_shoulder_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,196},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>BK_shoulder_b_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,228},{26,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,30}}</string>
			<key>sourceSize</key>
			<string>{26,30}</string>
		</dict>
		<key>BK_shoulder_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,200},{42,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,38}}</string>
			<key>sourceSize</key>
			<string>{42,38}</string>
		</dict>
		<key>BK_thight_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,122},{40,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,28}}</string>
			<key>sourceSize</key>
			<string>{40,28}</string>
		</dict>
		<key>BK_thight_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,2},{38,28}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,28}}</string>
			<key>sourceSize</key>
			<string>{42,28}</string>
		</dict>
		<key>BK_torso_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,122},{70,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,76}}</string>
			<key>sourceSize</key>
			<string>{70,76}</string>
		</dict>
		<key>BK_wep01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{52,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,118}}</string>
			<key>sourceSize</key>
			<string>{52,118}</string>
		</dict>
		<key>spikeBall_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BK_Sheet.png</string>
		<key>size</key>
		<string>{160,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:285d630324cd930c8c8b89a03c0732d5$</string>
		<key>textureFileName</key>
		<string>BK_Sheet.png</string>
	</dict>
</dict>
</plist>
