<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Blacksmith_arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,222},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>Blacksmith_arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,90},{34,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,44}}</string>
			<key>sourceSize</key>
			<string>{34,44}</string>
		</dict>
		<key>Blacksmith_body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,2},{86,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,72}}</string>
			<key>sourceSize</key>
			<string>{86,72}</string>
		</dict>
		<key>Blacksmith_cloth_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,126},{98,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,120}}</string>
			<key>sourceSize</key>
			<string>{98,120}</string>
		</dict>
		<key>Blacksmith_glove_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,90},{42,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,48}}</string>
			<key>sourceSize</key>
			<string>{42,48}</string>
		</dict>
		<key>Blacksmith_glove_f_bottom_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,134},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>Blacksmith_glove_f_top_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,2},{46,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,24}}</string>
			<key>sourceSize</key>
			<string>{46,24}</string>
		</dict>
		<key>Blacksmith_hammer_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,2},{46,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,84}}</string>
			<key>sourceSize</key>
			<string>{46,84}</string>
		</dict>
		<key>Blacksmith_head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{100,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,122}}</string>
			<key>sourceSize</key>
			<string>{100,122}</string>
		</dict>
		<key>Blacksmith_legs_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,126},{94,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,72}}</string>
			<key>sourceSize</key>
			<string>{94,72}</string>
		</dict>
		<key>Blacksmith_shoulder_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,222},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>Blacksmith_shoulder_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,134},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Blacksmith_Sheet.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:37b43a0198cf9a9ff584feb91ebb2553$</string>
		<key>textureFileName</key>
		<string>Blacksmith_Sheet.png</string>
	</dict>
</dict>
</plist>
