<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Blacksmith_arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,108},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>Blacksmith_arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,69},{17,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,22}}</string>
			<key>sourceSize</key>
			<string>{17,22}</string>
		</dict>
		<key>Blacksmith_body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,25},{43,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,36}}</string>
			<key>sourceSize</key>
			<string>{43,36}</string>
		</dict>
		<key>Blacksmith_cloth_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,65},{49,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,60}}</string>
			<key>sourceSize</key>
			<string>{49,60}</string>
		</dict>
		<key>Blacksmith_glove_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,2},{21,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,24}}</string>
			<key>sourceSize</key>
			<string>{21,24}</string>
		</dict>
		<key>Blacksmith_glove_f_bottom_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,88},{18,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>Blacksmith_glove_f_top_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,114},{23,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,12}}</string>
			<key>sourceSize</key>
			<string>{23,12}</string>
		</dict>
		<key>Blacksmith_hammer_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,25},{23,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,42}}</string>
			<key>sourceSize</key>
			<string>{23,42}</string>
		</dict>
		<key>Blacksmith_head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{50,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,61}}</string>
			<key>sourceSize</key>
			<string>{50,61}</string>
		</dict>
		<key>Blacksmith_legs_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,65},{47,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,36}}</string>
			<key>sourceSize</key>
			<string>{47,36}</string>
		</dict>
		<key>Blacksmith_shoulder_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,108},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>Blacksmith_shoulder_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,2},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,19}}</string>
			<key>sourceSize</key>
			<string>{19,19}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Blacksmith_Sheet.png</string>
		<key>size</key>
		<string>{127,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6cbeffdaf6fd0b96220c526816f321f0$</string>
		<key>textureFileName</key>
		<string>Blacksmith_Sheet.png</string>
	</dict>
</dict>
</plist>
