<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BOSBlast_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1431,562},{67,54}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,39},{67,54}}</string>
			<key>sourceSize</key>
			<string>{147,136}</string>
		</dict>
		<key>BOSBlast_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,743},{101,92}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,19},{101,92}}</string>
			<key>sourceSize</key>
			<string>{147,136}</string>
		</dict>
		<key>BOSBlast_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1012,992},{107,110}}</string>
			<key>offset</key>
			<string>{10,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,11},{107,110}}</string>
			<key>sourceSize</key>
			<string>{147,136}</string>
		</dict>
		<key>BOSBlast_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,1223},{133,134}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{133,134}}</string>
			<key>sourceSize</key>
			<string>{147,136}</string>
		</dict>
		<key>BOS_attack_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1351,1426},{208,225}}</string>
			<key>offset</key>
			<string>{4,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{98,12},{208,225}}</string>
			<key>sourceSize</key>
			<string>{396,275}</string>
		</dict>
		<key>BOS_attack_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1547,1652},{196,215}}</string>
			<key>offset</key>
			<string>{2,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{102,24},{196,215}}</string>
			<key>sourceSize</key>
			<string>{396,275}</string>
		</dict>
		<key>BOS_attack_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,1444},{236,209}}</string>
			<key>offset</key>
			<string>{-27,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,28},{236,209}}</string>
			<key>sourceSize</key>
			<string>{396,275}</string>
		</dict>
		<key>BOS_attack_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,784},{290,207}}</string>
			<key>offset</key>
			<string>{-53,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,30},{290,207}}</string>
			<key>sourceSize</key>
			<string>{396,275}</string>
		</dict>
		<key>BOS_attack_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1128,795},{288,209}}</string>
			<key>offset</key>
			<string>{-53,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,28},{288,209}}</string>
			<key>sourceSize</key>
			<string>{396,275}</string>
		</dict>
		<key>BOS_attack_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,546},{292,237}}</string>
			<key>offset</key>
			<string>{-22,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,0},{292,237}}</string>
			<key>sourceSize</key>
			<string>{396,275}</string>
		</dict>
		<key>BOS_attack_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1123,1005},{244,223}}</string>
			<key>offset</key>
			<string>{14,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{90,15},{244,223}}</string>
			<key>sourceSize</key>
			<string>{396,275}</string>
		</dict>
		<key>BOS_attack_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,1358},{202,229}}</string>
			<key>offset</key>
			<string>{12,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{109,7},{202,229}}</string>
			<key>sourceSize</key>
			<string>{396,275}</string>
		</dict>
		<key>BOS_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1149,1658},{219,227}}</string>
			<key>offset</key>
			<string>{-1,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,17},{219,227}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,1749},{239,229}}</string>
			<key>offset</key>
			<string>{-11,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{239,229}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,1755},{243,233}}</string>
			<key>offset</key>
			<string>{-9,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{243,233}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1123,1426},{231,227}}</string>
			<key>offset</key>
			<string>{-8,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,15},{231,227}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1755},{237,243}}</string>
			<key>offset</key>
			<string>{-1,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{237,243}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_death_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1763,1455},{205,211}}</string>
			<key>offset</key>
			<string>{7,30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,8},{205,211}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_death_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,1358},{125,155}}</string>
			<key>offset</key>
			<string>{-29,47}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,19},{125,155}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_death_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1045,874},{71,89}}</string>
			<key>offset</key>
			<string>{-44,64}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,35},{71,89}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_death_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,557},{65,43}}</string>
			<key>offset</key>
			<string>{-38,45}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{60,77},{65,43}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_death_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{1097,494},{65,27}}</string>
			<key>offset</key>
			<string>{-31,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{67,140},{65,27}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_death_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{1097,406},{63,31}}</string>
			<key>offset</key>
			<string>{-19,-86}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{80,214},{63,31}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_death_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{1097,265},{65,33}}</string>
			<key>offset</key>
			<string>{-19,-84}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,211},{65,33}}</string>
			<key>sourceSize</key>
			<string>{261,287}</string>
		</dict>
		<key>BOS_getHit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,1681},{232,229}}</string>
			<key>offset</key>
			<string>{-11,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,3},{232,229}}</string>
			<key>sourceSize</key>
			<string>{282,265}</string>
		</dict>
		<key>BOS_getHit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,1327},{250,233}}</string>
			<key>offset</key>
			<string>{-16,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,233}}</string>
			<key>sourceSize</key>
			<string>{282,265}</string>
		</dict>
		<key>BOS_walk_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1369,1652},{177,221}}</string>
			<key>offset</key>
			<string>{16,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,5},{177,221}}</string>
			<key>sourceSize</key>
			<string>{211,251}</string>
		</dict>
		<key>BOS_walk_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,1561},{187,227}}</string>
			<key>offset</key>
			<string>{12,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,0},{187,227}}</string>
			<key>sourceSize</key>
			<string>{211,251}</string>
		</dict>
		<key>BOS_walk_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1547,1868},{177,215}}</string>
			<key>offset</key>
			<string>{10,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,12},{177,215}}</string>
			<key>sourceSize</key>
			<string>{211,251}</string>
		</dict>
		<key>BOS_walk_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1744,1661},{177,207}}</string>
			<key>offset</key>
			<string>{13,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,19},{177,207}}</string>
			<key>sourceSize</key>
			<string>{211,251}</string>
		</dict>
		<key>BOS_walk_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,914},{183,215}}</string>
			<key>offset</key>
			<string>{13,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,10},{183,215}}</string>
			<key>sourceSize</key>
			<string>{211,251}</string>
		</dict>
		<key>BOS_walk_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,1561},{185,221}}</string>
			<key>offset</key>
			<string>{11,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,5},{185,221}}</string>
			<key>sourceSize</key>
			<string>{211,251}</string>
		</dict>
		<key>BOS_walk_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,1130},{191,227}}</string>
			<key>offset</key>
			<string>{8,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,2},{191,227}}</string>
			<key>sourceSize</key>
			<string>{211,251}</string>
		</dict>
		<key>BOS_walk_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1763,1259},{195,213}}</string>
			<key>offset</key>
			<string>{1,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,12},{195,213}}</string>
			<key>sourceSize</key>
			<string>{211,251}</string>
		</dict>
		<key>BOS_walk_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{1560,1327},{199,209}}</string>
			<key>offset</key>
			<string>{2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,17},{199,209}}</string>
			<key>sourceSize</key>
			<string>{211,251}</string>
		</dict>
		<key>BOS_walk_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,1561},{187,217}}</string>
			<key>offset</key>
			<string>{9,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,8},{187,217}}</string>
			<key>sourceSize</key>
			<string>{211,251}</string>
		</dict>
		<key>BOW_attack_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,265},{338,280}}</string>
			<key>offset</key>
			<string>{71,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{176,0},{338,280}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1137,0},{354,272}}</string>
			<key>offset</key>
			<string>{84,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{181,10},{354,272}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,0},{370,264}}</string>
			<key>offset</key>
			<string>{89,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{178,17},{370,264}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,233},{370,242}}</string>
			<key>offset</key>
			<string>{79,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{168,38},{370,242}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{386,238}}</string>
			<key>offset</key>
			<string>{68,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{149,42},{386,238}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,0},{378,232}}</string>
			<key>offset</key>
			<string>{63,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{148,47},{378,232}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,239},{368,238}}</string>
			<key>offset</key>
			<string>{-90,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,41},{368,238}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1793,268},{250,236}}</string>
			<key>offset</key>
			<string>{-24,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{125,42},{250,236}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,1223},{220,236}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{166,42},{220,236}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{1123,1229},{196,234}}</string>
			<key>offset</key>
			<string>{-7,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{169,44},{196,234}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{1368,1126},{200,234}}</string>
			<key>offset</key>
			<string>{-13,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{161,45},{200,234}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1516},{238,244}}</string>
			<key>offset</key>
			<string>{-5,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{150,35},{238,244}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_attack_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{1787,505},{208,260}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{172,25},{208,260}}</string>
			<key>sourceSize</key>
			<string>{548,308}</string>
		</dict>
		<key>BOW_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,992},{230,257}}</string>
			<key>offset</key>
			<string>{17,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{127,62},{230,257}}</string>
			<key>sourceSize</key>
			<string>{450,379}</string>
		</dict>
		<key>BOW_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,1747},{216,237}}</string>
			<key>offset</key>
			<string>{9,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{126,89},{216,237}}</string>
			<key>sourceSize</key>
			<string>{450,379}</string>
		</dict>
		<key>BOW_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,476},{236,317}}</string>
			<key>offset</key>
			<string>{-1,31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{106,0},{236,317}}</string>
			<key>sourceSize</key>
			<string>{450,379}</string>
		</dict>
		<key>BOW_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1417,845},{280,283}}</string>
			<key>offset</key>
			<string>{36,36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{121,12},{280,283}}</string>
			<key>sourceSize</key>
			<string>{450,379}</string>
		</dict>
		<key>BOW_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1793,0},{252,267}}</string>
			<key>offset</key>
			<string>{71,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{170,27},{252,267}}</string>
			<key>sourceSize</key>
			<string>{450,379}</string>
		</dict>
		<key>BOW_death_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,914},{282,199}}</string>
			<key>offset</key>
			<string>{84,-44}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{168,134},{282,199}}</string>
			<key>sourceSize</key>
			<string>{450,379}</string>
		</dict>
		<key>BOW_getHit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1491,284},{284,295}}</string>
			<key>offset</key>
			<string>{58,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{116,0},{284,295}}</string>
			<key>sourceSize</key>
			<string>{400,333}</string>
		</dict>
		<key>BOW_getHit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1131,273},{292,299}}</string>
			<key>offset</key>
			<string>{53,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{107,0},{292,299}}</string>
			<key>sourceSize</key>
			<string>{400,333}</string>
		</dict>
		<key>BOW_walk_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1492,0},{300,283}}</string>
			<key>offset</key>
			<string>{57,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{114,8},{300,283}}</string>
			<key>sourceSize</key>
			<string>{414,325}</string>
		</dict>
		<key>BOW_walk_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,768},{286,269}}</string>
			<key>offset</key>
			<string>{62,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{126,21},{286,269}}</string>
			<key>sourceSize</key>
			<string>{414,325}</string>
		</dict>
		<key>BOW_walk_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1486,569},{294,275}}</string>
			<key>offset</key>
			<string>{56,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{116,18},{294,275}}</string>
			<key>sourceSize</key>
			<string>{414,325}</string>
		</dict>
		<key>BOW_walk_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1781,714},{262,275}}</string>
			<key>offset</key>
			<string>{55,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{131,15},{262,275}}</string>
			<key>sourceSize</key>
			<string>{414,325}</string>
		</dict>
		<key>BOW_walk_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1038},{236,279}}</string>
			<key>offset</key>
			<string>{45,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{134,13},{236,279}}</string>
			<key>sourceSize</key>
			<string>{414,325}</string>
		</dict>
		<key>BOW_walk_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1130,566},{228,291}}</string>
			<key>offset</key>
			<string>{22,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{115,7},{228,291}}</string>
			<key>sourceSize</key>
			<string>{414,325}</string>
		</dict>
		<key>BOW_walk_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,713},{200,291}}</string>
			<key>offset</key>
			<string>{28,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{135,11},{200,291}}</string>
			<key>sourceSize</key>
			<string>{414,325}</string>
		</dict>
		<key>BOW_walk_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,1114},{212,279}}</string>
			<key>offset</key>
			<string>{35,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{136,17},{212,279}}</string>
			<key>sourceSize</key>
			<string>{414,325}</string>
		</dict>
		<key>BOW_walk_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1275},{240,275}}</string>
			<key>offset</key>
			<string>{48,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{135,17},{240,275}}</string>
			<key>sourceSize</key>
			<string>{414,325}</string>
		</dict>
		<key>BOW_walk_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{1701,990},{268,283}}</string>
			<key>offset</key>
			<string>{60,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{133,10},{268,283}}</string>
			<key>sourceSize</key>
			<string>{414,325}</string>
		</dict>
		<key>BOW_walk_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,478},{316,289}}</string>
			<key>offset</key>
			<string>{48,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97,0},{316,289}}</string>
			<key>sourceSize</key>
			<string>{414,325}</string>
		</dict>
		<key>SBT_spawnBall_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1431,506},{57,55}}</string>
			<key>offset</key>
			<string>{11,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,10},{57,55}}</string>
			<key>sourceSize</key>
			<string>{87,65}</string>
		</dict>
		<key>SBT_spawnBall_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1431,438},{67,57}}</string>
			<key>offset</key>
			<string>{7,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,8},{67,57}}</string>
			<key>sourceSize</key>
			<string>{87,65}</string>
		</dict>
		<key>SBT_spawnBall_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1431,273},{83,59}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,6},{83,59}}</string>
			<key>sourceSize</key>
			<string>{87,65}</string>
		</dict>
		<key>SBT_spawn_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1417,800},{66,20}}</string>
			<key>offset</key>
			<string>{-6,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,50},{66,20}}</string>
			<key>sourceSize</key>
			<string>{90,70}</string>
		</dict>
		<key>SBT_spawn_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1097,331},{74,32}}</string>
			<key>offset</key>
			<string>{-6,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,38},{74,32}}</string>
			<key>sourceSize</key>
			<string>{90,70}</string>
		</dict>
		<key>SBT_spawn_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,684},{78,42}}</string>
			<key>offset</key>
			<string>{-5,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,28},{78,42}}</string>
			<key>sourceSize</key>
			<string>{90,70}</string>
		</dict>
		<key>SBT_spawn_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,478},{78,50}}</string>
			<key>offset</key>
			<string>{-6,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,20},{78,50}}</string>
			<key>sourceSize</key>
			<string>{90,70}</string>
		</dict>
		<key>SBT_spawn_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1431,357},{80,58}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,12},{80,58}}</string>
			<key>sourceSize</key>
			<string>{90,70}</string>
		</dict>
		<key>SBT_spawn_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1422,717},{82,62}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,8},{82,62}}</string>
			<key>sourceSize</key>
			<string>{90,70}</string>
		</dict>
		<key>SBT_spawn_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1422,630},{86,62}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,7},{86,62}}</string>
			<key>sourceSize</key>
			<string>{90,70}</string>
		</dict>
		<key>SBT_spikeHead_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1097,470},{28,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,23}}</string>
			<key>sourceSize</key>
			<string>{28,23}</string>
		</dict>
		<key>SBT_spikeShell_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,623},{60,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,43}}</string>
			<key>sourceSize</key>
			<string>{60,43}</string>
		</dict>
		<key>SBT_walk_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,476},{90,70}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,19},{90,70}}</string>
			<key>sourceSize</key>
			<string>{96,112}</string>
		</dict>
		<key>SBT_walk_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,567},{86,70}}</string>
			<key>offset</key>
			<string>{5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,19},{86,70}}</string>
			<key>sourceSize</key>
			<string>{96,112}</string>
		</dict>
		<key>SBT_walk_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,654},{88,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,23},{88,66}}</string>
			<key>sourceSize</key>
			<string>{96,112}</string>
		</dict>
		<key>SBT_walk_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1051,560},{82,78}}</string>
			<key>offset</key>
			<string>{-1,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,6},{82,78}}</string>
			<key>sourceSize</key>
			<string>{96,112}</string>
		</dict>
		<key>SBT_walk_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1045,785},{82,88}}</string>
			<key>offset</key>
			<string>{-1,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{82,88}}</string>
			<key>sourceSize</key>
			<string>{96,112}</string>
		</dict>
		<key>SBT_walk_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1051,643},{74,74}}</string>
			<key>offset</key>
			<string>{0,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,9},{74,74}}</string>
			<key>sourceSize</key>
			<string>{96,112}</string>
		</dict>
		<key>SBT_walk_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1051,718},{66,74}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,16},{66,74}}</string>
			<key>sourceSize</key>
			<string>{96,112}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BOWSpriteSheet.png</string>
		<key>size</key>
		<string>{2047,2045}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cb734c7b52cacd722c726b9433320de9$</string>
		<key>textureFileName</key>
		<string>BOWSpriteSheet.png</string>
	</dict>
</dict>
</plist>
