<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bubbleCorner.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,15},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>bubbleMiddle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,33},{4,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,4}}</string>
			<key>sourceSize</key>
			<string>{4,4}</string>
		</dict>
		<key>bubbleSide.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,15},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>bubbleTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{26,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,12}}</string>
			<key>sourceSize</key>
			<string>{26,12}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BubbleSheet.png</string>
		<key>size</key>
		<string>{32,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c46452e8e21a135f015d320b470afe9d$</string>
		<key>textureFileName</key>
		<string>BubbleSheet.png</string>
	</dict>
</dict>
</plist>
