<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bubbleCorner.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,27},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>bubbleMiddle.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,1},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,8}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>bubbleSide.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,27},{16,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,32}}</string>
			<key>sourceSize</key>
			<string>{16,32}</string>
		</dict>
		<key>bubbleTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{52,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,24}}</string>
			<key>sourceSize</key>
			<string>{52,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BubbleSheet.png</string>
		<key>size</key>
		<string>{64,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4cfeae444fb138e5757c3dee5aa977ea$</string>
		<key>textureFileName</key>
		<string>BubbleSheet.png</string>
	</dict>
</dict>
</plist>
