<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BB_Body01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{460,588}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,588}}</string>
			<key>sourceSize</key>
			<string>{460,588}</string>
		</dict>
		<key>BB_Ear1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,509},{76,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,168}}</string>
			<key>sourceSize</key>
			<string>{76,168}</string>
		</dict>
		<key>BB_Ear2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,936},{64,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,148}}</string>
			<key>sourceSize</key>
			<string>{64,148}</string>
		</dict>
		<key>BB_Eye_Closed_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,655},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>BB_Fish01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,462},{212,552}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,552}}</string>
			<key>sourceSize</key>
			<string>{212,552}</string>
		</dict>
		<key>BB_Head03_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,363},{248,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,300}}</string>
			<key>sourceSize</key>
			<string>{248,300}</string>
		</dict>
		<key>BB_Head04_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,675},{260,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,288}}</string>
			<key>sourceSize</key>
			<string>{260,288}</string>
		</dict>
		<key>BB_HeadTop_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,865},{220,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,164}}</string>
			<key>sourceSize</key>
			<string>{220,164}</string>
		</dict>
		<key>BB_Jaw_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,893},{248,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,216}}</string>
			<key>sourceSize</key>
			<string>{248,216}</string>
		</dict>
		<key>BB_LHand01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,1210},{192,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,188}}</string>
			<key>sourceSize</key>
			<string>{192,188}</string>
		</dict>
		<key>BB_LLegFoot01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,391},{64,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,92}}</string>
			<key>sourceSize</key>
			<string>{64,92}</string>
		</dict>
		<key>BB_LLegStump01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,1},{116,204}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{116,204}}</string>
			<key>sourceSize</key>
			<string>{120,204}</string>
		</dict>
		<key>BB_LMArm01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,1},{196,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,312}}</string>
			<key>sourceSize</key>
			<string>{196,312}</string>
		</dict>
		<key>BB_LShoulder01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,675},{252,260}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{252,260}}</string>
			<key>sourceSize</key>
			<string>{252,260}</string>
		</dict>
		<key>BB_LToe01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,612},{40,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,68}}</string>
			<key>sourceSize</key>
			<string>{40,68}</string>
		</dict>
		<key>BB_LToe02_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,391},{36,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,68}}</string>
			<key>sourceSize</key>
			<string>{36,68}</string>
		</dict>
		<key>BB_LToe03_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,531},{44,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,64}}</string>
			<key>sourceSize</key>
			<string>{44,64}</string>
		</dict>
		<key>BB_Light_B_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,928},{208,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,136}}</string>
			<key>sourceSize</key>
			<string>{208,136}</string>
		</dict>
		<key>BB_Light_R_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,1086},{208,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,136}}</string>
			<key>sourceSize</key>
			<string>{208,136}</string>
		</dict>
		<key>BB_Mouth_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,936},{204,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,188}}</string>
			<key>sourceSize</key>
			<string>{204,188}</string>
		</dict>
		<key>BB_RHand01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,700},{168,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,164}}</string>
			<key>sourceSize</key>
			<string>{168,164}</string>
		</dict>
		<key>BB_RLegFoot01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,456},{52,78}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,78}}</string>
			<key>sourceSize</key>
			<string>{52,80}</string>
		</dict>
		<key>BB_RLegStump01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,206},{96,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,184}}</string>
			<key>sourceSize</key>
			<string>{96,184}</string>
		</dict>
		<key>BB_RMArm01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,198},{164,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,308}}</string>
			<key>sourceSize</key>
			<string>{164,308}</string>
		</dict>
		<key>BB_RShoulder01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,1110},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>BB_RToe01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,596},{44,58}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{44,58}}</string>
			<key>sourceSize</key>
			<string>{48,60}</string>
		</dict>
		<key>BB_RToe02_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{970,460},{46,70}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{46,70}}</string>
			<key>sourceSize</key>
			<string>{52,72}</string>
		</dict>
		<key>BB_Spit_B_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1125},{144,198}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{144,198}}</string>
			<key>sourceSize</key>
			<string>{144,200}</string>
		</dict>
		<key>BB_Spit_R_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,1065},{144,198}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{144,198}}</string>
			<key>sourceSize</key>
			<string>{144,200}</string>
		</dict>
		<key>BB_Tail01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,612},{288,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,280}}</string>
			<key>sourceSize</key>
			<string>{288,280}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BunnyBossSheet.png</string>
		<key>size</key>
		<string>{1021,1399}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:696c66b386dea1df8b1d31d582a880ef$</string>
		<key>textureFileName</key>
		<string>BunnyBossSheet.png</string>
	</dict>
</dict>
</plist>
