<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BB_Body01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{230,294}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,294}}</string>
			<key>sourceSize</key>
			<string>{230,294}</string>
		</dict>
		<key>BB_Ear1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,257},{38,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,84}}</string>
			<key>sourceSize</key>
			<string>{38,84}</string>
		</dict>
		<key>BB_Ear2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,470},{32,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,74}}</string>
			<key>sourceSize</key>
			<string>{32,74}</string>
		</dict>
		<key>BB_Eye_Closed_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,331},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>BB_Fish01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,232},{106,276}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,276}}</string>
			<key>sourceSize</key>
			<string>{106,276}</string>
		</dict>
		<key>BB_Head03_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,183},{124,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,150}}</string>
			<key>sourceSize</key>
			<string>{124,150}</string>
		</dict>
		<key>BB_Head04_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,339},{130,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,144}}</string>
			<key>sourceSize</key>
			<string>{130,144}</string>
		</dict>
		<key>BB_HeadTop_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,437},{110,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,82}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>BB_Jaw_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,449},{124,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,108}}</string>
			<key>sourceSize</key>
			<string>{124,108}</string>
		</dict>
		<key>BB_LHand01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,608},{96,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,94}}</string>
			<key>sourceSize</key>
			<string>{96,94}</string>
		</dict>
		<key>BB_LLegFoot01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,197},{32,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,46}}</string>
			<key>sourceSize</key>
			<string>{32,46}</string>
		</dict>
		<key>BB_LLegStump01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,1},{58,102}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{58,102}}</string>
			<key>sourceSize</key>
			<string>{60,102}</string>
		</dict>
		<key>BB_LMArm01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,1},{98,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,156}}</string>
			<key>sourceSize</key>
			<string>{98,156}</string>
		</dict>
		<key>BB_LShoulder01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,339},{126,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,130}}</string>
			<key>sourceSize</key>
			<string>{126,130}</string>
		</dict>
		<key>BB_LToe01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,308},{20,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,34}}</string>
			<key>sourceSize</key>
			<string>{20,34}</string>
		</dict>
		<key>BB_LToe02_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,449},{18,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,34}}</string>
			<key>sourceSize</key>
			<string>{18,34}</string>
		</dict>
		<key>BB_LToe03_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,230},{22,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,32}}</string>
			<key>sourceSize</key>
			<string>{22,32}</string>
		</dict>
		<key>BB_Light_B_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,466},{104,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,68}}</string>
			<key>sourceSize</key>
			<string>{104,68}</string>
		</dict>
		<key>BB_Light_R_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,548},{104,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,68}}</string>
			<key>sourceSize</key>
			<string>{104,68}</string>
		</dict>
		<key>BB_Mouth_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,470},{102,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,94}}</string>
			<key>sourceSize</key>
			<string>{102,94}</string>
		</dict>
		<key>BB_RHand01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,354},{84,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,82}}</string>
			<key>sourceSize</key>
			<string>{84,82}</string>
		</dict>
		<key>BB_RLegFoot01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,230},{26,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,40}}</string>
			<key>sourceSize</key>
			<string>{26,40}</string>
		</dict>
		<key>BB_RLegStump01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,104},{48,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,92}}</string>
			<key>sourceSize</key>
			<string>{48,92}</string>
		</dict>
		<key>BB_RMArm01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,100},{82,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,154}}</string>
			<key>sourceSize</key>
			<string>{82,154}</string>
		</dict>
		<key>BB_RShoulder01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,558},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>BB_RToe01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,300},{22,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,30}}</string>
			<key>sourceSize</key>
			<string>{24,30}</string>
		</dict>
		<key>BB_RToe02_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,263},{24,36}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,36}}</string>
			<key>sourceSize</key>
			<string>{26,36}</string>
		</dict>
		<key>BB_Spit_B_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,565},{72,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,100}}</string>
			<key>sourceSize</key>
			<string>{72,100}</string>
		</dict>
		<key>BB_Spit_R_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,535},{72,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,100}}</string>
			<key>sourceSize</key>
			<string>{72,100}</string>
		</dict>
		<key>BB_Tail01_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,308},{144,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,140}}</string>
			<key>sourceSize</key>
			<string>{144,140}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BunnyBossSheet.png</string>
		<key>size</key>
		<string>{512,703}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e79a3abb85ce7020d021465e777bbca6$</string>
		<key>textureFileName</key>
		<string>BunnyBossSheet.png</string>
	</dict>
</dict>
</plist>
