<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Fire_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{53,125}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{53,125}}</string>
			<key>sourceSize</key>
			<string>{65,125}</string>
		</dict>
		<key>Fire_01_fade_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,87},{35,72}}</string>
			<key>offset</key>
			<string>{4,-27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,54},{35,72}}</string>
			<key>sourceSize</key>
			<string>{51,126}</string>
		</dict>
		<key>Fire_01_fade_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,113},{43,68}}</string>
			<key>offset</key>
			<string>{4,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,58},{43,68}}</string>
			<key>sourceSize</key>
			<string>{51,126}</string>
		</dict>
		<key>Fire_01_fade_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,123},{31,70}}</string>
			<key>offset</key>
			<string>{2,-28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,56},{31,70}}</string>
			<key>sourceSize</key>
			<string>{51,126}</string>
		</dict>
		<key>Fire_01_fade_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,57},{29,76}}</string>
			<key>offset</key>
			<string>{2,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,50},{29,76}}</string>
			<key>sourceSize</key>
			<string>{51,126}</string>
		</dict>
		<key>Fire_01_fade_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{13,247},{5,6}}</string>
			<key>offset</key>
			<string>{9,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,42},{5,6}}</string>
			<key>sourceSize</key>
			<string>{51,126}</string>
		</dict>
		<key>Fire_01_looped_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{53,125}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{53,125}}</string>
			<key>sourceSize</key>
			<string>{65,125}</string>
		</dict>
		<key>Fire_01_looped_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,456},{55,97}}</string>
			<key>offset</key>
			<string>{5,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,28},{55,97}}</string>
			<key>sourceSize</key>
			<string>{65,125}</string>
		</dict>
		<key>Fire_01_looped_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,355},{55,107}}</string>
			<key>offset</key>
			<string>{5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,18},{55,107}}</string>
			<key>sourceSize</key>
			<string>{65,125}</string>
		</dict>
		<key>Fire_01_looped_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,375},{53,117}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{53,117}}</string>
			<key>sourceSize</key>
			<string>{65,125}</string>
		</dict>
		<key>Fire_01_looped_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,253},{53,121}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{53,121}}</string>
			<key>sourceSize</key>
			<string>{65,125}</string>
		</dict>
		<key>Fire_01_looped_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,118},{53,93}}</string>
			<key>offset</key>
			<string>{3,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,32},{53,93}}</string>
			<key>sourceSize</key>
			<string>{65,125}</string>
		</dict>
		<key>Fire_01_looped_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,355},{53,105}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,20},{53,105}}</string>
			<key>sourceSize</key>
			<string>{65,125}</string>
		</dict>
		<key>Fire_01_looped_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,362},{51,109}}</string>
			<key>offset</key>
			<string>{3,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,16},{51,109}}</string>
			<key>sourceSize</key>
			<string>{65,125}</string>
		</dict>
		<key>Fire_01_looped_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{13,127},{51,119}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,6},{51,119}}</string>
			<key>sourceSize</key>
			<string>{65,125}</string>
		</dict>
		<key>Fire_01_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,233},{38,12}}</string>
			<key>offset</key>
			<string>{3,-57}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,114},{38,12}}</string>
			<key>sourceSize</key>
			<string>{50,126}</string>
		</dict>
		<key>Fire_01_start_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,92},{38,20}}</string>
			<key>offset</key>
			<string>{3,-53}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,106},{38,20}}</string>
			<key>sourceSize</key>
			<string>{50,126}</string>
		</dict>
		<key>Fire_01_start_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,80},{38,36}}</string>
			<key>offset</key>
			<string>{3,-45}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,90},{38,36}}</string>
			<key>sourceSize</key>
			<string>{50,126}</string>
		</dict>
		<key>Fire_01_start_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,472},{38,52}}</string>
			<key>offset</key>
			<string>{3,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,74},{38,52}}</string>
			<key>sourceSize</key>
			<string>{50,126}</string>
		</dict>
		<key>Fire_01_start_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,119},{40,68}}</string>
			<key>offset</key>
			<string>{5,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,58},{40,68}}</string>
			<key>sourceSize</key>
			<string>{50,126}</string>
		</dict>
		<key>Fire_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,235},{53,90}}</string>
			<key>offset</key>
			<string>{-4,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,23},{53,90}}</string>
			<key>sourceSize</key>
			<string>{65,116}</string>
		</dict>
		<key>Fire_02_fade_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,241},{52,103}}</string>
			<key>offset</key>
			<string>{-3,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{52,103}}</string>
			<key>sourceSize</key>
			<string>{58,111}</string>
		</dict>
		<key>Fire_02_fade_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,346},{52,83}}</string>
			<key>offset</key>
			<string>{-3,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,28},{52,83}}</string>
			<key>sourceSize</key>
			<string>{58,111}</string>
		</dict>
		<key>Fire_02_fade_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,463},{48,87}}</string>
			<key>offset</key>
			<string>{-4,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,24},{48,87}}</string>
			<key>sourceSize</key>
			<string>{58,111}</string>
		</dict>
		<key>Fire_02_fade_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,115},{52,89}}</string>
			<key>offset</key>
			<string>{-3,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,22},{52,89}}</string>
			<key>sourceSize</key>
			<string>{58,111}</string>
		</dict>
		<key>Fire_02_fade_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,229},{42,11}}</string>
			<key>offset</key>
			<string>{-3,-50}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,100},{42,11}}</string>
			<key>sourceSize</key>
			<string>{58,111}</string>
		</dict>
		<key>Fire_02_looped_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,235},{53,90}}</string>
			<key>offset</key>
			<string>{-4,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,23},{53,90}}</string>
			<key>sourceSize</key>
			<string>{65,116}</string>
		</dict>
		<key>Fire_02_looped_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,1},{53,92}}</string>
			<key>offset</key>
			<string>{-4,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,23},{53,92}}</string>
			<key>sourceSize</key>
			<string>{65,116}</string>
		</dict>
		<key>Fire_02_looped_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,353},{57,102}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{57,102}}</string>
			<key>sourceSize</key>
			<string>{65,116}</string>
		</dict>
		<key>Fire_02_looped_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,246},{63,108}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{63,108}}</string>
			<key>sourceSize</key>
			<string>{65,116}</string>
		</dict>
		<key>Fire_02_looped_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,120},{61,108}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{61,108}}</string>
			<key>sourceSize</key>
			<string>{65,116}</string>
		</dict>
		<key>Fire_02_looped_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,120},{63,112}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{63,112}}</string>
			<key>sourceSize</key>
			<string>{65,116}</string>
		</dict>
		<key>Fire_02_looped_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,247},{55,114}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{55,114}}</string>
			<key>sourceSize</key>
			<string>{65,116}</string>
		</dict>
		<key>Fire_02_looped_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,1},{53,88}}</string>
			<key>offset</key>
			<string>{-3,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{53,88}}</string>
			<key>sourceSize</key>
			<string>{65,116}</string>
		</dict>
		<key>Fire_02_looped_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,118},{53,90}}</string>
			<key>offset</key>
			<string>{-3,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,23},{53,90}}</string>
			<key>sourceSize</key>
			<string>{65,116}</string>
		</dict>
		<key>Fire_02_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,326},{50,19}}</string>
			<key>offset</key>
			<string>{-3,-48}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,100},{50,19}}</string>
			<key>sourceSize</key>
			<string>{56,123}</string>
		</dict>
		<key>Fire_02_start_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,330},{46,31}}</string>
			<key>offset</key>
			<string>{-3,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,88},{46,31}}</string>
			<key>sourceSize</key>
			<string>{56,123}</string>
		</dict>
		<key>Fire_02_start_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,282},{46,45}}</string>
			<key>offset</key>
			<string>{-3,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,74},{46,45}}</string>
			<key>sourceSize</key>
			<string>{56,123}</string>
		</dict>
		<key>Fire_02_start_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,155},{50,61}}</string>
			<key>offset</key>
			<string>{-3,-31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,62},{50,61}}</string>
			<key>sourceSize</key>
			<string>{56,123}</string>
		</dict>
		<key>checkpoint_stone_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,328},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,31}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>checkpoint_stone_01_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,395},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,31}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>checkpoint_stone_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,233},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>checkpoint_stone_02_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,233},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>checkpoint_stone_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,345},{7,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,7}}</string>
			<key>sourceSize</key>
			<string>{7,7}</string>
		</dict>
		<key>checkpoint_stone_03_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,345},{7,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,7}}</string>
			<key>sourceSize</key>
			<string>{7,7}</string>
		</dict>
		<key>checkpoint_stone_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,345},{8,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
		<key>checkpoint_stone_04_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,345},{8,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
		<key>checkpoint_stone_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,345},{9,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,10}}</string>
			<key>sourceSize</key>
			<string>{9,10}</string>
		</dict>
		<key>checkpoint_stone_05_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,345},{9,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,10}}</string>
			<key>sourceSize</key>
			<string>{9,10}</string>
		</dict>
		<key>color_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,490},{21,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,21}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
		<key>color_square.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,326},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>color_triangle.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,229},{28,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,14}}</string>
			<key>sourceSize</key>
			<string>{28,14}</string>
		</dict>
		<key>door_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,236},{46,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,56}}</string>
			<key>sourceSize</key>
			<string>{46,56}</string>
		</dict>
		<key>door_circle_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,283},{46,52}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,52}}</string>
			<key>sourceSize</key>
			<string>{46,56}</string>
		</dict>
		<key>door_circle_fire_flash.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,237},{46,52}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,52}}</string>
			<key>sourceSize</key>
			<string>{46,56}</string>
		</dict>
		<key>door_circle_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,235},{46,52}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,52}}</string>
			<key>sourceSize</key>
			<string>{46,56}</string>
		</dict>
		<key>door_circle_frost_flash.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,188},{46,52}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,52}}</string>
			<key>sourceSize</key>
			<string>{46,56}</string>
		</dict>
		<key>door_sword.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,209},{22,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,58}}</string>
			<key>sourceSize</key>
			<string>{22,58}</string>
		</dict>
		<key>door_sword_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,92},{22,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,58}}</string>
			<key>sourceSize</key>
			<string>{22,58}</string>
		</dict>
		<key>door_sword_fire_flash.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,212},{22,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,58}}</string>
			<key>sourceSize</key>
			<string>{22,58}</string>
		</dict>
		<key>door_sword_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,95},{22,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,58}}</string>
			<key>sourceSize</key>
			<string>{22,58}</string>
		</dict>
		<key>door_sword_frost_flash.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,95},{22,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,58}}</string>
			<key>sourceSize</key>
			<string>{22,58}</string>
		</dict>
		<key>exklamationMark.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,474},{15,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,44}}</string>
			<key>sourceSize</key>
			<string>{15,44}</string>
		</dict>
		<key>forestlevel_checkpoint.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,205},{59,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{59,30}}</string>
			<key>sourceSize</key>
			<string>{61,30}</string>
		</dict>
		<key>forlornStatue.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,1},{86,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,118}}</string>
			<key>sourceSize</key>
			<string>{86,118}</string>
		</dict>
		<key>forlornStatue_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,1},{86,90}}</string>
			<key>offset</key>
			<string>{0,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,28},{86,90}}</string>
			<key>sourceSize</key>
			<string>{86,118}</string>
		</dict>
		<key>frostlevel_checkpoint.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,206},{61,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,30}}</string>
			<key>sourceSize</key>
			<string>{61,30}</string>
		</dict>
		<key>megaContainer_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,1},{93,59}}</string>
			<key>offset</key>
			<string>{2,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,3},{93,59}}</string>
			<key>sourceSize</key>
			<string>{125,75}</string>
		</dict>
		<key>megaContainer_glow.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,232},{85,53}}</string>
			<key>offset</key>
			<string>{2,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,6},{85,53}}</string>
			<key>sourceSize</key>
			<string>{125,75}</string>
		</dict>
		<key>megaContainer_podium.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,42},{37,33}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,30},{37,33}}</string>
			<key>sourceSize</key>
			<string>{125,75}</string>
		</dict>
		<key>megaContainer_step_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,127},{125,11}}</string>
			<key>offset</key>
			<string>{0,-32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,64},{125,11}}</string>
			<key>sourceSize</key>
			<string>{125,75}</string>
		</dict>
		<key>megaContainer_step_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,362},{111,9}}</string>
			<key>offset</key>
			<string>{0,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,56},{111,9}}</string>
			<key>sourceSize</key>
			<string>{125,75}</string>
		</dict>
		<key>sign_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,1},{79,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,55}}</string>
			<key>sourceSize</key>
			<string>{79,55}</string>
		</dict>
		<key>sign_planks.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,362},{45,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,32}}</string>
			<key>sourceSize</key>
			<string>{45,32}</string>
		</dict>
		<key>sign_pole.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,493},{16,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,76}}</string>
			<key>sourceSize</key>
			<string>{16,76}</string>
		</dict>
		<key>sign_pole_shadow_snow.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,463},{28,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,8}}</string>
			<key>sourceSize</key>
			<string>{28,8}</string>
		</dict>
		<key>sign_scroll_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,1},{34,40}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,40}}</string>
			<key>sourceSize</key>
			<string>{34,42}</string>
		</dict>
		<key>sign_shadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,120},{7,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,6}}</string>
			<key>sourceSize</key>
			<string>{7,6}</string>
		</dict>
		<key>superContainer.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,325},{46,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,40}}</string>
			<key>sourceSize</key>
			<string>{46,40}</string>
		</dict>
		<key>superContainer_glow.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,284},{46,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,40}}</string>
			<key>sourceSize</key>
			<string>{46,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CommonSheet_01.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dc87c6712af9e13c6c183078172b26da$</string>
		<key>textureFileName</key>
		<string>CommonSheet_01.png</string>
	</dict>
</dict>
</plist>
