<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Cloud_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,121},{36,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{36,34}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>Cloud_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,156},{42,42}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{42,42}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>Cloud_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,167},{50,46}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{50,46}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>Cloud_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,169},{52,48}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{52,48}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>Cloud_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,184},{54,50}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{54,50}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>Cloud_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,187},{52,50}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{52,50}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>Cloud_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,161},{44,46}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,3},{44,46}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>Explosion_01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,214},{53,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,22},{53,62}}</string>
			<key>sourceSize</key>
			<string>{109,106}</string>
		</dict>
		<key>Explosion_01_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,354},{83,84}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,10},{83,84}}</string>
			<key>sourceSize</key>
			<string>{109,106}</string>
		</dict>
		<key>Explosion_01_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,370},{97,90}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{97,90}}</string>
			<key>sourceSize</key>
			<string>{109,106}</string>
		</dict>
		<key>Explosion_01_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,376},{103,96}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{103,96}}</string>
			<key>sourceSize</key>
			<string>{109,106}</string>
		</dict>
		<key>Explosion_01_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,389},{109,104}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,104}}</string>
			<key>sourceSize</key>
			<string>{109,106}</string>
		</dict>
		<key>arrow01_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{29,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,9}}</string>
			<key>sourceSize</key>
			<string>{29,9}</string>
		</dict>
		<key>def_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,218},{54,56}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,7},{54,56}}</string>
			<key>sourceSize</key>
			<string>{62,76}</string>
		</dict>
		<key>def_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,252},{60,70}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{60,70}}</string>
			<key>sourceSize</key>
			<string>{62,76}</string>
		</dict>
		<key>def_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,224},{56,74}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{56,74}}</string>
			<key>sourceSize</key>
			<string>{62,76}</string>
		</dict>
		<key>def_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,175},{48,74}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,0},{48,74}}</string>
			<key>sourceSize</key>
			<string>{62,76}</string>
		</dict>
		<key>fireBlob_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,113},{38,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,32}}</string>
			<key>sourceSize</key>
			<string>{38,32}</string>
		</dict>
		<key>frostBlob_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,110},{38,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,32}}</string>
			<key>sourceSize</key>
			<string>{38,32}</string>
		</dict>
		<key>hitBurstFire_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,143},{53,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,40}}</string>
			<key>sourceSize</key>
			<string>{53,40}</string>
		</dict>
		<key>hitBurstFrost_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,135},{53,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,40}}</string>
			<key>sourceSize</key>
			<string>{53,40}</string>
		</dict>
		<key>hitBurst_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,146},{53,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,40}}</string>
			<key>sourceSize</key>
			<string>{53,40}</string>
		</dict>
		<key>kProjFire_Dot_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,38},{22,20}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{22,20}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjFire_Dot_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,94},{26,26}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{26,26}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjFire_Dot_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,90},{26,26}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{26,26}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjFire_Dot_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,55},{24,28}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{24,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjFire_Dot_hit_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,34},{18,26}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{18,26}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjFire_Dot_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,0},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,126},{49,34}}</string>
			<key>offset</key>
			<string>{23,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,36},{49,34}}</string>
			<key>sourceSize</key>
			<string>{173,102}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,135},{39,46}}</string>
			<key>offset</key>
			<string>{18,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,29},{39,46}}</string>
			<key>sourceSize</key>
			<string>{173,102}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,226},{63,58}}</string>
			<key>offset</key>
			<string>{29,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,21},{63,58}}</string>
			<key>sourceSize</key>
			<string>{173,102}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,313},{75,80}}</string>
			<key>offset</key>
			<string>{35,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,3},{75,80}}</string>
			<key>sourceSize</key>
			<string>{173,102}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,296},{73,76}}</string>
			<key>offset</key>
			<string>{35,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,6},{73,76}}</string>
			<key>sourceSize</key>
			<string>{173,102}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,349},{89,80}}</string>
			<key>offset</key>
			<string>{42,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,0},{89,80}}</string>
			<key>sourceSize</key>
			<string>{173,102}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,285},{89,68}}</string>
			<key>offset</key>
			<string>{42,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,10},{89,68}}</string>
			<key>sourceSize</key>
			<string>{173,102}</string>
		</dict>
		<key>kProjFire_Fireball_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,135},{48,39}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,18},{48,39}}</string>
			<key>sourceSize</key>
			<string>{86,77}</string>
		</dict>
		<key>kProjFire_Fireball_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,199},{52,57}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,9},{52,57}}</string>
			<key>sourceSize</key>
			<string>{86,77}</string>
		</dict>
		<key>kProjFire_Fireball_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,235},{60,63}}</string>
			<key>offset</key>
			<string>{-6,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,4},{60,63}}</string>
			<key>sourceSize</key>
			<string>{86,77}</string>
		</dict>
		<key>kProjFire_Fireball_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,273},{68,67}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{68,67}}</string>
			<key>sourceSize</key>
			<string>{86,77}</string>
		</dict>
		<key>kProjFire_Fireball_hit_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,301},{74,75}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,75}}</string>
			<key>sourceSize</key>
			<string>{86,77}</string>
		</dict>
		<key>kProjFire_Fireball_middle_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,57},{74,24}}</string>
			<key>offset</key>
			<string>{20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,0},{74,24}}</string>
			<key>sourceSize</key>
			<string>{160,24}</string>
		</dict>
		<key>kProjFire_Fireball_middle_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,59},{78,24}}</string>
			<key>offset</key>
			<string>{22,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,0},{78,24}}</string>
			<key>sourceSize</key>
			<string>{160,24}</string>
		</dict>
		<key>kProjFire_Fireball_middle_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,82},{84,24}}</string>
			<key>offset</key>
			<string>{25,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,0},{84,24}}</string>
			<key>sourceSize</key>
			<string>{160,24}</string>
		</dict>
		<key>kProjFire_Fireball_middle_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,76},{96,24}}</string>
			<key>offset</key>
			<string>{32,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,0},{96,24}}</string>
			<key>sourceSize</key>
			<string>{160,24}</string>
		</dict>
		<key>kProjFire_Fireball_middle_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,59},{84,24}}</string>
			<key>offset</key>
			<string>{26,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,0},{84,24}}</string>
			<key>sourceSize</key>
			<string>{160,24}</string>
		</dict>
		<key>kProjFire_Fireball_middle_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,84},{86,24}}</string>
			<key>offset</key>
			<string>{27,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,0},{86,24}}</string>
			<key>sourceSize</key>
			<string>{160,24}</string>
		</dict>
		<key>kProjFire_Fireball_middle_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,101},{88,24}}</string>
			<key>offset</key>
			<string>{28,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,0},{88,24}}</string>
			<key>sourceSize</key>
			<string>{160,24}</string>
		</dict>
		<key>kProjFire_Fireball_middle_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,84},{88,24}}</string>
			<key>offset</key>
			<string>{27,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,0},{88,24}}</string>
			<key>sourceSize</key>
			<string>{160,24}</string>
		</dict>
		<key>kProjFire_Fireball_middle_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,107},{92,24}}</string>
			<key>offset</key>
			<string>{29,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,0},{92,24}}</string>
			<key>sourceSize</key>
			<string>{160,24}</string>
		</dict>
		<key>kProjFire_Fireball_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,48},{25,25}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{105,25}</string>
		</dict>
		<key>kProjFire_Fireball_start_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,57},{39,25}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,0},{39,25}}</string>
			<key>sourceSize</key>
			<string>{105,25}</string>
		</dict>
		<key>kProjFire_Fireball_start_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,109},{57,25}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,0},{57,25}}</string>
			<key>sourceSize</key>
			<string>{105,25}</string>
		</dict>
		<key>kProjFire_Fireball_start_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,84},{57,25}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,0},{57,25}}</string>
			<key>sourceSize</key>
			<string>{105,25}</string>
		</dict>
		<key>kProjFire_Fireball_start_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,109},{69,25}}</string>
			<key>offset</key>
			<string>{18,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,0},{69,25}}</string>
			<key>sourceSize</key>
			<string>{105,25}</string>
		</dict>
		<key>kProjFrost_Dot_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,21},{22,20}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{22,20}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjFrost_Dot_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,86},{26,26}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{26,26}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjFrost_Dot_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,67},{26,26}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{26,26}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjFrost_Dot_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,42},{24,28}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{24,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjFrost_Dot_hit_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,29},{18,26}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{18,26}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjFrost_Dot_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,0},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>kProjFrost_Frostbolt_absorb_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,132},{56,34}}</string>
			<key>offset</key>
			<string>{24,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,13},{56,34}}</string>
			<key>sourceSize</key>
			<string>{104,56}</string>
		</dict>
		<key>kProjFrost_Frostbolt_absorb_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,150},{50,42}}</string>
			<key>offset</key>
			<string>{20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,7},{50,42}}</string>
			<key>sourceSize</key>
			<string>{104,56}</string>
		</dict>
		<key>kProjFrost_Frostbolt_absorb_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,132},{36,50}}</string>
			<key>offset</key>
			<string>{11,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,2},{36,50}}</string>
			<key>sourceSize</key>
			<string>{104,56}</string>
		</dict>
		<key>kProjFrost_Frostbolt_absorb_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,0},{16,52}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,1},{16,52}}</string>
			<key>sourceSize</key>
			<string>{104,56}</string>
		</dict>
		<key>kProjFrost_Frostbolt_absorb_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,0},{16,56}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,0},{16,56}}</string>
			<key>sourceSize</key>
			<string>{104,56}</string>
		</dict>
		<key>kProjFrost_Frostbolt_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,176},{50,49}}</string>
			<key>offset</key>
			<string>{-9,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,10},{50,49}}</string>
			<key>sourceSize</key>
			<string>{94,73}</string>
		</dict>
		<key>kProjFrost_Frostbolt_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,193},{52,57}}</string>
			<key>offset</key>
			<string>{-11,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,9},{52,57}}</string>
			<key>sourceSize</key>
			<string>{94,73}</string>
		</dict>
		<key>kProjFrost_Frostbolt_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,238},{62,61}}</string>
			<key>offset</key>
			<string>{-10,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,3},{62,61}}</string>
			<key>sourceSize</key>
			<string>{94,73}</string>
		</dict>
		<key>kProjFrost_Frostbolt_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,281},{70,67}}</string>
			<key>offset</key>
			<string>{-12,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,67}}</string>
			<key>sourceSize</key>
			<string>{94,73}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,0},{101,18}}</string>
			<key>offset</key>
			<string>{25,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,2},{101,18}}</string>
			<key>sourceSize</key>
			<string>{169,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,0},{95,18}}</string>
			<key>offset</key>
			<string>{22,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,2},{95,18}}</string>
			<key>sourceSize</key>
			<string>{169,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,0},{105,18}}</string>
			<key>offset</key>
			<string>{27,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,2},{105,18}}</string>
			<key>sourceSize</key>
			<string>{169,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,17},{97,18}}</string>
			<key>offset</key>
			<string>{22,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,2},{97,18}}</string>
			<key>sourceSize</key>
			<string>{169,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,19},{107,18}}</string>
			<key>offset</key>
			<string>{27,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,2},{107,18}}</string>
			<key>sourceSize</key>
			<string>{169,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,19},{99,18}}</string>
			<key>offset</key>
			<string>{23,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,2},{99,18}}</string>
			<key>sourceSize</key>
			<string>{169,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,19},{107,18}}</string>
			<key>offset</key>
			<string>{28,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,2},{107,18}}</string>
			<key>sourceSize</key>
			<string>{169,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,36},{111,18}}</string>
			<key>offset</key>
			<string>{29,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,2},{111,18}}</string>
			<key>sourceSize</key>
			<string>{169,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,15},{45,18}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,2},{45,18}}</string>
			<key>sourceSize</key>
			<string>{119,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,38},{51,18}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,2},{51,18}}</string>
			<key>sourceSize</key>
			<string>{119,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,38},{61,18}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,2},{61,18}}</string>
			<key>sourceSize</key>
			<string>{119,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,38},{69,20}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,0},{69,20}}</string>
			<key>sourceSize</key>
			<string>{119,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,38},{77,20}}</string>
			<key>offset</key>
			<string>{12,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,0},{77,20}}</string>
			<key>sourceSize</key>
			<string>{119,20}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,55},{85,20}}</string>
			<key>offset</key>
			<string>{17,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,0},{85,20}}</string>
			<key>sourceSize</key>
			<string>{119,20}</string>
		</dict>
		<key>kProjMagic_PoisonDot_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,0},{22,20}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{22,20}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjMagic_PoisonDot_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,63},{26,26}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{26,26}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjMagic_PoisonDot_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,59},{26,26}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{26,26}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjMagic_PoisonDot_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,38},{24,28}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{24,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjMagic_PoisonDot_hit_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,10},{18,26}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{18,26}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>kProjMagic_PoisonDot_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,0},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>magicBlob_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,109},{38,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,32}}</string>
			<key>sourceSize</key>
			<string>{38,32}</string>
		</dict>
		<key>poisonBlob_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,117},{39,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,32}}</string>
			<key>sourceSize</key>
			<string>{39,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Effects_spritesheet_01.png</string>
		<key>size</key>
		<string>{511,493}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d6fed8564e7b73f793364deb028b61c5$</string>
		<key>textureFileName</key>
		<string>Effects_spritesheet_01.png</string>
	</dict>
</dict>
</plist>
