<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Cloud_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,223},{70,68}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,16},{70,68}}</string>
			<key>sourceSize</key>
			<string>{108,104}</string>
		</dict>
		<key>Cloud_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,277},{84,82}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,10},{84,82}}</string>
			<key>sourceSize</key>
			<string>{108,104}</string>
		</dict>
		<key>Cloud_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,317},{98,92}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,6},{98,92}}</string>
			<key>sourceSize</key>
			<string>{108,104}</string>
		</dict>
		<key>Cloud_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,324},{102,96}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{102,96}}</string>
			<key>sourceSize</key>
			<string>{108,104}</string>
		</dict>
		<key>Cloud_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,352},{106,98}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{106,98}}</string>
			<key>sourceSize</key>
			<string>{108,104}</string>
		</dict>
		<key>Cloud_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,352},{104,98}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{104,98}}</string>
			<key>sourceSize</key>
			<string>{108,104}</string>
		</dict>
		<key>Cloud_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,292},{88,92}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,6},{88,92}}</string>
			<key>sourceSize</key>
			<string>{108,104}</string>
		</dict>
		<key>Explosion_01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,381},{104,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,43},{104,126}}</string>
			<key>sourceSize</key>
			<string>{218,212}</string>
		</dict>
		<key>Explosion_01_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,699},{166,168}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,20},{166,168}}</string>
			<key>sourceSize</key>
			<string>{218,212}</string>
		</dict>
		<key>Explosion_01_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,717},{194,180}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,14},{194,180}}</string>
			<key>sourceSize</key>
			<string>{218,212}</string>
		</dict>
		<key>Explosion_01_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,720},{208,190}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,9},{208,190}}</string>
			<key>sourceSize</key>
			<string>{218,212}</string>
		</dict>
		<key>Explosion_01_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,779},{218,208}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,208}}</string>
			<key>sourceSize</key>
			<string>{218,212}</string>
		</dict>
		<key>arrow01_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{58,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,17}}</string>
			<key>sourceSize</key>
			<string>{58,17}</string>
		</dict>
		<key>def_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,421},{106,112}}</string>
			<key>offset</key>
			<string>{-6,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,14},{106,112}}</string>
			<key>sourceSize</key>
			<string>{124,152}</string>
		</dict>
		<key>def_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,451},{120,140}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{120,140}}</string>
			<key>sourceSize</key>
			<string>{124,152}</string>
		</dict>
		<key>def_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,424},{108,148}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{108,148}}</string>
			<key>sourceSize</key>
			<string>{124,152}</string>
		</dict>
		<key>def_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,331},{92,148}}</string>
			<key>offset</key>
			<string>{7,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,0},{92,148}}</string>
			<key>sourceSize</key>
			<string>{124,152}</string>
		</dict>
		<key>fireBlob_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,207},{76,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,63}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>frostBlob_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,207},{76,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,63}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>hitBurstFire_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,271},{106,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,80}}</string>
			<key>sourceSize</key>
			<string>{106,80}</string>
		</dict>
		<key>hitBurstFrost_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,260},{106,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,80}}</string>
			<key>sourceSize</key>
			<string>{106,80}</string>
		</dict>
		<key>hitBurst_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,271},{106,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,80}}</string>
			<key>sourceSize</key>
			<string>{106,80}</string>
		</dict>
		<key>kProjFire_Dot_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,72},{44,40}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,6},{44,40}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjFire_Dot_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,162},{50,50}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{50,50}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjFire_Dot_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,207},{52,52}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{52,52}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjFire_Dot_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,113},{48,52}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,1},{48,52}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjFire_Dot_hit_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,34},{36,50}}</string>
			<key>offset</key>
			<string>{14,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjFire_Dot_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,0},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,250},{97,66}}</string>
			<key>offset</key>
			<string>{46,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{170,73},{97,66}}</string>
			<key>sourceSize</key>
			<string>{345,204}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,255},{75,92}}</string>
			<key>offset</key>
			<string>{36,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{171,58},{75,92}}</string>
			<key>sourceSize</key>
			<string>{345,204}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,439},{121,118}}</string>
			<key>offset</key>
			<string>{59,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{171,39},{121,118}}</string>
			<key>sourceSize</key>
			<string>{345,204}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,572},{147,166}}</string>
			<key>offset</key>
			<string>{71,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{170,0},{147,166}}</string>
			<key>sourceSize</key>
			<string>{345,204}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,571},{145,158}}</string>
			<key>offset</key>
			<string>{70,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{170,6},{145,158}}</string>
			<key>sourceSize</key>
			<string>{345,204}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,620},{175,158}}</string>
			<key>offset</key>
			<string>{84,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{169,1},{175,158}}</string>
			<key>sourceSize</key>
			<string>{345,204}</string>
		</dict>
		<key>kProjFire_Fireball_absorb_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,558},{175,140}}</string>
			<key>offset</key>
			<string>{85,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{170,15},{175,140}}</string>
			<key>sourceSize</key>
			<string>{345,204}</string>
		</dict>
		<key>kProjFire_Fireball_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,255},{95,73}}</string>
			<key>offset</key>
			<string>{-13,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,39},{95,73}}</string>
			<key>sourceSize</key>
			<string>{171,153}</string>
		</dict>
		<key>kProjFire_Fireball_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,360},{101,111}}</string>
			<key>offset</key>
			<string>{-13,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,20},{101,111}}</string>
			<key>sourceSize</key>
			<string>{171,153}</string>
		</dict>
		<key>kProjFire_Fireball_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,451},{119,123}}</string>
			<key>offset</key>
			<string>{-12,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,10},{119,123}}</string>
			<key>sourceSize</key>
			<string>{171,153}</string>
		</dict>
		<key>kProjFire_Fireball_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,486},{133,133}}</string>
			<key>offset</key>
			<string>{-13,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{133,133}}</string>
			<key>sourceSize</key>
			<string>{171,153}</string>
		</dict>
		<key>kProjFire_Fireball_hit_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,620},{149,149}}</string>
			<key>offset</key>
			<string>{-11,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,149}}</string>
			<key>sourceSize</key>
			<string>{171,153}</string>
		</dict>
		<key>kProjFire_Fireball_middle_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,108},{150,47}}</string>
			<key>offset</key>
			<string>{40,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{125,0},{150,47}}</string>
			<key>sourceSize</key>
			<string>{320,47}</string>
		</dict>
		<key>kProjFire_Fireball_middle_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,108},{156,47}}</string>
			<key>offset</key>
			<string>{43,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{125,0},{156,47}}</string>
			<key>sourceSize</key>
			<string>{320,47}</string>
		</dict>
		<key>kProjFire_Fireball_middle_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,111},{166,47}}</string>
			<key>offset</key>
			<string>{51,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,0},{166,47}}</string>
			<key>sourceSize</key>
			<string>{320,47}</string>
		</dict>
		<key>kProjFire_Fireball_middle_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,156},{192,47}}</string>
			<key>offset</key>
			<string>{64,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,0},{192,47}}</string>
			<key>sourceSize</key>
			<string>{320,47}</string>
		</dict>
		<key>kProjFire_Fireball_middle_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,111},{168,47}}</string>
			<key>offset</key>
			<string>{52,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,0},{168,47}}</string>
			<key>sourceSize</key>
			<string>{320,47}</string>
		</dict>
		<key>kProjFire_Fireball_middle_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,159},{172,47}}</string>
			<key>offset</key>
			<string>{54,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,0},{172,47}}</string>
			<key>sourceSize</key>
			<string>{320,47}</string>
		</dict>
		<key>kProjFire_Fireball_middle_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,204},{176,47}}</string>
			<key>offset</key>
			<string>{56,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,0},{176,47}}</string>
			<key>sourceSize</key>
			<string>{320,47}</string>
		</dict>
		<key>kProjFire_Fireball_middle_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,159},{176,47}}</string>
			<key>offset</key>
			<string>{55,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{127,0},{176,47}}</string>
			<key>sourceSize</key>
			<string>{320,47}</string>
		</dict>
		<key>kProjFire_Fireball_middle_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,207},{184,47}}</string>
			<key>offset</key>
			<string>{58,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{126,0},{184,47}}</string>
			<key>sourceSize</key>
			<string>{320,47}</string>
		</dict>
		<key>kProjFire_Fireball_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,121},{49,50}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,0},{49,50}}</string>
			<key>sourceSize</key>
			<string>{209,50}</string>
		</dict>
		<key>kProjFire_Fireball_start_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,74},{75,46}}</string>
			<key>offset</key>
			<string>{8,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,3},{75,46}}</string>
			<key>sourceSize</key>
			<string>{209,50}</string>
		</dict>
		<key>kProjFire_Fireball_start_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,148},{111,48}}</string>
			<key>offset</key>
			<string>{28,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,2},{111,48}}</string>
			<key>sourceSize</key>
			<string>{209,50}</string>
		</dict>
		<key>kProjFire_Fireball_start_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,156},{113,48}}</string>
			<key>offset</key>
			<string>{27,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,1},{113,48}}</string>
			<key>sourceSize</key>
			<string>{209,50}</string>
		</dict>
		<key>kProjFire_Fireball_start_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,174},{139,48}}</string>
			<key>offset</key>
			<string>{35,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,0},{139,48}}</string>
			<key>sourceSize</key>
			<string>{209,50}</string>
		</dict>
		<key>kProjFrost_Dot_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,72},{44,40}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,6},{44,40}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjFrost_Dot_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,162},{50,50}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{50,50}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjFrost_Dot_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,197},{52,52}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{52,52}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjFrost_Dot_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,113},{48,52}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,1},{48,52}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjFrost_Dot_hit_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,18},{36,50}}</string>
			<key>offset</key>
			<string>{14,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjFrost_Dot_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,0},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>kProjFrost_Frostbolt_absorb_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,223},{111,65}}</string>
			<key>offset</key>
			<string>{48,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,27},{111,65}}</string>
			<key>sourceSize</key>
			<string>{207,111}</string>
		</dict>
		<key>kProjFrost_Frostbolt_absorb_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,289},{101,83}}</string>
			<key>offset</key>
			<string>{39,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{92,14},{101,83}}</string>
			<key>sourceSize</key>
			<string>{207,111}</string>
		</dict>
		<key>kProjFrost_Frostbolt_absorb_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,252},{71,99}}</string>
			<key>offset</key>
			<string>{22,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{90,4},{71,99}}</string>
			<key>sourceSize</key>
			<string>{207,111}</string>
		</dict>
		<key>kProjFrost_Frostbolt_absorb_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,0},{31,103}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,1},{31,103}}</string>
			<key>sourceSize</key>
			<string>{207,111}</string>
		</dict>
		<key>kProjFrost_Frostbolt_absorb_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{33,109}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{89,0},{33,109}}</string>
			<key>sourceSize</key>
			<string>{207,111}</string>
		</dict>
		<key>kProjFrost_Frostbolt_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,341},{99,97}}</string>
			<key>offset</key>
			<string>{-18,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,20},{99,97}}</string>
			<key>sourceSize</key>
			<string>{187,145}</string>
		</dict>
		<key>kProjFrost_Frostbolt_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,373},{103,111}}</string>
			<key>offset</key>
			<string>{-23,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,19},{103,111}}</string>
			<key>sourceSize</key>
			<string>{187,145}</string>
		</dict>
		<key>kProjFrost_Frostbolt_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,477},{123,121}}</string>
			<key>offset</key>
			<string>{-21,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,6},{123,121}}</string>
			<key>sourceSize</key>
			<string>{187,145}</string>
		</dict>
		<key>kProjFrost_Frostbolt_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,533},{137,133}}</string>
			<key>offset</key>
			<string>{-25,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,133}}</string>
			<key>sourceSize</key>
			<string>{187,145}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,0},{202,35}}</string>
			<key>offset</key>
			<string>{50,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{118,4},{202,35}}</string>
			<key>sourceSize</key>
			<string>{338,39}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,0},{190,35}}</string>
			<key>offset</key>
			<string>{43,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{117,4},{190,35}}</string>
			<key>sourceSize</key>
			<string>{338,39}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,0},{210,35}}</string>
			<key>offset</key>
			<string>{54,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{118,4},{210,35}}</string>
			<key>sourceSize</key>
			<string>{338,39}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,36},{192,35}}</string>
			<key>offset</key>
			<string>{44,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{117,4},{192,35}}</string>
			<key>sourceSize</key>
			<string>{338,39}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,36},{212,35}}</string>
			<key>offset</key>
			<string>{55,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{118,4},{212,35}}</string>
			<key>sourceSize</key>
			<string>{338,39}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,36},{196,35}}</string>
			<key>offset</key>
			<string>{46,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{117,4},{196,35}}</string>
			<key>sourceSize</key>
			<string>{338,39}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,71},{214,35}}</string>
			<key>offset</key>
			<string>{55,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{117,4},{214,35}}</string>
			<key>sourceSize</key>
			<string>{338,39}</string>
		</dict>
		<key>kProjFrost_Frostbolt_middle_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,72},{220,35}}</string>
			<key>offset</key>
			<string>{59,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{118,4},{220,35}}</string>
			<key>sourceSize</key>
			<string>{338,39}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,29},{91,36}}</string>
			<key>offset</key>
			<string>{-7,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,4},{91,36}}</string>
			<key>sourceSize</key>
			<string>{237,40}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,32},{101,36}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,4},{101,36}}</string>
			<key>sourceSize</key>
			<string>{237,40}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,37},{119,36}}</string>
			<key>offset</key>
			<string>{8,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,4},{119,36}}</string>
			<key>sourceSize</key>
			<string>{237,40}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,107},{137,40}}</string>
			<key>offset</key>
			<string>{16,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,0},{137,40}}</string>
			<key>sourceSize</key>
			<string>{237,40}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,72},{151,38}}</string>
			<key>offset</key>
			<string>{24,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,2},{151,38}}</string>
			<key>sourceSize</key>
			<string>{237,40}</string>
		</dict>
		<key>kProjFrost_Frostbolt_start_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,72},{169,38}}</string>
			<key>offset</key>
			<string>{33,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,2},{169,38}}</string>
			<key>sourceSize</key>
			<string>{237,40}</string>
		</dict>
		<key>kProjMagic_PoisonDot_hit_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,55},{44,40}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,6},{44,40}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjMagic_PoisonDot_hit_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,123},{50,50}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{50,50}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjMagic_PoisonDot_hit_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,197},{52,52}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{52,52}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjMagic_PoisonDot_hit_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,74},{48,52}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,1},{48,52}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjMagic_PoisonDot_hit_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,0},{36,50}}</string>
			<key>offset</key>
			<string>{14,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>kProjMagic_PoisonDot_start_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,0},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>magicBlob_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,207},{76,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,63}}</string>
			<key>sourceSize</key>
			<string>{76,63}</string>
		</dict>
		<key>poisonBlob_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,213},{77,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,63}}</string>
			<key>sourceSize</key>
			<string>{77,63}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Effects_spritesheet_01-hd.png</string>
		<key>size</key>
		<string>{1021,987}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e04f4e89422c0ca33cd0544498412f1c$</string>
		<key>textureFileName</key>
		<string>Effects_spritesheet_01-hd.png</string>
	</dict>
</dict>
</plist>
