<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Fire_AttackAir_1_Anim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,836},{162,144}}</string>
			<key>offset</key>
			<string>{-20,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,19},{162,144}}</string>
			<key>sourceSize</key>
			<string>{372,164}</string>
		</dict>
		<key>Fire_AttackAir_1_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{655,1},{266,156}}</string>
			<key>offset</key>
			<string>{53,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{106,5},{266,156}}</string>
			<key>sourceSize</key>
			<string>{372,164}</string>
		</dict>
		<key>Fire_AttackAir_1_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,319},{228,146}}</string>
			<key>offset</key>
			<string>{30,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{102,9},{228,146}}</string>
			<key>sourceSize</key>
			<string>{372,164}</string>
		</dict>
		<key>Fire_AttackAir_1_Anim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,685},{150,142}}</string>
			<key>offset</key>
			<string>{-13,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{98,14},{150,142}}</string>
			<key>sourceSize</key>
			<string>{372,164}</string>
		</dict>
		<key>Fire_AttackAir_1_Anim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,1808},{100,138}}</string>
			<key>offset</key>
			<string>{11,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{147,22},{100,138}}</string>
			<key>sourceSize</key>
			<string>{372,164}</string>
		</dict>
		<key>Fire_AttackAir_1_Anim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,1896},{100,144}}</string>
			<key>offset</key>
			<string>{3,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{139,20},{100,144}}</string>
			<key>sourceSize</key>
			<string>{372,164}</string>
		</dict>
		<key>Fire_Attack_1_Anim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,981},{106,162}}</string>
			<key>offset</key>
			<string>{6,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{173,38},{106,162}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,623},{114,160}}</string>
			<key>offset</key>
			<string>{10,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{173,40},{114,160}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,154},{268,164}}</string>
			<key>offset</key>
			<string>{86,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{172,34},{268,164}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,570},{194,138}}</string>
			<key>offset</key>
			<string>{54,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{177,60},{194,138}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,1893},{130,138}}</string>
			<key>offset</key>
			<string>{21,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{176,62},{130,138}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,1896},{136,140}}</string>
			<key>offset</key>
			<string>{23,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{175,59},{136,140}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,278},{128,142}}</string>
			<key>offset</key>
			<string>{30,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{186,57},{128,142}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{342,152}}</string>
			<key>offset</key>
			<string>{23,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{72,50},{342,152}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,1},{310,154}}</string>
			<key>offset</key>
			<string>{26,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{91,44},{310,154}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,866},{190,154}}</string>
			<key>offset</key>
			<string>{-35,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{90,44},{190,154}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,709},{192,156}}</string>
			<key>offset</key>
			<string>{-36,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,44},{192,156}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,1520},{152,152}}</string>
			<key>offset</key>
			<string>{-11,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{133,49},{152,152}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,158},{240,200}}</string>
			<key>offset</key>
			<string>{63,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{163,0},{240,200}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,375},{210,194}}</string>
			<key>offset</key>
			<string>{62,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{177,4},{210,194}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_015.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,1231},{104,160}}</string>
			<key>offset</key>
			<string>{11,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{179,38},{104,160}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_016.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,1185},{104,160}}</string>
			<key>offset</key>
			<string>{18,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{186,38},{104,160}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_017.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,1336},{96,160}}</string>
			<key>offset</key>
			<string>{15,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{187,40},{96,160}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_018.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,1550},{124,152}}</string>
			<key>offset</key>
			<string>{22,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{180,50},{124,152}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_019.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,1336},{96,160}}</string>
			<key>offset</key>
			<string>{15,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{187,40},{96,160}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Attack_1_Anim_020.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,892},{136,162}}</string>
			<key>offset</key>
			<string>{-12,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{140,37},{136,162}}</string>
			<key>sourceSize</key>
			<string>{440,228}</string>
		</dict>
		<key>Fire_Cast_MainAttack_1_Anim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,1021},{94,162}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{71,6},{94,162}}</string>
			<key>sourceSize</key>
			<string>{236,168}</string>
		</dict>
		<key>Fire_Cast_MainAttack_1_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,1314},{112,156}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{64,12},{112,156}}</string>
			<key>sourceSize</key>
			<string>{236,168}</string>
		</dict>
		<key>Fire_Cast_MainAttack_1_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,572},{172,154}}</string>
			<key>offset</key>
			<string>{31,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,13},{172,154}}</string>
			<key>sourceSize</key>
			<string>{236,168}</string>
		</dict>
		<key>Fire_Cast_MainAttack_1_Anim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,884},{168,152}}</string>
			<key>offset</key>
			<string>{34,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,15},{168,152}}</string>
			<key>sourceSize</key>
			<string>{236,168}</string>
		</dict>
		<key>Fire_Cast_MainAttack_1_Anim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,737},{166,154}}</string>
			<key>offset</key>
			<string>{35,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,13},{166,154}}</string>
			<key>sourceSize</key>
			<string>{236,168}</string>
		</dict>
		<key>Fire_Cast_MainAttack_1_Anim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,943},{148,154}}</string>
			<key>offset</key>
			<string>{26,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,13},{148,154}}</string>
			<key>sourceSize</key>
			<string>{236,168}</string>
		</dict>
		<key>Fire_Cast_MainAttack_1_Anim_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,1520},{122,154}}</string>
			<key>offset</key>
			<string>{17,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,13},{122,154}}</string>
			<key>sourceSize</key>
			<string>{236,168}</string>
		</dict>
		<key>Fire_Cast_MainAttack_1_Anim_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1587},{112,154}}</string>
			<key>offset</key>
			<string>{12,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,13},{112,154}}</string>
			<key>sourceSize</key>
			<string>{236,168}</string>
		</dict>
		<key>Fire_Cast_MainAttack_1_Anim_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,1387},{98,158}}</string>
			<key>offset</key>
			<string>{7,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,10},{98,158}}</string>
			<key>sourceSize</key>
			<string>{236,168}</string>
		</dict>
		<key>Fire_Cast_MainAttack_2_Anim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,784},{112,158}}</string>
			<key>offset</key>
			<string>{7,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,17},{112,158}}</string>
			<key>sourceSize</key>
			<string>{232,176}</string>
		</dict>
		<key>Fire_Cast_MainAttack_2_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,727},{168,156}}</string>
			<key>offset</key>
			<string>{32,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,20},{168,156}}</string>
			<key>sourceSize</key>
			<string>{232,176}</string>
		</dict>
		<key>Fire_Cast_MainAttack_2_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,661},{166,154}}</string>
			<key>offset</key>
			<string>{33,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,22},{166,154}}</string>
			<key>sourceSize</key>
			<string>{232,176}</string>
		</dict>
		<key>Fire_Cast_MainAttack_2_Anim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,816},{164,154}}</string>
			<key>offset</key>
			<string>{34,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,21},{164,154}}</string>
			<key>sourceSize</key>
			<string>{232,176}</string>
		</dict>
		<key>Fire_Cast_MainAttack_2_Anim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,1098},{156,154}}</string>
			<key>offset</key>
			<string>{26,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,22},{156,154}}</string>
			<key>sourceSize</key>
			<string>{232,176}</string>
		</dict>
		<key>Fire_Cast_MainAttack_2_Anim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,421},{132,150}}</string>
			<key>offset</key>
			<string>{17,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,25},{132,150}}</string>
			<key>sourceSize</key>
			<string>{232,176}</string>
		</dict>
		<key>Fire_Cast_MainAttack_2_Anim_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,156},{118,156}}</string>
			<key>offset</key>
			<string>{8,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,18},{118,156}}</string>
			<key>sourceSize</key>
			<string>{232,176}</string>
		</dict>
		<key>Fire_Cast_MainAttack_2_Anim_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1080},{100,162}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{66,13},{100,162}}</string>
			<key>sourceSize</key>
			<string>{232,176}</string>
		</dict>
		<key>Fire_Cast_MainAttack_Air_Anim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,1673},{134,146}}</string>
			<key>offset</key>
			<string>{21,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,22},{134,146}}</string>
			<key>sourceSize</key>
			<string>{176,168}</string>
		</dict>
		<key>Fire_Cast_MainAttack_Air_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,1788},{104,140}}</string>
			<key>offset</key>
			<string>{9,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,22},{104,140}}</string>
			<key>sourceSize</key>
			<string>{176,168}</string>
		</dict>
		<key>Fire_Cast_MainAttack_Air_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,1833},{100,144}}</string>
			<key>offset</key>
			<string>{4,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,24},{100,144}}</string>
			<key>sourceSize</key>
			<string>{176,168}</string>
		</dict>
		<key>Fire_Death_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,570},{166,190}}</string>
			<key>offset</key>
			<string>{-18,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,52},{166,190}}</string>
			<key>sourceSize</key>
			<string>{300,280}</string>
		</dict>
		<key>Fire_Death_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,466},{198,194}}</string>
			<key>offset</key>
			<string>{-11,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,42},{198,194}}</string>
			<key>sourceSize</key>
			<string>{300,280}</string>
		</dict>
		<key>Fire_Death_Anim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,359},{238,210}}</string>
			<key>offset</key>
			<string>{-6,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,30},{238,210}}</string>
			<key>sourceSize</key>
			<string>{300,280}</string>
		</dict>
		<key>Fire_Death_Anim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,156},{264,218}}</string>
			<key>offset</key>
			<string>{-13,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,23},{264,218}}</string>
			<key>sourceSize</key>
			<string>{300,280}</string>
		</dict>
		<key>Fire_Death_Anim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,1808},{90,130}}</string>
			<key>offset</key>
			<string>{-2,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{103,101},{90,130}}</string>
			<key>sourceSize</key>
			<string>{300,280}</string>
		</dict>
		<key>Fire_GetHit_Air_Anim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,1783},{112,144}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,24},{112,144}}</string>
			<key>sourceSize</key>
			<string>{116,168}</string>
		</dict>
		<key>Fire_GetHit_Air_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,1734},{98,146}}</string>
			<key>offset</key>
			<string>{8,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,22},{98,146}}</string>
			<key>sourceSize</key>
			<string>{116,168}</string>
		</dict>
		<key>Fire_GetHit_Air_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,1680},{102,146}}</string>
			<key>offset</key>
			<string>{7,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,22},{102,146}}</string>
			<key>sourceSize</key>
			<string>{116,168}</string>
		</dict>
		<key>Fire_GetHit_Air_Anim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,1783},{112,144}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,24},{112,144}}</string>
			<key>sourceSize</key>
			<string>{116,168}</string>
		</dict>
		<key>Fire_GetHit_Anim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,1134},{96,162}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,6},{96,162}}</string>
			<key>sourceSize</key>
			<string>{156,168}</string>
		</dict>
		<key>Fire_GetHit_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,313},{116,158}}</string>
			<key>offset</key>
			<string>{-17,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,9},{116,158}}</string>
			<key>sourceSize</key>
			<string>{156,168}</string>
		</dict>
		<key>Fire_GetHit_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1466},{120,156}}</string>
			<key>offset</key>
			<string>{-18,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,11},{120,156}}</string>
			<key>sourceSize</key>
			<string>{156,168}</string>
		</dict>
		<key>Fire_GetHit_Anim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,1253},{106,158}}</string>
			<key>offset</key>
			<string>{-14,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,9},{106,158}}</string>
			<key>sourceSize</key>
			<string>{156,168}</string>
		</dict>
		<key>Fire_GetHit_Anim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,1088},{96,162}}</string>
			<key>offset</key>
			<string>{-9,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,6},{96,162}}</string>
			<key>sourceSize</key>
			<string>{156,168}</string>
		</dict>
		<key>Fire_GetHit_Anim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,1134},{96,162}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,6},{96,162}}</string>
			<key>sourceSize</key>
			<string>{156,168}</string>
		</dict>
		<key>Fire_Idle1_Anim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1181},{94,162}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,6},{94,162}}</string>
			<key>sourceSize</key>
			<string>{96,168}</string>
		</dict>
		<key>Fire_Idle1_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,1290},{96,160}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{96,160}}</string>
			<key>sourceSize</key>
			<string>{96,168}</string>
		</dict>
		<key>Fire_Idle1_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,1213},{96,160}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{96,160}}</string>
			<key>sourceSize</key>
			<string>{96,168}</string>
		</dict>
		<key>Fire_Idle1_Anim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,1134},{96,160}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{96,160}}</string>
			<key>sourceSize</key>
			<string>{96,168}</string>
		</dict>
		<key>Fire_Idle1_Anim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,1116},{96,160}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{96,160}}</string>
			<key>sourceSize</key>
			<string>{96,168}</string>
		</dict>
		<key>Fire_Idle1_Anim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,1116},{96,160}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{96,160}}</string>
			<key>sourceSize</key>
			<string>{96,168}</string>
		</dict>
		<key>Fire_Jump_fall_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,472},{116,150}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,18},{116,150}}</string>
			<key>sourceSize</key>
			<string>{116,168}</string>
		</dict>
		<key>Fire_Jump_middle_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,1675},{112,146}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,22},{112,146}}</string>
			<key>sourceSize</key>
			<string>{112,168}</string>
		</dict>
		<key>Fire_Jump_up_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,1029},{104,162}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{104,162}}</string>
			<key>sourceSize</key>
			<string>{104,168}</string>
		</dict>
		<key>Fire_Pull_Anim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1700},{88,150}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,21},{88,150}}</string>
			<key>sourceSize</key>
			<string>{92,172}</string>
		</dict>
		<key>Fire_Pull_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,1658},{90,148}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,23},{90,148}}</string>
			<key>sourceSize</key>
			<string>{92,172}</string>
		</dict>
		<key>Fire_Pull_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,1567},{90,148}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,24},{90,148}}</string>
			<key>sourceSize</key>
			<string>{92,172}</string>
		</dict>
		<key>Fire_Pull_Anim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,536},{92,148}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,24},{92,148}}</string>
			<key>sourceSize</key>
			<string>{92,172}</string>
		</dict>
		<key>Fire_Pull_Anim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1789},{90,146}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,25},{90,146}}</string>
			<key>sourceSize</key>
			<string>{92,172}</string>
		</dict>
		<key>Fire_Pull_Anim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,1643},{90,150}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,22},{90,150}}</string>
			<key>sourceSize</key>
			<string>{92,172}</string>
		</dict>
		<key>Fire_Push_Anim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,1231},{82,160}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,15},{82,160}}</string>
			<key>sourceSize</key>
			<string>{96,176}</string>
		</dict>
		<key>Fire_Push_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,1433},{86,158}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,17},{86,158}}</string>
			<key>sourceSize</key>
			<string>{96,176}</string>
		</dict>
		<key>Fire_Push_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,1486},{86,156}}</string>
			<key>offset</key>
			<string>{3,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,19},{86,156}}</string>
			<key>sourceSize</key>
			<string>{96,176}</string>
		</dict>
		<key>Fire_Push_Anim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,1459},{90,156}}</string>
			<key>offset</key>
			<string>{3,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,19},{90,156}}</string>
			<key>sourceSize</key>
			<string>{96,176}</string>
		</dict>
		<key>Fire_Push_Anim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,375},{92,160}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,16},{92,160}}</string>
			<key>sourceSize</key>
			<string>{96,176}</string>
		</dict>
		<key>Fire_Push_Anim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1377},{88,160}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,15},{88,160}}</string>
			<key>sourceSize</key>
			<string>{96,176}</string>
		</dict>
		<key>Fire_Roll_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{941,1567},{88,81}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{88,81}}</string>
			<key>sourceSize</key>
			<string>{92,81}</string>
		</dict>
		<key>Fire_Run_Anim_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,971},{108,162}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{108,162}}</string>
			<key>sourceSize</key>
			<string>{108,168}</string>
		</dict>
		<key>Fire_Run_Anim_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,1573},{106,152}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,15},{106,152}}</string>
			<key>sourceSize</key>
			<string>{108,168}</string>
		</dict>
		<key>Fire_Run_Anim_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1276},{100,160}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,7},{100,160}}</string>
			<key>sourceSize</key>
			<string>{108,168}</string>
		</dict>
		<key>Fire_Run_Anim_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,1037},{96,160}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{96,160}}</string>
			<key>sourceSize</key>
			<string>{108,168}</string>
		</dict>
		<key>Fire_Run_Anim_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,1310},{100,158}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{100,158}}</string>
			<key>sourceSize</key>
			<string>{108,168}</string>
		</dict>
		<key>Fire_Run_Anim_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,1411},{108,156}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,11},{108,156}}</string>
			<key>sourceSize</key>
			<string>{108,168}</string>
		</dict>
		<key>Fire_Run_Anim_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,1360},{98,158}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,8},{98,158}}</string>
			<key>sourceSize</key>
			<string>{108,168}</string>
		</dict>
		<key>Fire_Run_Anim_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,115},{100,162}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{100,162}}</string>
			<key>sourceSize</key>
			<string>{108,168}</string>
		</dict>
		<key>Fire_fromRoll_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,1},{113,101}}</string>
			<key>offset</key>
			<string>{20,-34}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,68},{113,101}}</string>
			<key>sourceSize</key>
			<string>{197,169}</string>
		</dict>
		<key>Fire_fromRoll_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,1934},{105,129}}</string>
			<key>offset</key>
			<string>{17,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{63,38},{105,129}}</string>
			<key>sourceSize</key>
			<string>{197,169}</string>
		</dict>
		<key>Fire_fromRoll_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,1427},{139,153}}</string>
			<key>offset</key>
			<string>{29,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,16},{139,153}}</string>
			<key>sourceSize</key>
			<string>{197,169}</string>
		</dict>
		<key>Fire_toRoll_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,1947},{94,130}}</string>
			<key>offset</key>
			<string>{7,24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,0},{94,130}}</string>
			<key>sourceSize</key>
			<string>{174,178}</string>
		</dict>
		<key>Fire_toRoll_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1934},{100,112}}</string>
			<key>offset</key>
			<string>{7,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,18},{100,112}}</string>
			<key>sourceSize</key>
			<string>{174,178}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Fire_Main_Character_spritesheet_01.png</string>
		<key>size</key>
		<string>{1024,2047}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:312e369d9874d2da08a9470da597a786$</string>
		<key>textureFileName</key>
		<string>Fire_Main_Character_spritesheet_01.png</string>
	</dict>
</dict>
</plist>
