<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>st_vl_flame_evil_chain_rack.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,962},{86,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,26}}</string>
			<key>sourceSize</key>
			<string>{86,26}</string>
		</dict>
		<key>st_vl_flame_evil_horn_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,653},{29,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,20}}</string>
			<key>sourceSize</key>
			<string>{29,20}</string>
		</dict>
		<key>st_vl_flame_evil_horn_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,751},{29,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,20}}</string>
			<key>sourceSize</key>
			<string>{29,20}</string>
		</dict>
		<key>st_vl_flame_evil_platform.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,962},{154,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,27}}</string>
			<key>sourceSize</key>
			<string>{154,27}</string>
		</dict>
		<key>st_vl_flame_evil_platform_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,367},{26,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,86}}</string>
			<key>sourceSize</key>
			<string>{26,86}</string>
		</dict>
		<key>st_vl_flame_evil_pole.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,779},{13,102}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{13,102}}</string>
			<key>sourceSize</key>
			<string>{13,104}</string>
		</dict>
		<key>st_vl_flame_evil_spike.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,953},{23,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,35}}</string>
			<key>sourceSize</key>
			<string>{23,35}</string>
		</dict>
		<key>st_vl_flame_evil_trap_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,989},{35,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{35,93}}</string>
			<key>sourceSize</key>
			<string>{35,95}</string>
		</dict>
		<key>st_vl_flame_evil_trap_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,989},{34,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{34,97}}</string>
			<key>sourceSize</key>
			<string>{34,99}</string>
		</dict>
		<key>st_vl_flame_plaster_brick_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,0},{181,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,72}}</string>
			<key>sourceSize</key>
			<string>{181,72}</string>
		</dict>
		<key>st_vl_flame_plaster_brick_medium.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,190},{126,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,67}}</string>
			<key>sourceSize</key>
			<string>{126,67}</string>
		</dict>
		<key>st_vl_flame_plaster_brick_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,989},{112,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,29}}</string>
			<key>sourceSize</key>
			<string>{112,29}</string>
		</dict>
		<key>st_vl_flame_plaster_crack_large_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,816},{137,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,136}}</string>
			<key>sourceSize</key>
			<string>{137,136}</string>
		</dict>
		<key>st_vl_flame_plaster_crack_large_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,629},{100,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,146}}</string>
			<key>sourceSize</key>
			<string>{100,146}</string>
		</dict>
		<key>st_vl_flame_plaster_crack_side_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,345},{58,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,117}}</string>
			<key>sourceSize</key>
			<string>{58,117}</string>
		</dict>
		<key>st_vl_flame_plaster_crack_side_small_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,585},{63,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,53}}</string>
			<key>sourceSize</key>
			<string>{63,53}</string>
		</dict>
		<key>st_vl_flame_plaster_crack_side_small_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,524},{60,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,58}}</string>
			<key>sourceSize</key>
			<string>{60,58}</string>
		</dict>
		<key>st_vl_flame_plaster_crack_small_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,576},{76,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,78}}</string>
			<key>sourceSize</key>
			<string>{76,78}</string>
		</dict>
		<key>st_vl_flame_plaster_crack_small_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,847},{73,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,60}}</string>
			<key>sourceSize</key>
			<string>{73,60}</string>
		</dict>
		<key>st_vl_flame_pushable.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,953},{106,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,70}}</string>
			<key>sourceSize</key>
			<string>{106,70}</string>
		</dict>
		<key>vg_vl_flame_ground_grass_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,793},{441,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{441,58}}</string>
			<key>sourceSize</key>
			<string>{441,58}</string>
		</dict>
		<key>vl_flame_banner_cloth_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,463},{53,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,102}}</string>
			<key>sourceSize</key>
			<string>{53,102}</string>
		</dict>
		<key>vl_flame_banner_spears.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,852},{109,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,190}}</string>
			<key>sourceSize</key>
			<string>{109,190}</string>
		</dict>
		<key>vl_flame_flowers_tulips_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,186},{92,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,35}}</string>
			<key>sourceSize</key>
			<string>{92,35}</string>
		</dict>
		<key>vl_flame_flowers_tulips_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,93},{92,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,35}}</string>
			<key>sourceSize</key>
			<string>{92,35}</string>
		</dict>
		<key>vl_flame_flowers_tulips_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,0},{92,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,35}}</string>
			<key>sourceSize</key>
			<string>{92,35}</string>
		</dict>
		<key>vl_flame_fruit_apples.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,751},{52,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,18}}</string>
			<key>sourceSize</key>
			<string>{52,18}</string>
		</dict>
		<key>vl_flame_fruit_bananas.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,776},{51,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,24}}</string>
			<key>sourceSize</key>
			<string>{51,24}</string>
		</dict>
		<key>vl_flame_fruit_blueberries.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,770},{48,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,17}}</string>
			<key>sourceSize</key>
			<string>{48,17}</string>
		</dict>
		<key>vl_flame_fruit_grape.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,776},{46,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,16}}</string>
			<key>sourceSize</key>
			<string>{46,16}</string>
		</dict>
		<key>vl_flame_fruit_oranges.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,770},{52,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,18}}</string>
			<key>sourceSize</key>
			<string>{52,18}</string>
		</dict>
		<key>vl_flame_fruit_strawberries.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,937},{48,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,17}}</string>
			<key>sourceSize</key>
			<string>{48,17}</string>
		</dict>
		<key>vl_flame_fruit_tomatoes.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,751},{52,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,18}}</string>
			<key>sourceSize</key>
			<string>{52,18}</string>
		</dict>
		<key>vl_flame_goatskull_bonel.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,618},{40,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,32}}</string>
			<key>sourceSize</key>
			<string>{40,32}</string>
		</dict>
		<key>vl_flame_goatskull_metal.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,585},{40,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,32}}</string>
			<key>sourceSize</key>
			<string>{40,32}</string>
		</dict>
		<key>vl_flame_lantern_chain.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,779},{8,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,73}}</string>
			<key>sourceSize</key>
			<string>{8,73}</string>
		</dict>
		<key>vl_flame_lantern_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,776},{23,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,54}}</string>
			<key>sourceSize</key>
			<string>{23,54}</string>
		</dict>
		<key>vl_flame_lantern_hanger_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,437},{17,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,66}}</string>
			<key>sourceSize</key>
			<string>{17,66}</string>
		</dict>
		<key>vl_flame_lantern_hanger_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,566},{82,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,57}}</string>
			<key>sourceSize</key>
			<string>{82,57}</string>
		</dict>
		<key>vl_flame_lantern_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,761},{23,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,54}}</string>
			<key>sourceSize</key>
			<string>{23,54}</string>
		</dict>
		<key>vl_flame_lantern_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,706},{23,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,54}}</string>
			<key>sourceSize</key>
			<string>{23,54}</string>
		</dict>
		<key>vl_flame_lantern_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,651},{23,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,54}}</string>
			<key>sourceSize</key>
			<string>{23,54}</string>
		</dict>
		<key>vl_flame_sack.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,244},{43,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,49}}</string>
			<key>sourceSize</key>
			<string>{43,49}</string>
		</dict>
		<key>vl_flame_sack_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,294},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>vl_flame_shadow03.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,992},{197,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{197,28}}</string>
			<key>sourceSize</key>
			<string>{205,30}</string>
		</dict>
		<key>vl_flame_shadow_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,937},{51,292}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{51,292}}</string>
			<key>sourceSize</key>
			<string>{55,304}</string>
		</dict>
		<key>vl_flame_stand_drape_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,474},{154,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,96}}</string>
			<key>sourceSize</key>
			<string>{154,96}</string>
		</dict>
		<key>vl_flame_stand_drape_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,319},{154,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,96}}</string>
			<key>sourceSize</key>
			<string>{154,96}</string>
		</dict>
		<key>vl_flame_stand_drape_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,164},{154,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,96}}</string>
			<key>sourceSize</key>
			<string>{154,96}</string>
		</dict>
		<key>vl_flame_switch_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,457},{61,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,66}}</string>
			<key>sourceSize</key>
			<string>{61,66}</string>
		</dict>
		<key>vl_flame_switch_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,683},{61,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,66}}</string>
			<key>sourceSize</key>
			<string>{61,66}</string>
		</dict>
		<key>vl_flame_tool_fork.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,1001},{17,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,86}}</string>
			<key>sourceSize</key>
			<string>{17,86}</string>
		</dict>
		<key>vl_flame_tool_rake.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,454},{29,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,74}}</string>
			<key>sourceSize</key>
			<string>{29,74}</string>
		</dict>
		<key>vl_flame_tool_spade.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,437},{19,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,58}}</string>
			<key>sourceSize</key>
			<string>{19,58}</string>
		</dict>
		<key>vl_flame_tower_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,463},{335,118}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,118}}</string>
			<key>sourceSize</key>
			<string>{335,120}</string>
		</dict>
		<key>vl_flame_tower_door.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,852},{139,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,163}}</string>
			<key>sourceSize</key>
			<string>{139,163}</string>
		</dict>
		<key>vl_flame_tower_door_open_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,182},{69,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,162}}</string>
			<key>sourceSize</key>
			<string>{69,162}</string>
		</dict>
		<key>vl_flame_tower_door_open_door.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,317},{63,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{63,119}}</string>
			<key>sourceSize</key>
			<string>{63,121}</string>
		</dict>
		<key>vl_flame_tower_door_open_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,0},{93,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,163}}</string>
			<key>sourceSize</key>
			<string>{93,163}</string>
		</dict>
		<key>vl_flame_tower_plank_round.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,753},{340,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,25}}</string>
			<key>sourceSize</key>
			<string>{340,25}</string>
		</dict>
		<key>vl_flame_tower_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,665},{337,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{337,87}}</string>
			<key>sourceSize</key>
			<string>{337,87}</string>
		</dict>
		<key>vl_flame_tower_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,799},{175,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,201}}</string>
			<key>sourceSize</key>
			<string>{175,201}</string>
		</dict>
		<key>vl_flame_tower_top_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,852},{84,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,201}}</string>
			<key>sourceSize</key>
			<string>{84,201}</string>
		</dict>
		<key>vl_flame_tower_top_window.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,463},{162,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,201}}</string>
			<key>sourceSize</key>
			<string>{162,201}</string>
		</dict>
		<key>wd_vl_flame_barrel.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,589},{58,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,64}}</string>
			<key>sourceSize</key>
			<string>{58,64}</string>
		</dict>
		<key>wd_vl_flame_barrel_with_rim.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,524},{58,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,64}}</string>
			<key>sourceSize</key>
			<string>{58,64}</string>
		</dict>
		<key>wd_vl_flame_cart.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,437},{138,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,81}}</string>
			<key>sourceSize</key>
			<string>{138,81}</string>
		</dict>
		<key>wd_vl_flame_cart_stand.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,0},{189,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,56}}</string>
			<key>sourceSize</key>
			<string>{189,56}</string>
		</dict>
		<key>wd_vl_flame_cart_stand_pole.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1001},{20,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,168}}</string>
			<key>sourceSize</key>
			<string>{20,168}</string>
		</dict>
		<key>wd_vl_flame_crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,585},{51,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,50}}</string>
			<key>sourceSize</key>
			<string>{51,50}</string>
		</dict>
		<key>wd_vl_flame_crate_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,751},{94,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,95}}</string>
			<key>sourceSize</key>
			<string>{94,95}</string>
		</dict>
		<key>wd_vl_flame_door_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,244},{218,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,200}}</string>
			<key>sourceSize</key>
			<string>{218,200}</string>
		</dict>
		<key>wd_vl_flame_door_metal.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,751},{96,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,125}}</string>
			<key>sourceSize</key>
			<string>{96,125}</string>
		</dict>
		<key>wd_vl_flame_flowers_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,279},{87,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,37}}</string>
			<key>sourceSize</key>
			<string>{87,37}</string>
		</dict>
		<key>wd_vl_flame_fruit_crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,529},{55,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,41}}</string>
			<key>sourceSize</key>
			<string>{55,41}</string>
		</dict>
		<key>wd_vl_flame_wagon_body.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{227,243}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,243}}</string>
			<key>sourceSize</key>
			<string>{227,243}</string>
		</dict>
		<key>wd_vl_flame_wagon_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,990},{158,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,31}}</string>
			<key>sourceSize</key>
			<string>{158,31}</string>
		</dict>
		<key>wd_vl_flame_wagon_wheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,848},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>wd_vl_flame_wheelbarrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,649},{101,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,43}}</string>
			<key>sourceSize</key>
			<string>{101,43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FlameVillageSheet04.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cda4e32c909c3a1e9a7909a2621b2f83$</string>
		<key>textureFileName</key>
		<string>FlameVillageSheet04.png</string>
	</dict>
</dict>
</plist>
