<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>vl_flame_midground_grass.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,295},{218,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,109}}</string>
			<key>sourceSize</key>
			<string>{218,109}</string>
		</dict>
		<key>vl_flame_midground_grass_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,182},{233,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,109}}</string>
			<key>sourceSize</key>
			<string>{233,109}</string>
		</dict>
		<key>vl_flame_midground_hay.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,405},{174,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,128}}</string>
			<key>sourceSize</key>
			<string>{174,128}</string>
		</dict>
		<key>vl_flame_midground_house_extra.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,518},{108,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,103}}</string>
			<key>sourceSize</key>
			<string>{108,103}</string>
		</dict>
		<key>vl_flame_midground_house_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,1},{180,236}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,236}}</string>
			<key>sourceSize</key>
			<string>{180,236}</string>
		</dict>
		<key>vl_flame_midground_house_roof.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,478},{119,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,74}}</string>
			<key>sourceSize</key>
			<string>{119,74}</string>
		</dict>
		<key>vl_flame_midground_house_roof_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,405},{126,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,72}}</string>
			<key>sourceSize</key>
			<string>{126,72}</string>
		</dict>
		<key>vl_flame_midground_house_roof_side2.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,502},{66,81}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{66,81}}</string>
			<key>sourceSize</key>
			<string>{68,81}</string>
		</dict>
		<key>vl_flame_midground_house_side_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,146},{148,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,235}}</string>
			<key>sourceSize</key>
			<string>{148,235}</string>
		</dict>
		<key>vl_flame_midground_house_side_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,292},{112,228}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,228}}</string>
			<key>sourceSize</key>
			<string>{114,228}</string>
		</dict>
		<key>vl_flame_midground_house_side_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,405},{112,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,148}}</string>
			<key>sourceSize</key>
			<string>{112,148}</string>
		</dict>
		<key>vl_flame_midground_house_side_burn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{144,273}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,273}}</string>
			<key>sourceSize</key>
			<string>{144,273}</string>
		</dict>
		<key>vl_flame_midground_house_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,405},{57,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,96}}</string>
			<key>sourceSize</key>
			<string>{57,96}</string>
		</dict>
		<key>vl_flame_midground_steppes.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,553},{81,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{81,65}}</string>
			<key>sourceSize</key>
			<string>{83,65}</string>
		</dict>
		<key>vl_flame_midground_stoneground.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,146},{173,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,15}}</string>
			<key>sourceSize</key>
			<string>{173,15}</string>
		</dict>
		<key>vl_flame_midground_stoneground_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,146},{51,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,16}}</string>
			<key>sourceSize</key>
			<string>{51,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FlameVillageMG.png</string>
		<key>size</key>
		<string>{512,622}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c3c73a1fe5931573ec82d2675da94333$</string>
		<key>textureFileName</key>
		<string>FlameVillageMG.png</string>
	</dict>
</dict>
</plist>
