<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>st_vl_flame_detail_lionhead_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{1260,603},{77,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{77,68}}</string>
			<key>sourceSize</key>
			<string>{79,68}</string>
		</dict>
		<key>st_vl_flame_detail_lionhead_wood.png</key>
		<dict>
			<key>frame</key>
			<string>{{1206,495},{110,108}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,108}}</string>
			<key>sourceSize</key>
			<string>{112,108}</string>
		</dict>
		<key>st_vl_flame_stone_divider_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1933},{114,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{114,377}}</string>
			<key>sourceSize</key>
			<string>{114,379}</string>
		</dict>
		<key>st_vl_flame_stone_divider_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,664},{164,503}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,503}}</string>
			<key>sourceSize</key>
			<string>{164,503}</string>
		</dict>
		<key>st_vl_flame_stone_divider_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1615,0},{89,432}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,432}}</string>
			<key>sourceSize</key>
			<string>{89,432}</string>
		</dict>
		<key>st_vl_flame_stone_divider_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,1315},{44,500}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{44,500}}</string>
			<key>sourceSize</key>
			<string>{46,500}</string>
		</dict>
		<key>st_vl_flame_stone_foundation.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,1315},{502,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{502,123}}</string>
			<key>sourceSize</key>
			<string>{502,123}</string>
		</dict>
		<key>st_vl_flame_stone_foundation_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1619,738},{348,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{348,124}}</string>
			<key>sourceSize</key>
			<string>{348,124}</string>
		</dict>
		<key>st_vl_flame_stone_pillar.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,1315},{166,461}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,461}}</string>
			<key>sourceSize</key>
			<string>{166,461}</string>
		</dict>
		<key>st_vl_flame_stone_wall_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1036,585},{372,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{372,170}}</string>
			<key>sourceSize</key>
			<string>{374,170}</string>
		</dict>
		<key>st_vl_flame_stone_wall_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1543,1630},{316,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{316,124}}</string>
			<key>sourceSize</key>
			<string>{316,124}</string>
		</dict>
		<key>st_vl_flame_stone_wall_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1859,1353},{168,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,167}}</string>
			<key>sourceSize</key>
			<string>{168,167}</string>
		</dict>
		<key>st_vl_flame_stone_wall_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{1605,1520},{106,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,166}}</string>
			<key>sourceSize</key>
			<string>{106,166}</string>
		</dict>
		<key>st_vl_flame_wall_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{1580,867},{400,451}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{400,451}}</string>
			<key>sourceSize</key>
			<string>{402,455}</string>
		</dict>
		<key>st_vl_flame_wall_stone_side_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,0},{287,624}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,624}}</string>
			<key>sourceSize</key>
			<string>{287,624}</string>
		</dict>
		<key>st_vl_flame_wall_stone_side_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,665},{234,566}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{234,566}}</string>
			<key>sourceSize</key>
			<string>{234,568}</string>
		</dict>
		<key>st_vl_flame_wall_stone_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,1315},{195,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,598}}</string>
			<key>sourceSize</key>
			<string>{195,598}</string>
		</dict>
		<key>st_vl_flame_wall_stone_side_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,0},{296,302}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{296,302}}</string>
			<key>sourceSize</key>
			<string>{298,304}</string>
		</dict>
		<key>vl_flame_detail_metal_bolt.png</key>
		<dict>
			<key>frame</key>
			<string>{{1458,2020},{24,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,26}}</string>
			<key>sourceSize</key>
			<string>{24,26}</string>
		</dict>
		<key>vl_flame_detail_metal_bolt_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1432,2020},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>vl_flame_detail_wood_door_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1260,684},{184,279}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,279}}</string>
			<key>sourceSize</key>
			<string>{184,279}</string>
		</dict>
		<key>vl_flame_shadow01.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,1259},{392,55}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{392,55}}</string>
			<key>sourceSize</key>
			<string>{410,59}</string>
		</dict>
		<key>wd_vl_flame_detail_cogmid.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,661},{49,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,45}}</string>
			<key>sourceSize</key>
			<string>{49,45}</string>
		</dict>
		<key>wd_vl_flame_detail_cogwheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1771,1520},{93,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,92}}</string>
			<key>sourceSize</key>
			<string>{93,92}</string>
		</dict>
		<key>wd_vl_flame_detail_door_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1328,0},{242,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,287}}</string>
			<key>sourceSize</key>
			<string>{242,287}</string>
		</dict>
		<key>wd_vl_flame_detail_door_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283,1771},{191,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,249}}</string>
			<key>sourceSize</key>
			<string>{191,249}</string>
		</dict>
		<key>wd_vl_flame_detail_fence_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,440},{221,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,75}}</string>
			<key>sourceSize</key>
			<string>{221,75}</string>
		</dict>
		<key>wd_vl_flame_detail_fence_1_end.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,1167},{71,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,63}}</string>
			<key>sourceSize</key>
			<string>{71,63}</string>
		</dict>
		<key>wd_vl_flame_detail_fence_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1131,339},{201,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,75}}</string>
			<key>sourceSize</key>
			<string>{201,75}</string>
		</dict>
		<key>wd_vl_flame_detail_fence_2_end.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,1259},{56,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,62}}</string>
			<key>sourceSize</key>
			<string>{56,62}</string>
		</dict>
		<key>wd_vl_flame_detail_fence_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,209},{204,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,58}}</string>
			<key>sourceSize</key>
			<string>{204,58}</string>
		</dict>
		<key>wd_vl_flame_detail_fence_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1614,722},{234,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,16}}</string>
			<key>sourceSize</key>
			<string>{234,16}</string>
		</dict>
		<key>wd_vl_flame_detail_relief_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,1231},{29,144}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,144}}</string>
			<key>sourceSize</key>
			<string>{31,144}</string>
		</dict>
		<key>wd_vl_flame_detail_relief_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482,2015},{22,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{22,133}}</string>
			<key>sourceSize</key>
			<string>{24,133}</string>
		</dict>
		<key>wd_vl_flame_detail_relief_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283,2020},{83,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{83,28}}</string>
			<key>sourceSize</key>
			<string>{83,30}</string>
		</dict>
		<key>wd_vl_flame_detail_relief_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,1231},{146,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{146,28}}</string>
			<key>sourceSize</key>
			<string>{146,30}</string>
		</dict>
		<key>wd_vl_flame_detail_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{1206,420},{75,112}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{75,112}}</string>
			<key>sourceSize</key>
			<string>{79,118}</string>
		</dict>
		<key>wd_vl_flame_detail_support_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1206,339},{81,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,113}}</string>
			<key>sourceSize</key>
			<string>{81,113}</string>
		</dict>
		<key>wd_vl_flame_detail_support_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,440},{72,105}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,105}}</string>
			<key>sourceSize</key>
			<string>{74,115}</string>
		</dict>
		<key>wd_vl_flame_detail_twist_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1366,2020},{66,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,28}}</string>
			<key>sourceSize</key>
			<string>{66,28}</string>
		</dict>
		<key>wd_vl_flame_detail_twist_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,624},{42,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,38}}</string>
			<key>sourceSize</key>
			<string>{42,38}</string>
		</dict>
		<key>wd_vl_flame_detail_window_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1036,957},{184,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,198}}</string>
			<key>sourceSize</key>
			<string>{184,198}</string>
		</dict>
		<key>wd_vl_flame_detail_window_1_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1135,188},{151,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,190}}</string>
			<key>sourceSize</key>
			<string>{151,190}</string>
		</dict>
		<key>wd_vl_flame_detail_window_1_side_cracks.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,1776},{147,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{147,40}}</string>
			<key>sourceSize</key>
			<string>{151,40}</string>
		</dict>
		<key>wd_vl_flame_detail_window_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1135,0},{188,191}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,191}}</string>
			<key>sourceSize</key>
			<string>{188,193}</string>
		</dict>
		<key>wd_vl_flame_detail_window_2_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,302},{145,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{145,201}}</string>
			<key>sourceSize</key>
			<string>{147,203}</string>
		</dict>
		<key>wd_vl_flame_detail_window_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,1913},{131,135}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{131,135}}</string>
			<key>sourceSize</key>
			<string>{133,137}</string>
		</dict>
		<key>wd_vl_flame_detail_window_circle_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{734,1912},{113,135}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{113,135}}</string>
			<key>sourceSize</key>
			<string>{113,139}</string>
		</dict>
		<key>wd_vl_flame_platform_plank_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1474,1771},{44,244}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,244}}</string>
			<key>sourceSize</key>
			<string>{46,244}</string>
		</dict>
		<key>wd_vl_flame_platform_plank_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1615,1267},{86,398}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,398}}</string>
			<key>sourceSize</key>
			<string>{86,398}</string>
		</dict>
		<key>wd_vl_flame_platform_plank_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,1167},{92,438}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,438}}</string>
			<key>sourceSize</key>
			<string>{94,438}</string>
		</dict>
		<key>wd_vl_flame_platform_plank_rope.png</key>
		<dict>
			<key>frame</key>
			<string>{{1328,1253},{62,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,57}}</string>
			<key>sourceSize</key>
			<string>{62,57}</string>
		</dict>
		<key>wd_vl_flame_platform_wood_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,623},{253,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{253,41}}</string>
			<key>sourceSize</key>
			<string>{253,43}</string>
		</dict>
		<key>wd_vl_flame_platform_wood_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,624},{253,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{253,41}}</string>
			<key>sourceSize</key>
			<string>{253,43}</string>
		</dict>
		<key>wd_vl_flame_platform_wood_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,503},{145,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,18}}</string>
			<key>sourceSize</key>
			<string>{145,18}</string>
		</dict>
		<key>wd_vl_flame_platform_wood_log.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,440},{123,179}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{123,179}}</string>
			<key>sourceSize</key>
			<string>{123,203}</string>
		</dict>
		<key>wd_vl_flame_platform_wood_stairs_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,1817},{407,95}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{407,95}}</string>
			<key>sourceSize</key>
			<string>{413,95}</string>
		</dict>
		<key>wd_vl_flame_platform_wood_stairs_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,0},{303,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,133}}</string>
			<key>sourceSize</key>
			<string>{303,133}</string>
		</dict>
		<key>wd_vl_flame_platform_wood_stairs_end.png</key>
		<dict>
			<key>frame</key>
			<string>{{1543,638},{100,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,71}}</string>
			<key>sourceSize</key>
			<string>{100,71}</string>
		</dict>
		<key>wd_vl_flame_platform_wood_stairs_grip.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,545},{322,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,69}}</string>
			<key>sourceSize</key>
			<string>{322,69}</string>
		</dict>
		<key>wd_vl_flame_roof_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1328,440},{287,198}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{287,198}}</string>
			<key>sourceSize</key>
			<string>{289,200}</string>
		</dict>
		<key>wd_vl_flame_roof_blue_divider.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,1259},{56,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,209}}</string>
			<key>sourceSize</key>
			<string>{56,209}</string>
		</dict>
		<key>wd_vl_flame_roof_blue_divider_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,540},{45,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,217}}</string>
			<key>sourceSize</key>
			<string>{45,217}</string>
		</dict>
		<key>wd_vl_flame_roof_blue_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1076,1773},{264,207}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{264,207}}</string>
			<key>sourceSize</key>
			<string>{264,211}</string>
		</dict>
		<key>wd_vl_flame_roof_blue_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,303},{137,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,280}}</string>
			<key>sourceSize</key>
			<string>{137,280}</string>
		</dict>
		<key>wd_vl_flame_roof_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1328,242},{287,198}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{287,198}}</string>
			<key>sourceSize</key>
			<string>{289,206}</string>
		</dict>
		<key>wd_vl_flame_roof_red_divider.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,0},{58,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{58,209}}</string>
			<key>sourceSize</key>
			<string>{60,209}</string>
		</dict>
		<key>wd_vl_flame_roof_red_divider_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{1328,638},{46,215}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{46,215}}</string>
			<key>sourceSize</key>
			<string>{46,217}</string>
		</dict>
		<key>wd_vl_flame_roof_red_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,1776},{269,198}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,8},{269,198}}</string>
			<key>sourceSize</key>
			<string>{271,206}</string>
		</dict>
		<key>wd_vl_flame_roof_red_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,867},{127,288}}</string>
			<key>offset</key>
			<string>{6,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,0},{127,288}}</string>
			<key>sourceSize</key>
			<string>{141,292}</string>
		</dict>
		<key>wd_vl_flame_roof_straw.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,1315},{458,360}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{458,360}}</string>
			<key>sourceSize</key>
			<string>{462,366}</string>
		</dict>
		<key>wd_vl_flame_roof_straw_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1260,868},{320,385}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{320,385}}</string>
			<key>sourceSize</key>
			<string>{324,387}</string>
		</dict>
		<key>wd_vl_flame_roof_straw_triangle.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,667},{648,405}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{648,405}}</string>
			<key>sourceSize</key>
			<string>{652,405}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,0},{66,623}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,623}}</string>
			<key>sourceSize</key>
			<string>{66,623}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,1315},{68,500}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{68,500}}</string>
			<key>sourceSize</key>
			<string>{70,506}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1543,1267},{363,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,62}}</string>
			<key>sourceSize</key>
			<string>{363,62}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,1263},{52,260}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,260}}</string>
			<key>sourceSize</key>
			<string>{52,260}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1315},{64,618}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{64,618}}</string>
			<key>sourceSize</key>
			<string>{64,620}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_counter.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,1773},{275,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{275,26}}</string>
			<key>sourceSize</key>
			<string>{275,26}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,665},{58,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,598}}</string>
			<key>sourceSize</key>
			<string>{58,598}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1206,603},{353,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{353,54}}</string>
			<key>sourceSize</key>
			<string>{355,54}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_ground_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,706},{304,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,48}}</string>
			<key>sourceSize</key>
			<string>{304,48}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_round.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,1315},{501,35}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{501,35}}</string>
			<key>sourceSize</key>
			<string>{507,35}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1518,1771},{235,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,83}}</string>
			<key>sourceSize</key>
			<string>{235,83}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{1539,738},{129,80}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,80}}</string>
			<key>sourceSize</key>
			<string>{133,80}</string>
		</dict>
		<key>wd_vl_flame_wall_plank_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,440},{58,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,183}}</string>
			<key>sourceSize</key>
			<string>{58,183}</string>
		</dict>
		<key>wd_vl_flame_wall_wood.png</key>
		<dict>
			<key>frame</key>
			<string>{{1615,406},{424,316}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{424,316}}</string>
			<key>sourceSize</key>
			<string>{424,318}</string>
		</dict>
		<key>wd_vl_flame_wall_wood_old.png</key>
		<dict>
			<key>frame</key>
			<string>{{1615,89},{426,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{426,317}}</string>
			<key>sourceSize</key>
			<string>{428,319}</string>
		</dict>
		<key>wd_vl_flame_wall_wood_old_triangle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1231,1314},{457,312}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{457,312}}</string>
			<key>sourceSize</key>
			<string>{461,316}</string>
		</dict>
		<key>wd_vl_flame_wall_wood_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{295,667}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,667}}</string>
			<key>sourceSize</key>
			<string>{295,667}</string>
		</dict>
		<key>wd_vl_flame_wall_wood_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,1315},{176,605}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,605}}</string>
			<key>sourceSize</key>
			<string>{176,605}</string>
		</dict>
		<key>wd_vl_flame_wall_wood_side_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,1912},{136,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,226}}</string>
			<key>sourceSize</key>
			<string>{136,226}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FlameVillageSheet01-hd.png</string>
		<key>size</key>
		<string>{2047,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ae715a17ddf7ec6aac62b3b486853535$</string>
		<key>textureFileName</key>
		<string>FlameVillageSheet01-hd.png</string>
	</dict>
</dict>
</plist>
