<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>st_vl_flame_ground_mudtain_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1240,1292},{350,365}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{350,365}}</string>
			<key>sourceSize</key>
			<string>{350,369}</string>
		</dict>
		<key>st_vl_flame_ground_mudtain_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,1300},{351,386}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{351,386}}</string>
			<key>sourceSize</key>
			<string>{351,386}</string>
		</dict>
		<key>st_vl_flame_ground_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{1364,1},{808,193}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{808,193}}</string>
			<key>sourceSize</key>
			<string>{810,195}</string>
		</dict>
		<key>st_vl_flame_ground_stonebridge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1591,1053},{385,329}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{385,329}}</string>
			<key>sourceSize</key>
			<string>{387,331}</string>
		</dict>
		<key>st_vl_flame_ground_stonebridge_mid.png</key>
		<dict>
			<key>frame</key>
			<string>{{1228,1764},{231,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,164}}</string>
			<key>sourceSize</key>
			<string>{231,164}</string>
		</dict>
		<key>st_vl_flame_ground_stonestairs.png</key>
		<dict>
			<key>frame</key>
			<string>{{1591,1582},{317,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,155}}</string>
			<key>sourceSize</key>
			<string>{317,155}</string>
		</dict>
		<key>st_vl_flame_stone_chimney.png</key>
		<dict>
			<key>frame</key>
			<string>{{1077,457},{202,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,280}}</string>
			<key>sourceSize</key>
			<string>{202,280}</string>
		</dict>
		<key>st_vl_flame_stone_well.png</key>
		<dict>
			<key>frame</key>
			<string>{{1460,1764},{212,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,182}}</string>
			<key>sourceSize</key>
			<string>{212,182}</string>
		</dict>
		<key>vg_vl_flame_ground_grass.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,1},{816,226}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{816,226}}</string>
			<key>sourceSize</key>
			<string>{822,226}</string>
		</dict>
		<key>vg_vl_flame_ground_grass_curve.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,228},{805,228}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{805,228}}</string>
			<key>sourceSize</key>
			<string>{807,238}</string>
		</dict>
		<key>vl_flame_blacksmith_anvil.png</key>
		<dict>
			<key>frame</key>
			<string>{{1228,1929},{141,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,75}}</string>
			<key>sourceSize</key>
			<string>{141,75}</string>
		</dict>
		<key>vl_flame_blacksmith_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{1429,810},{128,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,152}}</string>
			<key>sourceSize</key>
			<string>{128,152}</string>
		</dict>
		<key>vl_flame_blacksmith_forge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1558,612},{472,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,440}}</string>
			<key>sourceSize</key>
			<string>{472,440}</string>
		</dict>
		<key>vl_flame_blacksmith_store.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,1300},{469,461}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{469,461}}</string>
			<key>sourceSize</key>
			<string>{469,461}</string>
		</dict>
		<key>vl_flame_city_backwall_01_part_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,545},{442,575}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{442,575}}</string>
			<key>sourceSize</key>
			<string>{442,575}</string>
		</dict>
		<key>vl_flame_city_backwall_01_part_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1121},{416,568}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{416,568}}</string>
			<key>sourceSize</key>
			<string>{416,568}</string>
		</dict>
		<key>vl_flame_city_backwall_02_part_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,457},{529,407}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{529,407}}</string>
			<key>sourceSize</key>
			<string>{531,407}</string>
		</dict>
		<key>vl_flame_city_backwall_02_part_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1558,1},{610,407}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{610,407}}</string>
			<key>sourceSize</key>
			<string>{612,407}</string>
		</dict>
		<key>vl_flame_city_backwall_03_part_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,865},{511,434}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{511,434}}</string>
			<key>sourceSize</key>
			<string>{511,438}</string>
		</dict>
		<key>vl_flame_city_backwall_03_part_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{545,543}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{545,543}}</string>
			<key>sourceSize</key>
			<string>{549,543}</string>
		</dict>
		<key>vl_flame_city_backwall_crack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1429,1068},{106,204}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{106,204}}</string>
			<key>sourceSize</key>
			<string>{108,208}</string>
		</dict>
		<key>vl_flame_city_backwall_crack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1429,963},{128,104}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{128,104}}</string>
			<key>sourceSize</key>
			<string>{128,106}</string>
		</dict>
		<key>vl_flame_city_backwall_crack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1077,738},{134,112}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{134,112}}</string>
			<key>sourceSize</key>
			<string>{138,122}</string>
		</dict>
		<key>vl_flame_city_backwall_door.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,1687},{157,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,211}}</string>
			<key>sourceSize</key>
			<string>{157,211}</string>
		</dict>
		<key>vl_flame_city_backwall_plank.png</key>
		<dict>
			<key>frame</key>
			<string>{{1966,394},{49,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,182}}</string>
			<key>sourceSize</key>
			<string>{49,182}</string>
		</dict>
		<key>vl_flame_city_backwall_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1690},{194,586}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,586}}</string>
			<key>sourceSize</key>
			<string>{194,586}</string>
		</dict>
		<key>vl_flame_city_backwall_stone_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1673,1872},{255,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,133}}</string>
			<key>sourceSize</key>
			<string>{255,133}</string>
		</dict>
		<key>vl_flame_city_backwall_stone_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1673,1738},{255,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,133}}</string>
			<key>sourceSize</key>
			<string>{255,133}</string>
		</dict>
		<key>vl_flame_city_backwall_stone_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,1762},{258,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{258,137}}</string>
			<key>sourceSize</key>
			<string>{258,139}</string>
		</dict>
		<key>vl_flame_city_backwall_support_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,1899},{68,101}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,101}}</string>
			<key>sourceSize</key>
			<string>{70,101}</string>
		</dict>
		<key>vl_flame_city_backwall_window_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1877,1383},{140,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,154}}</string>
			<key>sourceSize</key>
			<string>{140,154}</string>
		</dict>
		<key>vl_flame_city_backwall_window_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,1885},{150,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,149}}</string>
			<key>sourceSize</key>
			<string>{150,149}</string>
		</dict>
		<key>vl_flame_city_backwall_window_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1212,738},{105,111}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{105,111}}</string>
			<key>sourceSize</key>
			<string>{107,113}</string>
		</dict>
		<key>vl_flame_shadow02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1966,1},{392,55}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,2},{392,55}}</string>
			<key>sourceSize</key>
			<string>{410,59}</string>
		</dict>
		<key>vl_flame_shop_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{956,865},{472,426}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,426}}</string>
			<key>sourceSize</key>
			<string>{472,426}</string>
		</dict>
		<key>vl_flame_shop_counter.png</key>
		<dict>
			<key>frame</key>
			<string>{{1240,1658},{348,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{348,105}}</string>
			<key>sourceSize</key>
			<string>{348,105}</string>
		</dict>
		<key>vl_flame_shop_counter_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,1899},{141,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,102}}</string>
			<key>sourceSize</key>
			<string>{141,102}</string>
		</dict>
		<key>wd_vl_flame_detail_ladder.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1885},{131,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,377}}</string>
			<key>sourceSize</key>
			<string>{131,377}</string>
		</dict>
		<key>wd_vl_flame_roof_darkred.png</key>
		<dict>
			<key>frame</key>
			<string>{{1591,1383},{285,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{285,198}}</string>
			<key>sourceSize</key>
			<string>{287,198}</string>
		</dict>
		<key>wd_vl_flame_roof_darkred_divider.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,545},{58,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{58,209}}</string>
			<key>sourceSize</key>
			<string>{60,209}</string>
		</dict>
		<key>wd_vl_flame_roof_darkred_divider_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{1280,457},{45,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{45,215}}</string>
			<key>sourceSize</key>
			<string>{47,215}</string>
		</dict>
		<key>wd_vl_flame_roof_darkred_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,1762},{237,222}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{237,222}}</string>
			<key>sourceSize</key>
			<string>{243,222}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FlameVillageSheet02-hd.png</string>
		<key>size</key>
		<string>{2031,2035}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:720039dad4e8d3abeb15fbc3ff6446a9$</string>
		<key>textureFileName</key>
		<string>FlameVillageSheet02-hd.png</string>
	</dict>
</dict>
</plist>
