<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>st_vl_flame_ground_mudtain_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,650},{173,183}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{173,183}}</string>
			<key>sourceSize</key>
			<string>{175,185}</string>
		</dict>
		<key>st_vl_flame_ground_mudtain_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,654},{176,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,193}}</string>
			<key>sourceSize</key>
			<string>{176,193}</string>
		</dict>
		<key>st_vl_flame_ground_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,1},{403,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{403,98}}</string>
			<key>sourceSize</key>
			<string>{405,98}</string>
		</dict>
		<key>st_vl_flame_ground_stonebridge.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,529},{194,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,166}}</string>
			<key>sourceSize</key>
			<string>{194,166}</string>
		</dict>
		<key>st_vl_flame_ground_stonebridge_mid.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,886},{116,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,82}}</string>
			<key>sourceSize</key>
			<string>{116,82}</string>
		</dict>
		<key>st_vl_flame_ground_stonestairs.png</key>
		<dict>
			<key>frame</key>
			<string>{{798,796},{159,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,78}}</string>
			<key>sourceSize</key>
			<string>{159,78}</string>
		</dict>
		<key>st_vl_flame_stone_chimney.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,231},{101,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,140}}</string>
			<key>sourceSize</key>
			<string>{101,140}</string>
		</dict>
		<key>st_vl_flame_stone_well.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,848},{106,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,91}}</string>
			<key>sourceSize</key>
			<string>{106,91}</string>
		</dict>
		<key>vg_vl_flame_ground_grass.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,1},{407,113}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{407,113}}</string>
			<key>sourceSize</key>
			<string>{411,113}</string>
		</dict>
		<key>vg_vl_flame_ground_grass_curve.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,115},{404,115}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{404,115}}</string>
			<key>sourceSize</key>
			<string>{404,119}</string>
		</dict>
		<key>vl_flame_blacksmith_anvil.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,957},{71,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,38}}</string>
			<key>sourceSize</key>
			<string>{71,38}</string>
		</dict>
		<key>vl_flame_blacksmith_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,405},{64,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,76}}</string>
			<key>sourceSize</key>
			<string>{64,76}</string>
		</dict>
		<key>vl_flame_blacksmith_forge.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,308},{236,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,220}}</string>
			<key>sourceSize</key>
			<string>{236,220}</string>
		</dict>
		<key>vl_flame_blacksmith_store.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,654},{235,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,231}}</string>
			<key>sourceSize</key>
			<string>{235,231}</string>
		</dict>
		<key>vl_flame_city_backwall_01_part_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,274},{221,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,288}}</string>
			<key>sourceSize</key>
			<string>{221,288}</string>
		</dict>
		<key>vl_flame_city_backwall_01_part_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,563},{208,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,284}}</string>
			<key>sourceSize</key>
			<string>{208,284}</string>
		</dict>
		<key>vl_flame_city_backwall_02_part_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,231},{266,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,204}}</string>
			<key>sourceSize</key>
			<string>{266,204}</string>
		</dict>
		<key>vl_flame_city_backwall_02_part_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,1},{306,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,204}}</string>
			<key>sourceSize</key>
			<string>{306,204}</string>
		</dict>
		<key>vl_flame_city_backwall_03_part_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,436},{256,217}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,217}}</string>
			<key>sourceSize</key>
			<string>{256,219}</string>
		</dict>
		<key>vl_flame_city_backwall_03_part_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{273,272}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{273,272}}</string>
			<key>sourceSize</key>
			<string>{275,272}</string>
		</dict>
		<key>vl_flame_city_backwall_crack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,888},{54,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{54,102}}</string>
			<key>sourceSize</key>
			<string>{54,104}</string>
		</dict>
		<key>vl_flame_city_backwall_crack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,955},{64,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{64,51}}</string>
			<key>sourceSize</key>
			<string>{64,53}</string>
		</dict>
		<key>vl_flame_city_backwall_crack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,372},{67,55}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{67,55}}</string>
			<key>sourceSize</key>
			<string>{69,61}</string>
		</dict>
		<key>vl_flame_city_backwall_door.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,529},{79,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,106}}</string>
			<key>sourceSize</key>
			<string>{79,106}</string>
		</dict>
		<key>vl_flame_city_backwall_plank.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,231},{25,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,91}}</string>
			<key>sourceSize</key>
			<string>{25,91}</string>
		</dict>
		<key>vl_flame_city_backwall_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,848},{97,293}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,293}}</string>
			<key>sourceSize</key>
			<string>{97,293}</string>
		</dict>
		<key>vl_flame_city_backwall_stone_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,943},{128,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,67}}</string>
			<key>sourceSize</key>
			<string>{128,67}</string>
		</dict>
		<key>vl_flame_city_backwall_stone_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{798,875},{128,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,67}}</string>
			<key>sourceSize</key>
			<string>{128,67}</string>
		</dict>
		<key>vl_flame_city_backwall_stone_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,886},{129,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,70}}</string>
			<key>sourceSize</key>
			<string>{129,70}</string>
		</dict>
		<key>vl_flame_city_backwall_support_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,482},{35,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,51}}</string>
			<key>sourceSize</key>
			<string>{35,51}</string>
		</dict>
		<key>vl_flame_city_backwall_window_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,946},{70,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,77}}</string>
			<key>sourceSize</key>
			<string>{70,77}</string>
		</dict>
		<key>vl_flame_city_backwall_window_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,696},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,75}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>vl_flame_city_backwall_window_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,957},{54,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{54,55}}</string>
			<key>sourceSize</key>
			<string>{54,57}</string>
		</dict>
		<key>vl_flame_shadow02.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,1},{197,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{197,28}}</string>
			<key>sourceSize</key>
			<string>{205,30}</string>
		</dict>
		<key>vl_flame_shop_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,436},{236,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,213}}</string>
			<key>sourceSize</key>
			<string>{236,213}</string>
		</dict>
		<key>vl_flame_shop_counter.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,834},{174,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,53}}</string>
			<key>sourceSize</key>
			<string>{174,53}</string>
		</dict>
		<key>vl_flame_shop_counter_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,955},{71,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,51}}</string>
			<key>sourceSize</key>
			<string>{71,51}</string>
		</dict>
		<key>wd_vl_flame_detail_ladder.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,946},{66,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,189}}</string>
			<key>sourceSize</key>
			<string>{66,189}</string>
		</dict>
		<key>wd_vl_flame_roof_darkred.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,696},{144,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,99}}</string>
			<key>sourceSize</key>
			<string>{144,99}</string>
		</dict>
		<key>wd_vl_flame_roof_darkred_divider.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,274},{30,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,105}}</string>
			<key>sourceSize</key>
			<string>{30,105}</string>
		</dict>
		<key>wd_vl_flame_roof_darkred_divider_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,199},{24,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,108}}</string>
			<key>sourceSize</key>
			<string>{24,108}</string>
		</dict>
		<key>wd_vl_flame_roof_darkred_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,888},{120,111}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,111}}</string>
			<key>sourceSize</key>
			<string>{122,111}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FlameVillageSheet02.png</string>
		<key>size</key>
		<string>{1019,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:792fc560609b0cbc34aa4b34e564021e$</string>
		<key>textureFileName</key>
		<string>FlameVillageSheet02.png</string>
	</dict>
</dict>
</plist>
