<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wd_vl_flame_fire_backwall_burn_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,1},{45,394}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{45,394}}</string>
			<key>sourceSize</key>
			<string>{47,398}</string>
		</dict>
		<key>wd_vl_flame_fire_backwall_burn__1.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,1828},{53,269}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,7},{53,269}}</string>
			<key>sourceSize</key>
			<string>{55,277}</string>
		</dict>
		<key>wd_vl_flame_fire_backwall_door.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,370},{186,305}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,305}}</string>
			<key>sourceSize</key>
			<string>{186,305}</string>
		</dict>
		<key>wd_vl_flame_fire_backwall_door_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,1707},{89,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,173}}</string>
			<key>sourceSize</key>
			<string>{89,173}</string>
		</dict>
		<key>wd_vl_flame_fire_backwall_window.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,1882},{159,249}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,15},{159,249}}</string>
			<key>sourceSize</key>
			<string>{169,267}</string>
		</dict>
		<key>wd_vl_flame_fire_backwall_window_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,1126},{93,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,105}}</string>
			<key>sourceSize</key>
			<string>{93,105}</string>
		</dict>
		<key>wd_vl_flame_fire_backwall_window_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,279},{176,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{176,219}}</string>
			<key>sourceSize</key>
			<string>{178,221}</string>
		</dict>
		<key>wd_vl_flame_fire_backwall_window_circle_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,1250},{67,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,80}}</string>
			<key>sourceSize</key>
			<string>{67,80}</string>
		</dict>
		<key>wd_vl_flame_fire_burn_edge_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,301},{210,58}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{210,58}}</string>
			<key>sourceSize</key>
			<string>{212,58}</string>
		</dict>
		<key>wd_vl_flame_fire_burn_edge_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,1250},{62,18}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,1},{62,18}}</string>
			<key>sourceSize</key>
			<string>{68,20}</string>
		</dict>
		<key>wd_vl_flame_fire_burn_front_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,352},{153,257}}</string>
			<key>offset</key>
			<string>{6,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,11},{153,257}}</string>
			<key>sourceSize</key>
			<string>{181,269}</string>
		</dict>
		<key>wd_vl_flame_fire_burn_plank_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,1333},{66,494}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,494}}</string>
			<key>sourceSize</key>
			<string>{66,494}</string>
		</dict>
		<key>wd_vl_flame_fire_burn_plank_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,1068},{56,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,141}}</string>
			<key>sourceSize</key>
			<string>{56,141}</string>
		</dict>
		<key>wd_vl_flame_fire_burn_side_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,1747},{42,191}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{42,191}}</string>
			<key>sourceSize</key>
			<string>{46,193}</string>
		</dict>
		<key>wd_vl_flame_fire_burn_side_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,1659},{42,241}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,11},{42,241}}</string>
			<key>sourceSize</key>
			<string>{50,253}</string>
		</dict>
		<key>wd_vl_flame_fire_burn_side_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,1250},{58,228}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,1},{58,228}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>wd_vl_flame_fire_burn_side_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,765},{56,302}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{56,302}}</string>
			<key>sourceSize</key>
			<string>{58,308}</string>
		</dict>
		<key>wd_vl_flame_fire_door_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,396},{256,376}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,7},{256,376}}</string>
			<key>sourceSize</key>
			<string>{258,384}</string>
		</dict>
		<key>wd_vl_flame_fire_door_1_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,293},{154,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,58}}</string>
			<key>sourceSize</key>
			<string>{154,58}</string>
		</dict>
		<key>wd_vl_flame_fire_door_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,773},{228,352}}</string>
			<key>offset</key>
			<string>{-7,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{228,352}}</string>
			<key>sourceSize</key>
			<string>{242,356}</string>
		</dict>
		<key>wd_vl_flame_fire_door_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1303,499},{152,219}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{152,219}}</string>
			<key>sourceSize</key>
			<string>{156,219}</string>
		</dict>
		<key>wd_vl_flame_fire_house_side_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1333},{315,548}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,548}}</string>
			<key>sourceSize</key>
			<string>{317,548}</string>
		</dict>
		<key>wd_vl_flame_fire_house_side_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{409,774}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{409,774}}</string>
			<key>sourceSize</key>
			<string>{409,778}</string>
		</dict>
		<key>wd_vl_flame_fire_pile_big_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1161,1},{217,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{217,179}}</string>
			<key>sourceSize</key>
			<string>{219,179}</string>
		</dict>
		<key>wd_vl_flame_fire_pile_big_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{1159,738},{227,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,219}}</string>
			<key>sourceSize</key>
			<string>{227,219}</string>
		</dict>
		<key>wd_vl_flame_fire_pile_small_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,1250},{99,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,61}}</string>
			<key>sourceSize</key>
			<string>{99,61}</string>
		</dict>
		<key>wd_vl_flame_fire_pile_small_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,1747},{130,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,136}}</string>
			<key>sourceSize</key>
			<string>{130,136}</string>
		</dict>
		<key>wd_vl_flame_fire_roof_hole_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1074,610},{228,127}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{228,127}}</string>
			<key>sourceSize</key>
			<string>{230,127}</string>
		</dict>
		<key>wd_vl_flame_fire_roof_hole_1_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,644},{182,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,112}}</string>
			<key>sourceSize</key>
			<string>{182,112}</string>
		</dict>
		<key>wd_vl_flame_fire_roof_hole_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1125,1014},{238,152}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{238,152}}</string>
			<key>sourceSize</key>
			<string>{238,156}</string>
		</dict>
		<key>wd_vl_flame_fire_roof_hole_2_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,1882},{160,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,154}}</string>
			<key>sourceSize</key>
			<string>{160,154}</string>
		</dict>
		<key>wd_vl_flame_fire_roof_hole_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,1331},{306,415}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,415}}</string>
			<key>sourceSize</key>
			<string>{306,415}</string>
		</dict>
		<key>wd_vl_flame_fire_roof_hole_big_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{994,1702},{231,342}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,35},{231,342}}</string>
			<key>sourceSize</key>
			<string>{231,382}</string>
		</dict>
		<key>wd_vl_flame_fire_shadow_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,776},{363,556}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,19},{363,556}}</string>
			<key>sourceSize</key>
			<string>{367,576}</string>
		</dict>
		<key>wd_vl_flame_fire_shadow_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,776},{287,473}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{287,473}}</string>
			<key>sourceSize</key>
			<string>{289,473}</string>
		</dict>
		<key>wd_vl_flame_fire_shadow_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{855,360},{283,140}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,11},{283,140}}</string>
			<key>sourceSize</key>
			<string>{287,154}</string>
		</dict>
		<key>wd_vl_flame_fire_wall_hole_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,1309},{290,397}}</string>
			<key>offset</key>
			<string>{2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{290,397}}</string>
			<key>sourceSize</key>
			<string>{294,405}</string>
		</dict>
		<key>wd_vl_flame_fire_wall_hole_1_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,1},{142,277}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{142,277}}</string>
			<key>sourceSize</key>
			<string>{144,279}</string>
		</dict>
		<key>wd_vl_flame_fire_wall_hole_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,1},{368,258}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{368,258}}</string>
			<key>sourceSize</key>
			<string>{370,258}</string>
		</dict>
		<key>wd_vl_flame_fire_wall_hole_2_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,1},{299,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,188}}</string>
			<key>sourceSize</key>
			<string>{299,188}</string>
		</dict>
		<key>wd_vl_flame_fire_wall_hole_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1882},{163,400}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{163,400}}</string>
			<key>sourceSize</key>
			<string>{163,408}</string>
		</dict>
		<key>wd_vl_flame_fire_wall_hole_side_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,1},{112,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{112,291}}</string>
			<key>sourceSize</key>
			<string>{112,293}</string>
		</dict>
		<key>wd_vl_flame_fire_window_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,676},{93,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,137}}</string>
			<key>sourceSize</key>
			<string>{93,137}</string>
		</dict>
		<key>wd_vl_flame_fire_window_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,757},{219,256}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{219,256}}</string>
			<key>sourceSize</key>
			<string>{223,262}</string>
		</dict>
		<key>wd_vl_flame_fire_window_circle_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,676},{84,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,88}}</string>
			<key>sourceSize</key>
			<string>{84,88}</string>
		</dict>
		<key>wd_vl_flame_fire_window_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,1309},{214,349}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{214,349}}</string>
			<key>sourceSize</key>
			<string>{220,355}</string>
		</dict>
		<key>wd_vl_flame_fire_window_side_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,1707},{179,338}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,15},{179,338}}</string>
			<key>sourceSize</key>
			<string>{183,362}</string>
		</dict>
		<key>wd_vl_flame_fire_window_side_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,1126},{182,343}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,10},{182,343}}</string>
			<key>sourceSize</key>
			<string>{190,361}</string>
		</dict>
		<key>wd_vl_flame_platform_metal_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,1790},{145,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,18}}</string>
			<key>sourceSize</key>
			<string>{145,18}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FlameVillageSheet03.png</string>
		<key>size</key>
		<string>{1456,2046}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1225ef5b877bdeb8f09be2837b3b8456$</string>
		<key>textureFileName</key>
		<string>FlameVillageSheet03.png</string>
	</dict>
</dict>
</plist>
