<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fol_store_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{173,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,151}}</string>
			<key>sourceSize</key>
			<string>{173,151}</string>
		</dict>
		<key>fol_store_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,0},{156,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,52}}</string>
			<key>sourceSize</key>
			<string>{156,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ForestSheet_03.png</string>
		<key>size</key>
		<string>{226,156}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3bbb80885672b5172530ad02463aba3c$</string>
		<key>textureFileName</key>
		<string>ForestSheet_03.png</string>
	</dict>
</dict>
</plist>
