<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gr_fol_grassground_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,717},{812,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{812,229}}</string>
			<key>sourceSize</key>
			<string>{812,229}</string>
		</dict>
		<key>gr_fol_grassground_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1858,41},{730,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{730,183}}</string>
			<key>sourceSize</key>
			<string>{730,183}</string>
		</dict>
		<key>gr_fol_grassground_grass1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1787,388},{308,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,68}}</string>
			<key>sourceSize</key>
			<string>{308,68}</string>
		</dict>
		<key>gr_fol_grassground_grass2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1841,772},{206,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,84}}</string>
			<key>sourceSize</key>
			<string>{206,84}</string>
		</dict>
		<key>gr_fol_grassground_ruin.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1464},{442,558}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{442,558}}</string>
			<key>sourceSize</key>
			<string>{442,558}</string>
		</dict>
		<key>gr_fol_root_curve.png</key>
		<dict>
			<key>frame</key>
			<string>{{1607,1464},{367,243}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,243}}</string>
			<key>sourceSize</key>
			<string>{367,243}</string>
		</dict>
		<key>gr_fol_root_platform1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1273,1452},{274,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,312}}</string>
			<key>sourceSize</key>
			<string>{274,312}</string>
		</dict>
		<key>gr_fol_root_platform2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,719},{233,437}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,437}}</string>
			<key>sourceSize</key>
			<string>{233,437}</string>
		</dict>
		<key>gr_fol_stone_ruin.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,1051},{392,453}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{392,453}}</string>
			<key>sourceSize</key>
			<string>{392,453}</string>
		</dict>
		<key>st_fol_grassground_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,953},{396,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{396,89}}</string>
			<key>sourceSize</key>
			<string>{396,89}</string>
		</dict>
		<key>st_fol_root_platform_tower.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,719},{331,494}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{331,494}}</string>
			<key>sourceSize</key>
			<string>{331,494}</string>
		</dict>
		<key>st_fol_stone_1_RL.png</key>
		<dict>
			<key>frame</key>
			<string>{{1322,1092},{431,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{431,359}}</string>
			<key>sourceSize</key>
			<string>{431,359}</string>
		</dict>
		<key>st_fol_stone_2_RL.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1051},{437,411}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{437,411}}</string>
			<key>sourceSize</key>
			<string>{437,411}</string>
		</dict>
		<key>st_fol_stone_big_RL.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,1051},{391,429}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{391,429}}</string>
			<key>sourceSize</key>
			<string>{391,429}</string>
		</dict>
		<key>st_fol_stone_medium_RL.png</key>
		<dict>
			<key>frame</key>
			<string>{{1624,1708},{268,252}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,252}}</string>
			<key>sourceSize</key>
			<string>{268,252}</string>
		</dict>
		<key>st_fol_stone_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1993,1024},{49,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,211}}</string>
			<key>sourceSize</key>
			<string>{49,211}</string>
		</dict>
		<key>st_fol_stone_small1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1858,0},{186,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,40}}</string>
			<key>sourceSize</key>
			<string>{186,40}</string>
		</dict>
		<key>st_fol_stone_small2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1993,1236},{144,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,36}}</string>
			<key>sourceSize</key>
			<string>{144,36}</string>
		</dict>
		<key>st_fol_stone_tiny.png</key>
		<dict>
			<key>frame</key>
			<string>{{1787,356},{70,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,31}}</string>
			<key>sourceSize</key>
			<string>{70,31}</string>
		</dict>
		<key>wd_fol_root_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1123,1924},{110,483}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,483}}</string>
			<key>sourceSize</key>
			<string>{110,483}</string>
		</dict>
		<key>wd_fol_root_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1322,947},{144,446}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{144,446}}</string>
			<key>sourceSize</key>
			<string>{146,446}</string>
		</dict>
		<key>wd_fol_root_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1841,1024},{151,439}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,439}}</string>
			<key>sourceSize</key>
			<string>{151,439}</string>
		</dict>
		<key>wd_fol_root_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1273,1727},{137,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,350}}</string>
			<key>sourceSize</key>
			<string>{137,350}</string>
		</dict>
		<key>wd_fol_root_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{1841,857},{177,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,166}}</string>
			<key>sourceSize</key>
			<string>{177,166}</string>
		</dict>
		<key>wd_fol_root_bridge.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,0},{910,355}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{910,355}}</string>
			<key>sourceSize</key>
			<string>{910,355}</string>
		</dict>
		<key>wd_fol_root_overhang_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,1464},{252,507}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{252,507}}</string>
			<key>sourceSize</key>
			<string>{252,507}</string>
		</dict>
		<key>wd_fol_root_overhang_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,1464},{426,504}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{426,504}}</string>
			<key>sourceSize</key>
			<string>{426,504}</string>
		</dict>
		<key>wd_fol_root_peel1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1787,697},{53,419}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,419}}</string>
			<key>sourceSize</key>
			<string>{53,419}</string>
		</dict>
		<key>wd_fol_root_peel2.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,1972},{74,382}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{74,382}}</string>
			<key>sourceSize</key>
			<string>{76,382}</string>
		</dict>
		<key>wd_fol_root_peel_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1123,1443},{149,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,480}}</string>
			<key>sourceSize</key>
			<string>{149,480}</string>
		</dict>
		<key>wd_fol_tree_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{946,718}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{946,718}}</string>
			<key>sourceSize</key>
			<string>{946,718}</string>
		</dict>
		<key>wd_fol_tree_shaft.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,356},{360,839}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{360,839}}</string>
			<key>sourceSize</key>
			<string>{360,839}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ForestSheet_01.png</string>
		<key>size</key>
		<string>{2047,2046}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:794578a45eaf02b0522437dfde7c5fa4$</string>
		<key>textureFileName</key>
		<string>ForestSheet_01.png</string>
	</dict>
</dict>
</plist>
