<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gr_fol_grassground_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,0},{406,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{406,115}}</string>
			<key>sourceSize</key>
			<string>{406,115}</string>
		</dict>
		<key>gr_fol_grassground_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,116},{365,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{365,92}}</string>
			<key>sourceSize</key>
			<string>{365,92}</string>
		</dict>
		<key>gr_fol_grassground_grass1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,960},{154,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,34}}</string>
			<key>sourceSize</key>
			<string>{154,34}</string>
		</dict>
		<key>gr_fol_grassground_grass2.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,963},{103,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,42}}</string>
			<key>sourceSize</key>
			<string>{103,42}</string>
		</dict>
		<key>gr_fol_grassground_ruin.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,539},{221,279}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,279}}</string>
			<key>sourceSize</key>
			<string>{221,279}</string>
		</dict>
		<key>gr_fol_root_curve.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,0},{184,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,122}}</string>
			<key>sourceSize</key>
			<string>{184,122}</string>
		</dict>
		<key>gr_fol_root_platform1.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,660},{137,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,156}}</string>
			<key>sourceSize</key>
			<string>{137,156}</string>
		</dict>
		<key>gr_fol_root_platform2.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,440},{117,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,219}}</string>
			<key>sourceSize</key>
			<string>{117,219}</string>
		</dict>
		<key>gr_fol_stone_ruin.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,209},{196,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,227}}</string>
			<key>sourceSize</key>
			<string>{196,227}</string>
		</dict>
		<key>st_fol_grassground_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,917},{198,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,45}}</string>
			<key>sourceSize</key>
			<string>{198,45}</string>
		</dict>
		<key>st_fol_root_platform_tower.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,669},{166,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,247}}</string>
			<key>sourceSize</key>
			<string>{166,247}</string>
		</dict>
		<key>st_fol_stone_1_RL.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,819},{216,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,180}}</string>
			<key>sourceSize</key>
			<string>{216,180}</string>
		</dict>
		<key>st_fol_stone_2_RL.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,209},{219,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,206}}</string>
			<key>sourceSize</key>
			<string>{219,206}</string>
		</dict>
		<key>st_fol_stone_big_RL.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,437},{196,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,215}}</string>
			<key>sourceSize</key>
			<string>{196,215}</string>
		</dict>
		<key>st_fol_stone_medium_RL.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,817},{134,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,126}}</string>
			<key>sourceSize</key>
			<string>{134,126}</string>
		</dict>
		<key>st_fol_stone_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,539},{25,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,106}}</string>
			<key>sourceSize</key>
			<string>{25,106}</string>
		</dict>
		<key>st_fol_stone_small1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,0},{93,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,20}}</string>
			<key>sourceSize</key>
			<string>{93,20}</string>
		</dict>
		<key>st_fol_stone_small2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,995},{72,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,18}}</string>
			<key>sourceSize</key>
			<string>{72,18}</string>
		</dict>
		<key>st_fol_stone_tiny.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,116},{35,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,16}}</string>
			<key>sourceSize</key>
			<string>{35,16}</string>
		</dict>
		<key>wd_fol_root_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,669},{55,242}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,242}}</string>
			<key>sourceSize</key>
			<string>{55,242}</string>
		</dict>
		<key>wd_fol_root_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,653},{73,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,223}}</string>
			<key>sourceSize</key>
			<string>{73,223}</string>
		</dict>
		<key>wd_fol_root_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,653},{76,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,220}}</string>
			<key>sourceSize</key>
			<string>{76,220}</string>
		</dict>
		<key>wd_fol_root_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,944},{67,175}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{67,175}}</string>
			<key>sourceSize</key>
			<string>{69,175}</string>
		</dict>
		<key>wd_fol_root_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,877},{89,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,83}}</string>
			<key>sourceSize</key>
			<string>{89,83}</string>
		</dict>
		<key>wd_fol_root_bridge.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,360},{455,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,178}}</string>
			<key>sourceSize</key>
			<string>{455,178}</string>
		</dict>
		<key>wd_fol_root_overhang_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,185},{126,254}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,254}}</string>
			<key>sourceSize</key>
			<string>{126,254}</string>
		</dict>
		<key>wd_fol_root_overhang_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,416},{213,252}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,252}}</string>
			<key>sourceSize</key>
			<string>{213,252}</string>
		</dict>
		<key>wd_fol_root_peel1.png</key>
		<dict>
			<key>frame</key>
			<string>{{985,440},{27,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,210}}</string>
			<key>sourceSize</key>
			<string>{27,210}</string>
		</dict>
		<key>wd_fol_root_peel2.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,963},{38,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,191}}</string>
			<key>sourceSize</key>
			<string>{38,191}</string>
		</dict>
		<key>wd_fol_root_peel_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,669},{75,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,240}}</string>
			<key>sourceSize</key>
			<string>{75,240}</string>
		</dict>
		<key>wd_fol_tree_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{473,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{473,359}}</string>
			<key>sourceSize</key>
			<string>{473,359}</string>
		</dict>
		<key>wd_fol_tree_shaft.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,539},{180,420}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,420}}</string>
			<key>sourceSize</key>
			<string>{180,420}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ForestSheet_01.png</string>
		<key>size</key>
		<string>{1024,1013}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b2f9d997a407bd118fd196519d47bb84$</string>
		<key>textureFileName</key>
		<string>ForestSheet_01.png</string>
	</dict>
</dict>
</plist>
