<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sn_Frostlevel_switch_snow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1922,782},{122,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,40}}</string>
			<key>sourceSize</key>
			<string>{122,40}</string>
		</dict>
		<key>sn_crystal_purple_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1912,1609},{36,36}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{40,38}</string>
		</dict>
		<key>sn_crystal_purple_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1844,1721},{34,30}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{34,30}}</string>
			<key>sourceSize</key>
			<string>{40,38}</string>
		</dict>
		<key>sn_crystal_purple_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{1718,1535},{114,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,81}}</string>
			<key>sourceSize</key>
			<string>{114,81}</string>
		</dict>
		<key>sn_crystal_purple_medium.png</key>
		<dict>
			<key>frame</key>
			<string>{{957,1972},{102,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,55}}</string>
			<key>sourceSize</key>
			<string>{102,55}</string>
		</dict>
		<key>sn_crystal_purple_rock_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1833,1587},{75,31}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{75,31}}</string>
			<key>sourceSize</key>
			<string>{75,45}</string>
		</dict>
		<key>sn_crystal_purple_rock_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1904,1530},{57,40}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{57,40}}</string>
			<key>sourceSize</key>
			<string>{59,42}</string>
		</dict>
		<key>sn_crystal_purple_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1833,1535},{70,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,51}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>sn_crystal_red_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,1614},{36,36}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{40,38}</string>
		</dict>
		<key>sn_crystal_red_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1809,1721},{34,30}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{34,30}}</string>
			<key>sourceSize</key>
			<string>{40,38}</string>
		</dict>
		<key>sn_crystal_red_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,1951},{114,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,81}}</string>
			<key>sourceSize</key>
			<string>{114,81}</string>
		</dict>
		<key>sn_crystal_red_medium.png</key>
		<dict>
			<key>frame</key>
			<string>{{1654,1982},{102,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,55}}</string>
			<key>sourceSize</key>
			<string>{102,55}</string>
		</dict>
		<key>sn_crystal_red_rock_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1811,1503},{75,31}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{75,31}}</string>
			<key>sourceSize</key>
			<string>{75,45}</string>
		</dict>
		<key>sn_crystal_red_rock_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1935,1481},{57,40}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{57,40}}</string>
			<key>sourceSize</key>
			<string>{59,42}</string>
		</dict>
		<key>sn_crystal_red_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1028,1067},{70,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,51}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>sn_frostButton_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,1945},{212,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,26}}</string>
			<key>sourceSize</key>
			<string>{212,26}</string>
		</dict>
		<key>sn_frostButton_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1487,1535},{212,16}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{212,16}}</string>
			<key>sourceSize</key>
			<string>{212,26}</string>
		</dict>
		<key>sn_frostlevel_arc_half.png</key>
		<dict>
			<key>frame</key>
			<string>{{1417,840},{278,263}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{278,263}}</string>
			<key>sourceSize</key>
			<string>{284,263}</string>
		</dict>
		<key>sn_frostlevel_bowl.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690,619},{52,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,22}}</string>
			<key>sourceSize</key>
			<string>{52,22}</string>
		</dict>
		<key>sn_frostlevel_box_edit.png</key>
		<dict>
			<key>frame</key>
			<string>{{1873,1214},{123,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,73}}</string>
			<key>sourceSize</key>
			<string>{123,73}</string>
		</dict>
		<key>sn_frostlevel_brokenwall.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,1607},{143,392}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,392}}</string>
			<key>sourceSize</key>
			<string>{147,392}</string>
		</dict>
		<key>sn_frostlevel_bunny_cave.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,0},{526,398}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{526,398}}</string>
			<key>sourceSize</key>
			<string>{526,398}</string>
		</dict>
		<key>sn_frostlevel_chain.png</key>
		<dict>
			<key>frame</key>
			<string>{{1101,1792},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>sn_frostlevel_chain_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1461,1667},{12,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,32}}</string>
			<key>sourceSize</key>
			<string>{12,32}</string>
		</dict>
		<key>sn_frostlevel_e_switch_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{1922,649},{122,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,132}}</string>
			<key>sourceSize</key>
			<string>{122,132}</string>
		</dict>
		<key>sn_frostlevel_e_switch_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{1531,1903},{122,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,132}}</string>
			<key>sourceSize</key>
			<string>{122,132}</string>
		</dict>
		<key>sn_frostlevel_e_switch_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1531,1770},{122,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,132}}</string>
			<key>sourceSize</key>
			<string>{122,132}</string>
		</dict>
		<key>sn_frostlevel_enviro_icicle_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1867,1357},{86,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,45}}</string>
			<key>sourceSize</key>
			<string>{86,45}</string>
		</dict>
		<key>sn_frostlevel_enviro_icicle_medium.png</key>
		<dict>
			<key>frame</key>
			<string>{{1909,1571},{53,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,37}}</string>
			<key>sourceSize</key>
			<string>{53,37}</string>
		</dict>
		<key>sn_frostlevel_enviro_icicle_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,2024},{46,24}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{46,24}}</string>
			<key>sourceSize</key>
			<string>{46,26}</string>
		</dict>
		<key>sn_frostlevel_metal_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{1696,1040},{191,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,86}}</string>
			<key>sourceSize</key>
			<string>{191,86}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform.png</key>
		<dict>
			<key>frame</key>
			<string>{{1151,1730},{292,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,50}}</string>
			<key>sourceSize</key>
			<string>{292,50}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,1894},{292,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,50}}</string>
			<key>sourceSize</key>
			<string>{292,50}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,1843},{292,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,50}}</string>
			<key>sourceSize</key>
			<string>{292,50}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,1792},{292,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,50}}</string>
			<key>sourceSize</key>
			<string>{292,50}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1757,1988},{154,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,47}}</string>
			<key>sourceSize</key>
			<string>{154,47}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_small_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{1761,1940},{154,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,47}}</string>
			<key>sourceSize</key>
			<string>{154,47}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_small_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,1972},{154,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,47}}</string>
			<key>sourceSize</key>
			<string>{154,47}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_small_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,2000},{154,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,47}}</string>
			<key>sourceSize</key>
			<string>{154,47}</string>
		</dict>
		<key>sn_frostlevel_relief_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1944,1288},{69,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,70}}</string>
			<key>sourceSize</key>
			<string>{69,70}</string>
		</dict>
		<key>sn_frostlevel_relief_long.png</key>
		<dict>
			<key>frame</key>
			<string>{{2008,0},{36,648}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,18},{36,648}}</string>
			<key>sourceSize</key>
			<string>{78,666}</string>
		</dict>
		<key>sn_frostlevel_relief_mini.png</key>
		<dict>
			<key>frame</key>
			<string>{{1101,1944},{199,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,74}}</string>
			<key>sourceSize</key>
			<string>{199,74}</string>
		</dict>
		<key>sn_frostlevel_relief_short.png</key>
		<dict>
			<key>frame</key>
			<string>{{1474,1667},{56,349}}</string>
			<key>offset</key>
			<string>{-8,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,10},{56,349}}</string>
			<key>sourceSize</key>
			<string>{78,365}</string>
		</dict>
		<key>sn_frostlevel_relief_uberMinii.png</key>
		<dict>
			<key>frame</key>
			<string>{{1913,1397},{78,39}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,39}}</string>
			<key>sourceSize</key>
			<string>{80,39}</string>
		</dict>
		<key>sn_frostlevel_relief_wall.png</key>
		<dict>
			<key>frame</key>
			<string>{{1409,375},{280,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,308}}</string>
			<key>sourceSize</key>
			<string>{280,308}</string>
		</dict>
		<key>sn_frostlevel_relief_wall_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1851,1288},{92,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,68}}</string>
			<key>sourceSize</key>
			<string>{92,68}</string>
		</dict>
		<key>sn_frostlevel_rock_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1867,1488},{17,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,14}}</string>
			<key>sourceSize</key>
			<string>{17,14}</string>
		</dict>
		<key>sn_frostlevel_rock_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1939,638},{14,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,10}}</string>
			<key>sourceSize</key>
			<string>{14,10}</string>
		</dict>
		<key>sn_frostlevel_rock_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1028,1119},{18,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,13}}</string>
			<key>sourceSize</key>
			<string>{18,13}</string>
		</dict>
		<key>sn_frostlevel_rock_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,1377},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>sn_frostlevel_rock_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,1651},{22,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,15}}</string>
			<key>sourceSize</key>
			<string>{22,15}</string>
		</dict>
		<key>sn_frostlevel_runes_long_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{1809,1687},{102,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,33}}</string>
			<key>sourceSize</key>
			<string>{102,33}</string>
		</dict>
		<key>sn_frostlevel_runes_long_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1809,1653},{102,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,33}}</string>
			<key>sourceSize</key>
			<string>{102,33}</string>
		</dict>
		<key>sn_frostlevel_runes_long_ice.png</key>
		<dict>
			<key>frame</key>
			<string>{{1809,1619},{102,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,33}}</string>
			<key>sourceSize</key>
			<string>{102,33}</string>
		</dict>
		<key>sn_frostlevel_runes_square_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{1927,1437},{59,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,43}}</string>
			<key>sourceSize</key>
			<string>{59,43}</string>
		</dict>
		<key>sn_frostlevel_runes_square_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1867,1444},{59,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,43}}</string>
			<key>sourceSize</key>
			<string>{59,43}</string>
		</dict>
		<key>sn_frostlevel_runes_square_ice.png</key>
		<dict>
			<key>frame</key>
			<string>{{1417,1667},{59,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,43}}</string>
			<key>sourceSize</key>
			<string>{59,43}</string>
		</dict>
		<key>sn_frostlevel_snowground_bridge_mini.png</key>
		<dict>
			<key>frame</key>
			<string>{{1409,684},{304,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,155}}</string>
			<key>sourceSize</key>
			<string>{304,155}</string>
		</dict>
		<key>sn_frostlevel_snowground_broken_moving.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,1377},{340,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,80}}</string>
			<key>sourceSize</key>
			<string>{340,80}</string>
		</dict>
		<key>sn_frostlevel_snowground_broken_relief.png</key>
		<dict>
			<key>frame</key>
			<string>{{1284,375},{500,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{500,124}}</string>
			<key>sourceSize</key>
			<string>{500,124}</string>
		</dict>
		<key>sn_frostlevel_snowground_relief_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,1614},{164,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,52}}</string>
			<key>sourceSize</key>
			<string>{164,52}</string>
		</dict>
		<key>sn_frostlevel_snowground_steppes_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1437,1104},{241,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,176}}</string>
			<key>sourceSize</key>
			<string>{241,176}</string>
		</dict>
		<key>sn_frostlevel_snowground_steppes_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1284,0},{478,374}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{478,374}}</string>
			<key>sourceSize</key>
			<string>{484,374}</string>
		</dict>
		<key>sn_frostlevel_snowground_tower.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,1377},{236,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,201}}</string>
			<key>sourceSize</key>
			<string>{236,201}</string>
		</dict>
		<key>sn_frostlevel_snowground_tower_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1101,1826},{201,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,117}}</string>
			<key>sourceSize</key>
			<string>{201,117}</string>
		</dict>
		<key>sn_frostlevel_spear.png</key>
		<dict>
			<key>frame</key>
			<string>{{1722,375},{28,243}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,243}}</string>
			<key>sourceSize</key>
			<string>{28,243}</string>
		</dict>
		<key>sn_frostlevel_steppes_stones_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,1067},{297,309}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{297,309}}</string>
			<key>sourceSize</key>
			<string>{297,309}</string>
		</dict>
		<key>sn_frostlevel_steppes_stones_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,399},{502,313}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{502,313}}</string>
			<key>sourceSize</key>
			<string>{502,315}</string>
		</dict>
		<key>sn_frostlevel_switch_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1531,1637},{122,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,132}}</string>
			<key>sourceSize</key>
			<string>{122,132}</string>
		</dict>
		<key>sn_frostlevel_switch_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,1454},{122,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,132}}</string>
			<key>sourceSize</key>
			<string>{122,132}</string>
		</dict>
		<key>sn_frostlevel_window_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,1587},{44,408}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,408}}</string>
			<key>sourceSize</key>
			<string>{44,408}</string>
		</dict>
		<key>sn_frostlevel_wood_beam.png</key>
		<dict>
			<key>frame</key>
			<string>{{1654,1756},{99,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,118}}</string>
			<key>sourceSize</key>
			<string>{99,118}</string>
		</dict>
		<key>sn_ice_icicle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1754,1756},{57,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,122}}</string>
			<key>sourceSize</key>
			<string>{57,122}</string>
		</dict>
		<key>sn_ice_icicle_row.png</key>
		<dict>
			<key>frame</key>
			<string>{{1754,1814},{140,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,50}}</string>
			<key>sourceSize</key>
			<string>{140,50}</string>
		</dict>
		<key>sn_ice_icicle_row_platform.png</key>
		<dict>
			<key>frame</key>
			<string>{{1476,1552},{151,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,84}}</string>
			<key>sourceSize</key>
			<string>{151,84}</string>
		</dict>
		<key>sn_laser_receiver_emblem_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{1912,1646},{30,28}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,32},{30,28}}</string>
			<key>sourceSize</key>
			<string>{110,94}</string>
		</dict>
		<key>sn_laser_receiver_emblem_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{1879,1721},{30,28}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,32},{30,28}}</string>
			<key>sourceSize</key>
			<string>{110,94}</string>
		</dict>
		<key>sn_laser_receiver_emblem_frostfire.png</key>
		<dict>
			<key>frame</key>
			<string>{{1476,1637},{30,28}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,32},{30,28}}</string>
			<key>sourceSize</key>
			<string>{110,94}</string>
		</dict>
		<key>sn_light_cube.png</key>
		<dict>
			<key>frame</key>
			<string>{{1887,1488},{47,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,41}}</string>
			<key>sourceSize</key>
			<string>{47,41}</string>
		</dict>
		<key>sn_mountain_ground_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{756,534}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{756,534}}</string>
			<key>sourceSize</key>
			<string>{756,534}</string>
		</dict>
		<key>sn_mountain_ground_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1060},{606,546}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{606,546}}</string>
			<key>sourceSize</key>
			<string>{606,546}</string>
		</dict>
		<key>sn_mountain_stone_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1437,1281},{250,113}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,113}}</string>
			<key>sourceSize</key>
			<string>{252,113}</string>
		</dict>
		<key>sn_mountain_stone_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1679,1127},{193,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,115}}</string>
			<key>sourceSize</key>
			<string>{193,115}</string>
		</dict>
		<key>sn_mountain_stone_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1111,713},{172,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,162}}</string>
			<key>sourceSize</key>
			<string>{172,162}</string>
		</dict>
		<key>sn_mountain_stone_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1714,646},{207,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,194}}</string>
			<key>sourceSize</key>
			<string>{207,194}</string>
		</dict>
		<key>sn_relief_ring.png</key>
		<dict>
			<key>frame</key>
			<string>{{1628,1552},{74,89}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,89}}</string>
			<key>sourceSize</key>
			<string>{74,91}</string>
		</dict>
		<key>sn_relief_window.png</key>
		<dict>
			<key>frame</key>
			<string>{{1311,1133},{125,262}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{125,262}}</string>
			<key>sourceSize</key>
			<string>{131,262}</string>
		</dict>
		<key>sn_rocks_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1761,1865},{133,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,74}}</string>
			<key>sourceSize</key>
			<string>{133,74}</string>
		</dict>
		<key>sn_rocks_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1913,1359},{93,37}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,6},{93,37}}</string>
			<key>sourceSize</key>
			<string>{99,45}</string>
		</dict>
		<key>sn_sculpture_king.png</key>
		<dict>
			<key>frame</key>
			<string>{{1859,841},{160,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{160,197}}</string>
			<key>sourceSize</key>
			<string>{162,201}</string>
		</dict>
		<key>sn_sculpture_mountain_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,713},{368,353}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,353}}</string>
			<key>sourceSize</key>
			<string>{368,353}</string>
		</dict>
		<key>sn_sculpture_stone_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{1696,841},{162,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,198}}</string>
			<key>sourceSize</key>
			<string>{162,198}</string>
		</dict>
		<key>sn_snowground_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,535},{741,524}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{741,524}}</string>
			<key>sourceSize</key>
			<string>{743,524}</string>
		</dict>
		<key>sn_snowground_bridge_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1763,0},{645,175}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{645,175}}</string>
			<key>sourceSize</key>
			<string>{649,179}</string>
		</dict>
		<key>sn_snowground_bridge_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,1425},{310,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,122}}</string>
			<key>sourceSize</key>
			<string>{310,122}</string>
		</dict>
		<key>sn_snowground_pillar_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1301,2013},{161,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,32}}</string>
			<key>sourceSize</key>
			<string>{161,32}</string>
		</dict>
		<key>sn_snowground_relief.png</key>
		<dict>
			<key>frame</key>
			<string>{{1939,0},{637,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{637,68}}</string>
			<key>sourceSize</key>
			<string>{637,68}</string>
		</dict>
		<key>sn_snowground_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1028,1133},{282,291}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{282,291}}</string>
			<key>sourceSize</key>
			<string>{294,291}</string>
		</dict>
		<key>sn_snowground_small_stepstone.png</key>
		<dict>
			<key>frame</key>
			<string>{{1303,1826},{170,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,186}}</string>
			<key>sourceSize</key>
			<string>{170,186}</string>
		</dict>
		<key>sn_snowground_stairs_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,1548},{462,118}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{462,118}}</string>
			<key>sourceSize</key>
			<string>{462,122}</string>
		</dict>
		<key>sn_snowground_stairs_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{1888,1039},{174,114}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{174,114}}</string>
			<key>sourceSize</key>
			<string>{174,118}</string>
		</dict>
		<key>sn_spear_addon.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,1587},{18,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,112}}</string>
			<key>sourceSize</key>
			<string>{18,112}</string>
		</dict>
		<key>sn_spear_single.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690,375},{31,243}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,243}}</string>
			<key>sourceSize</key>
			<string>{31,243}</string>
		</dict>
		<key>sn_spear_single_addon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1260,399},{18,112}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{18,112}}</string>
			<key>sourceSize</key>
			<string>{28,112}</string>
		</dict>
		<key>sn_stone_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,2024},{350,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{350,23}}</string>
			<key>sourceSize</key>
			<string>{350,23}</string>
		</dict>
		<key>sn_stone_pillar_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1324,1396},{162,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,139}}</string>
			<key>sourceSize</key>
			<string>{162,139}</string>
		</dict>
		<key>sn_stone_pillar_bottom_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{1688,1243},{162,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,139}}</string>
			<key>sourceSize</key>
			<string>{162,139}</string>
		</dict>
		<key>sn_stone_pillar_mid.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,1060},{122,393}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,393}}</string>
			<key>sourceSize</key>
			<string>{122,393}</string>
		</dict>
		<key>sn_stone_pillar_mid_short.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,1718},{120,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,232}}</string>
			<key>sourceSize</key>
			<string>{120,232}</string>
		</dict>
		<key>sn_stone_pillar_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1649,1395},{161,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,139}}</string>
			<key>sourceSize</key>
			<string>{161,139}</string>
		</dict>
		<key>sn_stone_pillar_top_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{1487,1395},{161,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,139}}</string>
			<key>sourceSize</key>
			<string>{161,139}</string>
		</dict>
		<key>sn_stone_platform_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1151,1781},{278,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,44}}</string>
			<key>sourceSize</key>
			<string>{278,44}</string>
		</dict>
		<key>sn_stone_platform_hole.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,535},{14,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,61}}</string>
			<key>sourceSize</key>
			<string>{14,61}</string>
		</dict>
		<key>sn_stone_platform_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,2020},{144,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,27}}</string>
			<key>sourceSize</key>
			<string>{144,27}</string>
		</dict>
		<key>sn_stone_roof.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,1667},{605,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{605,62}}</string>
			<key>sourceSize</key>
			<string>{605,62}</string>
		</dict>
		<key>sn_stone_support_beam.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,1730},{342,61}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{342,61}}</string>
			<key>sourceSize</key>
			<string>{344,61}</string>
		</dict>
		<key>sn_stone_wall.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1607},{416,497}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{416,497}}</string>
			<key>sourceSize</key>
			<string>{416,497}</string>
		</dict>
		<key>sn_stone_wall_curve.png</key>
		<dict>
			<key>frame</key>
			<string>{{1111,876},{305,256}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{305,256}}</string>
			<key>sourceSize</key>
			<string>{307,256}</string>
		</dict>
		<key>sn_stone_wall_curve_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1654,1627},{154,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,128}}</string>
			<key>sourceSize</key>
			<string>{154,128}</string>
		</dict>
		<key>sn_stone_wall_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1811,1383},{55,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,119}}</string>
			<key>sourceSize</key>
			<string>{55,119}</string>
		</dict>
		<key>sn_stone_wall_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1654,1875},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>sn_trap_spike.png</key>
		<dict>
			<key>frame</key>
			<string>{{1444,1727},{29,60}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{29,60}}</string>
			<key>sourceSize</key>
			<string>{29,62}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FrostLevel_Sheet02-hd.png</string>
		<key>size</key>
		<string>{2044,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:92ef5a1e8091b5a43a221fd3421f7887$</string>
		<key>textureFileName</key>
		<string>FrostLevel_Sheet02-hd.png</string>
	</dict>
</dict>
</plist>
