<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sn_cage_carrot_angry.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,893},{21,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,21}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
		<key>sn_cage_carrot_happy.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,403},{77,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,47}}</string>
			<key>sourceSize</key>
			<string>{77,47}</string>
		</dict>
		<key>sn_cage_carrot_sad.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,769},{34,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,25}}</string>
			<key>sourceSize</key>
			<string>{34,25}</string>
		</dict>
		<key>sn_cage_carrot_scared.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,1001},{21,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,21}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
		<key>sn_cage_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,221},{82,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,47}}</string>
			<key>sourceSize</key>
			<string>{82,47}</string>
		</dict>
		<key>sn_carrot_bbq.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,694},{183,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,114}}</string>
			<key>sourceSize</key>
			<string>{183,114}</string>
		</dict>
		<key>sn_carrot_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,451},{118,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,72}}</string>
			<key>sourceSize</key>
			<string>{118,72}</string>
		</dict>
		<key>sn_carrot_snow_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,980},{37,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,18}}</string>
			<key>sourceSize</key>
			<string>{37,18}</string>
		</dict>
		<key>sn_carrot_snow_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,206},{17,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,6}}</string>
			<key>sourceSize</key>
			<string>{17,6}</string>
		</dict>
		<key>sn_carrot_snow_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,847},{18,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,12}}</string>
			<key>sourceSize</key>
			<string>{18,12}</string>
		</dict>
		<key>sn_carrot_snow_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,206},{11,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,7}}</string>
			<key>sourceSize</key>
			<string>{11,7}</string>
		</dict>
		<key>sn_carrot_snow_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,204},{47,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,9}}</string>
			<key>sourceSize</key>
			<string>{47,9}</string>
		</dict>
		<key>sn_carrot_snow_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,862},{15,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,8}}</string>
			<key>sourceSize</key>
			<string>{15,8}</string>
		</dict>
		<key>sn_carrot_snow_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,221},{17,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,10}}</string>
			<key>sourceSize</key>
			<string>{17,10}</string>
		</dict>
		<key>sn_carrot_with_syringes.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,885},{135,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,87}}</string>
			<key>sourceSize</key>
			<string>{135,87}</string>
		</dict>
		<key>sn_carrots_bag_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,269},{116,75}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{116,75}}</string>
			<key>sourceSize</key>
			<string>{120,75}</string>
		</dict>
		<key>sn_carrots_bag_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,619},{95,58}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{95,58}}</string>
			<key>sourceSize</key>
			<string>{105,64}</string>
		</dict>
		<key>sn_clubs.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,269},{67,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,107}}</string>
			<key>sourceSize</key>
			<string>{67,107}</string>
		</dict>
		<key>sn_frostLevel_mountain_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,271},{224,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,178}}</string>
			<key>sourceSize</key>
			<string>{224,178}</string>
		</dict>
		<key>sn_frostLevel_mountain_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,496},{197,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,178}}</string>
			<key>sourceSize</key>
			<string>{197,178}</string>
		</dict>
		<key>sn_frost_pot_small_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,796},{39,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,46}}</string>
			<key>sourceSize</key>
			<string>{39,46}</string>
		</dict>
		<key>sn_frost_pot_small_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,796},{40,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>sourceSize</key>
			<string>{40,46}</string>
		</dict>
		<key>sn_frost_pot_small_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,403},{40,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{40,50}</string>
		</dict>
		<key>sn_frostlevel_barricade.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,454},{172,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,112}}</string>
			<key>sourceSize</key>
			<string>{172,112}</string>
		</dict>
		<key>sn_frostlevel_bridge_broken.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{69,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,269}}</string>
			<key>sourceSize</key>
			<string>{69,269}</string>
		</dict>
		<key>sn_frostlevel_bridge_edge.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,271},{182,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,107}}</string>
			<key>sourceSize</key>
			<string>{182,107}</string>
		</dict>
		<key>sn_frostlevel_bridge_middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,1},{212,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,71}}</string>
			<key>sourceSize</key>
			<string>{212,71}</string>
		</dict>
		<key>sn_frostlevel_bridge_post.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,936},{36,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,56}}</string>
			<key>sourceSize</key>
			<string>{36,56}</string>
		</dict>
		<key>sn_frostlevel_door_closed.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,878},{52,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,144}}</string>
			<key>sourceSize</key>
			<string>{52,144}</string>
		</dict>
		<key>sn_frostlevel_door_leftside.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,878},{39,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,144}}</string>
			<key>sourceSize</key>
			<string>{39,144}</string>
		</dict>
		<key>sn_frostlevel_door_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,875},{70,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{70,146}}</string>
			<key>sourceSize</key>
			<string>{72,146}</string>
		</dict>
		<key>sn_frostlevel_door_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,221},{49,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,143}}</string>
			<key>sourceSize</key>
			<string>{49,143}</string>
		</dict>
		<key>sn_frostlevel_doorway_rightside.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,878},{42,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,143}}</string>
			<key>sourceSize</key>
			<string>{42,143}</string>
		</dict>
		<key>sn_frostlevel_doorway_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,875},{106,134}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{106,134}}</string>
			<key>sourceSize</key>
			<string>{108,134}</string>
		</dict>
		<key>sn_frostlevel_doorway_topside.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,214},{113,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,54}}</string>
			<key>sourceSize</key>
			<string>{113,54}</string>
		</dict>
		<key>sn_frostlevel_lantern.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,558},{33,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,60}}</string>
			<key>sourceSize</key>
			<string>{33,60}</string>
		</dict>
		<key>sn_frostlevel_laser_extender_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,627},{66,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,66}}</string>
			<key>sourceSize</key>
			<string>{66,66}</string>
		</dict>
		<key>sn_frostlevel_laser_extender_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,621},{68,68}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>sn_frostlevel_laser_extender_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,795},{38,40}}</string>
			<key>offset</key>
			<string>{-13,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{38,40}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>sn_frostlevel_laser_extender_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,795},{38,38}}</string>
			<key>offset</key>
			<string>{-13,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{38,38}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>sn_frostlevel_laser_extender_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,621},{68,68}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>sn_frostlevel_laser_receiver_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,570},{55,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,47}}</string>
			<key>sourceSize</key>
			<string>{55,47}</string>
		</dict>
		<key>sn_frostlevel_laser_receiver_fire_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,847},{11,27}}</string>
			<key>offset</key>
			<string>{14,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,9},{11,27}}</string>
			<key>sourceSize</key>
			<string>{55,47}</string>
		</dict>
		<key>sn_frostlevel_laser_receiver_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,573},{55,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,47}}</string>
			<key>sourceSize</key>
			<string>{55,47}</string>
		</dict>
		<key>sn_frostlevel_laser_receiver_frost_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,204},{9,25}}</string>
			<key>offset</key>
			<string>{15,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,10},{9,25}}</string>
			<key>sourceSize</key>
			<string>{55,47}</string>
		</dict>
		<key>sn_frostlevel_laser_receiver_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,573},{55,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,47}}</string>
			<key>sourceSize</key>
			<string>{55,47}</string>
		</dict>
		<key>sn_frostlevel_laser_shooter_fire_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,403},{43,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,47}}</string>
			<key>sourceSize</key>
			<string>{43,47}</string>
		</dict>
		<key>sn_frostlevel_laser_shooter_fire_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,847},{29,27}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{29,27}}</string>
			<key>sourceSize</key>
			<string>{43,47}</string>
		</dict>
		<key>sn_frostlevel_laser_shooter_frost_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,221},{43,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,47}}</string>
			<key>sourceSize</key>
			<string>{43,47}</string>
		</dict>
		<key>sn_frostlevel_laser_shooter_frost_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,769},{29,25}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{29,25}}</string>
			<key>sourceSize</key>
			<string>{43,47}</string>
		</dict>
		<key>sn_frostlevel_poster.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,269},{91,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,133}}</string>
			<key>sourceSize</key>
			<string>{91,133}</string>
		</dict>
		<key>sn_frostlevel_relief_square.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,454},{118,73}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{118,73}}</string>
			<key>sourceSize</key>
			<string>{128,73}</string>
		</dict>
		<key>sn_frostlevel_statue_tutorial.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,377},{72,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,67}}</string>
			<key>sourceSize</key>
			<string>{72,67}</string>
		</dict>
		<key>sn_frostlevel_statue_tutorial_attack.png</key>
		<dict>
			<key>frame</key>
			<string>{{618,678},{85,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,90}}</string>
			<key>sourceSize</key>
			<string>{85,90}</string>
		</dict>
		<key>sn_frostlevel_statue_tutorial_jump.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,936},{85,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,90}}</string>
			<key>sourceSize</key>
			<string>{85,90}</string>
		</dict>
		<key>sn_frostlevel_store_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,1},{204,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,132}}</string>
			<key>sourceSize</key>
			<string>{204,132}</string>
		</dict>
		<key>sn_frostlevel_store_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,627},{152,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,62}}</string>
			<key>sourceSize</key>
			<string>{152,62}</string>
		</dict>
		<key>sn_frostlevel_table.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,694},{190,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,74}}</string>
			<key>sourceSize</key>
			<string>{190,74}</string>
		</dict>
		<key>sn_frostlevel_tent.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,1},{202,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,102}}</string>
			<key>sourceSize</key>
			<string>{202,102}</string>
		</dict>
		<key>sn_frostlevel_trap_shooting_fire_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,796},{38,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,46}}</string>
			<key>sourceSize</key>
			<string>{38,46}</string>
		</dict>
		<key>sn_frostlevel_trap_shooting_fire_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,847},{11,26}}</string>
			<key>offset</key>
			<string>{6,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,9},{11,26}}</string>
			<key>sourceSize</key>
			<string>{39,46}</string>
		</dict>
		<key>sn_frostlevel_trap_shooting_frost_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,796},{38,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,46}}</string>
			<key>sourceSize</key>
			<string>{38,46}</string>
		</dict>
		<key>sn_frostlevel_trap_shooting_frost_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,847},{9,26}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,9},{9,26}}</string>
			<key>sourceSize</key>
			<string>{39,46}</string>
		</dict>
		<key>sn_frostlevel_trap_spear.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,980},{33,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,57}}</string>
			<key>sourceSize</key>
			<string>{33,57}</string>
		</dict>
		<key>sn_frostlevel_trap_wheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,451},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>sn_frostlevel_trap_wheel_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,558},{62,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,62}}</string>
			<key>sourceSize</key>
			<string>{62,62}</string>
		</dict>
		<key>sn_ice_icicle_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,694},{76,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{76,167}}</string>
			<key>sourceSize</key>
			<string>{78,167}</string>
		</dict>
		<key>sn_icewall_breakable_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,847},{109,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{109,156}}</string>
			<key>sourceSize</key>
			<string>{111,158}</string>
		</dict>
		<key>sn_icewall_breakable_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,690},{109,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{109,156}}</string>
			<key>sourceSize</key>
			<string>{111,158}</string>
		</dict>
		<key>sn_icewall_breakable_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,690},{109,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{109,156}}</string>
			<key>sourceSize</key>
			<string>{111,158}</string>
		</dict>
		<key>sn_lab_beaker_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,770},{25,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,39}}</string>
			<key>sourceSize</key>
			<string>{25,39}</string>
		</dict>
		<key>sn_lab_beaker_teal.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,770},{25,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,39}}</string>
			<key>sourceSize</key>
			<string>{25,39}</string>
		</dict>
		<key>sn_lab_beaker_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,847},{25,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,39}}</string>
			<key>sourceSize</key>
			<string>{25,39}</string>
		</dict>
		<key>sn_lab_rod.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,206},{67,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,3}}</string>
			<key>sourceSize</key>
			<string>{67,3}</string>
		</dict>
		<key>sn_lab_rod_fitting.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,206},{12,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,4}}</string>
			<key>sourceSize</key>
			<string>{12,4}</string>
		</dict>
		<key>sn_lab_stand_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{629,843},{21,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,79}}</string>
			<key>sourceSize</key>
			<string>{21,79}</string>
		</dict>
		<key>sn_lab_stand_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,923},{21,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,77}}</string>
			<key>sourceSize</key>
			<string>{21,77}</string>
		</dict>
		<key>sn_lab_test_tube_cork.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,847},{12,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,10}}</string>
			<key>sourceSize</key>
			<string>{12,10}</string>
		</dict>
		<key>sn_lab_test_tube_small_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,1010},{12,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,31}}</string>
			<key>sourceSize</key>
			<string>{12,31}</string>
		</dict>
		<key>sn_lab_test_tube_small_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,1010},{12,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,32}}</string>
			<key>sourceSize</key>
			<string>{12,32}</string>
		</dict>
		<key>sn_lab_test_tube_small_lightblue.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,1010},{12,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,32}}</string>
			<key>sourceSize</key>
			<string>{12,32}</string>
		</dict>
		<key>sn_lab_test_tube_small_orange.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,1010},{12,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,31}}</string>
			<key>sourceSize</key>
			<string>{12,31}</string>
		</dict>
		<key>sn_lab_test_tube_small_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,862},{12,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,32}}</string>
			<key>sourceSize</key>
			<string>{12,32}</string>
		</dict>
		<key>sn_lab_test_tube_small_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,862},{12,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,32}}</string>
			<key>sourceSize</key>
			<string>{12,32}</string>
		</dict>
		<key>sn_lab_test_tube_small_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,862},{12,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,32}}</string>
			<key>sourceSize</key>
			<string>{12,32}</string>
		</dict>
		<key>sn_large_test_tube_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,678},{58,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,91}}</string>
			<key>sourceSize</key>
			<string>{58,91}</string>
		</dict>
		<key>sn_move_block_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,690},{105,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,70}}</string>
			<key>sourceSize</key>
			<string>{105,70}</string>
		</dict>
		<key>sn_move_block_frost_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,834},{58,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>sn_old_book_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,386},{78,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,16}}</string>
			<key>sourceSize</key>
			<string>{78,16}</string>
		</dict>
		<key>sn_syringe_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,1004},{61,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,18}}</string>
			<key>sourceSize</key>
			<string>{61,18}</string>
		</dict>
		<key>sn_syringe_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,1004},{61,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,18}}</string>
			<key>sourceSize</key>
			<string>{61,18}</string>
		</dict>
		<key>sn_table_shadow_ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,214},{210,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,6}}</string>
			<key>sourceSize</key>
			<string>{210,6}</string>
		</dict>
		<key>sn_table_shadow_wall.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,1},{219,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,70}}</string>
			<key>sourceSize</key>
			<string>{219,70}</string>
		</dict>
		<key>sn_test_tube_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,908},{57,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,71}}</string>
			<key>sourceSize</key>
			<string>{57,71}</string>
		</dict>
		<key>sn_test_tube_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,836},{58,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,71}}</string>
			<key>sourceSize</key>
			<string>{58,71}</string>
		</dict>
		<key>sn_test_tube_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,843},{57,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,84}}</string>
			<key>sourceSize</key>
			<string>{57,84}</string>
		</dict>
		<key>sn_torch_pillar.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,843},{57,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,92}}</string>
			<key>sourceSize</key>
			<string>{57,92}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FrostLevel_Sheet01.png</string>
		<key>size</key>
		<string>{768,1023}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:86b46c26a7774046d9e8c0dbe89daee1$</string>
		<key>textureFileName</key>
		<string>FrostLevel_Sheet01.png</string>
	</dict>
</dict>
</plist>
