<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sn_cage_carrot_angry.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,1690},{41,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,42}}</string>
			<key>sourceSize</key>
			<string>{41,42}</string>
		</dict>
		<key>sn_cage_carrot_happy.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,1223},{153,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,93}}</string>
			<key>sourceSize</key>
			<string>{153,93}</string>
		</dict>
		<key>sn_cage_carrot_sad.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,1329},{68,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,50}}</string>
			<key>sourceSize</key>
			<string>{68,50}</string>
		</dict>
		<key>sn_cage_carrot_scared.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,1690},{41,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,42}}</string>
			<key>sourceSize</key>
			<string>{41,42}</string>
		</dict>
		<key>sn_cage_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{925,1592},{164,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,93}}</string>
			<key>sourceSize</key>
			<string>{164,93}</string>
		</dict>
		<key>sn_carrot_bbq.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1381},{365,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{365,227}}</string>
			<key>sourceSize</key>
			<string>{365,227}</string>
		</dict>
		<key>sn_carrot_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,986},{236,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,143}}</string>
			<key>sourceSize</key>
			<string>{236,143}</string>
		</dict>
		<key>sn_carrot_snow_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1075,1149},{73,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,36}}</string>
			<key>sourceSize</key>
			<string>{73,36}</string>
		</dict>
		<key>sn_carrot_snow_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,408},{31,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{31,11}}</string>
			<key>sourceSize</key>
			<string>{33,11}</string>
		</dict>
		<key>sn_carrot_snow_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,1714},{36,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,23}}</string>
			<key>sourceSize</key>
			<string>{36,23}</string>
		</dict>
		<key>sn_carrot_snow_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,408},{21,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,14}}</string>
			<key>sourceSize</key>
			<string>{21,14}</string>
		</dict>
		<key>sn_carrot_snow_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,408},{93,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,17}}</string>
			<key>sourceSize</key>
			<string>{93,17}</string>
		</dict>
		<key>sn_carrot_snow_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,408},{29,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,16}}</string>
			<key>sourceSize</key>
			<string>{29,16}</string>
		</dict>
		<key>sn_carrot_snow_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,1690},{34,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,20}}</string>
			<key>sourceSize</key>
			<string>{34,20}</string>
		</dict>
		<key>sn_carrot_with_syringes.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,1746},{270,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,174}}</string>
			<key>sourceSize</key>
			<string>{270,174}</string>
		</dict>
		<key>sn_carrots_bag_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,986},{240,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,149}}</string>
			<key>sourceSize</key>
			<string>{240,149}</string>
		</dict>
		<key>sn_carrots_bag_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,786},{190,119}}</string>
			<key>offset</key>
			<string>{6,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,0},{190,119}}</string>
			<key>sourceSize</key>
			<string>{210,127}</string>
		</dict>
		<key>sn_clubs.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,538},{134,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,213}}</string>
			<key>sourceSize</key>
			<string>{134,213}</string>
		</dict>
		<key>sn_frostLevel_mountain_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,539},{448,355}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{448,355}}</string>
			<key>sourceSize</key>
			<string>{448,355}</string>
		</dict>
		<key>sn_frostLevel_mountain_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,988},{392,356}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{392,356}}</string>
			<key>sourceSize</key>
			<string>{394,356}</string>
		</dict>
		<key>sn_frost_pot_small_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1224,1134},{78,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,92}}</string>
			<key>sourceSize</key>
			<string>{78,92}</string>
		</dict>
		<key>sn_frost_pot_small_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,438},{80,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,92}}</string>
			<key>sourceSize</key>
			<string>{80,92}</string>
		</dict>
		<key>sn_frost_pot_small_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,438},{80,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,100}}</string>
			<key>sourceSize</key>
			<string>{80,100}</string>
		</dict>
		<key>sn_frostlevel_barricade.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,987},{341,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{341,223}}</string>
			<key>sourceSize</key>
			<string>{343,223}</string>
		</dict>
		<key>sn_frostlevel_bridge_broken.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{138,537}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,537}}</string>
			<key>sourceSize</key>
			<string>{138,537}</string>
		</dict>
		<key>sn_frostlevel_bridge_edge.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,1381},{364,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{364,214}}</string>
			<key>sourceSize</key>
			<string>{364,214}</string>
		</dict>
		<key>sn_frostlevel_bridge_middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,1},{424,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{424,141}}</string>
			<key>sourceSize</key>
			<string>{424,141}</string>
		</dict>
		<key>sn_frostlevel_bridge_post.png</key>
		<dict>
			<key>frame</key>
			<string>{{1112,1149},{71,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,111}}</string>
			<key>sourceSize</key>
			<string>{71,111}</string>
		</dict>
		<key>sn_frostlevel_door_closed.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,1747},{104,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,288}}</string>
			<key>sourceSize</key>
			<string>{104,288}</string>
		</dict>
		<key>sn_frostlevel_door_leftside.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,1746},{77,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,287}}</string>
			<key>sourceSize</key>
			<string>{77,287}</string>
		</dict>
		<key>sn_frostlevel_door_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1747},{140,290}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{140,290}}</string>
			<key>sourceSize</key>
			<string>{144,292}</string>
		</dict>
		<key>sn_frostlevel_door_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,440},{98,285}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,285}}</string>
			<key>sourceSize</key>
			<string>{98,285}</string>
		</dict>
		<key>sn_frostlevel_doorway_rightside.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,1746},{83,286}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,286}}</string>
			<key>sourceSize</key>
			<string>{83,286}</string>
		</dict>
		<key>sn_frostlevel_doorway_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,539},{212,266}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{212,266}}</string>
			<key>sourceSize</key>
			<string>{216,268}</string>
		</dict>
		<key>sn_frostlevel_doorway_topside.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,539},{226,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,107}}</string>
			<key>sourceSize</key>
			<string>{226,107}</string>
		</dict>
		<key>sn_frostlevel_lantern.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,920},{66,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,120}}</string>
			<key>sourceSize</key>
			<string>{66,120}</string>
		</dict>
		<key>sn_frostlevel_laser_extender_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,405},{131,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,132}}</string>
			<key>sourceSize</key>
			<string>{131,132}</string>
		</dict>
		<key>sn_frostlevel_laser_extender_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1146,1723},{135,135}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,135}}</string>
			<key>sourceSize</key>
			<string>{143,143}</string>
		</dict>
		<key>sn_frostlevel_laser_extender_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{1170,1481},{75,75}}</string>
			<key>offset</key>
			<string>{-27,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,9},{75,75}}</string>
			<key>sourceSize</key>
			<string>{143,143}</string>
		</dict>
		<key>sn_frostlevel_laser_extender_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,1149},{73,73}}</string>
			<key>offset</key>
			<string>{-26,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{73,73}}</string>
			<key>sourceSize</key>
			<string>{143,143}</string>
		</dict>
		<key>sn_frostlevel_laser_extender_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1032,1865},{135,135}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,135}}</string>
			<key>sourceSize</key>
			<string>{143,143}</string>
		</dict>
		<key>sn_frostlevel_laser_receiver_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,1592},{108,94}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{108,94}}</string>
			<key>sourceSize</key>
			<string>{110,94}</string>
		</dict>
		<key>sn_frostlevel_laser_receiver_fire_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,1329},{18,50}}</string>
			<key>offset</key>
			<string>{29,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,21},{18,50}}</string>
			<key>sourceSize</key>
			<string>{110,94}</string>
		</dict>
		<key>sn_frostlevel_laser_receiver_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{734,1284},{108,94}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{108,94}}</string>
			<key>sourceSize</key>
			<string>{110,94}</string>
		</dict>
		<key>sn_frostlevel_laser_receiver_frost_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,1329},{18,50}}</string>
			<key>offset</key>
			<string>{30,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,20},{18,50}}</string>
			<key>sourceSize</key>
			<string>{110,94}</string>
		</dict>
		<key>sn_frostlevel_laser_receiver_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,438},{108,94}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{108,94}}</string>
			<key>sourceSize</key>
			<string>{110,94}</string>
		</dict>
		<key>sn_frostlevel_laser_shooter_fire_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,806},{86,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{86,92}}</string>
			<key>sourceSize</key>
			<string>{86,94}</string>
		</dict>
		<key>sn_frostlevel_laser_shooter_fire_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,1227},{56,72}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,20},{56,72}}</string>
			<key>sourceSize</key>
			<string>{86,94}</string>
		</dict>
		<key>sn_frostlevel_laser_shooter_frost_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,1291},{86,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{86,92}}</string>
			<key>sourceSize</key>
			<string>{86,94}</string>
		</dict>
		<key>sn_frostlevel_laser_shooter_frost_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,1329},{56,50}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,20},{56,50}}</string>
			<key>sourceSize</key>
			<string>{86,94}</string>
		</dict>
		<key>sn_frostlevel_poster.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,806},{179,265}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,265}}</string>
			<key>sourceSize</key>
			<string>{181,265}</string>
		</dict>
		<key>sn_frostlevel_relief_square.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,539},{246,146}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{246,146}}</string>
			<key>sourceSize</key>
			<string>{256,146}</string>
		</dict>
		<key>sn_frostlevel_statue_tutorial.png</key>
		<dict>
			<key>frame</key>
			<string>{{995,1223},{143,131}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,131}}</string>
			<key>sourceSize</key>
			<string>{143,133}</string>
		</dict>
		<key>sn_frostlevel_statue_tutorial_attack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1095,785},{170,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,180}}</string>
			<key>sourceSize</key>
			<string>{170,180}</string>
		</dict>
		<key>sn_frostlevel_statue_tutorial_jump.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,968},{170,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,180}}</string>
			<key>sourceSize</key>
			<string>{170,180}</string>
		</dict>
		<key>sn_frostlevel_store_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,1},{406,264}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{406,264}}</string>
			<key>sourceSize</key>
			<string>{408,264}</string>
		</dict>
		<key>sn_frostlevel_store_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,986},{304,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,124}}</string>
			<key>sourceSize</key>
			<string>{304,124}</string>
		</dict>
		<key>sn_frostlevel_table.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,539},{380,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{380,148}}</string>
			<key>sourceSize</key>
			<string>{380,148}</string>
		</dict>
		<key>sn_frostlevel_tent.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,1},{403,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{403,204}}</string>
			<key>sourceSize</key>
			<string>{403,204}</string>
		</dict>
		<key>sn_frostlevel_trap_shooting_fire_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1165,1577},{74,92}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{74,92}}</string>
			<key>sourceSize</key>
			<string>{76,92}</string>
		</dict>
		<key>sn_frostlevel_trap_shooting_fire_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,1329},{19,50}}</string>
			<key>offset</key>
			<string>{12,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,20},{19,50}}</string>
			<key>sourceSize</key>
			<string>{77,92}</string>
		</dict>
		<key>sn_frostlevel_trap_shooting_frost_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1090,1577},{74,92}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{74,92}}</string>
			<key>sourceSize</key>
			<string>{76,92}</string>
		</dict>
		<key>sn_frostlevel_trap_shooting_frost_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,1329},{19,50}}</string>
			<key>offset</key>
			<string>{13,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,20},{19,50}}</string>
			<key>sourceSize</key>
			<string>{77,92}</string>
		</dict>
		<key>sn_frostlevel_trap_spear.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,920},{65,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,114}}</string>
			<key>sourceSize</key>
			<string>{65,114}</string>
		</dict>
		<key>sn_frostlevel_trap_wheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,1379},{212,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,212}}</string>
			<key>sourceSize</key>
			<string>{212,212}</string>
		</dict>
		<key>sn_frostlevel_trap_wheel_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1168,1859},{124,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,124}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>sn_ice_icicle_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,1380},{154,333}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,333}}</string>
			<key>sourceSize</key>
			<string>{156,333}</string>
		</dict>
		<key>sn_icewall_breakable_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,1732},{216,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{216,310}}</string>
			<key>sourceSize</key>
			<string>{222,316}</string>
		</dict>
		<key>sn_icewall_breakable_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,1379},{216,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{216,310}}</string>
			<key>sourceSize</key>
			<string>{222,316}</string>
		</dict>
		<key>sn_icewall_breakable_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,1737},{216,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{216,310}}</string>
			<key>sourceSize</key>
			<string>{222,316}</string>
		</dict>
		<key>sn_lab_beaker_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{1185,1670},{49,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,78}}</string>
			<key>sourceSize</key>
			<string>{49,78}</string>
		</dict>
		<key>sn_lab_beaker_teal.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,1227},{49,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,78}}</string>
			<key>sourceSize</key>
			<string>{49,78}</string>
		</dict>
		<key>sn_lab_beaker_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,1329},{49,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,78}}</string>
			<key>sourceSize</key>
			<string>{49,78}</string>
		</dict>
		<key>sn_lab_rod.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,417},{133,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,6}}</string>
			<key>sourceSize</key>
			<string>{133,6}</string>
		</dict>
		<key>sn_lab_rod_fitting.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,408},{24,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,8}}</string>
			<key>sourceSize</key>
			<string>{24,8}</string>
		</dict>
		<key>sn_lab_stand_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,1690},{41,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,158}}</string>
			<key>sourceSize</key>
			<string>{41,158}</string>
		</dict>
		<key>sn_lab_stand_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,1223},{41,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,153}}</string>
			<key>sourceSize</key>
			<string>{41,153}</string>
		</dict>
		<key>sn_lab_test_tube_cork.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,1714},{23,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{23,18}}</string>
			<key>sourceSize</key>
			<string>{23,20}</string>
		</dict>
		<key>sn_lab_test_tube_small_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,2017},{23,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,62}}</string>
			<key>sourceSize</key>
			<string>{23,62}</string>
		</dict>
		<key>sn_lab_test_tube_small_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,1713},{22,61}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{22,61}}</string>
			<key>sourceSize</key>
			<string>{24,63}</string>
		</dict>
		<key>sn_lab_test_tube_small_lightblue.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,1690},{22,61}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{22,61}}</string>
			<key>sourceSize</key>
			<string>{24,63}</string>
		</dict>
		<key>sn_lab_test_tube_small_orange.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,2017},{23,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,62}}</string>
			<key>sourceSize</key>
			<string>{23,62}</string>
		</dict>
		<key>sn_lab_test_tube_small_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,1714},{22,62}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{22,62}}</string>
			<key>sourceSize</key>
			<string>{24,64}</string>
		</dict>
		<key>sn_lab_test_tube_small_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,2017},{24,62}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{24,62}}</string>
			<key>sourceSize</key>
			<string>{24,64}</string>
		</dict>
		<key>sn_lab_test_tube_small_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,1714},{22,61}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{22,61}}</string>
			<key>sourceSize</key>
			<string>{24,63}</string>
		</dict>
		<key>sn_large_test_tube_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,785},{115,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,182}}</string>
			<key>sourceSize</key>
			<string>{115,182}</string>
		</dict>
		<key>sn_move_block_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{1029,1367},{209,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,140}}</string>
			<key>sourceSize</key>
			<string>{209,140}</string>
		</dict>
		<key>sn_move_block_frost_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1170,1364},{116,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,114}}</string>
			<key>sourceSize</key>
			<string>{116,114}</string>
		</dict>
		<key>sn_old_book_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,752},{156,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,32}}</string>
			<key>sourceSize</key>
			<string>{156,32}</string>
		</dict>
		<key>sn_syringe_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1062,1686},{122,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,36}}</string>
			<key>sourceSize</key>
			<string>{122,36}</string>
		</dict>
		<key>sn_syringe_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,1686},{122,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,36}}</string>
			<key>sourceSize</key>
			<string>{122,36}</string>
		</dict>
		<key>sn_table_shadow_ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,426},{420,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{420,11}}</string>
			<key>sourceSize</key>
			<string>{420,11}</string>
		</dict>
		<key>sn_table_shadow_wall.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,1},{438,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{438,140}}</string>
			<key>sourceSize</key>
			<string>{438,140}</string>
		</dict>
		<key>sn_test_tube_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1032,1723},{113,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,141}}</string>
			<key>sourceSize</key>
			<string>{113,141}</string>
		</dict>
		<key>sn_test_tube_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1127,1221},{115,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,142}}</string>
			<key>sourceSize</key>
			<string>{115,142}</string>
		</dict>
		<key>sn_test_tube_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1172,966},{114,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,167}}</string>
			<key>sourceSize</key>
			<string>{114,167}</string>
		</dict>
		<key>sn_torch_pillar.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,424},{114,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,184}}</string>
			<key>sourceSize</key>
			<string>{114,184}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FrostLevel_Sheet01-hd.png</string>
		<key>size</key>
		<string>{1317,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:44ea9087ff9ad852efa534d47913abf2$</string>
		<key>textureFileName</key>
		<string>FrostLevel_Sheet01-hd.png</string>
	</dict>
</dict>
</plist>
