<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sn_Frostlevel_switch_snow.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,500},{61,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,20}}</string>
			<key>sourceSize</key>
			<string>{61,20}</string>
		</dict>
		<key>sn_crystal_purple_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,501},{18,19}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,19}}</string>
			<key>sourceSize</key>
			<string>{20,19}</string>
		</dict>
		<key>sn_crystal_purple_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,798},{18,15}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{18,15}}</string>
			<key>sourceSize</key>
			<string>{20,19}</string>
		</dict>
		<key>sn_crystal_purple_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,519},{57,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,41}}</string>
			<key>sourceSize</key>
			<string>{57,41}</string>
		</dict>
		<key>sn_crystal_purple_medium.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,521},{51,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,28}}</string>
			<key>sourceSize</key>
			<string>{51,28}</string>
		</dict>
		<key>sn_crystal_purple_rock_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,1007},{38,17}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{38,17}}</string>
			<key>sourceSize</key>
			<string>{38,23}</string>
		</dict>
		<key>sn_crystal_purple_rock_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,501},{30,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{30,19}}</string>
			<key>sourceSize</key>
			<string>{30,21}</string>
		</dict>
		<key>sn_crystal_purple_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,995},{35,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,26}}</string>
			<key>sourceSize</key>
			<string>{35,26}</string>
		</dict>
		<key>sn_crystal_red_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,431},{18,19}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,19}}</string>
			<key>sourceSize</key>
			<string>{20,19}</string>
		</dict>
		<key>sn_crystal_red_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,544},{18,15}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{18,15}}</string>
			<key>sourceSize</key>
			<string>{20,19}</string>
		</dict>
		<key>sn_crystal_red_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,461},{57,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,41}}</string>
			<key>sourceSize</key>
			<string>{57,41}</string>
		</dict>
		<key>sn_crystal_red_medium.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,322},{51,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,28}}</string>
			<key>sourceSize</key>
			<string>{51,28}</string>
		</dict>
		<key>sn_crystal_red_rock_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,1007},{38,17}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{38,17}}</string>
			<key>sourceSize</key>
			<string>{38,23}</string>
		</dict>
		<key>sn_crystal_red_rock_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,501},{30,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{30,19}}</string>
			<key>sourceSize</key>
			<string>{30,21}</string>
		</dict>
		<key>sn_crystal_red_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,437},{35,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,26}}</string>
			<key>sourceSize</key>
			<string>{35,26}</string>
		</dict>
		<key>sn_frostButton_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,792},{106,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,13}}</string>
			<key>sourceSize</key>
			<string>{106,13}</string>
		</dict>
		<key>sn_frostButton_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,397},{106,9}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{106,9}}</string>
			<key>sourceSize</key>
			<string>{106,13}</string>
		</dict>
		<key>sn_frostlevel_arc_half.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,663},{140,132}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{140,132}}</string>
			<key>sourceSize</key>
			<string>{142,132}</string>
		</dict>
		<key>sn_frostlevel_bowl.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,304},{26,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,11}}</string>
			<key>sourceSize</key>
			<string>{26,11}</string>
		</dict>
		<key>sn_frostlevel_box_edit.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,437},{62,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,37}}</string>
			<key>sourceSize</key>
			<string>{62,37}</string>
		</dict>
		<key>sn_frostlevel_brokenwall.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,798},{72,196}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,196}}</string>
			<key>sourceSize</key>
			<string>{74,196}</string>
		</dict>
		<key>sn_frostlevel_bunny_cave.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,304},{263,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,199}}</string>
			<key>sourceSize</key>
			<string>{263,199}</string>
		</dict>
		<key>sn_frostlevel_chain.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,519},{16,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,24}}</string>
			<key>sourceSize</key>
			<string>{16,24}</string>
		</dict>
		<key>sn_frostlevel_chain_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,281},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,16}}</string>
			<key>sourceSize</key>
			<string>{6,16}</string>
		</dict>
		<key>sn_frostlevel_e_switch_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,938},{61,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,66}}</string>
			<key>sourceSize</key>
			<string>{61,66}</string>
		</dict>
		<key>sn_frostlevel_e_switch_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,876},{61,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,66}}</string>
			<key>sourceSize</key>
			<string>{61,66}</string>
		</dict>
		<key>sn_frostlevel_e_switch_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,915},{61,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,66}}</string>
			<key>sourceSize</key>
			<string>{61,66}</string>
		</dict>
		<key>sn_frostlevel_enviro_icicle_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,360},{43,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,23}}</string>
			<key>sourceSize</key>
			<string>{43,23}</string>
		</dict>
		<key>sn_frostlevel_enviro_icicle_medium.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,977},{27,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,19}}</string>
			<key>sourceSize</key>
			<string>{27,19}</string>
		</dict>
		<key>sn_frostlevel_enviro_icicle_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,357},{23,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,13}}</string>
			<key>sourceSize</key>
			<string>{23,13}</string>
		</dict>
		<key>sn_frostlevel_metal_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,263},{96,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,43}}</string>
			<key>sourceSize</key>
			<string>{96,43}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,772},{146,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,25}}</string>
			<key>sourceSize</key>
			<string>{146,25}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,372},{146,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,25}}</string>
			<key>sourceSize</key>
			<string>{146,25}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{999,651},{146,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,25}}</string>
			<key>sourceSize</key>
			<string>{146,25}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{999,504},{146,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,25}}</string>
			<key>sourceSize</key>
			<string>{146,25}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,983},{77,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,24}}</string>
			<key>sourceSize</key>
			<string>{77,24}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_small_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,983},{77,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,24}}</string>
			<key>sourceSize</key>
			<string>{77,24}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_small_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,738},{77,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,24}}</string>
			<key>sourceSize</key>
			<string>{77,24}</string>
		</dict>
		<key>sn_frostlevel_powerstone_platform_small_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,660},{77,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,24}}</string>
			<key>sourceSize</key>
			<string>{77,24}</string>
		</dict>
		<key>sn_frostlevel_relief_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{577,983},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>sn_frostlevel_relief_long.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,263},{17,325}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,8},{17,325}}</string>
			<key>sourceSize</key>
			<string>{39,333}</string>
		</dict>
		<key>sn_frostlevel_relief_mini.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,577},{100,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,37}}</string>
			<key>sourceSize</key>
			<string>{100,37}</string>
		</dict>
		<key>sn_frostlevel_relief_short.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,372},{19,175}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,5},{19,175}}</string>
			<key>sourceSize</key>
			<string>{39,183}</string>
		</dict>
		<key>sn_frostlevel_relief_uberMinii.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,392},{38,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{38,20}}</string>
			<key>sourceSize</key>
			<string>{40,20}</string>
		</dict>
		<key>sn_frostlevel_relief_wall.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,521},{140,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,154}}</string>
			<key>sourceSize</key>
			<string>{140,154}</string>
		</dict>
		<key>sn_frostlevel_relief_wall_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,942},{46,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,34}}</string>
			<key>sourceSize</key>
			<string>{46,34}</string>
		</dict>
		<key>sn_frostlevel_rock_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,999},{9,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,7}}</string>
			<key>sourceSize</key>
			<string>{9,7}</string>
		</dict>
		<key>sn_frostlevel_rock_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,298},{7,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,5}}</string>
			<key>sourceSize</key>
			<string>{7,5}</string>
		</dict>
		<key>sn_frostlevel_rock_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,999},{9,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,7}}</string>
			<key>sourceSize</key>
			<string>{9,7}</string>
		</dict>
		<key>sn_frostlevel_rock_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,521},{7,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,8}}</string>
			<key>sourceSize</key>
			<string>{7,8}</string>
		</dict>
		<key>sn_frostlevel_rock_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,331},{11,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,8}}</string>
			<key>sourceSize</key>
			<string>{11,8}</string>
		</dict>
		<key>sn_frostlevel_runes_long_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,1007},{51,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,17}}</string>
			<key>sourceSize</key>
			<string>{51,17}</string>
		</dict>
		<key>sn_frostlevel_runes_long_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,1007},{51,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,17}}</string>
			<key>sourceSize</key>
			<string>{51,17}</string>
		</dict>
		<key>sn_frostlevel_runes_long_ice.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1007},{51,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,17}}</string>
			<key>sourceSize</key>
			<string>{51,17}</string>
		</dict>
		<key>sn_frostlevel_runes_square_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,497},{30,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,22}}</string>
			<key>sourceSize</key>
			<string>{30,22}</string>
		</dict>
		<key>sn_frostlevel_runes_square_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,497},{30,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,22}}</string>
			<key>sourceSize</key>
			<string>{30,22}</string>
		</dict>
		<key>sn_frostlevel_runes_square_ice.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,478},{30,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,22}}</string>
			<key>sourceSize</key>
			<string>{30,22}</string>
		</dict>
		<key>sn_frostlevel_snowground_bridge_mini.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,348},{152,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,78}}</string>
			<key>sourceSize</key>
			<string>{152,78}</string>
		</dict>
		<key>sn_frostlevel_snowground_broken_moving.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,348},{170,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,40}}</string>
			<key>sourceSize</key>
			<string>{170,40}</string>
		</dict>
		<key>sn_frostlevel_snowground_broken_relief.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,521},{250,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,62}}</string>
			<key>sourceSize</key>
			<string>{250,62}</string>
		</dict>
		<key>sn_frostlevel_snowground_relief_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,577},{82,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,26}}</string>
			<key>sourceSize</key>
			<string>{82,26}</string>
		</dict>
		<key>sn_frostlevel_snowground_steppes_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,348},{121,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,88}}</string>
			<key>sourceSize</key>
			<string>{121,88}</string>
		</dict>
		<key>sn_frostlevel_snowground_steppes_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,584},{240,187}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{240,187}}</string>
			<key>sourceSize</key>
			<string>{242,187}</string>
		</dict>
		<key>sn_frostlevel_snowground_tower.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,678},{118,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,101}}</string>
			<key>sourceSize</key>
			<string>{118,101}</string>
		</dict>
		<key>sn_frostlevel_snowground_tower_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,904},{101,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,59}}</string>
			<key>sourceSize</key>
			<string>{101,59}</string>
		</dict>
		<key>sn_frostlevel_spear.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,357},{14,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,122}}</string>
			<key>sourceSize</key>
			<string>{14,122}</string>
		</dict>
		<key>sn_frostlevel_steppes_stones_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,371},{149,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,155}}</string>
			<key>sourceSize</key>
			<string>{149,155}</string>
		</dict>
		<key>sn_frostlevel_steppes_stones_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,504},{251,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,158}}</string>
			<key>sourceSize</key>
			<string>{251,158}</string>
		</dict>
		<key>sn_frostlevel_switch_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,454},{61,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,66}}</string>
			<key>sourceSize</key>
			<string>{61,66}</string>
		</dict>
		<key>sn_frostlevel_switch_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,454},{61,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,66}}</string>
			<key>sourceSize</key>
			<string>{61,66}</string>
		</dict>
		<key>sn_frostlevel_window_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,316},{22,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,204}}</string>
			<key>sourceSize</key>
			<string>{22,204}</string>
		</dict>
		<key>sn_frostlevel_wood_beam.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,521},{50,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,59}}</string>
			<key>sourceSize</key>
			<string>{50,59}</string>
		</dict>
		<key>sn_ice_icicle.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,995},{29,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,61}}</string>
			<key>sourceSize</key>
			<string>{29,61}</string>
		</dict>
		<key>sn_ice_icicle_row.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,772},{70,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,25}}</string>
			<key>sourceSize</key>
			<string>{70,25}</string>
		</dict>
		<key>sn_ice_icicle_row_platform.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,384},{76,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,42}}</string>
			<key>sourceSize</key>
			<string>{76,42}</string>
		</dict>
		<key>sn_laser_receiver_emblem_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,501},{15,15}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,15},{15,15}}</string>
			<key>sourceSize</key>
			<string>{55,47}</string>
		</dict>
		<key>sn_laser_receiver_emblem_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,501},{15,15}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,15},{15,15}}</string>
			<key>sourceSize</key>
			<string>{55,47}</string>
		</dict>
		<key>sn_laser_receiver_emblem_frostfire.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,798},{15,15}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,15},{15,15}}</string>
			<key>sourceSize</key>
			<string>{55,47}</string>
		</dict>
		<key>sn_light_cube.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,977},{24,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,21}}</string>
			<key>sourceSize</key>
			<string>{24,21}</string>
		</dict>
		<key>sn_mountain_ground_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{378,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{378,267}}</string>
			<key>sourceSize</key>
			<string>{378,267}</string>
		</dict>
		<key>sn_mountain_ground_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{303,273}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,273}}</string>
			<key>sourceSize</key>
			<string>{303,273}</string>
		</dict>
		<key>sn_mountain_stone_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,663},{126,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,57}}</string>
			<key>sourceSize</key>
			<string>{126,57}</string>
		</dict>
		<key>sn_mountain_stone_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,663},{97,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,58}}</string>
			<key>sourceSize</key>
			<string>{97,58}</string>
		</dict>
		<key>sn_mountain_stone_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,793},{86,79}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,79}}</string>
			<key>sourceSize</key>
			<string>{86,81}</string>
		</dict>
		<key>sn_mountain_stone_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,806},{104,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,97}}</string>
			<key>sourceSize</key>
			<string>{104,97}</string>
		</dict>
		<key>sn_relief_ring.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,904},{37,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,46}}</string>
			<key>sourceSize</key>
			<string>{37,46}</string>
		</dict>
		<key>sn_relief_window.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,663},{64,131}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{64,131}}</string>
			<key>sourceSize</key>
			<string>{66,131}</string>
		</dict>
		<key>sn_rocks_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,452},{67,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,37}}</string>
			<key>sourceSize</key>
			<string>{67,37}</string>
		</dict>
		<key>sn_rocks_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,351},{48,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{48,19}}</string>
			<key>sourceSize</key>
			<string>{50,23}</string>
		</dict>
		<key>sn_sculpture_king.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,678},{81,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{81,99}}</string>
			<key>sourceSize</key>
			<string>{81,101}</string>
		</dict>
		<key>sn_sculpture_mountain_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,798},{184,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,177}}</string>
			<key>sourceSize</key>
			<string>{184,177}</string>
		</dict>
		<key>sn_sculpture_stone_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,798},{81,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,99}}</string>
			<key>sourceSize</key>
			<string>{81,99}</string>
		</dict>
		<key>sn_snowground_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,0},{370,262}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{370,262}}</string>
			<key>sourceSize</key>
			<string>{372,262}</string>
		</dict>
		<key>sn_snowground_bridge_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,268},{323,88}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{323,88}}</string>
			<key>sourceSize</key>
			<string>{325,90}</string>
		</dict>
		<key>sn_snowground_bridge_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,392},{155,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,61}}</string>
			<key>sourceSize</key>
			<string>{155,61}</string>
		</dict>
		<key>sn_snowground_pillar_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,370},{81,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,16}}</string>
			<key>sourceSize</key>
			<string>{81,16}</string>
		</dict>
		<key>sn_snowground_relief.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,281},{319,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,34}}</string>
			<key>sourceSize</key>
			<string>{319,34}</string>
		</dict>
		<key>sn_snowground_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,521},{141,146}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{141,146}}</string>
			<key>sourceSize</key>
			<string>{147,146}</string>
		</dict>
		<key>sn_snowground_small_stepstone.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,577},{85,91}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{85,91}}</string>
			<key>sourceSize</key>
			<string>{85,93}</string>
		</dict>
		<key>sn_snowground_stairs_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,792},{231,59}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{231,59}}</string>
			<key>sourceSize</key>
			<string>{231,61}</string>
		</dict>
		<key>sn_snowground_stairs_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,437},{87,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,59}}</string>
			<key>sourceSize</key>
			<string>{87,59}</string>
		</dict>
		<key>sn_spear_addon.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,519},{9,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,56}}</string>
			<key>sourceSize</key>
			<string>{9,56}</string>
		</dict>
		<key>sn_spear_single.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,1007},{16,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,122}}</string>
			<key>sourceSize</key>
			<string>{16,122}</string>
		</dict>
		<key>sn_spear_single_addon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,340},{10,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{10,56}}</string>
			<key>sourceSize</key>
			<string>{14,56}</string>
		</dict>
		<key>sn_stone_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,357},{175,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,12}}</string>
			<key>sourceSize</key>
			<string>{175,12}</string>
		</dict>
		<key>sn_stone_pillar_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{863,944},{81,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,70}}</string>
			<key>sourceSize</key>
			<string>{81,70}</string>
		</dict>
		<key>sn_stone_pillar_bottom_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,898},{81,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,70}}</string>
			<key>sourceSize</key>
			<string>{81,70}</string>
		</dict>
		<key>sn_stone_pillar_mid.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,816},{61,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,197}}</string>
			<key>sourceSize</key>
			<string>{61,197}</string>
		</dict>
		<key>sn_stone_pillar_mid_short.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,798},{60,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,116}}</string>
			<key>sourceSize</key>
			<string>{60,116}</string>
		</dict>
		<key>sn_stone_pillar_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,873},{81,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,70}}</string>
			<key>sourceSize</key>
			<string>{81,70}</string>
		</dict>
		<key>sn_stone_pillar_top_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,722},{81,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,70}}</string>
			<key>sourceSize</key>
			<string>{81,70}</string>
		</dict>
		<key>sn_stone_platform_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,521},{139,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,22}}</string>
			<key>sourceSize</key>
			<string>{139,22}</string>
		</dict>
		<key>sn_stone_platform_hole.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,470},{7,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,31}}</string>
			<key>sourceSize</key>
			<string>{7,31}</string>
		</dict>
		<key>sn_stone_platform_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,663},{72,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,14}}</string>
			<key>sourceSize</key>
			<string>{72,14}</string>
		</dict>
		<key>sn_stone_roof.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,316},{303,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,31}}</string>
			<key>sourceSize</key>
			<string>{303,31}</string>
		</dict>
		<key>sn_stone_support_beam.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,348},{172,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,31}}</string>
			<key>sourceSize</key>
			<string>{172,31}</string>
		</dict>
		<key>sn_stone_wall.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,798},{208,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,249}}</string>
			<key>sourceSize</key>
			<string>{208,249}</string>
		</dict>
		<key>sn_stone_wall_curve.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,663},{154,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,128}}</string>
			<key>sourceSize</key>
			<string>{154,128}</string>
		</dict>
		<key>sn_stone_wall_curve_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,798},{77,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,64}}</string>
			<key>sourceSize</key>
			<string>{77,64}</string>
		</dict>
		<key>sn_stone_wall_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,348},{28,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,60}}</string>
			<key>sourceSize</key>
			<string>{28,60}</string>
		</dict>
		<key>sn_stone_wall_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,268},{53,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,53}}</string>
			<key>sourceSize</key>
			<string>{53,53}</string>
		</dict>
		<key>sn_trap_spike.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,454},{15,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,31}}</string>
			<key>sourceSize</key>
			<string>{15,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FrostLevel_Sheet02.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a6ecc7c73974344d81bf67ba17a306e1$</string>
		<key>textureFileName</key>
		<string>FrostLevel_Sheet02.png</string>
	</dict>
</dict>
</plist>
