<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>FireImp_attack_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,0},{60,80}}</string>
			<key>offset</key>
			<string>{10,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,0},{60,80}}</string>
			<key>sourceSize</key>
			<string>{94,98}</string>
		</dict>
		<key>FireImp_attack_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,651},{52,70}}</string>
			<key>offset</key>
			<string>{2,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,10},{52,70}}</string>
			<key>sourceSize</key>
			<string>{94,98}</string>
		</dict>
		<key>FireImp_attack_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,726},{48,68}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,12},{48,68}}</string>
			<key>sourceSize</key>
			<string>{94,98}</string>
		</dict>
		<key>FireImp_attack_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,293},{48,74}}</string>
			<key>offset</key>
			<string>{3,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,6},{48,74}}</string>
			<key>sourceSize</key>
			<string>{94,98}</string>
		</dict>
		<key>FireImp_attack_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,60},{62,76}}</string>
			<key>offset</key>
			<string>{6,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,3},{62,76}}</string>
			<key>sourceSize</key>
			<string>{94,98}</string>
		</dict>
		<key>FireImp_attack_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,244},{66,74}}</string>
			<key>offset</key>
			<string>{14,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,5},{66,74}}</string>
			<key>sourceSize</key>
			<string>{94,98}</string>
		</dict>
		<key>FireImp_attack_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,369},{72,70}}</string>
			<key>offset</key>
			<string>{-3,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,10},{72,70}}</string>
			<key>sourceSize</key>
			<string>{94,98}</string>
		</dict>
		<key>FireImp_attack_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,400},{72,66}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,14},{72,66}}</string>
			<key>sourceSize</key>
			<string>{94,98}</string>
		</dict>
		<key>FireImp_attack_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,804},{68,66}}</string>
			<key>offset</key>
			<string>{7,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,13},{68,66}}</string>
			<key>sourceSize</key>
			<string>{94,98}</string>
		</dict>
		<key>FireImp_attack_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,832},{64,68}}</string>
			<key>offset</key>
			<string>{9,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,12},{64,68}}</string>
			<key>sourceSize</key>
			<string>{94,98}</string>
		</dict>
		<key>FireImp_backHand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,934},{11,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,14}}</string>
			<key>sourceSize</key>
			<string>{11,14}</string>
		</dict>
		<key>FireImp_backLeg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,978},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>FireImp_backShoulder_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,69},{8,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,9}}</string>
			<key>sourceSize</key>
			<string>{8,9}</string>
		</dict>
		<key>FireImp_backThigh_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,1008},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>FireImp_body_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,394},{23,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,34}}</string>
			<key>sourceSize</key>
			<string>{23,34}</string>
		</dict>
		<key>FireImp_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,593},{58,71}}</string>
			<key>offset</key>
			<string>{11,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,10},{58,71}}</string>
			<key>sourceSize</key>
			<string>{80,101}</string>
		</dict>
		<key>FireImp_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,223},{52,75}}</string>
			<key>offset</key>
			<string>{10,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,6},{52,75}}</string>
			<key>sourceSize</key>
			<string>{80,101}</string>
		</dict>
		<key>FireImp_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,55},{42,77}}</string>
			<key>offset</key>
			<string>{5,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,4},{42,77}}</string>
			<key>sourceSize</key>
			<string>{80,101}</string>
		</dict>
		<key>FireImp_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,300},{34,71}}</string>
			<key>offset</key>
			<string>{4,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,6},{34,71}}</string>
			<key>sourceSize</key>
			<string>{80,101}</string>
		</dict>
		<key>FireImp_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,198},{30,61}}</string>
			<key>offset</key>
			<string>{4,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,7},{30,61}}</string>
			<key>sourceSize</key>
			<string>{80,101}</string>
		</dict>
		<key>FireImp_death_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,259},{30,41}}</string>
			<key>offset</key>
			<string>{2,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,8},{30,41}}</string>
			<key>sourceSize</key>
			<string>{80,101}</string>
		</dict>
		<key>FireImp_death_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,89},{16,33}}</string>
			<key>offset</key>
			<string>{6,30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,4},{16,33}}</string>
			<key>sourceSize</key>
			<string>{80,101}</string>
		</dict>
		<key>FireImp_death_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,122},{10,21}}</string>
			<key>offset</key>
			<string>{8,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,2},{10,21}}</string>
			<key>sourceSize</key>
			<string>{80,101}</string>
		</dict>
		<key>FireImp_death_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,116},{6,7}}</string>
			<key>offset</key>
			<string>{9,47}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,0},{6,7}}</string>
			<key>sourceSize</key>
			<string>{80,101}</string>
		</dict>
		<key>FireImp_death_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,442},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>FireImp_ear_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,145},{15,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,13}}</string>
			<key>sourceSize</key>
			<string>{15,13}</string>
		</dict>
		<key>FireImp_fire_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,442},{30,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,28}}</string>
			<key>sourceSize</key>
			<string>{30,28}</string>
		</dict>
		<key>FireImp_foot_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,107},{9,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,7}}</string>
			<key>sourceSize</key>
			<string>{9,7}</string>
		</dict>
		<key>FireImp_frontHand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,1004},{12,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,13}}</string>
			<key>sourceSize</key>
			<string>{12,13}</string>
		</dict>
		<key>FireImp_frontLeg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,1004},{13,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,12}}</string>
			<key>sourceSize</key>
			<string>{13,12}</string>
		</dict>
		<key>FireImp_frontShoulder_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,88},{7,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,10}}</string>
			<key>sourceSize</key>
			<string>{7,10}</string>
		</dict>
		<key>FireImp_frontThigh_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,934},{13,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,14}}</string>
			<key>sourceSize</key>
			<string>{13,14}</string>
		</dict>
		<key>FireImp_head_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,934},{25,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,28}}</string>
			<key>sourceSize</key>
			<string>{25,28}</string>
		</dict>
		<key>FireImp_tailTip_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,122},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>FireImp_tail_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,26},{26,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,18}}</string>
			<key>sourceSize</key>
			<string>{26,18}</string>
		</dict>
		<key>FireImp_walk_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,708},{66,69}}</string>
			<key>offset</key>
			<string>{11,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,3},{66,69}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,870},{64,67}}</string>
			<key>offset</key>
			<string>{13,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,4},{64,67}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,897},{64,65}}</string>
			<key>offset</key>
			<string>{10,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,6},{64,65}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,833},{64,67}}</string>
			<key>offset</key>
			<string>{5,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,4},{64,67}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,896},{60,67}}</string>
			<key>offset</key>
			<string>{10,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,2},{60,67}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,464},{64,71}}</string>
			<key>offset</key>
			<string>{8,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,0},{64,71}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,508},{60,71}}</string>
			<key>offset</key>
			<string>{5,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,1},{60,71}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,568},{58,71}}</string>
			<key>offset</key>
			<string>{5,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,1},{58,71}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,956},{58,67}}</string>
			<key>offset</key>
			<string>{8,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,5},{58,67}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,961},{62,65}}</string>
			<key>offset</key>
			<string>{9,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,7},{62,65}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,770},{62,69}}</string>
			<key>offset</key>
			<string>{11,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,3},{62,69}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,673},{68,69}}</string>
			<key>offset</key>
			<string>{7,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,0},{68,69}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,466},{68,71}}</string>
			<key>offset</key>
			<string>{9,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,0},{68,71}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FireImp_walk_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,640},{68,69}}</string>
			<key>offset</key>
			<string>{11,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,2},{68,69}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>FrostImp_attack_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{57,81}}</string>
			<key>offset</key>
			<string>{8,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,0},{57,81}}</string>
			<key>sourceSize</key>
			<string>{103,99}</string>
		</dict>
		<key>FrostImp_attack_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,626},{47,71}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,10},{47,71}}</string>
			<key>sourceSize</key>
			<string>{103,99}</string>
		</dict>
		<key>FrostImp_attack_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,657},{45,69}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,11},{45,69}}</string>
			<key>sourceSize</key>
			<string>{103,99}</string>
		</dict>
		<key>FrostImp_attack_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,244},{49,75}}</string>
			<key>offset</key>
			<string>{3,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,5},{49,75}}</string>
			<key>sourceSize</key>
			<string>{103,99}</string>
		</dict>
		<key>FrostImp_attack_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,57},{65,77}}</string>
			<key>offset</key>
			<string>{8,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,3},{65,77}}</string>
			<key>sourceSize</key>
			<string>{103,99}</string>
		</dict>
		<key>FrostImp_attack_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,393},{71,71}}</string>
			<key>offset</key>
			<string>{16,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,9},{71,71}}</string>
			<key>sourceSize</key>
			<string>{103,99}</string>
		</dict>
		<key>FrostImp_attack_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,439},{69,71}}</string>
			<key>offset</key>
			<string>{-5,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,9},{69,71}}</string>
			<key>sourceSize</key>
			<string>{103,99}</string>
		</dict>
		<key>FrostImp_attack_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,703},{67,69}}</string>
			<key>offset</key>
			<string>{2,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,11},{67,69}}</string>
			<key>sourceSize</key>
			<string>{103,99}</string>
		</dict>
		<key>FrostImp_attack_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,741},{63,69}}</string>
			<key>offset</key>
			<string>{6,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,11},{63,69}}</string>
			<key>sourceSize</key>
			<string>{103,99}</string>
		</dict>
		<key>FrostImp_attack_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,528},{59,71}}</string>
			<key>offset</key>
			<string>{8,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,9},{59,71}}</string>
			<key>sourceSize</key>
			<string>{103,99}</string>
		</dict>
		<key>FrostImp_backHand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,934},{11,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,14}}</string>
			<key>sourceSize</key>
			<string>{11,14}</string>
		</dict>
		<key>FrostImp_backLeg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,965},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>FrostImp_backShoulder_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,60},{8,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,9}}</string>
			<key>sourceSize</key>
			<string>{8,9}</string>
		</dict>
		<key>FrostImp_backThigh_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,158},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>FrostImp_body_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,371},{23,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,34}}</string>
			<key>sourceSize</key>
			<string>{23,34}</string>
		</dict>
		<key>FrostImp_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,541},{43,71}}</string>
			<key>offset</key>
			<string>{5,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{43,71}}</string>
			<key>sourceSize</key>
			<string>{69,81}</string>
		</dict>
		<key>FrostImp_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,470},{41,71}}</string>
			<key>offset</key>
			<string>{5,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,0},{41,71}}</string>
			<key>sourceSize</key>
			<string>{69,81}</string>
		</dict>
		<key>FrostImp_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,956},{47,67}}</string>
			<key>offset</key>
			<string>{5,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,4},{47,67}}</string>
			<key>sourceSize</key>
			<string>{69,81}</string>
		</dict>
		<key>FrostImp_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,900},{53,65}}</string>
			<key>offset</key>
			<string>{6,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,6},{53,65}}</string>
			<key>sourceSize</key>
			<string>{69,81}</string>
		</dict>
		<key>FrostImp_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,794},{49,59}}</string>
			<key>offset</key>
			<string>{8,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,12},{49,59}}</string>
			<key>sourceSize</key>
			<string>{69,81}</string>
		</dict>
		<key>FrostImp_death_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,853},{47,51}}</string>
			<key>offset</key>
			<string>{10,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,21},{47,51}}</string>
			<key>sourceSize</key>
			<string>{69,81}</string>
		</dict>
		<key>FrostImp_death_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,612},{45,41}}</string>
			<key>offset</key>
			<string>{12,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,31},{45,41}}</string>
			<key>sourceSize</key>
			<string>{69,81}</string>
		</dict>
		<key>FrostImp_death_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,961},{47,25}}</string>
			<key>offset</key>
			<string>{8,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,47},{47,25}}</string>
			<key>sourceSize</key>
			<string>{69,81}</string>
		</dict>
		<key>FrostImp_death_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,52},{37,17}}</string>
			<key>offset</key>
			<string>{10,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,54},{37,17}}</string>
			<key>sourceSize</key>
			<string>{69,81}</string>
		</dict>
		<key>FrostImp_death_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,442},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>FrostImp_ear_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,132},{15,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,13}}</string>
			<key>sourceSize</key>
			<string>{15,13}</string>
		</dict>
		<key>FrostImp_fire_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,172},{31,26}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,26}}</string>
			<key>sourceSize</key>
			<string>{31,28}</string>
		</dict>
		<key>FrostImp_foot_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,98},{9,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,7}}</string>
			<key>sourceSize</key>
			<string>{9,7}</string>
		</dict>
		<key>FrostImp_frontHand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,991},{12,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,13}}</string>
			<key>sourceSize</key>
			<string>{12,13}</string>
		</dict>
		<key>FrostImp_frontLeg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,991},{13,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,12}}</string>
			<key>sourceSize</key>
			<string>{13,12}</string>
		</dict>
		<key>FrostImp_frontShoulder_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,78},{7,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,10}}</string>
			<key>sourceSize</key>
			<string>{7,10}</string>
		</dict>
		<key>FrostImp_frontThigh_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,1008},{13,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,14}}</string>
			<key>sourceSize</key>
			<string>{13,14}</string>
		</dict>
		<key>FrostImp_head_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,417},{25,32}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,32}}</string>
			<key>sourceSize</key>
			<string>{25,36}</string>
		</dict>
		<key>FrostImp_tail_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,0},{26,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,18}}</string>
			<key>sourceSize</key>
			<string>{26,18}</string>
		</dict>
		<key>FrostImp_walk_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,275},{61,73}}</string>
			<key>offset</key>
			<string>{9,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,4},{61,73}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,774},{59,69}}</string>
			<key>offset</key>
			<string>{12,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,7},{59,69}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,534},{59,71}}</string>
			<key>offset</key>
			<string>{9,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,5},{59,71}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,341},{59,73}}</string>
			<key>offset</key>
			<string>{3,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,3},{59,73}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,336},{57,73}}</string>
			<key>offset</key>
			<string>{8,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,1},{57,73}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,162},{61,75}}</string>
			<key>offset</key>
			<string>{6,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{61,75}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,0},{55,77}}</string>
			<key>offset</key>
			<string>{3,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{55,77}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,187},{57,75}}</string>
			<key>offset</key>
			<string>{3,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,2},{57,75}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,587},{53,71}}</string>
			<key>offset</key>
			<string>{7,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,5},{53,71}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,310},{59,73}}</string>
			<key>offset</key>
			<string>{8,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,4},{59,73}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,185},{59,75}}</string>
			<key>offset</key>
			<string>{10,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,1},{59,75}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,122},{63,75}}</string>
			<key>offset</key>
			<string>{6,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,0},{63,75}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,122},{65,75}}</string>
			<key>offset</key>
			<string>{7,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,0},{65,75}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
		<key>FrostImp_walk_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,97},{65,75}}</string>
			<key>offset</key>
			<string>{9,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,1},{65,75}}</string>
			<key>sourceSize</key>
			<string>{83,91}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ImpNPCSheet.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0d4593d0ce5d863686a17b64f39bb7c8$</string>
		<key>textureFileName</key>
		<string>ImpNPCSheet.png</string>
	</dict>
</dict>
</plist>
