<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>FireImp_attack_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,295},{117,160}}</string>
			<key>offset</key>
			<string>{20,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{55,0},{117,160}}</string>
			<key>sourceSize</key>
			<string>{187,196}</string>
		</dict>
		<key>FireImp_attack_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,664},{101,136}}</string>
			<key>offset</key>
			<string>{5,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,23},{101,136}}</string>
			<key>sourceSize</key>
			<string>{187,196}</string>
		</dict>
		<key>FireImp_attack_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,231},{93,134}}</string>
			<key>offset</key>
			<string>{-4,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,25},{93,134}}</string>
			<key>sourceSize</key>
			<string>{187,196}</string>
		</dict>
		<key>FireImp_attack_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,664},{95,146}}</string>
			<key>offset</key>
			<string>{6,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,13},{95,146}}</string>
			<key>sourceSize</key>
			<string>{187,196}</string>
		</dict>
		<key>FireImp_attack_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,0},{121,152}}</string>
			<key>offset</key>
			<string>{12,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,6},{121,152}}</string>
			<key>sourceSize</key>
			<string>{187,196}</string>
		</dict>
		<key>FireImp_attack_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,0},{131,148}}</string>
			<key>offset</key>
			<string>{28,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,10},{131,148}}</string>
			<key>sourceSize</key>
			<string>{187,196}</string>
		</dict>
		<key>FireImp_attack_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,296},{143,138}}</string>
			<key>offset</key>
			<string>{-7,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,21},{143,138}}</string>
			<key>sourceSize</key>
			<string>{187,196}</string>
		</dict>
		<key>FireImp_attack_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,131},{141,132}}</string>
			<key>offset</key>
			<string>{7,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,27},{141,132}}</string>
			<key>sourceSize</key>
			<string>{187,196}</string>
		</dict>
		<key>FireImp_attack_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,589},{133,132}}</string>
			<key>offset</key>
			<string>{15,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,26},{133,132}}</string>
			<key>sourceSize</key>
			<string>{187,196}</string>
		</dict>
		<key>FireImp_attack_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,586},{127,136}}</string>
			<key>offset</key>
			<string>{18,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,23},{127,136}}</string>
			<key>sourceSize</key>
			<string>{187,196}</string>
		</dict>
		<key>FireImp_backHand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,722},{22,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,27}}</string>
			<key>sourceSize</key>
			<string>{22,27}</string>
		</dict>
		<key>FireImp_backLeg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,997},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>FireImp_backShoulder_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,1003},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>FireImp_backThigh_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,412},{27,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,28}}</string>
			<key>sourceSize</key>
			<string>{27,28}</string>
		</dict>
		<key>FireImp_body_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,979},{45,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,68}}</string>
			<key>sourceSize</key>
			<string>{45,68}</string>
		</dict>
		<key>FireImp_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,689},{115,139}}</string>
			<key>offset</key>
			<string>{22,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,22},{115,139}}</string>
			<key>sourceSize</key>
			<string>{159,201}</string>
		</dict>
		<key>FireImp_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,0},{103,149}}</string>
			<key>offset</key>
			<string>{19,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,12},{103,149}}</string>
			<key>sourceSize</key>
			<string>{159,201}</string>
		</dict>
		<key>FireImp_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,937},{81,153}}</string>
			<key>offset</key>
			<string>{11,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,8},{81,153}}</string>
			<key>sourceSize</key>
			<string>{159,201}</string>
		</dict>
		<key>FireImp_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,956},{67,139}}</string>
			<key>offset</key>
			<string>{7,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,13},{67,139}}</string>
			<key>sourceSize</key>
			<string>{159,201}</string>
		</dict>
		<key>FireImp_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,525},{59,121}}</string>
			<key>offset</key>
			<string>{8,27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,13},{59,121}}</string>
			<key>sourceSize</key>
			<string>{159,201}</string>
		</dict>
		<key>FireImp_death_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,524},{57,81}}</string>
			<key>offset</key>
			<string>{5,44}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,16},{57,81}}</string>
			<key>sourceSize</key>
			<string>{159,201}</string>
		</dict>
		<key>FireImp_death_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,993},{31,63}}</string>
			<key>offset</key>
			<string>{12,60}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,9},{31,63}}</string>
			<key>sourceSize</key>
			<string>{159,201}</string>
		</dict>
		<key>FireImp_death_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,272},{19,39}}</string>
			<key>offset</key>
			<string>{15,76}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,5},{19,39}}</string>
			<key>sourceSize</key>
			<string>{159,201}</string>
		</dict>
		<key>FireImp_death_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,284},{11,13}}</string>
			<key>offset</key>
			<string>{18,94}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,0},{11,13}}</string>
			<key>sourceSize</key>
			<string>{159,201}</string>
		</dict>
		<key>FireImp_death_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,442},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
		<key>FireImp_ear_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,412},{30,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,25}}</string>
			<key>sourceSize</key>
			<string>{30,25}</string>
		</dict>
		<key>FireImp_fire_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,506},{60,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,56}}</string>
			<key>sourceSize</key>
			<string>{60,56}</string>
		</dict>
		<key>FireImp_foot_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,1003},{18,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,14}}</string>
			<key>sourceSize</key>
			<string>{18,14}</string>
		</dict>
		<key>FireImp_frontHand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,722},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{24,25}</string>
		</dict>
		<key>FireImp_frontLeg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,722},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
		<key>FireImp_frontShoulder_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,1003},{14,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,19}}</string>
			<key>sourceSize</key>
			<string>{14,19}</string>
		</dict>
		<key>FireImp_frontThigh_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,997},{26,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,28}}</string>
			<key>sourceSize</key>
			<string>{26,28}</string>
		</dict>
		<key>FireImp_head_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,324},{50,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,55}}</string>
			<key>sourceSize</key>
			<string>{50,55}</string>
		</dict>
		<key>FireImp_tailTip_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1003},{17,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,17}}</string>
			<key>sourceSize</key>
			<string>{17,17}</string>
		</dict>
		<key>FireImp_tail_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,551},{52,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,35}}</string>
			<key>sourceSize</key>
			<string>{52,35}</string>
		</dict>
		<key>FireImp_walk_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,860},{129,137}}</string>
			<key>offset</key>
			<string>{22,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,5},{129,137}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,121},{125,131}}</string>
			<key>offset</key>
			<string>{27,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,10},{125,131}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,248},{125,127}}</string>
			<key>offset</key>
			<string>{21,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,14},{125,127}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,115},{123,133}}</string>
			<key>offset</key>
			<string>{11,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,8},{123,133}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,375},{119,131}}</string>
			<key>offset</key>
			<string>{19,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,5},{119,131}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,412},{125,139}}</string>
			<key>offset</key>
			<string>{16,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,0},{125,139}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,385},{117,139}}</string>
			<key>offset</key>
			<string>{11,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,3},{117,139}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,0},{115,139}}</string>
			<key>offset</key>
			<string>{10,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,3},{115,139}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,244},{115,131}}</string>
			<key>offset</key>
			<string>{15,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,11},{115,131}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,115},{121,129}}</string>
			<key>offset</key>
			<string>{19,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,13},{121,129}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,252},{123,133}}</string>
			<key>offset</key>
			<string>{22,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,9},{123,133}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,860},{131,133}}</string>
			<key>offset</key>
			<string>{15,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,3},{131,133}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,589},{135,139}}</string>
			<key>offset</key>
			<string>{18,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,0},{135,139}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FireImp_walk_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,728},{135,137}}</string>
			<key>offset</key>
			<string>{22,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,4},{135,137}}</string>
			<key>sourceSize</key>
			<string>{179,161}</string>
		</dict>
		<key>FrostImp_attack_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,589},{111,162}}</string>
			<key>offset</key>
			<string>{17,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,0},{111,162}}</string>
			<key>sourceSize</key>
			<string>{205,198}</string>
		</dict>
		<key>FrostImp_attack_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,478},{91,140}}</string>
			<key>offset</key>
			<string>{2,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59,21},{91,140}}</string>
			<key>sourceSize</key>
			<string>{205,198}</string>
		</dict>
		<key>FrostImp_attack_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,188},{87,136}}</string>
			<key>offset</key>
			<string>{-7,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,24},{87,136}}</string>
			<key>sourceSize</key>
			<string>{205,198}</string>
		</dict>
		<key>FrostImp_attack_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,569},{95,150}}</string>
			<key>offset</key>
			<string>{6,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{61,10},{95,150}}</string>
			<key>sourceSize</key>
			<string>{205,198}</string>
		</dict>
		<key>FrostImp_attack_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,142},{129,154}}</string>
			<key>offset</key>
			<string>{16,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,6},{129,154}}</string>
			<key>sourceSize</key>
			<string>{205,198}</string>
		</dict>
		<key>FrostImp_attack_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{141,142}}</string>
			<key>offset</key>
			<string>{32,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,18},{141,142}}</string>
			<key>sourceSize</key>
			<string>{205,198}</string>
		</dict>
		<key>FrostImp_attack_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,142},{137,142}}</string>
			<key>offset</key>
			<string>{-10,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,18},{137,142}}</string>
			<key>sourceSize</key>
			<string>{205,198}</string>
		</dict>
		<key>FrostImp_attack_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,865},{133,138}}</string>
			<key>offset</key>
			<string>{4,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,22},{133,138}}</string>
			<key>sourceSize</key>
			<string>{205,198}</string>
		</dict>
		<key>FrostImp_attack_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,841},{121,138}}</string>
			<key>offset</key>
			<string>{13,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,22},{121,138}}</string>
			<key>sourceSize</key>
			<string>{205,198}</string>
		</dict>
		<key>FrostImp_attack_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,0},{115,142}}</string>
			<key>offset</key>
			<string>{16,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{61,18},{115,142}}</string>
			<key>sourceSize</key>
			<string>{205,198}</string>
		</dict>
		<key>FrostImp_backHand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,722},{22,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,27}}</string>
			<key>sourceSize</key>
			<string>{22,27}</string>
		</dict>
		<key>FrostImp_backLeg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,997},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>FrostImp_backShoulder_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{17,1003},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>FrostImp_backThigh_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,412},{27,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,28}}</string>
			<key>sourceSize</key>
			<string>{27,28}</string>
		</dict>
		<key>FrostImp_body_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,979},{45,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,68}}</string>
			<key>sourceSize</key>
			<string>{45,68}</string>
		</dict>
		<key>FrostImp_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,103},{85,142}}</string>
			<key>offset</key>
			<string>{10,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,0},{85,142}}</string>
			<key>sourceSize</key>
			<string>{137,162}</string>
		</dict>
		<key>FrostImp_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,471},{79,140}}</string>
			<key>offset</key>
			<string>{11,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,2},{79,140}}</string>
			<key>sourceSize</key>
			<string>{137,162}</string>
		</dict>
		<key>FrostImp_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,0},{89,134}}</string>
			<key>offset</key>
			<string>{11,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,8},{89,134}}</string>
			<key>sourceSize</key>
			<string>{137,162}</string>
		</dict>
		<key>FrostImp_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,103},{101,128}}</string>
			<key>offset</key>
			<string>{13,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,13},{101,128}}</string>
			<key>sourceSize</key>
			<string>{137,162}</string>
		</dict>
		<key>FrostImp_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,374},{97,118}}</string>
			<key>offset</key>
			<string>{16,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,24},{97,118}}</string>
			<key>sourceSize</key>
			<string>{137,162}</string>
		</dict>
		<key>FrostImp_death_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,810},{93,100}}</string>
			<key>offset</key>
			<string>{20,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,43},{93,100}}</string>
			<key>sourceSize</key>
			<string>{137,162}</string>
		</dict>
		<key>FrostImp_death_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,910},{89,78}}</string>
			<key>offset</key>
			<string>{24,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,65},{89,78}}</string>
			<key>sourceSize</key>
			<string>{137,162}</string>
		</dict>
		<key>FrostImp_death_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,524},{91,48}}</string>
			<key>offset</key>
			<string>{16,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,95},{91,48}}</string>
			<key>sourceSize</key>
			<string>{137,162}</string>
		</dict>
		<key>FrostImp_death_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,551},{71,32}}</string>
			<key>offset</key>
			<string>{21,-45}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,110},{71,32}}</string>
			<key>sourceSize</key>
			<string>{137,162}</string>
		</dict>
		<key>FrostImp_death_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,442},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
		<key>FrostImp_ear_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,412},{30,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,25}}</string>
			<key>sourceSize</key>
			<string>{30,25}</string>
		</dict>
		<key>FrostImp_fire_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,611},{59,52}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,52}}</string>
			<key>sourceSize</key>
			<string>{61,56}</string>
		</dict>
		<key>FrostImp_foot_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,1003},{18,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,14}}</string>
			<key>sourceSize</key>
			<string>{18,14}</string>
		</dict>
		<key>FrostImp_frontHand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,997},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{24,25}</string>
		</dict>
		<key>FrostImp_frontLeg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,722},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
		<key>FrostImp_frontShoulder_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,1003},{14,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,19}}</string>
			<key>sourceSize</key>
			<string>{14,19}</string>
		</dict>
		<key>FrostImp_frontThigh_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,997},{26,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,28}}</string>
			<key>sourceSize</key>
			<string>{26,28}</string>
		</dict>
		<key>FrostImp_head_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,324},{50,64}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,64}}</string>
			<key>sourceSize</key>
			<string>{50,72}</string>
		</dict>
		<key>FrostImp_tail_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,551},{52,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,35}}</string>
			<key>sourceSize</key>
			<string>{52,35}</string>
		</dict>
		<key>FrostImp_walk_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,722},{119,142}}</string>
			<key>offset</key>
			<string>{18,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{41,11},{119,142}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,572},{117,138}}</string>
			<key>offset</key>
			<string>{24,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,14},{117,138}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,699},{117,142}}</string>
			<key>offset</key>
			<string>{18,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,10},{117,142}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,584},{115,146}}</string>
			<key>offset</key>
			<string>{7,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,6},{115,146}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,747},{113,144}}</string>
			<key>offset</key>
			<string>{16,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,3},{113,144}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,408},{117,148}}</string>
			<key>offset</key>
			<string>{13,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,0},{117,148}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,751},{109,152}}</string>
			<key>offset</key>
			<string>{6,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,1},{109,152}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,828},{109,146}}</string>
			<key>offset</key>
			<string>{7,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,7},{109,146}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,375},{103,140}}</string>
			<key>offset</key>
			<string>{14,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,12},{103,140}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,841},{115,144}}</string>
			<key>offset</key>
			<string>{17,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,9},{115,144}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,291},{117,148}}</string>
			<key>offset</key>
			<string>{20,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,4},{117,148}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,865},{125,146}}</string>
			<key>offset</key>
			<string>{11,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,1},{125,146}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,439},{129,150}}</string>
			<key>offset</key>
			<string>{14,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,0},{129,150}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
		<key>FrostImp_walk_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,439},{125,150}}</string>
			<key>offset</key>
			<string>{19,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,2},{125,150}}</string>
			<key>sourceSize</key>
			<string>{165,182}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ImpNPCSheet.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:67d5466588465a96d24d12842a3f7498$</string>
		<key>textureFileName</key>
		<string>ImpNPCSheet.png</string>
	</dict>
</dict>
</plist>
