<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>FireKnight_arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,55},{14,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,22}}</string>
			<key>sourceSize</key>
			<string>{14,22}</string>
		</dict>
		<key>FireKnight_arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,21},{18,22}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,22}}</string>
			<key>sourceSize</key>
			<string>{18,24}</string>
		</dict>
		<key>FireKnight_body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,124},{40,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,41}}</string>
			<key>sourceSize</key>
			<string>{40,41}</string>
		</dict>
		<key>FireKnight_hand_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,149},{18,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,14}}</string>
			<key>sourceSize</key>
			<string>{18,14}</string>
		</dict>
		<key>FireKnight_hand_b_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,125},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>FireKnight_hand_l_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,100},{16,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,13}}</string>
			<key>sourceSize</key>
			<string>{16,13}</string>
		</dict>
		<key>FireKnight_head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,166},{30,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,29}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>FireKnight_heel_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,169},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>FireKnight_heel_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,159},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>FireKnight_leg_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,132},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>FireKnight_leg_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,91},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>FireKnight_leg_kneepad_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,85},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>FireKnight_leg_kneepad_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,51},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>FireKnight_shoulder_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,73},{22,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,17}}</string>
			<key>sourceSize</key>
			<string>{22,17}</string>
		</dict>
		<key>FireKnight_toes_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,179},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>FireKnight_toes_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,179},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>FrostKnight_arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,19},{14,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,22}}</string>
			<key>sourceSize</key>
			<string>{14,22}</string>
		</dict>
		<key>FrostKnight_arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,2},{18,22}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,22}}</string>
			<key>sourceSize</key>
			<string>{18,24}</string>
		</dict>
		<key>FrostKnight_body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,2},{40,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,41}}</string>
			<key>sourceSize</key>
			<string>{40,41}</string>
		</dict>
		<key>FrostKnight_hand_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,147},{18,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,14}}</string>
			<key>sourceSize</key>
			<string>{18,14}</string>
		</dict>
		<key>FrostKnight_hand_b_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,19},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>FrostKnight_hand_l_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,125},{16,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,13}}</string>
			<key>sourceSize</key>
			<string>{16,13}</string>
		</dict>
		<key>FrostKnight_head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{30,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,29}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>FrostKnight_heel_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,149},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>FrostKnight_heel_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,139},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>FrostKnight_leg_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,115},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>FrostKnight_leg_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,115},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>FrostKnight_leg_kneepad_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,34},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>FrostKnight_leg_kneepad_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,108},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>FrostKnight_shoulder_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,97},{22,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,17}}</string>
			<key>sourceSize</key>
			<string>{22,17}</string>
		</dict>
		<key>FrostKnight_toes_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,66},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>FrostKnight_toes_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,83},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>Knight_arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,40},{14,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,22}}</string>
			<key>sourceSize</key>
			<string>{14,22}</string>
		</dict>
		<key>Knight_arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,74},{18,22}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,22}}</string>
			<key>sourceSize</key>
			<string>{18,24}</string>
		</dict>
		<key>Knight_body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,81},{40,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,42}}</string>
			<key>sourceSize</key>
			<string>{40,42}</string>
		</dict>
		<key>Knight_hand_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,132},{18,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,14}}</string>
			<key>sourceSize</key>
			<string>{18,14}</string>
		</dict>
		<key>Knight_hand_b_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,162},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>Knight_hand_l_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,70},{16,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,14}}</string>
			<key>sourceSize</key>
			<string>{16,14}</string>
		</dict>
		<key>Knight_head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,43},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>Knight_heel_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,66},{16,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,10}}</string>
			<key>sourceSize</key>
			<string>{16,10}</string>
		</dict>
		<key>Knight_heel_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,114},{16,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,10}}</string>
			<key>sourceSize</key>
			<string>{16,10}</string>
		</dict>
		<key>Knight_leg_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,2},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>Knight_leg_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,2},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>Knight_leg_kneepad_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,179},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>Knight_leg_kneepad_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,162},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>Knight_shoulder_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,43},{22,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,18}}</string>
			<key>sourceSize</key>
			<string>{22,18}</string>
		</dict>
		<key>Knight_sword_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{20,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,78}}</string>
			<key>sourceSize</key>
			<string>{20,78}</string>
		</dict>
		<key>Knight_toes_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,34},{16,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,10}}</string>
			<key>sourceSize</key>
			<string>{16,10}</string>
		</dict>
		<key>Knight_toes_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,62},{16,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,10}}</string>
			<key>sourceSize</key>
			<string>{16,10}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Knight_Sheet.png</string>
		<key>size</key>
		<string>{128,197}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8b82fb0f89b49c9098c8a32436b96ad1$</string>
		<key>textureFileName</key>
		<string>Knight_Sheet.png</string>
	</dict>
</dict>
</plist>
