<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>FireKnight_arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,31},{28,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,44}}</string>
			<key>sourceSize</key>
			<string>{28,44}</string>
		</dict>
		<key>FireKnight_arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,39},{36,44}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,44}}</string>
			<key>sourceSize</key>
			<string>{36,48}</string>
		</dict>
		<key>FireKnight_body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,244},{80,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,82}}</string>
			<key>sourceSize</key>
			<string>{80,82}</string>
		</dict>
		<key>FireKnight_hand_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,319},{35,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,28}}</string>
			<key>sourceSize</key>
			<string>{35,28}</string>
		</dict>
		<key>FireKnight_hand_b_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,483},{28,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>FireKnight_hand_l_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,419},{32,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,26}}</string>
			<key>sourceSize</key>
			<string>{32,26}</string>
		</dict>
		<key>FireKnight_head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,327},{59,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,58}}</string>
			<key>sourceSize</key>
			<string>{59,58}</string>
		</dict>
		<key>FireKnight_heel_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,138},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>FireKnight_heel_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,209},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>FireKnight_leg_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,257},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>FireKnight_leg_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,257},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>FireKnight_leg_kneepad_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,417},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>FireKnight_leg_kneepad_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,386},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>FireKnight_shoulder_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,141},{44,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,34}}</string>
			<key>sourceSize</key>
			<string>{44,34}</string>
		</dict>
		<key>FireKnight_toes_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,290},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>FireKnight_toes_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,319},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>FrostKnight_arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,2},{28,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,44}}</string>
			<key>sourceSize</key>
			<string>{28,44}</string>
		</dict>
		<key>FrostKnight_arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,2},{36,44}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,44}}</string>
			<key>sourceSize</key>
			<string>{36,48}</string>
		</dict>
		<key>FrostKnight_body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,2},{80,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,82}}</string>
			<key>sourceSize</key>
			<string>{80,82}</string>
		</dict>
		<key>FrostKnight_hand_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,290},{35,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,28}}</string>
			<key>sourceSize</key>
			<string>{35,28}</string>
		</dict>
		<key>FrostKnight_hand_b_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,471},{28,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>FrostKnight_hand_l_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,419},{32,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,26}}</string>
			<key>sourceSize</key>
			<string>{32,26}</string>
		</dict>
		<key>FrostKnight_head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,327},{59,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,58}}</string>
			<key>sourceSize</key>
			<string>{59,58}</string>
		</dict>
		<key>FrostKnight_heel_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,446},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>FrostKnight_heel_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,452},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>FrostKnight_leg_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,176},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>FrostKnight_leg_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,224},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>FrostKnight_leg_kneepad_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,386},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>FrostKnight_leg_kneepad_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,386},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>FrostKnight_shoulder_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,189},{44,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,34}}</string>
			<key>sourceSize</key>
			<string>{44,34}</string>
		</dict>
		<key>FrostKnight_toes_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,452},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>FrostKnight_toes_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,446},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>Knight_arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,76},{28,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,44}}</string>
			<key>sourceSize</key>
			<string>{28,44}</string>
		</dict>
		<key>Knight_arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,144},{36,44}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,44}}</string>
			<key>sourceSize</key>
			<string>{36,48}</string>
		</dict>
		<key>Knight_body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,159},{80,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,84}}</string>
			<key>sourceSize</key>
			<string>{80,84}</string>
		</dict>
		<key>Knight_hand_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,290},{36,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,28}}</string>
			<key>sourceSize</key>
			<string>{36,28}</string>
		</dict>
		<key>Knight_hand_b_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,452},{28,30}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>Knight_hand_l_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,388},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>Knight_head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,83},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>Knight_heel_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,419},{32,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,20}}</string>
			<key>sourceSize</key>
			<string>{32,20}</string>
		</dict>
		<key>Knight_heel_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,419},{32,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,20}}</string>
			<key>sourceSize</key>
			<string>{32,20}</string>
		</dict>
		<key>Knight_leg_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,224},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>Knight_leg_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,105},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>Knight_leg_kneepad_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,386},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>Knight_leg_kneepad_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,355},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>Knight_shoulder_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,83},{44,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,36}}</string>
			<key>sourceSize</key>
			<string>{44,36}</string>
		</dict>
		<key>Knight_sword_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{40,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,156}}</string>
			<key>sourceSize</key>
			<string>{40,156}</string>
		</dict>
		<key>Knight_toes_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,446},{32,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,20}}</string>
			<key>sourceSize</key>
			<string>{32,20}</string>
		</dict>
		<key>Knight_toes_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,120},{32,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,20}}</string>
			<key>sourceSize</key>
			<string>{32,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Knight_Sheet.png</string>
		<key>size</key>
		<string>{217,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b0a12809a6c97e94cdffe17446d5df60$</string>
		<key>textureFileName</key>
		<string>Knight_Sheet.png</string>
	</dict>
</dict>
</plist>
