<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>LargeCreature_Eye_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,32},{56,22}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{56,22}}</string>
			<key>sourceSize</key>
			<string>{60,54}</string>
		</dict>
		<key>LargeCreature_Eye_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,1},{56,30}}</string>
			<key>offset</key>
			<string>{-2,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{56,30}}</string>
			<key>sourceSize</key>
			<string>{60,54}</string>
		</dict>
		<key>LargeCreature_Eye_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{56,36}}</string>
			<key>offset</key>
			<string>{-2,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,36}}</string>
			<key>sourceSize</key>
			<string>{60,54}</string>
		</dict>
		<key>LargeCreature_Mouth_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,55},{157,27}}</string>
			<key>offset</key>
			<string>{7,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,10},{157,27}}</string>
			<key>sourceSize</key>
			<string>{201,43}</string>
		</dict>
		<key>LargeCreature_Mouth_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,38},{175,41}}</string>
			<key>offset</key>
			<string>{13,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,0},{175,41}}</string>
			<key>sourceSize</key>
			<string>{201,43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>LargeCreature_Sheet.png</string>
		<key>size</key>
		<string>{115,214}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ce796fa1e86ce9519d8fa85d8b4167c4$</string>
		<key>textureFileName</key>
		<string>LargeCreature_Sheet.png</string>
	</dict>
</dict>
</plist>
