<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Fireling_Arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,177},{8,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,9}}</string>
			<key>sourceSize</key>
			<string>{8,9}</string>
		</dict>
		<key>Fireling_Arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,177},{7,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,10}}</string>
			<key>sourceSize</key>
			<string>{7,10}</string>
		</dict>
		<key>Fireling_Bandana_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,150},{29,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,7}}</string>
			<key>sourceSize</key>
			<string>{29,7}</string>
		</dict>
		<key>Fireling_Body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,159},{22,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,25}}</string>
			<key>sourceSize</key>
			<string>{22,25}</string>
		</dict>
		<key>Fireling_Ear_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,126},{25,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,12}}</string>
			<key>sourceSize</key>
			<string>{25,12}</string>
		</dict>
		<key>Fireling_Foot_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,187},{9,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,6}}</string>
			<key>sourceSize</key>
			<string>{9,6}</string>
		</dict>
		<key>Fireling_Foot_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,185},{9,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,6}}</string>
			<key>sourceSize</key>
			<string>{9,6}</string>
		</dict>
		<key>Fireling_Forearm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,189},{7,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,10}}</string>
			<key>sourceSize</key>
			<string>{7,10}</string>
		</dict>
		<key>Fireling_Forearm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,153},{7,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,11}}</string>
			<key>sourceSize</key>
			<string>{7,11}</string>
		</dict>
		<key>Fireling_Hand01_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,192},{8,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
		<key>Fireling_Hand01_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,193},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,8}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>Fireling_Hand02_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,194},{8,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
		<key>Fireling_Head01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,133},{29,28}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{29,28}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>Fireling_Head02_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,148},{29,27}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>Fireling_Head03_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,103},{29,28}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{29,28}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>Fireling_Head04_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,58},{35,30}}</string>
			<key>offset</key>
			<string>{5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,4},{35,30}}</string>
			<key>sourceSize</key>
			<string>{45,34}</string>
		</dict>
		<key>Fireling_Head05_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,119},{27,30}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{27,30}}</string>
			<key>sourceSize</key>
			<string>{27,32}</string>
		</dict>
		<key>Fireling_Leg_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,172},{10,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,8}}</string>
			<key>sourceSize</key>
			<string>{10,8}</string>
		</dict>
		<key>Fireling_Leg_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,179},{10,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,8}}</string>
			<key>sourceSize</key>
			<string>{10,8}</string>
		</dict>
		<key>Fireling_Shoulder_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,157},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>Fireling_Shoulder_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,145},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>Fireling_Thigh_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,86},{13,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,11}}</string>
			<key>sourceSize</key>
			<string>{13,11}</string>
		</dict>
		<key>Fireling_Thigh_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,73},{13,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,11}}</string>
			<key>sourceSize</key>
			<string>{13,11}</string>
		</dict>
		<key>Fireling_Toes_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,175},{7,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,5}}</string>
			<key>sourceSize</key>
			<string>{7,5}</string>
		</dict>
		<key>Fireling_Toes_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,166},{7,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,5}}</string>
			<key>sourceSize</key>
			<string>{7,5}</string>
		</dict>
		<key>Frostling_Arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,182},{8,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,9}}</string>
			<key>sourceSize</key>
			<string>{8,9}</string>
		</dict>
		<key>Frostling_Arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,183},{7,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,10}}</string>
			<key>sourceSize</key>
			<string>{7,10}</string>
		</dict>
		<key>Frostling_Bandana_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,90},{29,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,7}}</string>
			<key>sourceSize</key>
			<string>{29,7}</string>
		</dict>
		<key>Frostling_Body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,163},{22,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,25}}</string>
			<key>sourceSize</key>
			<string>{22,25}</string>
		</dict>
		<key>Frostling_Ear_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,99},{25,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,12}}</string>
			<key>sourceSize</key>
			<string>{25,12}</string>
		</dict>
		<key>Frostling_Foot_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,177},{9,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,6}}</string>
			<key>sourceSize</key>
			<string>{9,6}</string>
		</dict>
		<key>Frostling_Foot_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,186},{9,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,6}}</string>
			<key>sourceSize</key>
			<string>{9,6}</string>
		</dict>
		<key>Frostling_Forearm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,183},{7,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,10}}</string>
			<key>sourceSize</key>
			<string>{7,10}</string>
		</dict>
		<key>Frostling_Forearm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,24},{7,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,11}}</string>
			<key>sourceSize</key>
			<string>{7,11}</string>
		</dict>
		<key>Frostling_Hand01_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,192},{8,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
		<key>Frostling_Hand01_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,184},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,8}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>Frostling_Hand02_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,37},{8,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
		<key>Frostling_Head01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,91},{29,28}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{29,28}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>Frostling_Head02_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,121},{29,27}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>Frostling_Head03_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,47},{29,28}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{29,28}}</string>
			<key>sourceSize</key>
			<string>{29,30}</string>
		</dict>
		<key>Frostling_Head04_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,58},{35,30}}</string>
			<key>offset</key>
			<string>{5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,4},{35,30}}</string>
			<key>sourceSize</key>
			<string>{45,34}</string>
		</dict>
		<key>Frostling_Head05_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,90},{27,30}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{27,30}}</string>
			<key>sourceSize</key>
			<string>{27,32}</string>
		</dict>
		<key>Frostling_Leg_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,169},{10,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,8}}</string>
			<key>sourceSize</key>
			<string>{10,8}</string>
		</dict>
		<key>Frostling_Leg_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,162},{10,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,8}}</string>
			<key>sourceSize</key>
			<string>{10,8}</string>
		</dict>
		<key>Frostling_Shoulder_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,133},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>Frostling_Shoulder_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,121},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>Frostling_Thigh_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,60},{13,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,11}}</string>
			<key>sourceSize</key>
			<string>{13,11}</string>
		</dict>
		<key>Frostling_Thigh_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,47},{13,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,11}}</string>
			<key>sourceSize</key>
			<string>{13,11}</string>
		</dict>
		<key>Frostling_Toes_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,157},{7,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,5}}</string>
			<key>sourceSize</key>
			<string>{7,5}</string>
		</dict>
		<key>Frostling_Toes_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,148},{7,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,5}}</string>
			<key>sourceSize</key>
			<string>{7,5}</string>
		</dict>
		<key>Ling_Bomb_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,17},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>Ling_Dagger_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,78},{11,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,31}}</string>
			<key>sourceSize</key>
			<string>{11,31}</string>
		</dict>
		<key>Ling_FlameBackpack_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,24},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>Ling_Flamethrower_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,2},{44,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,20}}</string>
			<key>sourceSize</key>
			<string>{44,20}</string>
		</dict>
		<key>Ling_Pogo_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,2},{16,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,43}}</string>
			<key>sourceSize</key>
			<string>{16,43}</string>
		</dict>
		<key>Ling_Shoulderpad_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,17},{15,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,13}}</string>
			<key>sourceSize</key>
			<string>{15,13}</string>
		</dict>
		<key>Ling_Spear_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{57,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,13}}</string>
			<key>sourceSize</key>
			<string>{57,13}</string>
		</dict>
		<key>Ling_Strap_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,32},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>Ling_Sword_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,90},{11,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,35}}</string>
			<key>sourceSize</key>
			<string>{11,35}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Ling_Sheet.png</string>
		<key>size</key>
		<string>{128,203}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9a1e4007b240a02a8e6cb5bf9dfea077$</string>
		<key>textureFileName</key>
		<string>Ling_Sheet.png</string>
	</dict>
</dict>
</plist>
