<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Fireling_Arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,192},{15,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,18}}</string>
			<key>sourceSize</key>
			<string>{15,18}</string>
		</dict>
		<key>Fireling_Arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,325},{14,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,20}}</string>
			<key>sourceSize</key>
			<string>{14,20}</string>
		</dict>
		<key>Fireling_Bandana_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,241},{58,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,14}}</string>
			<key>sourceSize</key>
			<string>{58,14}</string>
		</dict>
		<key>Fireling_Body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,240},{42,50}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{42,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>Fireling_Ear_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,140},{50,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,24}}</string>
			<key>sourceSize</key>
			<string>{50,24}</string>
		</dict>
		<key>Fireling_Foot_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,122},{18,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,12}}</string>
			<key>sourceSize</key>
			<string>{18,12}</string>
		</dict>
		<key>Fireling_Foot_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,102},{18,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,12}}</string>
			<key>sourceSize</key>
			<string>{18,12}</string>
		</dict>
		<key>Fireling_Forearm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,319},{14,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,20}}</string>
			<key>sourceSize</key>
			<string>{14,20}</string>
		</dict>
		<key>Fireling_Forearm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,308},{14,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,22}}</string>
			<key>sourceSize</key>
			<string>{14,22}</string>
		</dict>
		<key>Fireling_Hand01_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,313},{16,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,14}}</string>
			<key>sourceSize</key>
			<string>{16,14}</string>
		</dict>
		<key>Fireling_Hand01_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,313},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>Fireling_Hand02_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,337},{16,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,13}}</string>
			<key>sourceSize</key>
			<string>{16,13}</string>
		</dict>
		<key>Fireling_Head01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,111},{55,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{55,56}}</string>
			<key>sourceSize</key>
			<string>{57,60}</string>
		</dict>
		<key>Fireling_Head02_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,192},{58,53}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{58,53}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>Fireling_Head03_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,269},{58,53}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{58,53}}</string>
			<key>sourceSize</key>
			<string>{58,59}</string>
		</dict>
		<key>Fireling_Head04_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{69,60}}</string>
			<key>offset</key>
			<string>{10,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,8},{69,60}}</string>
			<key>sourceSize</key>
			<string>{89,68}</string>
		</dict>
		<key>Fireling_Head05_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,257},{54,57}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{54,57}}</string>
			<key>sourceSize</key>
			<string>{54,63}</string>
		</dict>
		<key>Fireling_Leg_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,303},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>Fireling_Leg_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,231},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>Fireling_Shoulder_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,303},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>Fireling_Shoulder_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,297},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>Fireling_Thigh_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,284},{24,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{24,22}}</string>
			<key>sourceSize</key>
			<string>{26,22}</string>
		</dict>
		<key>Fireling_Thigh_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,284},{24,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{24,22}}</string>
			<key>sourceSize</key>
			<string>{26,22}</string>
		</dict>
		<key>Fireling_Toes_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,353},{14,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,10}}</string>
			<key>sourceSize</key>
			<string>{14,10}</string>
		</dict>
		<key>Fireling_Toes_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,353},{14,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,10}}</string>
			<key>sourceSize</key>
			<string>{14,10}</string>
		</dict>
		<key>Frostling_Arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,202},{15,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,18}}</string>
			<key>sourceSize</key>
			<string>{15,18}</string>
		</dict>
		<key>Frostling_Arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,321},{14,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,20}}</string>
			<key>sourceSize</key>
			<string>{14,20}</string>
		</dict>
		<key>Frostling_Bandana_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,142},{58,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,14}}</string>
			<key>sourceSize</key>
			<string>{58,14}</string>
		</dict>
		<key>Frostling_Body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,2},{42,50}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{42,50}}</string>
			<key>sourceSize</key>
			<string>{44,50}</string>
		</dict>
		<key>Frostling_Ear_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,88},{50,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,24}}</string>
			<key>sourceSize</key>
			<string>{50,24}</string>
		</dict>
		<key>Frostling_Foot_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,82},{18,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,12}}</string>
			<key>sourceSize</key>
			<string>{18,12}</string>
		</dict>
		<key>Frostling_Foot_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,62},{18,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,12}}</string>
			<key>sourceSize</key>
			<string>{18,12}</string>
		</dict>
		<key>Frostling_Forearm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,303},{14,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,20}}</string>
			<key>sourceSize</key>
			<string>{14,20}</string>
		</dict>
		<key>Frostling_Forearm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,308},{14,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,22}}</string>
			<key>sourceSize</key>
			<string>{14,22}</string>
		</dict>
		<key>Frostling_Hand01_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,313},{16,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,14}}</string>
			<key>sourceSize</key>
			<string>{16,14}</string>
		</dict>
		<key>Frostling_Hand01_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,335},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>Frostling_Hand02_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,325},{16,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,13}}</string>
			<key>sourceSize</key>
			<string>{16,13}</string>
		</dict>
		<key>Frostling_Head01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,54},{55,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{55,56}}</string>
			<key>sourceSize</key>
			<string>{57,60}</string>
		</dict>
		<key>Frostling_Head02_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,214},{58,53}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{58,53}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>Frostling_Head03_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,186},{58,53}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{58,53}}</string>
			<key>sourceSize</key>
			<string>{58,59}</string>
		</dict>
		<key>Frostling_Head04_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,124},{69,60}}</string>
			<key>offset</key>
			<string>{10,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,8},{69,60}}</string>
			<key>sourceSize</key>
			<string>{89,68}</string>
		</dict>
		<key>Frostling_Head05_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,247},{54,57}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{54,57}}</string>
			<key>sourceSize</key>
			<string>{54,63}</string>
		</dict>
		<key>Frostling_Leg_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,209},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>Frostling_Leg_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,222},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>Frostling_Shoulder_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,275},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>Frostling_Shoulder_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,253},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>Frostling_Thigh_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,216},{24,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{24,22}}</string>
			<key>sourceSize</key>
			<string>{26,22}</string>
		</dict>
		<key>Frostling_Thigh_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,192},{24,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{24,22}}</string>
			<key>sourceSize</key>
			<string>{26,22}</string>
		</dict>
		<key>Frostling_Toes_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,347},{14,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,10}}</string>
			<key>sourceSize</key>
			<string>{14,10}</string>
		</dict>
		<key>Frostling_Toes_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,325},{14,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,10}}</string>
			<key>sourceSize</key>
			<string>{14,10}</string>
		</dict>
		<key>Ling_Bomb_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,44},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>Ling_Dagger_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,168},{22,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,61}}</string>
			<key>sourceSize</key>
			<string>{22,61}</string>
		</dict>
		<key>Ling_FlameBackpack_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,62},{64,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,72}}</string>
			<key>sourceSize</key>
			<string>{64,72}</string>
		</dict>
		<key>Ling_Flamethrower_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,2},{88,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,40}}</string>
			<key>sourceSize</key>
			<string>{88,40}</string>
		</dict>
		<key>Ling_Pogo_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,28},{32,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,86}}</string>
			<key>sourceSize</key>
			<string>{32,86}</string>
		</dict>
		<key>Ling_Shoulderpad_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,28},{30,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,26}}</string>
			<key>sourceSize</key>
			<string>{30,26}</string>
		</dict>
		<key>Ling_Spear_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{114,24}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{114,24}}</string>
			<key>sourceSize</key>
			<string>{114,26}</string>
		</dict>
		<key>Ling_Strap_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,60},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>Ling_Sword_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,128},{22,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,70}}</string>
			<key>sourceSize</key>
			<string>{22,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Ling_Sheet.png</string>
		<key>size</key>
		<string>{256,369}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:072a78f2571f8664786510f33621eacf$</string>
		<key>textureFileName</key>
		<string>Ling_Sheet.png</string>
	</dict>
</dict>
</plist>
