<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MainCharacter_Frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,439},{30,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,50}}</string>
			<key>sourceSize</key>
			<string>{30,50}</string>
		</dict>
		<key>back_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,117},{83,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,45}}</string>
			<key>sourceSize</key>
			<string>{83,45}</string>
		</dict>
		<key>continue_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,69},{153,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,67}}</string>
			<key>sourceSize</key>
			<string>{153,67}</string>
		</dict>
		<key>delete_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,59},{83,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,57}}</string>
			<key>sourceSize</key>
			<string>{83,57}</string>
		</dict>
		<key>delete_btn_dwn.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,1},{83,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,57}}</string>
			<key>sourceSize</key>
			<string>{83,57}</string>
		</dict>
		<key>heartPiece_interface.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,1},{22,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,16}}</string>
			<key>sourceSize</key>
			<string>{22,16}</string>
		</dict>
		<key>play_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{153,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,67}}</string>
			<key>sourceSize</key>
			<string>{153,67}</string>
		</dict>
		<key>save_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,137},{275,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{275,68}}</string>
			<key>sourceSize</key>
			<string>{275,68}</string>
		</dict>
		<key>save_btn_delete.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,163},{275,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{275,68}}</string>
			<key>sourceSize</key>
			<string>{275,68}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MenuSheet.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:413dcd068d488f0c5d4cb0626b317635$</string>
		<key>textureFileName</key>
		<string>MenuSheet.png</string>
	</dict>
</dict>
</plist>
