<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BOSBlast</key>
	<dict>
		<key>delay</key>
		<string>0.08</string>
		<key>frames</key>
		<string>4</string>
	</dict>
	<key>CandleLight_b</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>20</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>4</string>
		</dict>
	</dict>
	<key>CandleLight_p</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>20</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>4</string>
		</dict>
	</dict>
	<key>CandleLight_r</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>20</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>4</string>
		</dict>
	</dict>
	<key>Cloud</key>
	<dict>
		<key>delay</key>
		<string>0.055</string>
		<key>frames</key>
		<string>7</string>
	</dict>
	<key>Explosion_01</key>
	<dict>
		<key>delay</key>
		<string>0.05</string>
		<key>frames</key>
		<string>5</string>
	</dict>
	<key>FireTall_b</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>6</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>11</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
	</dict>
	<key>FireTall_p</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>6</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>11</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
	</dict>
	<key>FireTall_r</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>6</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>11</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
	</dict>
	<key>FireTrap_b</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>7</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>7</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>6</string>
		</dict>
	</dict>
	<key>FireTrap_p</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>7</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>7</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>6</string>
		</dict>
	</dict>
	<key>FireTrap_r</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>7</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>7</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>6</string>
		</dict>
	</dict>
	<key>Fire_01</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
	</dict>
	<key>Fire_02</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>4</string>
		</dict>
	</dict>
	<key>Fire_Wide_b</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>4</string>
		</dict>
	</dict>
	<key>Fire_Wide_p</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>4</string>
		</dict>
	</dict>
	<key>Fire_Wide_r</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>4</string>
		</dict>
	</dict>
	<key>Fire_b_01</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
	</dict>
	<key>Fire_b_02</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>4</string>
		</dict>
	</dict>
	<key>Fire_p_01</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
	</dict>
	<key>Fire_p_02</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>4</string>
		</dict>
	</dict>
	<key>Fire_r_01</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
	</dict>
	<key>Fire_r_02</key>
	<dict>
		<key>fade</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>looped</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.08</string>
			<key>frames</key>
			<string>4</string>
		</dict>
	</dict>
	<key>def_hit</key>
	<dict>
		<key>delay</key>
		<string>0.03</string>
		<key>frames</key>
		<string>4</string>
	</dict>
	<key>hitBurst</key>
	<dict>
		<key>delay</key>
		<string>0.10</string>
		<key>frames</key>
		<string>1</string>
	</dict>
	<key>hitBurstFire</key>
	<dict>
		<key>delay</key>
		<string>0.10</string>
		<key>frames</key>
		<string>1</string>
	</dict>
	<key>hitBurstFrost</key>
	<dict>
		<key>delay</key>
		<string>0.10</string>
		<key>frames</key>
		<string>1</string>
	</dict>
</dict>
</plist>
