<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boneParticle.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,111},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>cloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,93},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>crystal_particle.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,72},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>dot.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,75},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>fireParticle.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,72},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>fur.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,54},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>hoop.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,57},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>line.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,54},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>pixel.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,0},{4,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,4}}</string>
			<key>sourceSize</key>
			<string>{4,4}</string>
		</dict>
		<key>rain.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,36},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>shine.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,39},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>snow.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,36},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>sparkle.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,18},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>square.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,21},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>squiggly.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,18},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>starParticle.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,0},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>stone_debris.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,0},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>sun.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,19}}</string>
			<key>sourceSize</key>
			<string>{19,19}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>particleImgSheet.png</string>
		<key>size</key>
		<string>{61,127}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:752e24e6c37105ab617d80621217ac75$</string>
		<key>textureFileName</key>
		<string>particleImgSheet.png</string>
	</dict>
</dict>
</plist>
