<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arrow01</key>
	<dict>
		<key>height</key>
		<string>10</string>
		<key>width</key>
		<string>5</string>
	</dict>
	<key>kProjFire_Dot</key>
	<dict>
		<key>height</key>
		<string>10</string>
		<key>hit</key>
		<dict>
			<key>delay</key>
			<string>0.06</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>width</key>
		<string>10</string>
	</dict>
	<key>kProjFire_Fireball</key>
	<dict>
		<key>absorb</key>
		<dict>
			<key>delay</key>
			<string>0.06</string>
			<key>frames</key>
			<string>7</string>
		</dict>
		<key>height</key>
		<string>22</string>
		<key>hit</key>
		<dict>
			<key>delay</key>
			<string>0.06</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>hitEffect</key>
		<string>fireHit.plist</string>
		<key>hitSound</key>
		<string>kProjFire_Fireball_hit.caf</string>
		<key>middle</key>
		<dict>
			<key>delay</key>
			<string>0.085</string>
			<key>frames</key>
			<string>9</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.06</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>width</key>
		<string>15</string>
	</dict>
	<key>kProjFrost_Dot</key>
	<dict>
		<key>height</key>
		<string>10</string>
		<key>hit</key>
		<dict>
			<key>delay</key>
			<string>0.06</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>width</key>
		<string>10</string>
	</dict>
	<key>kProjFrost_Frostbolt</key>
	<dict>
		<key>absorb</key>
		<dict>
			<key>delay</key>
			<string>0.05</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>height</key>
		<string>22</string>
		<key>hit</key>
		<dict>
			<key>delay</key>
			<string>0.04</string>
			<key>frames</key>
			<string>4</string>
		</dict>
		<key>hitEffect</key>
		<string>frostHit.plist</string>
		<key>hitSound</key>
		<string>kProjFrost_Frostbolt_hit.caf</string>
		<key>middle</key>
		<dict>
			<key>delay</key>
			<string>0.04</string>
			<key>frames</key>
			<string>8</string>
		</dict>
		<key>start</key>
		<dict>
			<key>delay</key>
			<string>0.04</string>
			<key>frames</key>
			<string>6</string>
		</dict>
		<key>width</key>
		<string>15</string>
	</dict>
	<key>kProjMagic_PoisonDot</key>
	<dict>
		<key>height</key>
		<string>10</string>
		<key>hit</key>
		<dict>
			<key>delay</key>
			<string>0.06</string>
			<key>frames</key>
			<string>5</string>
		</dict>
		<key>width</key>
		<string>10</string>
	</dict>
</dict>
</plist>
