<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SBTShark_attack_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,71},{29,3}}</string>
			<key>offset</key>
			<string>{0,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,75},{29,3}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,54},{35,19}}</string>
			<key>offset</key>
			<string>{-3,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,60},{35,19}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,76},{43,59}}</string>
			<key>offset</key>
			<string>{2,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,19},{43,59}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{45,75}}</string>
			<key>offset</key>
			<string>{2,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,3},{45,75}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,200},{57,53}}</string>
			<key>offset</key>
			<string>{0,35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{57,53}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,147},{47,49}}</string>
			<key>offset</key>
			<string>{7,37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,1},{47,49}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,75},{51,49}}</string>
			<key>offset</key>
			<string>{7,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,0},{51,49}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,0},{57,61}}</string>
			<key>offset</key>
			<string>{6,32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{57,61}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,76},{61,59}}</string>
			<key>offset</key>
			<string>{4,29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,4},{61,59}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,138},{61,57}}</string>
			<key>offset</key>
			<string>{3,28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,6},{61,57}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,138},{59,49}}</string>
			<key>offset</key>
			<string>{4,23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,15},{59,49}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,136},{51,49}}</string>
			<key>offset</key>
			<string>{6,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,30},{51,49}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,0},{35,31}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,49},{35,31}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,62},{35,13}}</string>
			<key>offset</key>
			<string>{-1,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,67},{35,13}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_attack_015.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,252},{29,3}}</string>
			<key>offset</key>
			<string>{-1,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,75},{29,3}}</string>
			<key>sourceSize</key>
			<string>{69,125}</string>
		</dict>
		<key>SBTShark_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,0},{53,42}}</string>
			<key>offset</key>
			<string>{4,42}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{53,42}}</string>
			<key>sourceSize</key>
			<string>{73,126}</string>
		</dict>
		<key>SBTShark_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,198},{53,44}}</string>
			<key>offset</key>
			<string>{3,39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,2},{53,44}}</string>
			<key>sourceSize</key>
			<string>{73,126}</string>
		</dict>
		<key>SBTShark_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,75},{53,42}}</string>
			<key>offset</key>
			<string>{3,30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,12},{53,42}}</string>
			<key>sourceSize</key>
			<string>{73,126}</string>
		</dict>
		<key>SBTShark_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,149},{45,44}}</string>
			<key>offset</key>
			<string>{5,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,28},{45,44}}</string>
			<key>sourceSize</key>
			<string>{73,126}</string>
		</dict>
		<key>SBTShark_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,198},{57,40}}</string>
			<key>offset</key>
			<string>{8,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,34},{57,40}}</string>
			<key>sourceSize</key>
			<string>{73,126}</string>
		</dict>
		<key>SBTShark_death_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,0},{59,40}}</string>
			<key>offset</key>
			<string>{7,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,34},{59,40}}</string>
			<key>sourceSize</key>
			<string>{73,126}</string>
		</dict>
		<key>SBTShark_dive_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,80},{35,24}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{35,24}}</string>
			<key>sourceSize</key>
			<string>{37,34}</string>
		</dict>
		<key>SBTShark_dive_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,74},{33,22}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,11},{33,22}}</string>
			<key>sourceSize</key>
			<string>{37,34}</string>
		</dict>
		<key>SBTShark_dive_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,54},{33,20}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,14},{33,20}}</string>
			<key>sourceSize</key>
			<string>{37,34}</string>
		</dict>
		<key>SBTShark_dive_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,60},{33,14}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,20},{33,14}}</string>
			<key>sourceSize</key>
			<string>{37,34}</string>
		</dict>
		<key>SBTShark_dive_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,62},{33,8}}</string>
			<key>offset</key>
			<string>{2,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,26},{33,8}}</string>
			<key>sourceSize</key>
			<string>{37,34}</string>
		</dict>
		<key>SBTShark_dive_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,129},{31,6}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,27},{31,6}}</string>
			<key>sourceSize</key>
			<string>{37,34}</string>
		</dict>
		<key>SBTShark_dive_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,252},{29,4}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,30},{29,4}}</string>
			<key>sourceSize</key>
			<string>{37,34}</string>
		</dict>
		<key>SBTShark_walk_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,54},{35,25}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{35,25}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>SBTShark_walk_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,108},{33,21}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,13},{33,21}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>SBTShark_walk_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,127},{33,19}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,15},{33,19}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>SBTShark_walk_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,129},{33,19}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{33,19}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>SBTShark_walk_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,32},{33,21}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{33,21}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>SBTShark_walk_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,32},{33,21}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{33,21}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>SBTShark_walk_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,105},{33,23}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{33,23}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>SBTShark_Sheet.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:31db4c720cacb593695d3b92977b20ce$</string>
		<key>textureFileName</key>
		<string>SBTShark_Sheet.png</string>
	</dict>
</dict>
</plist>
