<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SBTShark_attack_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,112},{57,6}}</string>
			<key>offset</key>
			<string>{0,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,150},{57,6}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,476},{67,36}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,122},{67,36}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,392},{83,118}}</string>
			<key>offset</key>
			<string>{4,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,37},{83,118}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{89,148}}</string>
			<key>offset</key>
			<string>{4,44}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,7},{89,148}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,0},{111,104}}</string>
			<key>offset</key>
			<string>{0,69}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,4},{111,104}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,97},{93,96}}</string>
			<key>offset</key>
			<string>{14,74}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,3},{93,96}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,0},{99,96}}</string>
			<key>offset</key>
			<string>{15,77}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,0},{99,96}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,149},{113,122}}</string>
			<key>offset</key>
			<string>{12,64}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,0},{113,122}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,0},{119,116}}</string>
			<key>offset</key>
			<string>{9,58}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,9},{119,116}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,272},{119,114}}</string>
			<key>offset</key>
			<string>{6,56}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,12},{119,114}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,392},{117,96}}</string>
			<key>offset</key>
			<string>{7,45}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,32},{117,96}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,376},{99,96}}</string>
			<key>offset</key>
			<string>{13,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,62},{99,96}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,90},{69,62}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,97},{69,62}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,120},{67,22}}</string>
			<key>offset</key>
			<string>{-2,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,137},{67,22}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_attack_015.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,265},{55,6}}</string>
			<key>offset</key>
			<string>{-1,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,150},{55,6}}</string>
			<key>sourceSize</key>
			<string>{137,250}</string>
		</dict>
		<key>SBTShark_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,384},{103,84}}</string>
			<key>offset</key>
			<string>{8,84}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,0},{103,84}}</string>
			<key>sourceSize</key>
			<string>{145,252}</string>
		</dict>
		<key>SBTShark_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,143},{105,86}}</string>
			<key>offset</key>
			<string>{6,77}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,6},{105,86}}</string>
			<key>sourceSize</key>
			<string>{145,252}</string>
		</dict>
		<key>SBTShark_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,272},{103,80}}</string>
			<key>offset</key>
			<string>{7,59}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,27},{103,80}}</string>
			<key>sourceSize</key>
			<string>{145,252}</string>
		</dict>
		<key>SBTShark_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,0},{89,86}}</string>
			<key>offset</key>
			<string>{10,26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,57},{89,86}}</string>
			<key>sourceSize</key>
			<string>{145,252}</string>
		</dict>
		<key>SBTShark_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,272},{111,78}}</string>
			<key>offset</key>
			<string>{17,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,69},{111,78}}</string>
			<key>sourceSize</key>
			<string>{145,252}</string>
		</dict>
		<key>SBTShark_death_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,149},{115,78}}</string>
			<key>offset</key>
			<string>{15,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,69},{115,78}}</string>
			<key>sourceSize</key>
			<string>{145,252}</string>
		</dict>
		<key>SBTShark_dive_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,238},{67,46}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,21},{67,46}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>SBTShark_dive_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,191},{65,42}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,23},{65,42}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>SBTShark_dive_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,257},{65,40}}</string>
			<key>offset</key>
			<string>{4,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,28},{65,40}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>SBTShark_dive_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,120},{65,28}}</string>
			<key>offset</key>
			<string>{1,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,40},{65,28}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>SBTShark_dive_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,249},{65,14}}</string>
			<key>offset</key>
			<string>{4,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,54},{65,14}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>SBTShark_dive_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,119},{59,10}}</string>
			<key>offset</key>
			<string>{1,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,56},{59,10}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>SBTShark_dive_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,265},{57,6}}</string>
			<key>offset</key>
			<string>{-2,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,61},{57,6}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>SBTShark_walk_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,191},{68,46}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,23},{68,46}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>SBTShark_walk_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,388},{64,40}}</string>
			<key>offset</key>
			<string>{-2,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,27},{64,40}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>SBTShark_walk_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,476},{66,36}}</string>
			<key>offset</key>
			<string>{-2,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,32},{66,36}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>SBTShark_walk_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,324},{66,38}}</string>
			<key>offset</key>
			<string>{-2,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{66,38}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>SBTShark_walk_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,285},{66,38}}</string>
			<key>offset</key>
			<string>{-2,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{66,38}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>SBTShark_walk_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,363},{64,40}}</string>
			<key>offset</key>
			<string>{-3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,30},{64,40}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>SBTShark_walk_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,323},{64,44}}</string>
			<key>offset</key>
			<string>{-3,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,25},{64,44}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>SBTShark_Sheet-hd.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0b5c0e440886ae2e034fcb14b12dc5e6$</string>
		<key>textureFileName</key>
		<string>SBTShark_Sheet-hd.png</string>
	</dict>
</dict>
</plist>
