<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>shopUI_forest.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{450,313}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{450,313}}</string>
			<key>sourceSize</key>
			<string>{450,325}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shopUI_forest.png</string>
		<key>size</key>
		<string>{450,313}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f82140b0d8e85180d047651961dd821a$</string>
		<key>textureFileName</key>
		<string>shopUI_forest.png</string>
	</dict>
</dict>
</plist>
