<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>shopUI_frost.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{867,599}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{867,599}}</string>
			<key>sourceSize</key>
			<string>{875,601}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shopUI_frost.png</string>
		<key>size</key>
		<string>{867,599}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:debe19037136957f24eff07582aefeaf$</string>
		<key>textureFileName</key>
		<string>shopUI_frost.png</string>
	</dict>
</dict>
</plist>
