<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>shopUI_forest.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{900,626}}</string>
			<key>offset</key>
			<string>{0,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{900,626}}</string>
			<key>sourceSize</key>
			<string>{900,650}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shopUI_forest.png</string>
		<key>size</key>
		<string>{900,626}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4d45b1678c443f9f48393e9a842abedc$</string>
		<key>textureFileName</key>
		<string>shopUI_forest.png</string>
	</dict>
</dict>
</plist>
