<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Skeleton_arm_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,30},{42,13}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{42,13}}</string>
			<key>sourceSize</key>
			<string>{54,13}</string>
		</dict>
		<key>Skeleton_arm_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,30},{26,13}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{26,13}}</string>
			<key>sourceSize</key>
			<string>{28,13}</string>
		</dict>
		<key>Skeleton_chin_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,44},{37,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,22}}</string>
			<key>sourceSize</key>
			<string>{37,22}</string>
		</dict>
		<key>Skeleton_foot_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,123},{15,5}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{15,5}}</string>
			<key>sourceSize</key>
			<string>{17,13}</string>
		</dict>
		<key>Skeleton_foot_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,123},{15,5}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{15,5}}</string>
			<key>sourceSize</key>
			<string>{17,13}</string>
		</dict>
		<key>Skeleton_hand_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,94},{28,28}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{28,28}}</string>
			<key>sourceSize</key>
			<string>{30,32}</string>
		</dict>
		<key>Skeleton_hand_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,67},{31,25}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,25}}</string>
			<key>sourceSize</key>
			<string>{31,27}</string>
		</dict>
		<key>Skeleton_heel_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,75},{24,8}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{24,8}}</string>
			<key>sourceSize</key>
			<string>{26,10}</string>
		</dict>
		<key>Skeleton_heel_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,84},{23,9}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{23,9}}</string>
			<key>sourceSize</key>
			<string>{25,11}</string>
		</dict>
		<key>Skeleton_leg_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,71},{17,18}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{17,18}}</string>
			<key>sourceSize</key>
			<string>{19,20}</string>
		</dict>
		<key>Skeleton_leg_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,57},{17,18}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{17,18}}</string>
			<key>sourceSize</key>
			<string>{19,20}</string>
		</dict>
		<key>Skeleton_mouth_side_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,71},{10,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,26}}</string>
			<key>sourceSize</key>
			<string>{10,26}</string>
		</dict>
		<key>Skeleton_neck_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,94},{17,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,27}}</string>
			<key>sourceSize</key>
			<string>{17,27}</string>
		</dict>
		<key>Skeleton_shoulder_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,71},{12,14}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{16,14}</string>
		</dict>
		<key>Skeleton_thigh_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,71},{10,26}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,26}}</string>
			<key>sourceSize</key>
			<string>{10,28}</string>
		</dict>
		<key>Skeleton_thight_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,94},{10,26}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,26}}</string>
			<key>sourceSize</key>
			<string>{10,28}</string>
		</dict>
		<key>Skeleton_topHead_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{71,70}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{71,70}}</string>
			<key>sourceSize</key>
			<string>{77,70}</string>
		</dict>
		<key>Skeleton_torso_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,0},{29,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,52}}</string>
			<key>sourceSize</key>
			<string>{29,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Skeleton_Sheet.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8fe368d133a182879e6372fa12ec81f3$</string>
		<key>textureFileName</key>
		<string>Skeleton_Sheet.png</string>
	</dict>
</dict>
</plist>
