<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Skeleling_Arm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,116},{5,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,9}}</string>
			<key>sourceSize</key>
			<string>{5,9}</string>
		</dict>
		<key>Skeleling_Arm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,101},{7,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,10}}</string>
			<key>sourceSize</key>
			<string>{7,10}</string>
		</dict>
		<key>Skeleling_Arrow_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,92},{29,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,9}}</string>
			<key>sourceSize</key>
			<string>{29,9}</string>
		</dict>
		<key>Skeleling_Body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,64},{20,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,25}}</string>
			<key>sourceSize</key>
			<string>{20,25}</string>
		</dict>
		<key>Skeleling_Foot_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{13,105},{12,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,6}}</string>
			<key>sourceSize</key>
			<string>{12,6}</string>
		</dict>
		<key>Skeleling_Foot_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,17},{15,5}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{15,5}}</string>
			<key>sourceSize</key>
			<string>{17,7}</string>
		</dict>
		<key>Skeleling_Forearm_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,92},{7,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,10}}</string>
			<key>sourceSize</key>
			<string>{7,10}</string>
		</dict>
		<key>Skeleling_Forearm_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,105},{5,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,11}}</string>
			<key>sourceSize</key>
			<string>{5,11}</string>
		</dict>
		<key>Skeleling_Hand01_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{13,119},{7,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,11}}</string>
			<key>sourceSize</key>
			<string>{7,11}</string>
		</dict>
		<key>Skeleling_Hand01_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,116},{8,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,9}}</string>
			<key>sourceSize</key>
			<string>{8,9}</string>
		</dict>
		<key>Skeleling_Head02_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,17},{41,32}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{41,32}}</string>
			<key>sourceSize</key>
			<string>{59,32}</string>
		</dict>
		<key>Skeleling_Head03_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,61},{29,34}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{29,34}}</string>
			<key>sourceSize</key>
			<string>{35,34}</string>
		</dict>
		<key>Skeleling_Leg_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,91},{12,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,10}}</string>
			<key>sourceSize</key>
			<string>{12,10}</string>
		</dict>
		<key>Skeleling_Leg_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,91},{12,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,10}}</string>
			<key>sourceSize</key>
			<string>{12,10}</string>
		</dict>
		<key>Skeleling_Shoulder_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,110},{8,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
		<key>Skeleling_Shoulder_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,119},{7,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,7}}</string>
			<key>sourceSize</key>
			<string>{7,7}</string>
		</dict>
		<key>Skeleling_Spear_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{57,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,13}}</string>
			<key>sourceSize</key>
			<string>{57,13}</string>
		</dict>
		<key>Skeleling_Thigh_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,103},{11,11}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{11,11}}</string>
			<key>sourceSize</key>
			<string>{11,13}</string>
		</dict>
		<key>Skeleling_Thigh_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{13,92},{11,11}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{11,11}}</string>
			<key>sourceSize</key>
			<string>{11,13}</string>
		</dict>
		<key>Skeleling_Toes_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,123},{9,3}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{9,3}}</string>
			<key>sourceSize</key>
			<string>{9,5}</string>
		</dict>
		<key>Skeleling_Toes_f_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,112},{9,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,5}}</string>
			<key>sourceSize</key>
			<string>{9,5}</string>
		</dict>
		<key>Skeleling_band_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,57},{5,22}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,22}}</string>
			<key>sourceSize</key>
			<string>{7,22}</string>
		</dict>
		<key>Skeleling_bow_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,51},{8,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,35}}</string>
			<key>sourceSize</key>
			<string>{8,35}</string>
		</dict>
		<key>Skeleling_quiver_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,24},{14,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,31}}</string>
			<key>sourceSize</key>
			<string>{14,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Skeleling_Sheet.png</string>
		<key>size</key>
		<string>{64,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9bd301ddc08f265702095ba39d7a72f3$</string>
		<key>textureFileName</key>
		<string>Skeleling_Sheet.png</string>
	</dict>
</dict>
</plist>
