<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Skeleton_arm_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,16},{21,7}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{21,7}}</string>
			<key>sourceSize</key>
			<string>{27,7}</string>
		</dict>
		<key>Skeleton_arm_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,57},{14,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,7}}</string>
			<key>sourceSize</key>
			<string>{14,7}</string>
		</dict>
		<key>Skeleton_chin_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,24},{19,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,11}}</string>
			<key>sourceSize</key>
			<string>{19,11}</string>
		</dict>
		<key>Skeleton_foot_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,36},{9,3}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{9,3}}</string>
			<key>sourceSize</key>
			<string>{9,7}</string>
		</dict>
		<key>Skeleton_foot_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,16},{9,3}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{9,3}}</string>
			<key>sourceSize</key>
			<string>{9,7}</string>
		</dict>
		<key>Skeleton_hand_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,40},{15,14}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{15,14}}</string>
			<key>sourceSize</key>
			<string>{15,16}</string>
		</dict>
		<key>Skeleton_hand_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,40},{16,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,14}}</string>
			<key>sourceSize</key>
			<string>{16,14}</string>
		</dict>
		<key>Skeleton_heel_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,42},{13,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,5}}</string>
			<key>sourceSize</key>
			<string>{13,5}</string>
		</dict>
		<key>Skeleton_heel_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,26},{13,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,6}}</string>
			<key>sourceSize</key>
			<string>{13,6}</string>
		</dict>
		<key>Skeleton_leg_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,54},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>Skeleton_leg_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,54},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>Skeleton_mouth_side_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,40},{5,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,13}}</string>
			<key>sourceSize</key>
			<string>{5,13}</string>
		</dict>
		<key>Skeleton_neck_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,40},{9,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,14}}</string>
			<key>sourceSize</key>
			<string>{9,14}</string>
		</dict>
		<key>Skeleton_shoulder_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,56},{6,7}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{6,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
		<key>Skeleton_thigh_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,36},{5,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,14}}</string>
			<key>sourceSize</key>
			<string>{5,14}</string>
		</dict>
		<key>Skeleton_thight_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,56},{5,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,14}}</string>
			<key>sourceSize</key>
			<string>{5,14}</string>
		</dict>
		<key>Skeleton_topHead_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{37,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{37,35}}</string>
			<key>sourceSize</key>
			<string>{39,35}</string>
		</dict>
		<key>Skeleton_torso_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,0},{15,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,26}}</string>
			<key>sourceSize</key>
			<string>{15,26}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Skeleton_Sheet.png</string>
		<key>size</key>
		<string>{64,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:74b006a43d96b17022896341e6167194$</string>
		<key>textureFileName</key>
		<string>Skeleton_Sheet.png</string>
	</dict>
</dict>
</plist>
