<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SkelChamp_armor_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,192},{64,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,68}}</string>
			<key>sourceSize</key>
			<string>{64,68}</string>
		</dict>
		<key>SkelChamp_brain_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,372},{61,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,41}}</string>
			<key>sourceSize</key>
			<string>{61,41}</string>
		</dict>
		<key>SkelChamp_brain_b_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,315},{68,55}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{68,55}}</string>
			<key>sourceSize</key>
			<string>{72,55}</string>
		</dict>
		<key>SkelChamp_brain_r_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,258},{68,55}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{68,55}}</string>
			<key>sourceSize</key>
			<string>{72,55}</string>
		</dict>
		<key>SkelChamp_foot_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,395},{21,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,9}}</string>
			<key>sourceSize</key>
			<string>{21,9}</string>
		</dict>
		<key>SkelChamp_foot_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,372},{21,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,9}}</string>
			<key>sourceSize</key>
			<string>{21,9}</string>
		</dict>
		<key>SkelChamp_hand_closed_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,446},{29,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,25}}</string>
			<key>sourceSize</key>
			<string>{29,25}</string>
		</dict>
		<key>SkelChamp_hand_closed_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,446},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>SkelChamp_hand_fingers_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,473},{26,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,23}}</string>
			<key>sourceSize</key>
			<string>{26,23}</string>
		</dict>
		<key>SkelChamp_hand_open_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,415},{29,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,37}}</string>
			<key>sourceSize</key>
			<string>{29,37}</string>
		</dict>
		<key>SkelChamp_hand_open_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,415},{29,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,37}}</string>
			<key>sourceSize</key>
			<string>{29,37}</string>
		</dict>
		<key>SkelChamp_hat_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,197},{105,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,33}}</string>
			<key>sourceSize</key>
			<string>{105,33}</string>
		</dict>
		<key>SkelChamp_hat_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,2},{105,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,69}}</string>
			<key>sourceSize</key>
			<string>{105,69}</string>
		</dict>
		<key>SkelChamp_head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,109},{81,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,69}}</string>
			<key>sourceSize</key>
			<string>{81,69}</string>
		</dict>
		<key>SkelChamp_heel_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,380},{33,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,13}}</string>
			<key>sourceSize</key>
			<string>{33,13}</string>
		</dict>
		<key>SkelChamp_heel_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,345},{33,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,13}}</string>
			<key>sourceSize</key>
			<string>{33,13}</string>
		</dict>
		<key>SkelChamp_jaw_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,395},{49,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,33}}</string>
			<key>sourceSize</key>
			<string>{49,33}</string>
		</dict>
		<key>SkelChamp_leg_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,477},{25,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,29}}</string>
			<key>sourceSize</key>
			<string>{25,29}</string>
		</dict>
		<key>SkelChamp_leg_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,446},{25,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,29}}</string>
			<key>sourceSize</key>
			<string>{25,29}</string>
		</dict>
		<key>SkelChamp_neck_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,446},{21,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,49}}</string>
			<key>sourceSize</key>
			<string>{21,49}</string>
		</dict>
		<key>SkelChamp_shoulder_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,477},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{21,33}</string>
		</dict>
		<key>SkelChamp_shoulder_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,477},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{21,33}</string>
		</dict>
		<key>SkelChamp_spine_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,304},{33,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,89}}</string>
			<key>sourceSize</key>
			<string>{33,89}</string>
		</dict>
		<key>SkelChamp_sword_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{53,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,193}}</string>
			<key>sourceSize</key>
			<string>{53,193}</string>
		</dict>
		<key>SkelChamp_thigh_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,236},{17,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,37}}</string>
			<key>sourceSize</key>
			<string>{17,37}</string>
		</dict>
		<key>SkelChamp_thight_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,197},{17,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,37}}</string>
			<key>sourceSize</key>
			<string>{17,37}</string>
		</dict>
		<key>SkelChamp_torso_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,258},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{846,228}</string>
		</dict>
		<key>SkelChamp_underArm_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,310},{17,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,33}}</string>
			<key>sourceSize</key>
			<string>{17,33}</string>
		</dict>
		<key>SkelChamp_underArm_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,275},{17,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,33}}</string>
			<key>sourceSize</key>
			<string>{17,33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>SkelChamp_Sheet.png</string>
		<key>size</key>
		<string>{128,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a5c089bf5138b593e0193843b8171bc0$</string>
		<key>textureFileName</key>
		<string>SkelChamp_Sheet.png</string>
	</dict>
</dict>
</plist>
