<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>StoneFish_Head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,72},{84,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,76}}</string>
			<key>sourceSize</key>
			<string>{84,76}</string>
		</dict>
		<key>StoneFish_Jaw_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{88,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,68}}</string>
			<key>sourceSize</key>
			<string>{88,68}</string>
		</dict>
		<key>StoneFish_Tail_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,150},{48,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,52}}</string>
			<key>sourceSize</key>
			<string>{48,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>StoneFish_Sheet.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3d8461cdd140a37e1e31d6eee87168ba$</string>
		<key>textureFileName</key>
		<string>StoneFish_Sheet.png</string>
	</dict>
</dict>
</plist>
