<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>TS_arm_l_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,200},{40,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,28}}</string>
			<key>sourceSize</key>
			<string>{40,28}</string>
		</dict>
		<key>TS_arm_r_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,158},{40,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,28}}</string>
			<key>sourceSize</key>
			<string>{40,28}</string>
		</dict>
		<key>TS_body_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{124,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,68}}</string>
			<key>sourceSize</key>
			<string>{124,68}</string>
		</dict>
		<key>TS_bottom_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{156,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,84}}</string>
			<key>sourceSize</key>
			<string>{156,84}</string>
		</dict>
		<key>TS_foot_l_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,226},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>TS_foot_r_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,192},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>TS_glove_hand_l_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,158},{36,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,28}}</string>
			<key>sourceSize</key>
			<string>{36,28}</string>
		</dict>
		<key>TS_glove_hand_r_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,112},{36,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,28}}</string>
			<key>sourceSize</key>
			<string>{36,28}</string>
		</dict>
		<key>TS_glove_top_l_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,230},{20,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,28}}</string>
			<key>sourceSize</key>
			<string>{20,28}</string>
		</dict>
		<key>TS_glove_top_r_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,88},{20,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,32}}</string>
			<key>sourceSize</key>
			<string>{20,32}</string>
		</dict>
		<key>TS_hat_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,88},{40,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,20}}</string>
			<key>sourceSize</key>
			<string>{40,20}</string>
		</dict>
		<key>TS_head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,2},{108,90}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{108,90}}</string>
			<key>sourceSize</key>
			<string>{108,104}</string>
		</dict>
		<key>TS_mouth_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,124},{66,32}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,5},{66,32}}</string>
			<key>sourceSize</key>
			<string>{68,40}</string>
		</dict>
		<key>TS_mouth_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,88},{68,34}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{68,34}}</string>
			<key>sourceSize</key>
			<string>{68,40}</string>
		</dict>
		<key>TS_mouth_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,112},{68,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{68,28}}</string>
			<key>sourceSize</key>
			<string>{68,40}</string>
		</dict>
		<key>TS_shoulder_l_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,158},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>TS_shoulder_r_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,196},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TS_Sheet-hd.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9329a26133acd01a9b0ff570092712fc$</string>
		<key>textureFileName</key>
		<string>TS_Sheet-hd.png</string>
	</dict>
</dict>
</plist>
