<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ActionButton_Chat.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,1708},{92,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
		<key>ActionButton_Shop.png</key>
		<dict>
			<key>frame</key>
			<string>{{549,1427},{92,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
		<key>ActionButton_Teleport.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,1334},{92,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
		<key>Attack_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,1597},{110,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,111}}</string>
			<key>sourceSize</key>
			<string>{110,111}</string>
		</dict>
		<key>Attack_Btn_Dwn.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,1586},{110,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,111}}</string>
			<key>sourceSize</key>
			<string>{110,111}</string>
		</dict>
		<key>Bone_01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,810},{18,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,40}}</string>
			<key>sourceSize</key>
			<string>{18,40}</string>
		</dict>
		<key>Bone_02_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,98},{10,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,24}}</string>
			<key>sourceSize</key>
			<string>{10,24}</string>
		</dict>
		<key>Bone_03_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1010,364},{12,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,34}}</string>
			<key>sourceSize</key>
			<string>{12,34}</string>
		</dict>
		<key>Bone_04_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,1143},{24,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,28}}</string>
			<key>sourceSize</key>
			<string>{24,28}</string>
		</dict>
		<key>Bone_05_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,769},{18,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,40}}</string>
			<key>sourceSize</key>
			<string>{18,40}</string>
		</dict>
		<key>Button_Buy.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,963},{208,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,133}}</string>
			<key>sourceSize</key>
			<string>{208,133}</string>
		</dict>
		<key>Button_Buy_Dwn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,963},{208,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,134}}</string>
			<key>sourceSize</key>
			<string>{208,134}</string>
		</dict>
		<key>Button_Exit.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,1554},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>Dpad_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,851},{276,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,111}}</string>
			<key>sourceSize</key>
			<string>{276,111}</string>
		</dict>
		<key>Dpad_Btn_Dwn.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,802},{276,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,111}}</string>
			<key>sourceSize</key>
			<string>{276,111}</string>
		</dict>
		<key>FLHeart_00_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,1175},{52,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,40}</string>
		</dict>
		<key>FLHeart_01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,1134},{52,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,40}</string>
		</dict>
		<key>FLHeart_02_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,1093},{52,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,40}</string>
		</dict>
		<key>FLHeart_03_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,1052},{52,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,40}</string>
		</dict>
		<key>FLHeart_04_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,469},{52,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,40}</string>
		</dict>
		<key>FLHeart_BottomLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,98},{76,74}}</string>
			<key>offset</key>
			<string>{-35,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,52},{76,74}}</string>
			<key>sourceSize</key>
			<string>{146,126}</string>
		</dict>
		<key>FLHeart_BottomLeft_Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,173},{76,72}}</string>
			<key>offset</key>
			<string>{-35,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,52},{76,72}}</string>
			<key>sourceSize</key>
			<string>{146,124}</string>
		</dict>
		<key>FLHeart_TopLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,246},{76,59}}</string>
			<key>offset</key>
			<string>{-36,33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,59}}</string>
			<key>sourceSize</key>
			<string>{148,125}</string>
		</dict>
		<key>FLHeart_TopLeft_Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,306},{76,57}}</string>
			<key>offset</key>
			<string>{-36,34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{148,125}</string>
		</dict>
		<key>FireKnight_p_1_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,1201},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>FireKnight_p_2_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,1097},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>FireKnight_p_3_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,1172},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>FireKnight_p_4_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,1295},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>FireKnight_p_5_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,1276},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>FrostKnight_p_1_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,1143},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>FrostKnight_p_2_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,1248},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>FrostKnight_p_3_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,1097},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>FrostKnight_p_4_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,1271},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>FrostKnight_p_5_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,1257},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>Item_Button.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,1472},{114,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,113}}</string>
			<key>sourceSize</key>
			<string>{114,113}</string>
		</dict>
		<key>Item_Button_Hover.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,1102},{135,137}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{135,137}}</string>
			<key>sourceSize</key>
			<string>{137,139}</string>
		</dict>
		<key>Item_Button_Hover_Large.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,874},{172,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{172,173}}</string>
			<key>sourceSize</key>
			<string>{174,175}</string>
		</dict>
		<key>Item_Button_Large.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,593},{150,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,151}}</string>
			<key>sourceSize</key>
			<string>{150,151}</string>
		</dict>
		<key>Jump_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,1520},{110,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,111}}</string>
			<key>sourceSize</key>
			<string>{110,111}</string>
		</dict>
		<key>Jump_Btn_Dwn.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1499},{110,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,111}}</string>
			<key>sourceSize</key>
			<string>{110,111}</string>
		</dict>
		<key>Knight_p_1_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,1024},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>Knight_p_2_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,1225},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>Knight_p_3_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,991},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>Knight_p_4_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,1238},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>Knight_p_5_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,802},{32,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,18}}</string>
			<key>sourceSize</key>
			<string>{32,18}</string>
		</dict>
		<key>LevelBtn1_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,1610},{102,108}}</string>
			<key>offset</key>
			<string>{3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{102,108}}</string>
			<key>sourceSize</key>
			<string>{108,120}</string>
		</dict>
		<key>LevelBtn2_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1652},{102,108}}</string>
			<key>offset</key>
			<string>{3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{102,108}}</string>
			<key>sourceSize</key>
			<string>{108,120}</string>
		</dict>
		<key>LevelBtn3_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,1648},{102,108}}</string>
			<key>offset</key>
			<string>{3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{102,108}}</string>
			<key>sourceSize</key>
			<string>{108,120}</string>
		</dict>
		<key>Menu_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1407},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Next_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,1403},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Play_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,1370},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Replay_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,1352},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>Sound_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,1241},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>StoreGoldBG_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,680},{248,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,88}}</string>
			<key>sourceSize</key>
			<string>{248,88}</string>
		</dict>
		<key>ZombiePart_01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1006,820},{30,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,14}}</string>
			<key>sourceSize</key>
			<string>{30,14}</string>
		</dict>
		<key>ZombiePart_02_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,1166},{38,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,42}}</string>
			<key>sourceSize</key>
			<string>{38,42}</string>
		</dict>
		<key>ZombiePart_03_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,1268},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ZombiePart_04_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1006,744},{50,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,17}}</string>
			<key>sourceSize</key>
			<string>{50,17}</string>
		</dict>
		<key>ZombiePart_05_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,1186},{38,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,32}}</string>
			<key>sourceSize</key>
			<string>{38,32}</string>
		</dict>
		<key>count_num_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,1230},{26,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,32}}</string>
			<key>sourceSize</key>
			<string>{26,32}</string>
		</dict>
		<key>count_num_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,1268},{18,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,30}}</string>
			<key>sourceSize</key>
			<string>{18,30}</string>
		</dict>
		<key>count_num_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,959},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,31}}</string>
			<key>sourceSize</key>
			<string>{24,31}</string>
		</dict>
		<key>count_num_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,927},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,31}}</string>
			<key>sourceSize</key>
			<string>{24,31}</string>
		</dict>
		<key>count_num_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,469},{25,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,30}}</string>
			<key>sourceSize</key>
			<string>{25,30}</string>
		</dict>
		<key>count_num_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,895},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,31}}</string>
			<key>sourceSize</key>
			<string>{24,31}</string>
		</dict>
		<key>count_num_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,1205},{23,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,32}}</string>
			<key>sourceSize</key>
			<string>{23,32}</string>
		</dict>
		<key>count_num_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,1172},{23,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,32}}</string>
			<key>sourceSize</key>
			<string>{23,32}</string>
		</dict>
		<key>count_num_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,500},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{24,32}</string>
		</dict>
		<key>count_num_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,863},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,31}}</string>
			<key>sourceSize</key>
			<string>{24,31}</string>
		</dict>
		<key>count_num_9plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,1216},{46,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,31}}</string>
			<key>sourceSize</key>
			<string>{46,31}</string>
		</dict>
		<key>fireEmber.png</key>
		<dict>
			<key>frame</key>
			<string>{{1010,412},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>forlornStatue_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,1074},{48,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,68}}</string>
			<key>sourceSize</key>
			<string>{48,68}</string>
		</dict>
		<key>frostEmber.png</key>
		<dict>
			<key>frame</key>
			<string>{{1010,399},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>gem_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,1037},{36,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,52}}</string>
			<key>sourceSize</key>
			<string>{36,52}</string>
		</dict>
		<key>gem_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,1000},{36,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,52}}</string>
			<key>sourceSize</key>
			<string>{36,52}</string>
		</dict>
		<key>gem_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,963},{36,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,52}}</string>
			<key>sourceSize</key>
			<string>{36,52}</string>
		</dict>
		<key>icon_bag_large_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,1438},{115,126}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,6},{115,126}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bag_large_blue_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,1356},{115,126}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,6},{115,126}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bag_large_blue_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,1102},{141,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,138}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bag_large_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{906,1322},{115,126}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,6},{115,126}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bag_large_purple_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,1356},{115,126}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,6},{115,126}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bag_large_purple_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1268},{141,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,138}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bag_medium_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,1449},{115,114}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{115,114}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bag_medium_green_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,1322},{115,126}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,6},{115,126}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bag_medium_green_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,1097},{141,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,138}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bag_medium_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,1287},{115,114}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,11},{115,114}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bag_medium_red_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,1322},{115,126}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,6},{115,126}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bag_medium_red_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,1048},{141,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,138}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1536},{115,126}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,7},{115,126}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,1532},{115,126}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,6},{115,126}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_none_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,1481},{115,126}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,6},{115,126}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_none_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,963},{141,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,138}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_potion_health.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,1236},{115,132}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{115,132}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_potion_health_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,1238},{117,132}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{117,132}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>icon_potion_health_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,963},{141,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,138}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>interface_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{934,467}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{934,467}}</string>
			<key>sourceSize</key>
			<string>{934,467}</string>
		</dict>
		<key>interface_item_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,611},{605,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{605,129}}</string>
			<key>sourceSize</key>
			<string>{605,129}</string>
		</dict>
		<key>interface_item_bar_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,744},{149,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,129}}</string>
			<key>sourceSize</key>
			<string>{149,129}</string>
		</dict>
		<key>interface_item_bar_ridge.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,1048},{39,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,117}}</string>
			<key>sourceSize</key>
			<string>{39,117}</string>
		</dict>
		<key>interface_item_slot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1098},{205,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,169}}</string>
			<key>sourceSize</key>
			<string>{205,169}</string>
		</dict>
		<key>interface_tab_character_deselected.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,914},{269,48}}</string>
			<key>offset</key>
			<string>{1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{269,48}}</string>
			<key>sourceSize</key>
			<string>{295,60}</string>
		</dict>
		<key>interface_tab_character_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,802},{295,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,60}}</string>
			<key>sourceSize</key>
			<string>{295,60}</string>
		</dict>
		<key>interface_tab_items_deselected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,914},{269,48}}</string>
			<key>offset</key>
			<string>{1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{269,48}}</string>
			<key>sourceSize</key>
			<string>{295,60}</string>
		</dict>
		<key>interface_tab_items_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,741},{295,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,60}}</string>
			<key>sourceSize</key>
			<string>{295,60}</string>
		</dict>
		<key>interface_tab_quests_deselected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,863},{269,50}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{269,50}}</string>
			<key>sourceSize</key>
			<string>{295,60}</string>
		</dict>
		<key>interface_tab_quests_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,741},{295,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,60}}</string>
			<key>sourceSize</key>
			<string>{295,60}</string>
		</dict>
		<key>interface_text_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,469},{867,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{867,141}}</string>
			<key>sourceSize</key>
			<string>{867,141}</string>
		</dict>
		<key>item_HeartPiece.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,963},{56,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,88}}</string>
			<key>sourceSize</key>
			<string>{56,88}</string>
		</dict>
		<key>item_elemental_sword.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,611},{68,258}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,258}}</string>
			<key>sourceSize</key>
			<string>{70,258}</string>
		</dict>
		<key>item_heart_of_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,1187},{134,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,135}}</string>
			<key>sourceSize</key>
			<string>{134,135}</string>
		</dict>
		<key>item_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,1751},{89,89}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{89,89}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>key_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,534},{154,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{154,58}}</string>
			<key>sourceSize</key>
			<string>{154,60}</string>
		</dict>
		<key>key_01_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,364},{169,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,73}}</string>
			<key>sourceSize</key>
			<string>{169,73}</string>
		</dict>
		<key>lock_icon_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,1},{80,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,96}}</string>
			<key>sourceSize</key>
			<string>{80,96}</string>
		</dict>
		<key>mapDot_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1006,795},{16,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{16,24}}</string>
			<key>sourceSize</key>
			<string>{16,28}</string>
		</dict>
		<key>menuIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,1241},{92,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
		<key>menuTab.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,769},{240,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,64}}</string>
			<key>sourceSize</key>
			<string>{240,64}</string>
		</dict>
		<key>soldout_image.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,1057},{128,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,32}}</string>
			<key>sourceSize</key>
			<string>{128,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UISheet-hd.png</string>
		<key>size</key>
		<string>{1024,1841}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f7a714c9f06670953a81a20bce4d6d4c$</string>
		<key>textureFileName</key>
		<string>UISheet-hd.png</string>
	</dict>
</dict>
</plist>
