<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ActionButton_Chat.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,720},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>ActionButton_Shop.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,673},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>ActionButton_Teleport.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,626},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>Attack_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,842},{55,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,56}}</string>
			<key>sourceSize</key>
			<string>{55,56}</string>
		</dict>
		<key>Attack_Btn_Dwn.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,829},{55,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,56}}</string>
			<key>sourceSize</key>
			<string>{55,56}</string>
		</dict>
		<key>Bone_01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,604},{9,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,20}}</string>
			<key>sourceSize</key>
			<string>{9,20}</string>
		</dict>
		<key>Bone_02_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,305},{5,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,12}}</string>
			<key>sourceSize</key>
			<string>{5,12}</string>
		</dict>
		<key>Bone_03_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,273},{6,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,17}}</string>
			<key>sourceSize</key>
			<string>{6,17}</string>
		</dict>
		<key>Bone_04_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,580},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>Bone_05_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,616},{9,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,20}}</string>
			<key>sourceSize</key>
			<string>{9,20}</string>
		</dict>
		<key>Button_Buy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,462},{104,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,67}}</string>
			<key>sourceSize</key>
			<string>{104,67}</string>
		</dict>
		<key>Button_Buy_Dwn.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,457},{104,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,67}}</string>
			<key>sourceSize</key>
			<string>{104,67}</string>
		</dict>
		<key>Button_Exit.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,806},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>Dpad_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,405},{138,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,56}}</string>
			<key>sourceSize</key>
			<string>{138,56}</string>
		</dict>
		<key>Dpad_Btn_Dwn.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,388},{138,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,56}}</string>
			<key>sourceSize</key>
			<string>{138,56}</string>
		</dict>
		<key>FLHeart_00_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,462},{26,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,20}}</string>
			<key>sourceSize</key>
			<string>{26,20}</string>
		</dict>
		<key>FLHeart_01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,520},{26,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,20}}</string>
			<key>sourceSize</key>
			<string>{26,20}</string>
		</dict>
		<key>FLHeart_02_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,499},{26,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,20}}</string>
			<key>sourceSize</key>
			<string>{26,20}</string>
		</dict>
		<key>FLHeart_03_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,478},{26,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,20}}</string>
			<key>sourceSize</key>
			<string>{26,20}</string>
		</dict>
		<key>FLHeart_04_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,457},{26,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,20}}</string>
			<key>sourceSize</key>
			<string>{26,20}</string>
		</dict>
		<key>FLHeart_BottomLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,50},{39,37}}</string>
			<key>offset</key>
			<string>{-17,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,26},{39,37}}</string>
			<key>sourceSize</key>
			<string>{73,63}</string>
		</dict>
		<key>FLHeart_BottomLeft_Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,88},{39,36}}</string>
			<key>offset</key>
			<string>{-17,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,26},{39,36}}</string>
			<key>sourceSize</key>
			<string>{73,62}</string>
		</dict>
		<key>FLHeart_TopLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,125},{38,31}}</string>
			<key>offset</key>
			<string>{-18,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,31}}</string>
			<key>sourceSize</key>
			<string>{74,63}</string>
		</dict>
		<key>FLHeart_TopLeft_Off.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,157},{38,29}}</string>
			<key>offset</key>
			<string>{-18,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,29}}</string>
			<key>sourceSize</key>
			<string>{74,63}</string>
		</dict>
		<key>FireKnight_p_1_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,727},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>FireKnight_p_2_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,630},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>FireKnight_p_3_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,710},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>FireKnight_p_4_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,664},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>FireKnight_p_5_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,582},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>FrostKnight_p_1_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,693},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>FrostKnight_p_2_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,613},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>FrostKnight_p_3_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,676},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>FrostKnight_p_4_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,565},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>FrostKnight_p_5_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,659},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>Item_Button.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,785},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>Item_Button_Hover.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,699},{69,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{69,68}}</string>
			<key>sourceSize</key>
			<string>{69,70}</string>
		</dict>
		<key>Item_Button_Hover_Large.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,525},{87,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,88}}</string>
			<key>sourceSize</key>
			<string>{87,88}</string>
		</dict>
		<key>Item_Button_Large.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,616},{75,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,76}}</string>
			<key>sourceSize</key>
			<string>{75,76}</string>
		</dict>
		<key>Jump_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,786},{55,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,56}}</string>
			<key>sourceSize</key>
			<string>{55,56}</string>
		</dict>
		<key>Jump_Btn_Dwn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,827},{55,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,56}}</string>
			<key>sourceSize</key>
			<string>{55,56}</string>
		</dict>
		<key>Knight_p_1_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,374},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>Knight_p_2_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,565},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>Knight_p_3_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,357},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>Knight_p_4_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,642},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>Knight_p_5_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,625},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>LevelBtn1_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,843},{52,54}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,6},{52,54}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>LevelBtn2_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,822},{52,54}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{52,54}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>LevelBtn3_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,767},{52,54}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{52,54}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>Menu_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,721},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>Next_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,762},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>Play_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,683},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>Replay_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,662},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>Sound_Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,634},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>StoreGoldBG_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,308},{124,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,44}}</string>
			<key>sourceSize</key>
			<string>{124,44}</string>
		</dict>
		<key>ZombiePart_01_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,403},{15,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,7}}</string>
			<key>sourceSize</key>
			<string>{15,7}</string>
		</dict>
		<key>ZombiePart_02_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,525},{19,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,21}}</string>
			<key>sourceSize</key>
			<string>{19,21}</string>
		</dict>
		<key>ZombiePart_03_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,647},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>ZombiePart_04_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,405},{25,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,9}}</string>
			<key>sourceSize</key>
			<string>{25,9}</string>
		</dict>
		<key>ZombiePart_05_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,548},{19,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,16}}</string>
			<key>sourceSize</key>
			<string>{19,16}</string>
		</dict>
		<key>count_num_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,428},{13,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,16}}</string>
			<key>sourceSize</key>
			<string>{13,16}</string>
		</dict>
		<key>count_num_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,674},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>count_num_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,563},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>count_num_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,546},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>count_num_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,445},{13,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,15}}</string>
			<key>sourceSize</key>
			<string>{13,15}</string>
		</dict>
		<key>count_num_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,529},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>count_num_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,512},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>count_num_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,495},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>count_num_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,478},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>count_num_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,461},{12,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,16}}</string>
			<key>sourceSize</key>
			<string>{12,16}</string>
		</dict>
		<key>count_num_9plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,540},{23,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,16}}</string>
			<key>sourceSize</key>
			<string>{23,16}</string>
		</dict>
		<key>fireEmber.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,298},{6,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,6}}</string>
			<key>sourceSize</key>
			<string>{6,6}</string>
		</dict>
		<key>forlornStatue_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,403},{24,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,34}}</string>
			<key>sourceSize</key>
			<string>{24,34}</string>
		</dict>
		<key>frostEmber.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,291},{6,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,6}}</string>
			<key>sourceSize</key>
			<string>{6,6}</string>
		</dict>
		<key>gem_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,521},{18,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,26}}</string>
			<key>sourceSize</key>
			<string>{18,26}</string>
		</dict>
		<key>gem_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,502},{18,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,26}}</string>
			<key>sourceSize</key>
			<string>{18,26}</string>
		</dict>
		<key>gem_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,483},{18,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,26}}</string>
			<key>sourceSize</key>
			<string>{18,26}</string>
		</dict>
		<key>icon_bag_large_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,795},{59,63}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,3},{59,63}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bag_large_blue_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,769},{59,63}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,3},{59,63}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bag_large_blue_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,692},{71,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,69}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bag_large_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,731},{59,63}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{59,63}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bag_large_purple_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,769},{59,63}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,3},{59,63}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bag_large_purple_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,613},{71,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,69}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bag_medium_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,748},{59,57}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{59,57}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bag_medium_green_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,607},{59,63}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{59,63}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bag_medium_green_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,651},{71,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,69}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bag_medium_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,727},{59,57}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{59,57}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bag_medium_red_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,607},{59,63}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{59,63}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bag_medium_red_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,592},{71,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,69}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,541},{59,65}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{59,65}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,505},{59,63}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,3},{59,63}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_none_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,445},{59,63}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,3},{59,63}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_none_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,581},{71,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,69}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_potion_health.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,671},{59,61}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,2},{59,61}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_potion_health_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,473},{59,67}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{59,67}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>icon_potion_health_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,511},{71,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,69}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>interface_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{467,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{467,234}}</string>
			<key>sourceSize</key>
			<string>{467,234}</string>
		</dict>
		<key>interface_item_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,308},{303,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,65}}</string>
			<key>sourceSize</key>
			<string>{303,65}</string>
		</dict>
		<key>interface_item_bar_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,445},{75,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,65}}</string>
			<key>sourceSize</key>
			<string>{75,65}</string>
		</dict>
		<key>interface_item_bar_ridge.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,557},{20,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,59}}</string>
			<key>sourceSize</key>
			<string>{20,59}</string>
		</dict>
		<key>interface_item_slot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,530},{103,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,85}}</string>
			<key>sourceSize</key>
			<string>{103,85}</string>
		</dict>
		<key>interface_tab_character_deselected.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,432},{132,24}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{132,24}}</string>
			<key>sourceSize</key>
			<string>{148,30}</string>
		</dict>
		<key>interface_tab_character_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,374},{148,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,30}}</string>
			<key>sourceSize</key>
			<string>{148,30}</string>
		</dict>
		<key>interface_tab_items_deselected.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,415},{132,24}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,0},{132,24}}</string>
			<key>sourceSize</key>
			<string>{148,30}</string>
		</dict>
		<key>interface_tab_items_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,374},{148,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,30}}</string>
			<key>sourceSize</key>
			<string>{148,30}</string>
		</dict>
		<key>interface_tab_quests_deselected.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,405},{132,26}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{132,26}}</string>
			<key>sourceSize</key>
			<string>{148,30}</string>
		</dict>
		<key>interface_tab_quests_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,357},{148,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,30}}</string>
			<key>sourceSize</key>
			<string>{148,30}</string>
		</dict>
		<key>interface_text_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,236},{434,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{434,71}}</string>
			<key>sourceSize</key>
			<string>{434,71}</string>
		</dict>
		<key>item_HeartPiece.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,428},{28,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,44}}</string>
			<key>sourceSize</key>
			<string>{28,44}</string>
		</dict>
		<key>item_elemental_sword.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,273},{35,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,129}}</string>
			<key>sourceSize</key>
			<string>{35,129}</string>
		</dict>
		<key>item_heart_of_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,565},{67,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,68}}</string>
			<key>sourceSize</key>
			<string>{67,68}</string>
		</dict>
		<key>item_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,786},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{44,44}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>key_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,391},{77,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,30}}</string>
			<key>sourceSize</key>
			<string>{77,30}</string>
		</dict>
		<key>key_01_sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,187},{85,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,37}}</string>
			<key>sourceSize</key>
			<string>{85,37}</string>
		</dict>
		<key>lock_icon_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1},{40,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,48}}</string>
			<key>sourceSize</key>
			<string>{40,48}</string>
		</dict>
		<key>mapDot_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,595},{8,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{8,12}}</string>
			<key>sourceSize</key>
			<string>{8,14}</string>
		</dict>
		<key>menuIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,545},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>menuTab.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,236},{120,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,32}}</string>
			<key>sourceSize</key>
			<string>{120,32}</string>
		</dict>
		<key>soldout_image.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,744},{64,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,16}}</string>
			<key>sourceSize</key>
			<string>{64,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UISheet.png</string>
		<key>size</key>
		<string>{512,898}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:18154d3ebebcc61c0bb7c384c24e9596$</string>
		<key>textureFileName</key>
		<string>UISheet.png</string>
	</dict>
</dict>
</plist>
