<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>st_vl_evil_chain_rack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1177,417},{171,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,52}}</string>
			<key>sourceSize</key>
			<string>{171,52}</string>
		</dict>
		<key>st_vl_evil_horn_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{1407,1662},{58,38}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,38}}</string>
			<key>sourceSize</key>
			<string>{58,40}</string>
		</dict>
		<key>st_vl_evil_horn_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{1348,1662},{58,38}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{58,38}}</string>
			<key>sourceSize</key>
			<string>{58,40}</string>
		</dict>
		<key>st_vl_evil_platform.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,1501},{308,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,54}}</string>
			<key>sourceSize</key>
			<string>{308,54}</string>
		</dict>
		<key>st_vl_evil_platform_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,1703},{52,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,172}}</string>
			<key>sourceSize</key>
			<string>{52,172}</string>
		</dict>
		<key>st_vl_evil_pole.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,1557},{25,202}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{25,202}}</string>
			<key>sourceSize</key>
			<string>{25,208}</string>
		</dict>
		<key>st_vl_evil_spike.png</key>
		<dict>
			<key>frame</key>
			<string>{{1328,1028},{45,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,70}}</string>
			<key>sourceSize</key>
			<string>{45,70}</string>
		</dict>
		<key>st_vl_evil_trap_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1230,1591},{70,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{70,184}}</string>
			<key>sourceSize</key>
			<string>{70,190}</string>
		</dict>
		<key>st_vl_evil_trap_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1215,193},{68,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{68,192}}</string>
			<key>sourceSize</key>
			<string>{68,198}</string>
		</dict>
		<key>st_vl_plaster_brick_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,294},{361,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{361,144}}</string>
			<key>sourceSize</key>
			<string>{361,144}</string>
		</dict>
		<key>st_vl_plaster_brick_medium.png</key>
		<dict>
			<key>frame</key>
			<string>{{1144,283},{251,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,133}}</string>
			<key>sourceSize</key>
			<string>{251,133}</string>
		</dict>
		<key>st_vl_plaster_brick_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,193},{224,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,57}}</string>
			<key>sourceSize</key>
			<string>{224,57}</string>
		</dict>
		<key>st_vl_plaster_crack_large_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,1703},{273,269}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,269}}</string>
			<key>sourceSize</key>
			<string>{273,271}</string>
		</dict>
		<key>st_vl_plaster_crack_large_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,892},{200,292}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,292}}</string>
			<key>sourceSize</key>
			<string>{200,292}</string>
		</dict>
		<key>st_vl_plaster_crack_side_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{967,1179},{116,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,233}}</string>
			<key>sourceSize</key>
			<string>{116,233}</string>
		</dict>
		<key>st_vl_plaster_crack_side_small_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1054,671},{125,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,105}}</string>
			<key>sourceSize</key>
			<string>{125,105}</string>
		</dict>
		<key>st_vl_plaster_crack_side_small_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1334,1158},{119,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,115}}</string>
			<key>sourceSize</key>
			<string>{119,115}</string>
		</dict>
		<key>st_vl_plaster_crack_small_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1188,1296},{151,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,156}}</string>
			<key>sourceSize</key>
			<string>{151,156}</string>
		</dict>
		<key>st_vl_plaster_crack_small_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1232,1453},{146,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,119}}</string>
			<key>sourceSize</key>
			<string>{146,119}</string>
		</dict>
		<key>st_vl_pushable.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,892},{211,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,140}}</string>
			<key>sourceSize</key>
			<string>{211,140}</string>
		</dict>
		<key>vg_vl_ground_grass_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,1591},{878,111}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{878,111}}</string>
			<key>sourceSize</key>
			<string>{882,115}</string>
		</dict>
		<key>vl_banner_cloth_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,674},{105,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,204}}</string>
			<key>sourceSize</key>
			<string>{105,204}</string>
		</dict>
		<key>vl_banner_spears.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,1703},{217,379}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,379}}</string>
			<key>sourceSize</key>
			<string>{217,379}</string>
		</dict>
		<key>vl_flowers_tulips_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{1180,671},{183,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,70}}</string>
			<key>sourceSize</key>
			<string>{183,70}</string>
		</dict>
		<key>vl_flowers_tulips_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1105,777},{183,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,70}}</string>
			<key>sourceSize</key>
			<string>{183,70}</string>
		</dict>
		<key>vl_flowers_tulips_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1104,1095},{183,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,70}}</string>
			<key>sourceSize</key>
			<string>{183,70}</string>
		</dict>
		<key>vl_fruit_apples.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,251},{103,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,35}}</string>
			<key>sourceSize</key>
			<string>{103,35}</string>
		</dict>
		<key>vl_fruit_bananas.png</key>
		<dict>
			<key>frame</key>
			<string>{{1432,972},{102,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,47}}</string>
			<key>sourceSize</key>
			<string>{102,47}</string>
		</dict>
		<key>vl_fruit_blueberries.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,1556},{96,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,33}}</string>
			<key>sourceSize</key>
			<string>{96,33}</string>
		</dict>
		<key>vl_fruit_grape.png</key>
		<dict>
			<key>frame</key>
			<string>{{1102,251},{92,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,31}}</string>
			<key>sourceSize</key>
			<string>{92,31}</string>
		</dict>
		<key>vl_fruit_oranges.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,255},{103,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,35}}</string>
			<key>sourceSize</key>
			<string>{103,35}</string>
		</dict>
		<key>vl_fruit_strawberries.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,1557},{96,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,33}}</string>
			<key>sourceSize</key>
			<string>{96,33}</string>
		</dict>
		<key>vl_fruit_tomatoes.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,255},{103,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,35}}</string>
			<key>sourceSize</key>
			<string>{103,35}</string>
		</dict>
		<key>vl_goatskull_bonel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1379,1448},{79,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,63}}</string>
			<key>sourceSize</key>
			<string>{79,63}</string>
		</dict>
		<key>vl_goatskull_metal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1340,1368},{79,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,63}}</string>
			<key>sourceSize</key>
			<string>{79,63}</string>
		</dict>
		<key>vl_grass_flowers_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1289,1662},{58,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,38}}</string>
			<key>sourceSize</key>
			<string>{58,38}</string>
		</dict>
		<key>vl_grass_flowers_white.png</key>
		<dict>
			<key>frame</key>
			<string>{{1230,1662},{58,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,38}}</string>
			<key>sourceSize</key>
			<string>{58,38}</string>
		</dict>
		<key>vl_grass_flowers_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1118,439},{58,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,38}}</string>
			<key>sourceSize</key>
			<string>{58,38}</string>
		</dict>
		<key>vl_lantern_chain.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,1977},{15,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,146}}</string>
			<key>sourceSize</key>
			<string>{15,146}</string>
		</dict>
		<key>vl_lantern_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1323,981},{46,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,108}}</string>
			<key>sourceSize</key>
			<string>{46,108}</string>
		</dict>
		<key>vl_lantern_hanger_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,1556},{34,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,131}}</string>
			<key>sourceSize</key>
			<string>{34,131}</string>
		</dict>
		<key>vl_lantern_hanger_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,1475},{164,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,114}}</string>
			<key>sourceSize</key>
			<string>{164,114}</string>
		</dict>
		<key>vl_lantern_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{1219,1028},{46,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,108}}</string>
			<key>sourceSize</key>
			<string>{46,108}</string>
		</dict>
		<key>vl_lantern_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1214,981},{46,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,108}}</string>
			<key>sourceSize</key>
			<string>{46,108}</string>
		</dict>
		<key>vl_lantern_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,1876},{46,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,108}}</string>
			<key>sourceSize</key>
			<string>{46,108}</string>
		</dict>
		<key>vl_sack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1399,1028},{85,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,97}}</string>
			<key>sourceSize</key>
			<string>{85,97}</string>
		</dict>
		<key>vl_sack_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{1340,1278},{88,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,89}}</string>
			<key>sourceSize</key>
			<string>{88,89}</string>
		</dict>
		<key>vl_shadow03.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,1501},{392,55}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{392,55}}</string>
			<key>sourceSize</key>
			<string>{410,59}</string>
		</dict>
		<key>vl_shadow_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,1921},{104,585}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,8},{104,585}}</string>
			<key>sourceSize</key>
			<string>{110,607}</string>
		</dict>
		<key>vl_stand_drape_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,481},{307,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{307,192}}</string>
			<key>sourceSize</key>
			<string>{307,192}</string>
		</dict>
		<key>vl_stand_drape_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,0},{307,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{307,192}}</string>
			<key>sourceSize</key>
			<string>{307,192}</string>
		</dict>
		<key>vl_stand_drape_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,0},{307,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{307,192}}</string>
			<key>sourceSize</key>
			<string>{307,192}</string>
		</dict>
		<key>vl_switch_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1214,848},{122,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,132}}</string>
			<key>sourceSize</key>
			<string>{122,132}</string>
		</dict>
		<key>vl_switch_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1201,1166},{122,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,132}}</string>
			<key>sourceSize</key>
			<string>{122,132}</string>
		</dict>
		<key>vl_tool_fork.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,1557},{33,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,172}}</string>
			<key>sourceSize</key>
			<string>{33,172}</string>
		</dict>
		<key>vl_tool_rake.png</key>
		<dict>
			<key>frame</key>
			<string>{{1070,1036},{58,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,148}}</string>
			<key>sourceSize</key>
			<string>{58,148}</string>
		</dict>
		<key>vl_tool_spade.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,255},{38,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,116}}</string>
			<key>sourceSize</key>
			<string>{38,116}</string>
		</dict>
		<key>vl_tower_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,924},{669,236}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{669,236}}</string>
			<key>sourceSize</key>
			<string>{669,240}</string>
		</dict>
		<key>vl_tower_door.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,1703},{275,326}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{275,326}}</string>
			<key>sourceSize</key>
			<string>{277,326}</string>
		</dict>
		<key>vl_tower_door_open_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,782},{137,324}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,324}}</string>
			<key>sourceSize</key>
			<string>{137,324}</string>
		</dict>
		<key>vl_tower_door_open_door.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,1185},{126,238}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{126,238}}</string>
			<key>sourceSize</key>
			<string>{126,242}</string>
		</dict>
		<key>vl_tower_door_open_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,294},{186,326}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,326}}</string>
			<key>sourceSize</key>
			<string>{186,326}</string>
		</dict>
		<key>vl_tower_plank_round.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1996},{677,47}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{677,47}}</string>
			<key>sourceSize</key>
			<string>{679,49}</string>
		</dict>
		<key>vl_tower_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,1326},{673,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{673,174}}</string>
			<key>sourceSize</key>
			<string>{673,174}</string>
		</dict>
		<key>vl_tower_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1594},{350,401}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{350,401}}</string>
			<key>sourceSize</key>
			<string>{350,401}</string>
		</dict>
		<key>vl_tower_top_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,920},{165,401}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{165,401}}</string>
			<key>sourceSize</key>
			<string>{167,401}</string>
		</dict>
		<key>vl_tower_top_window.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,924},{324,401}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{324,401}}</string>
			<key>sourceSize</key>
			<string>{324,401}</string>
		</dict>
		<key>vl_tree_foliage_blend.png</key>
		<dict>
			<key>frame</key>
			<string>{{1289,0},{241,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,188}}</string>
			<key>sourceSize</key>
			<string>{241,188}</string>
		</dict>
		<key>vl_tree_foliage_body.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,487},{294,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,245}}</string>
			<key>sourceSize</key>
			<string>{294,245}</string>
		</dict>
		<key>wd_vl_barrel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1337,844},{115,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,127}}</string>
			<key>sourceSize</key>
			<string>{115,127}</string>
		</dict>
		<key>wd_vl_barrel_with_rim.png</key>
		<dict>
			<key>frame</key>
			<string>{{1104,1475},{115,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,127}}</string>
			<key>sourceSize</key>
			<string>{115,127}</string>
		</dict>
		<key>wd_vl_cart.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,1312},{276,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,162}}</string>
			<key>sourceSize</key>
			<string>{276,162}</string>
		</dict>
		<key>wd_vl_cart_stand.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,780},{378,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{378,111}}</string>
			<key>sourceSize</key>
			<string>{378,111}</string>
		</dict>
		<key>wd_vl_cart_stand_pole.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,439},{39,335}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,335}}</string>
			<key>sourceSize</key>
			<string>{39,335}</string>
		</dict>
		<key>wd_vl_crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1289,742},{101,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,99}}</string>
			<key>sourceSize</key>
			<string>{101,99}</string>
		</dict>
		<key>wd_vl_crate_large.png</key>
		<dict>
			<key>frame</key>
			<string>{{1334,1701},{188,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,189}}</string>
			<key>sourceSize</key>
			<string>{188,189}</string>
		</dict>
		<key>wd_vl_door_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,487},{436,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{436,400}}</string>
			<key>sourceSize</key>
			<string>{436,400}</string>
		</dict>
		<key>wd_vl_door_metal.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,479},{191,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,249}}</string>
			<key>sourceSize</key>
			<string>{191,249}</string>
		</dict>
		<key>wd_vl_flowers_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,1104},{174,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,74}}</string>
			<key>sourceSize</key>
			<string>{174,74}</string>
		</dict>
		<key>wd_vl_fruit_crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1288,1075},{110,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,82}}</string>
			<key>sourceSize</key>
			<string>{110,82}</string>
		</dict>
		<key>wd_vl_tree_trunk.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,0},{217,293}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,293}}</string>
			<key>sourceSize</key>
			<string>{217,293}</string>
		</dict>
		<key>wd_vl_wagon_body.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{454,486}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{454,486}}</string>
			<key>sourceSize</key>
			<string>{454,486}</string>
		</dict>
		<key>wd_vl_wagon_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,193},{316,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{316,61}}</string>
			<key>sourceSize</key>
			<string>{316,61}</string>
		</dict>
		<key>wd_vl_wagon_wheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1070,892},{143,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,143}}</string>
			<key>sourceSize</key>
			<string>{143,143}</string>
		</dict>
		<key>wd_vl_wheelbarrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,674},{201,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,85}}</string>
			<key>sourceSize</key>
			<string>{201,85}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>VillageSheet04.png</string>
		<key>size</key>
		<string>{1539,2043}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ad71f2b6f28debe07c778a57ef9865c8$</string>
		<key>textureFileName</key>
		<string>VillageSheet04.png</string>
	</dict>
</dict>
</plist>
