<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>st_vl_detail_lionhead_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,88},{40,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,34}}</string>
			<key>sourceSize</key>
			<string>{40,34}</string>
		</dict>
		<key>st_vl_detail_lionhead_wood.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,970},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{56,54}</string>
		</dict>
		<key>st_vl_stone_divider_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,786},{57,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,190}}</string>
			<key>sourceSize</key>
			<string>{57,190}</string>
		</dict>
		<key>st_vl_stone_divider_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,334},{82,252}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,252}}</string>
			<key>sourceSize</key>
			<string>{82,252}</string>
		</dict>
		<key>st_vl_stone_divider_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,199},{45,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,216}}</string>
			<key>sourceSize</key>
			<string>{45,216}</string>
		</dict>
		<key>st_vl_stone_divider_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,633},{23,250}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,250}}</string>
			<key>sourceSize</key>
			<string>{23,250}</string>
		</dict>
		<key>st_vl_stone_foundation.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,961},{251,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,62}}</string>
			<key>sourceSize</key>
			<string>{251,62}</string>
		</dict>
		<key>st_vl_stone_foundation_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,111},{174,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,62}}</string>
			<key>sourceSize</key>
			<string>{174,62}</string>
		</dict>
		<key>st_vl_stone_pillar.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,656},{83,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,231}}</string>
			<key>sourceSize</key>
			<string>{83,231}</string>
		</dict>
		<key>st_vl_stone_wall_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,285},{185,85}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,85}}</string>
			<key>sourceSize</key>
			<string>{187,85}</string>
		</dict>
		<key>st_vl_stone_wall_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,0},{158,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,62}}</string>
			<key>sourceSize</key>
			<string>{158,62}</string>
		</dict>
		<key>st_vl_stone_wall_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,244},{84,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,88}}</string>
			<key>sourceSize</key>
			<string>{84,88}</string>
		</dict>
		<key>st_vl_stone_wall_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,497},{48,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,87}}</string>
			<key>sourceSize</key>
			<string>{48,87}</string>
		</dict>
		<key>st_vl_wall_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,0},{201,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{201,226}}</string>
			<key>sourceSize</key>
			<string>{201,228}</string>
		</dict>
		<key>st_vl_wall_stone_side_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,0},{149,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,312}}</string>
			<key>sourceSize</key>
			<string>{149,312}</string>
		</dict>
		<key>st_vl_wall_stone_side_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,334},{117,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,284}}</string>
			<key>sourceSize</key>
			<string>{117,284}</string>
		</dict>
		<key>st_vl_wall_stone_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,658},{98,299}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,299}}</string>
			<key>sourceSize</key>
			<string>{98,299}</string>
		</dict>
		<key>st_vl_wall_stone_side_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,656},{147,150}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{147,150}}</string>
			<key>sourceSize</key>
			<string>{149,152}</string>
		</dict>
		<key>vl_detail_metal_bolt.png</key>
		<dict>
			<key>frame</key>
			<string>{{1012,111},{12,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,13}}</string>
			<key>sourceSize</key>
			<string>{12,13}</string>
		</dict>
		<key>vl_detail_metal_bolt_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,885},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>vl_detail_wood_door_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,883},{92,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,140}}</string>
			<key>sourceSize</key>
			<string>{92,140}</string>
		</dict>
		<key>vl_shadow01.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,333},{197,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{197,28}}</string>
			<key>sourceSize</key>
			<string>{205,30}</string>
		</dict>
		<key>wd_vl_detail_cogmid.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,633},{25,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,23}}</string>
			<key>sourceSize</key>
			<string>{25,23}</string>
		</dict>
		<key>wd_vl_detail_cogwheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,586},{47,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,46}}</string>
			<key>sourceSize</key>
			<string>{47,46}</string>
		</dict>
		<key>wd_vl_detail_door_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,642},{121,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,144}}</string>
			<key>sourceSize</key>
			<string>{121,144}</string>
		</dict>
		<key>wd_vl_detail_door_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,244},{96,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,125}}</string>
			<key>sourceSize</key>
			<string>{96,125}</string>
		</dict>
		<key>wd_vl_detail_fence_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,201},{111,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,38}}</string>
			<key>sourceSize</key>
			<string>{111,38}</string>
		</dict>
		<key>wd_vl_detail_fence_1_end.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,164},{36,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,32}}</string>
			<key>sourceSize</key>
			<string>{36,32}</string>
		</dict>
		<key>wd_vl_detail_fence_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,0},{101,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,38}}</string>
			<key>sourceSize</key>
			<string>{101,38}</string>
		</dict>
		<key>wd_vl_detail_fence_2_end.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,128},{28,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,31}}</string>
			<key>sourceSize</key>
			<string>{28,31}</string>
		</dict>
		<key>wd_vl_detail_fence_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,62},{102,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,29}}</string>
			<key>sourceSize</key>
			<string>{102,29}</string>
		</dict>
		<key>wd_vl_detail_fence_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1012,124},{117,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,8}}</string>
			<key>sourceSize</key>
			<string>{117,8}</string>
		</dict>
		<key>wd_vl_detail_relief_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,887},{16,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,72}}</string>
			<key>sourceSize</key>
			<string>{16,72}</string>
		</dict>
		<key>wd_vl_detail_relief_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,152},{12,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,67}}</string>
			<key>sourceSize</key>
			<string>{12,67}</string>
		</dict>
		<key>wd_vl_detail_relief_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,618},{42,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,15}}</string>
			<key>sourceSize</key>
			<string>{42,15}</string>
		</dict>
		<key>wd_vl_detail_relief_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,618},{73,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,15}}</string>
			<key>sourceSize</key>
			<string>{73,15}</string>
		</dict>
		<key>wd_vl_detail_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,569},{40,57}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,57}}</string>
			<key>sourceSize</key>
			<string>{40,59}</string>
		</dict>
		<key>wd_vl_detail_support_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,569},{41,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,57}}</string>
			<key>sourceSize</key>
			<string>{41,57}</string>
		</dict>
		<key>wd_vl_detail_support_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,968},{35,54}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{35,54}}</string>
			<key>sourceSize</key>
			<string>{37,58}</string>
		</dict>
		<key>wd_vl_detail_twist_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,618},{33,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,14}}</string>
			<key>sourceSize</key>
			<string>{33,14}</string>
		</dict>
		<key>wd_vl_detail_twist_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,887},{21,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,19}}</string>
			<key>sourceSize</key>
			<string>{21,19}</string>
		</dict>
		<key>wd_vl_detail_window_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,361},{92,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,99}}</string>
			<key>sourceSize</key>
			<string>{92,99}</string>
		</dict>
		<key>wd_vl_detail_window_1_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,88},{76,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,95}}</string>
			<key>sourceSize</key>
			<string>{76,95}</string>
		</dict>
		<key>wd_vl_detail_window_1_side_cracks.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,885},{74,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{74,20}}</string>
			<key>sourceSize</key>
			<string>{76,20}</string>
		</dict>
		<key>wd_vl_detail_window_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,803},{94,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,97}}</string>
			<key>sourceSize</key>
			<string>{94,97}</string>
		</dict>
		<key>wd_vl_detail_window_2_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,0},{74,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,102}}</string>
			<key>sourceSize</key>
			<string>{74,102}</string>
		</dict>
		<key>wd_vl_detail_window_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,954},{67,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,69}}</string>
			<key>sourceSize</key>
			<string>{67,69}</string>
		</dict>
		<key>wd_vl_detail_window_circle_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,954},{57,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,70}}</string>
			<key>sourceSize</key>
			<string>{57,70}</string>
		</dict>
		<key>wd_vl_platform_plank_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,631},{23,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,122}}</string>
			<key>sourceSize</key>
			<string>{23,122}</string>
		</dict>
		<key>wd_vl_platform_plank_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,803},{43,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,199}}</string>
			<key>sourceSize</key>
			<string>{43,199}</string>
		</dict>
		<key>wd_vl_platform_plank_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,586},{45,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{45,219}}</string>
			<key>sourceSize</key>
			<string>{47,219}</string>
		</dict>
		<key>wd_vl_platform_plank_rope.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,586},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{31,29}</string>
		</dict>
		<key>wd_vl_platform_wood_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,312},{127,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,22}}</string>
			<key>sourceSize</key>
			<string>{127,22}</string>
		</dict>
		<key>wd_vl_platform_wood_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,312},{127,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,22}}</string>
			<key>sourceSize</key>
			<string>{127,22}</string>
		</dict>
		<key>wd_vl_platform_wood_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,102},{73,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,9}}</string>
			<key>sourceSize</key>
			<string>{73,9}</string>
		</dict>
		<key>wd_vl_platform_wood_log.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,497},{62,90}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,90}}</string>
			<key>sourceSize</key>
			<string>{62,102}</string>
		</dict>
		<key>wd_vl_platform_wood_stairs_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,906},{205,48}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{205,48}}</string>
			<key>sourceSize</key>
			<string>{207,48}</string>
		</dict>
		<key>wd_vl_platform_wood_stairs_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,0},{152,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,67}}</string>
			<key>sourceSize</key>
			<string>{152,67}</string>
		</dict>
		<key>wd_vl_platform_wood_stairs_end.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,907},{50,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,36}}</string>
			<key>sourceSize</key>
			<string>{50,36}</string>
		</dict>
		<key>wd_vl_platform_wood_stairs_grip.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,164},{161,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,35}}</string>
			<key>sourceSize</key>
			<string>{161,35}</string>
		</dict>
		<key>wd_vl_roof_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,369},{145,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,100}}</string>
			<key>sourceSize</key>
			<string>{145,100}</string>
		</dict>
		<key>wd_vl_roof_blue_divider.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,361},{28,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,105}}</string>
			<key>sourceSize</key>
			<string>{28,105}</string>
		</dict>
		<key>wd_vl_roof_blue_divider_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,361},{23,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,109}}</string>
			<key>sourceSize</key>
			<string>{23,109}</string>
		</dict>
		<key>wd_vl_roof_blue_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,201},{132,104}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,104}}</string>
			<key>sourceSize</key>
			<string>{132,106}</string>
		</dict>
		<key>wd_vl_roof_blue_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,885},{69,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,140}}</string>
			<key>sourceSize</key>
			<string>{69,140}</string>
		</dict>
		<key>wd_vl_roof_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,369},{145,99}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,99}}</string>
			<key>sourceSize</key>
			<string>{145,103}</string>
		</dict>
		<key>wd_vl_roof_red_divider.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,361},{30,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,105}}</string>
			<key>sourceSize</key>
			<string>{30,105}</string>
		</dict>
		<key>wd_vl_roof_red_divider_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,631},{23,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,109}}</string>
			<key>sourceSize</key>
			<string>{23,109}</string>
		</dict>
		<key>wd_vl_roof_red_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,470},{136,99}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{136,99}}</string>
			<key>sourceSize</key>
			<string>{136,103}</string>
		</dict>
		<key>wd_vl_roof_red_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,164},{65,144}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{65,144}}</string>
			<key>sourceSize</key>
			<string>{71,146}</string>
		</dict>
		<key>wd_vl_roof_straw.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,656},{229,181}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{229,181}}</string>
			<key>sourceSize</key>
			<string>{231,183}</string>
		</dict>
		<key>wd_vl_roof_straw_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,0},{162,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,194}}</string>
			<key>sourceSize</key>
			<string>{162,194}</string>
		</dict>
		<key>wd_vl_roof_straw_triangle.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,334},{324,203}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{324,203}}</string>
			<key>sourceSize</key>
			<string>{326,203}</string>
		</dict>
		<key>wd_vl_wall_plank_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,658},{33,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,312}}</string>
			<key>sourceSize</key>
			<string>{33,312}</string>
		</dict>
		<key>wd_vl_wall_plank_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,656},{35,251}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{35,251}}</string>
			<key>sourceSize</key>
			<string>{35,253}</string>
		</dict>
		<key>wd_vl_wall_plank_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,976},{182,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,31}}</string>
			<key>sourceSize</key>
			<string>{182,31}</string>
		</dict>
		<key>wd_vl_wall_plank_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,62},{26,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,130}}</string>
			<key>sourceSize</key>
			<string>{26,130}</string>
		</dict>
		<key>wd_vl_wall_plank_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,469},{28,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,172}}</string>
			<key>sourceSize</key>
			<string>{28,172}</string>
		</dict>
		<key>wd_vl_wall_plank_5png.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,658},{32,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,310}}</string>
			<key>sourceSize</key>
			<string>{32,310}</string>
		</dict>
		<key>wd_vl_wall_plank_counter.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,629},{138,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,13}}</string>
			<key>sourceSize</key>
			<string>{138,13}</string>
		</dict>
		<key>wd_vl_wall_plank_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,334},{29,299}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,299}}</string>
			<key>sourceSize</key>
			<string>{29,299}</string>
		</dict>
		<key>wd_vl_wall_plank_ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,629},{178,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,27}}</string>
			<key>sourceSize</key>
			<string>{178,27}</string>
		</dict>
		<key>wd_vl_wall_plank_ground_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,470},{152,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,26}}</string>
			<key>sourceSize</key>
			<string>{152,26}</string>
		</dict>
		<key>wd_vl_wall_plank_round.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,656},{250,18}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,18}}</string>
			<key>sourceSize</key>
			<string>{254,18}</string>
		</dict>
		<key>wd_vl_wall_plank_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,470},{116,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{116,42}}</string>
			<key>sourceSize</key>
			<string>{118,42}</string>
		</dict>
		<key>wd_vl_wall_plank_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,961},{63,40}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,40}}</string>
			<key>sourceSize</key>
			<string>{67,40}</string>
		</dict>
		<key>wd_vl_wall_plank_support.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,361},{29,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,92}}</string>
			<key>sourceSize</key>
			<string>{29,92}</string>
		</dict>
		<key>wd_vl_wall_wood.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,470},{212,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,159}}</string>
			<key>sourceSize</key>
			<string>{212,159}</string>
		</dict>
		<key>wd_vl_wall_wood_old.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,201},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>wd_vl_wall_wood_old_triangle.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,654},{229,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{229,156}}</string>
			<key>sourceSize</key>
			<string>{231,158}</string>
		</dict>
		<key>wd_vl_wall_wood_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{148,334}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,334}}</string>
			<key>sourceSize</key>
			<string>{148,334}</string>
		</dict>
		<key>wd_vl_wall_wood_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,658},{88,303}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,303}}</string>
			<key>sourceSize</key>
			<string>{88,303}</string>
		</dict>
		<key>wd_vl_wall_wood_side_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,954},{70,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,121}}</string>
			<key>sourceSize</key>
			<string>{70,121}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>VillageSheet01.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:052edb1273ce9afe16eca0ff5cc5a561$</string>
		<key>textureFileName</key>
		<string>VillageSheet01.png</string>
	</dict>
</dict>
</plist>
