<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>st_vl_ground_mudtain_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{798,790},{173,183}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{173,183}}</string>
			<key>sourceSize</key>
			<string>{175,185}</string>
		</dict>
		<key>st_vl_ground_mudtain_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,595},{176,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,193}}</string>
			<key>sourceSize</key>
			<string>{176,193}</string>
		</dict>
		<key>st_vl_ground_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,115},{403,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{403,98}}</string>
			<key>sourceSize</key>
			<string>{405,98}</string>
		</dict>
		<key>st_vl_ground_stonebridge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,595},{194,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,166}}</string>
			<key>sourceSize</key>
			<string>{194,166}</string>
		</dict>
		<key>st_vl_ground_stonebridge_mid.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,624},{116,83}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,83}}</string>
			<key>sourceSize</key>
			<string>{116,85}</string>
		</dict>
		<key>st_vl_ground_stonestairs.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,624},{159,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,78}}</string>
			<key>sourceSize</key>
			<string>{159,78}</string>
		</dict>
		<key>st_vl_stone_chimney.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,117},{101,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,140}}</string>
			<key>sourceSize</key>
			<string>{101,140}</string>
		</dict>
		<key>st_vl_stone_well.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,239},{106,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,91}}</string>
			<key>sourceSize</key>
			<string>{106,91}</string>
		</dict>
		<key>vg_vl_ground_grass.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{407,113}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{407,113}}</string>
			<key>sourceSize</key>
			<string>{411,113}</string>
		</dict>
		<key>vg_vl_ground_grass_curve.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,1},{404,115}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{404,115}}</string>
			<key>sourceSize</key>
			<string>{404,119}</string>
		</dict>
		<key>vl_blacksmith_anvil.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,595},{71,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,38}}</string>
			<key>sourceSize</key>
			<string>{71,38}</string>
		</dict>
		<key>vl_blacksmith_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,712},{64,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,76}}</string>
			<key>sourceSize</key>
			<string>{64,76}</string>
		</dict>
		<key>vl_blacksmith_forge.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,790},{236,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,220}}</string>
			<key>sourceSize</key>
			<string>{236,220}</string>
		</dict>
		<key>vl_blacksmith_store.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,790},{235,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,231}}</string>
			<key>sourceSize</key>
			<string>{235,231}</string>
		</dict>
		<key>vl_city_backwall_01_part_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,312},{221,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,288}}</string>
			<key>sourceSize</key>
			<string>{221,288}</string>
		</dict>
		<key>vl_city_backwall_01_part_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,1},{208,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,284}}</string>
			<key>sourceSize</key>
			<string>{208,284}</string>
		</dict>
		<key>vl_city_backwall_02_part_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,286},{266,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,204}}</string>
			<key>sourceSize</key>
			<string>{266,204}</string>
		</dict>
		<key>vl_city_backwall_02_part_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,117},{306,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,204}}</string>
			<key>sourceSize</key>
			<string>{306,204}</string>
		</dict>
		<key>vl_city_backwall_03_part_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,790},{256,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,219}}</string>
			<key>sourceSize</key>
			<string>{256,219}</string>
		</dict>
		<key>vl_city_backwall_03_part_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,322},{273,272}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,272}}</string>
			<key>sourceSize</key>
			<string>{275,272}</string>
		</dict>
		<key>vl_city_backwall_crack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,403},{54,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{54,102}}</string>
			<key>sourceSize</key>
			<string>{54,104}</string>
		</dict>
		<key>vl_city_backwall_crack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,712},{64,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{64,51}}</string>
			<key>sourceSize</key>
			<string>{64,53}</string>
		</dict>
		<key>vl_city_backwall_crack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,532},{67,61}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{67,61}}</string>
			<key>sourceSize</key>
			<string>{69,61}</string>
		</dict>
		<key>vl_city_backwall_door.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,452},{79,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,106}}</string>
			<key>sourceSize</key>
			<string>{79,106}</string>
		</dict>
		<key>vl_city_backwall_plank.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,687},{25,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,91}}</string>
			<key>sourceSize</key>
			<string>{25,91}</string>
		</dict>
		<key>vl_city_backwall_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,214},{97,293}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,293}}</string>
			<key>sourceSize</key>
			<string>{97,293}</string>
		</dict>
		<key>vl_city_backwall_stone_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,619},{128,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{128,67}}</string>
			<key>sourceSize</key>
			<string>{130,67}</string>
		</dict>
		<key>vl_city_backwall_stone_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,551},{128,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,67}}</string>
			<key>sourceSize</key>
			<string>{128,67}</string>
		</dict>
		<key>vl_city_backwall_stone_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,480},{129,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,70}}</string>
			<key>sourceSize</key>
			<string>{129,70}</string>
		</dict>
		<key>vl_city_backwall_support_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,322},{35,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,51}}</string>
			<key>sourceSize</key>
			<string>{35,51}</string>
		</dict>
		<key>vl_city_backwall_window_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,634},{70,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,77}}</string>
			<key>sourceSize</key>
			<string>{70,77}</string>
		</dict>
		<key>vl_city_backwall_window_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,708},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,75}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>vl_city_backwall_window_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,594},{54,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{54,55}}</string>
			<key>sourceSize</key>
			<string>{54,57}</string>
		</dict>
		<key>vl_shadow02.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,595},{197,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{197,28}}</string>
			<key>sourceSize</key>
			<string>{205,30}</string>
		</dict>
		<key>vl_shop_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,553},{236,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,213}}</string>
			<key>sourceSize</key>
			<string>{236,213}</string>
		</dict>
		<key>vl_shop_counter.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,534},{174,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,53}}</string>
			<key>sourceSize</key>
			<string>{174,53}</string>
		</dict>
		<key>vl_shop_counter_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,534},{71,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,51}}</string>
			<key>sourceSize</key>
			<string>{71,51}</string>
		</dict>
		<key>wd_vl_detail_ladder.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,687},{66,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,189}}</string>
			<key>sourceSize</key>
			<string>{66,189}</string>
		</dict>
		<key>wd_vl_roof_darkred.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,258},{144,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,99}}</string>
			<key>sourceSize</key>
			<string>{144,99}</string>
		</dict>
		<key>wd_vl_roof_darkred_divider.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,374},{30,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,105}}</string>
			<key>sourceSize</key>
			<string>{30,105}</string>
		</dict>
		<key>wd_vl_roof_darkred_divider_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,214},{24,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,108}}</string>
			<key>sourceSize</key>
			<string>{24,108}</string>
		</dict>
		<key>wd_vl_roof_darkred_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,331},{120,111}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,111}}</string>
			<key>sourceSize</key>
			<string>{122,111}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>VillageSheet02.png</string>
		<key>size</key>
		<string>{1023,1022}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:85ee9a44fca08c614dc2ce29c5ea6ba3$</string>
		<key>textureFileName</key>
		<string>VillageSheet02.png</string>
	</dict>
</dict>
</plist>
