<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>vl_midground_grass.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,388},{218,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,109}}</string>
			<key>sourceSize</key>
			<string>{218,109}</string>
		</dict>
		<key>vl_midground_grass_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,1},{218,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,110}}</string>
			<key>sourceSize</key>
			<string>{218,110}</string>
		</dict>
		<key>vl_midground_hay.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,230},{174,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,128}}</string>
			<key>sourceSize</key>
			<string>{174,128}</string>
		</dict>
		<key>vl_midground_house_extra.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,1},{108,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,103}}</string>
			<key>sourceSize</key>
			<string>{108,103}</string>
		</dict>
		<key>vl_midground_house_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{180,236}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,236}}</string>
			<key>sourceSize</key>
			<string>{180,236}</string>
		</dict>
		<key>vl_midground_house_roof.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,110},{119,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,73}}</string>
			<key>sourceSize</key>
			<string>{119,73}</string>
		</dict>
		<key>vl_midground_house_roof_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,312},{126,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,72}}</string>
			<key>sourceSize</key>
			<string>{126,72}</string>
		</dict>
		<key>vl_midground_house_roof_side2.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,230},{66,81}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{66,81}}</string>
			<key>sourceSize</key>
			<string>{68,81}</string>
		</dict>
		<key>vl_midground_house_side_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,238},{148,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,235}}</string>
			<key>sourceSize</key>
			<string>{148,235}</string>
		</dict>
		<key>vl_midground_house_side_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,1},{112,228}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,228}}</string>
			<key>sourceSize</key>
			<string>{114,228}</string>
		</dict>
		<key>vl_midground_house_side_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,238},{112,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,149}}</string>
			<key>sourceSize</key>
			<string>{112,149}</string>
		</dict>
		<key>vl_midground_house_side_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,375},{57,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,96}}</string>
			<key>sourceSize</key>
			<string>{57,96}</string>
		</dict>
		<key>vl_midground_steppes.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,439},{81,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{81,65}}</string>
			<key>sourceSize</key>
			<string>{83,65}</string>
		</dict>
		<key>vl_midground_stoneground.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,359},{173,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,15}}</string>
			<key>sourceSize</key>
			<string>{173,15}</string>
		</dict>
		<key>vl_midground_stoneground_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,474},{51,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,16}}</string>
			<key>sourceSize</key>
			<string>{51,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>VillageMG.png</string>
		<key>size</key>
		<string>{511,505}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9417fcaa60ab48810a1a2293fb274cf9$</string>
		<key>textureFileName</key>
		<string>VillageMG.png</string>
	</dict>
</dict>
</plist>
