<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wd_vl_fire_backwall_burn_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,767},{45,390}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{45,390}}</string>
			<key>sourceSize</key>
			<string>{47,398}</string>
		</dict>
		<key>wd_vl_fire_backwall_burn__1.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,387},{53,267}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,9},{53,267}}</string>
			<key>sourceSize</key>
			<string>{55,277}</string>
		</dict>
		<key>wd_vl_fire_backwall_door.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,1738},{184,303}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{184,303}}</string>
			<key>sourceSize</key>
			<string>{186,305}</string>
		</dict>
		<key>wd_vl_fire_backwall_door_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,1528},{89,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,173}}</string>
			<key>sourceSize</key>
			<string>{89,173}</string>
		</dict>
		<key>wd_vl_fire_backwall_window.png</key>
		<dict>
			<key>frame</key>
			<string>{{1259,0},{155,245}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,18},{155,245}}</string>
			<key>sourceSize</key>
			<string>{169,267}</string>
		</dict>
		<key>wd_vl_fire_backwall_window_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,654},{93,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,105}}</string>
			<key>sourceSize</key>
			<string>{93,105}</string>
		</dict>
		<key>wd_vl_fire_backwall_window_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1126,1105},{176,205}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,15},{176,205}}</string>
			<key>sourceSize</key>
			<string>{178,221}</string>
		</dict>
		<key>wd_vl_fire_backwall_window_circle_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,1245},{67,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,80}}</string>
			<key>sourceSize</key>
			<string>{67,80}</string>
		</dict>
		<key>wd_vl_fire_burn_edge_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,1245},{210,58}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{210,58}}</string>
			<key>sourceSize</key>
			<string>{212,58}</string>
		</dict>
		<key>wd_vl_fire_burn_edge_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,1245},{62,18}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,1},{62,18}}</string>
			<key>sourceSize</key>
			<string>{68,20}</string>
		</dict>
		<key>wd_vl_fire_burn_front_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,387},{149,257}}</string>
			<key>offset</key>
			<string>{6,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,11},{149,257}}</string>
			<key>sourceSize</key>
			<string>{181,269}</string>
		</dict>
		<key>wd_vl_fire_burn_plank_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,1326},{66,494}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,494}}</string>
			<key>sourceSize</key>
			<string>{66,494}</string>
		</dict>
		<key>wd_vl_fire_burn_plank_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,331},{56,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,141}}</string>
			<key>sourceSize</key>
			<string>{56,141}</string>
		</dict>
		<key>wd_vl_fire_burn_side_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,1110},{42,189}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{42,189}}</string>
			<key>sourceSize</key>
			<string>{46,193}</string>
		</dict>
		<key>wd_vl_fire_burn_side_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,283},{42,237}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,15},{42,237}}</string>
			<key>sourceSize</key>
			<string>{50,253}</string>
		</dict>
		<key>wd_vl_fire_burn_side_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,1820},{58,228}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{58,228}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>wd_vl_fire_burn_side_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,1738},{56,300}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{56,300}}</string>
			<key>sourceSize</key>
			<string>{58,308}</string>
		</dict>
		<key>wd_vl_fire_door_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,397},{256,370}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,13},{256,370}}</string>
			<key>sourceSize</key>
			<string>{258,384}</string>
		</dict>
		<key>wd_vl_fire_door_1_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,331},{154,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,58}}</string>
			<key>sourceSize</key>
			<string>{154,58}</string>
		</dict>
		<key>wd_vl_fire_door_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,1701},{218,346}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,9},{218,346}}</string>
			<key>sourceSize</key>
			<string>{242,356}</string>
		</dict>
		<key>wd_vl_fire_door_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1091,1511},{152,219}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,219}}</string>
			<key>sourceSize</key>
			<string>{156,219}</string>
		</dict>
		<key>wd_vl_fire_house_side_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1326},{315,548}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,548}}</string>
			<key>sourceSize</key>
			<string>{317,548}</string>
		</dict>
		<key>wd_vl_fire_house_side_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{409,774}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{409,774}}</string>
			<key>sourceSize</key>
			<string>{409,778}</string>
		</dict>
		<key>wd_vl_fire_pile_big_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,1105},{217,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{217,179}}</string>
			<key>sourceSize</key>
			<string>{219,179}</string>
		</dict>
		<key>wd_vl_fire_pile_big_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,1284},{227,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,219}}</string>
			<key>sourceSize</key>
			<string>{227,219}</string>
		</dict>
		<key>wd_vl_fire_pile_small_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,1245},{99,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,61}}</string>
			<key>sourceSize</key>
			<string>{99,61}</string>
		</dict>
		<key>wd_vl_fire_pile_small_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{1040,1914},{130,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,136}}</string>
			<key>sourceSize</key>
			<string>{130,136}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1040,1688},{226,127}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{226,127}}</string>
			<key>sourceSize</key>
			<string>{230,127}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_1_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,1110},{182,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,112}}</string>
			<key>sourceSize</key>
			<string>{182,112}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,1292},{236,152}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{236,152}}</string>
			<key>sourceSize</key>
			<string>{238,156}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_2_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,1528},{160,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,154}}</string>
			<key>sourceSize</key>
			<string>{160,154}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,1325},{304,413}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{304,413}}</string>
			<key>sourceSize</key>
			<string>{306,415}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_big_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,765},{231,340}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,36},{231,340}}</string>
			<key>sourceSize</key>
			<string>{231,382}</string>
		</dict>
		<key>wd_vl_fire_shadow_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,774},{361,552}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,22},{361,552}}</string>
			<key>sourceSize</key>
			<string>{367,576}</string>
		</dict>
		<key>wd_vl_fire_shadow_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,774},{287,471}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{287,471}}</string>
			<key>sourceSize</key>
			<string>{289,473}</string>
		</dict>
		<key>wd_vl_fire_shadow_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,0},{283,136}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,14},{283,136}}</string>
			<key>sourceSize</key>
			<string>{287,154}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,0},{288,397}}</string>
			<key>offset</key>
			<string>{3,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{288,397}}</string>
			<key>sourceSize</key>
			<string>{294,405}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_1_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1117,0},{142,275}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{142,275}}</string>
			<key>sourceSize</key>
			<string>{144,279}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,397},{368,258}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{368,258}}</string>
			<key>sourceSize</key>
			<string>{370,258}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_2_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,1738},{299,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,188}}</string>
			<key>sourceSize</key>
			<string>{299,188}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,1303},{163,398}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{163,398}}</string>
			<key>sourceSize</key>
			<string>{163,408}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_side_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,0},{112,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{112,291}}</string>
			<key>sourceSize</key>
			<string>{112,293}</string>
		</dict>
		<key>wd_vl_fire_window_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1016,644},{93,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,137}}</string>
			<key>sourceSize</key>
			<string>{93,137}</string>
		</dict>
		<key>wd_vl_fire_window_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1125,325},{211,254}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{211,254}}</string>
			<key>sourceSize</key>
			<string>{223,262}</string>
		</dict>
		<key>wd_vl_fire_window_circle_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,1157},{84,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,88}}</string>
			<key>sourceSize</key>
			<string>{84,88}</string>
		</dict>
		<key>wd_vl_fire_window_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,765},{206,345}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,8},{206,345}}</string>
			<key>sourceSize</key>
			<string>{220,355}</string>
		</dict>
		<key>wd_vl_fire_window_side_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1874},{173,336}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,17},{173,336}}</string>
			<key>sourceSize</key>
			<string>{183,362}</string>
		</dict>
		<key>wd_vl_fire_window_side_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,0},{172,331}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{172,331}}</string>
			<key>sourceSize</key>
			<string>{190,361}</string>
		</dict>
		<key>wd_vl_platform_metal_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,1307},{145,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,18}}</string>
			<key>sourceSize</key>
			<string>{145,18}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>VillageSheet03-hd.png</string>
		<key>size</key>
		<string>{1414,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:589b2914e18b589ce83797033cb116f3$</string>
		<key>textureFileName</key>
		<string>VillageSheet03-hd.png</string>
	</dict>
</dict>
</plist>
