<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wd_vl_fire_backwall_burn_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,0},{22,193}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{22,193}}</string>
			<key>sourceSize</key>
			<string>{24,199}</string>
		</dict>
		<key>wd_vl_fire_backwall_burn__1.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,67},{26,133}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,5},{26,133}}</string>
			<key>sourceSize</key>
			<string>{28,139}</string>
		</dict>
		<key>wd_vl_fire_backwall_door.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,864},{93,151}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{93,151}}</string>
			<key>sourceSize</key>
			<string>{93,153}</string>
		</dict>
		<key>wd_vl_fire_backwall_door_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,149},{45,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,87}}</string>
			<key>sourceSize</key>
			<string>{45,87}</string>
		</dict>
		<key>wd_vl_fire_backwall_window.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,0},{77,118}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,12},{77,118}}</string>
			<key>sourceSize</key>
			<string>{85,134}</string>
		</dict>
		<key>wd_vl_fire_backwall_window_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,197},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>wd_vl_fire_backwall_window_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,205},{87,103}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,8},{87,103}}</string>
			<key>sourceSize</key>
			<string>{89,111}</string>
		</dict>
		<key>wd_vl_fire_backwall_window_circle_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,622},{34,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,40}}</string>
			<key>sourceSize</key>
			<string>{34,40}</string>
		</dict>
		<key>wd_vl_fire_burn_edge_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,864},{102,29}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{102,29}}</string>
			<key>sourceSize</key>
			<string>{106,29}</string>
		</dict>
		<key>wd_vl_fire_burn_edge_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,622},{30,10}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{30,10}}</string>
			<key>sourceSize</key>
			<string>{34,10}</string>
		</dict>
		<key>wd_vl_fire_burn_front_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,93},{75,129}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,5},{75,129}}</string>
			<key>sourceSize</key>
			<string>{91,135}</string>
		</dict>
		<key>wd_vl_fire_burn_plank_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,661},{33,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,247}}</string>
			<key>sourceSize</key>
			<string>{33,247}</string>
		</dict>
		<key>wd_vl_fire_burn_plank_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,138},{28,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,71}}</string>
			<key>sourceSize</key>
			<string>{28,71}</string>
		</dict>
		<key>wd_vl_fire_burn_side_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,191},{21,93}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{21,93}}</string>
			<key>sourceSize</key>
			<string>{23,97}</string>
		</dict>
		<key>wd_vl_fire_burn_side_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,365},{21,119}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,7},{21,119}}</string>
			<key>sourceSize</key>
			<string>{25,127}</string>
		</dict>
		<key>wd_vl_fire_burn_side_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,77},{28,115}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{28,115}}</string>
			<key>sourceSize</key>
			<string>{38,115}</string>
		</dict>
		<key>wd_vl_fire_burn_side_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,622},{29,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{29,150}}</string>
			<key>sourceSize</key>
			<string>{29,154}</string>
		</dict>
		<key>wd_vl_fire_door_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,22},{127,184}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,7},{127,184}}</string>
			<key>sourceSize</key>
			<string>{129,192}</string>
		</dict>
		<key>wd_vl_fire_door_1_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,168},{77,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,29}}</string>
			<key>sourceSize</key>
			<string>{77,29}</string>
		</dict>
		<key>wd_vl_fire_door_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,850},{109,172}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{109,172}}</string>
			<key>sourceSize</key>
			<string>{121,178}</string>
		</dict>
		<key>wd_vl_fire_door_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,259},{76,110}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,110}}</string>
			<key>sourceSize</key>
			<string>{78,110}</string>
		</dict>
		<key>wd_vl_fire_house_side_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,661},{159,274}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,274}}</string>
			<key>sourceSize</key>
			<string>{159,274}</string>
		</dict>
		<key>wd_vl_fire_house_side_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{205,387}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{205,387}}</string>
			<key>sourceSize</key>
			<string>{205,389}</string>
		</dict>
		<key>wd_vl_fire_pile_big_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,149},{110,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,90}}</string>
			<key>sourceSize</key>
			<string>{110,90}</string>
		</dict>
		<key>wd_vl_fire_pile_big_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,105},{114,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,110}}</string>
			<key>sourceSize</key>
			<string>{114,110}</string>
		</dict>
		<key>wd_vl_fire_pile_small_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,622},{50,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,31}}</string>
			<key>sourceSize</key>
			<string>{50,31}</string>
		</dict>
		<key>wd_vl_fire_pile_small_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,213},{65,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,68}}</string>
			<key>sourceSize</key>
			<string>{65,68}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,127},{111,64}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{111,64}}</string>
			<key>sourceSize</key>
			<string>{115,64}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_1_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,168},{91,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,56}}</string>
			<key>sourceSize</key>
			<string>{91,56}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,129},{119,76}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{119,76}}</string>
			<key>sourceSize</key>
			<string>{119,78}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_2_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,129},{80,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,77}}</string>
			<key>sourceSize</key>
			<string>{80,77}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,656},{153,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,208}}</string>
			<key>sourceSize</key>
			<string>{153,208}</string>
		</dict>
		<key>wd_vl_fire_roof_hole_big_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,908},{116,171}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,17},{116,171}}</string>
			<key>sourceSize</key>
			<string>{116,191}</string>
		</dict>
		<key>wd_vl_fire_shadow_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,387},{180,274}}</string>
			<key>offset</key>
			<string>{1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,13},{180,274}}</string>
			<key>sourceSize</key>
			<string>{184,288}</string>
		</dict>
		<key>wd_vl_fire_shadow_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,387},{143,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{143,235}}</string>
			<key>sourceSize</key>
			<string>{145,237}</string>
		</dict>
		<key>wd_vl_fire_shadow_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,0},{140,67}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{140,67}}</string>
			<key>sourceSize</key>
			<string>{144,77}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,651},{143,199}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{143,199}}</string>
			<key>sourceSize</key>
			<string>{147,203}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_1_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,0},{72,138}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,138}}</string>
			<key>sourceSize</key>
			<string>{72,140}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,0},{185,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,129}}</string>
			<key>sourceSize</key>
			<string>{185,129}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_2_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,215},{150,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,94}}</string>
			<key>sourceSize</key>
			<string>{150,94}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,651},{82,200}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{82,200}}</string>
			<key>sourceSize</key>
			<string>{82,204}</string>
		</dict>
		<key>wd_vl_fire_wall_hole_side_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,212},{56,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,147}}</string>
			<key>sourceSize</key>
			<string>{56,147}</string>
		</dict>
		<key>wd_vl_fire_window_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,166},{47,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,69}}</string>
			<key>sourceSize</key>
			<string>{47,69}</string>
		</dict>
		<key>wd_vl_fire_window_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,0},{106,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{106,127}}</string>
			<key>sourceSize</key>
			<string>{112,131}</string>
		</dict>
		<key>wd_vl_fire_window_circle_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,864},{42,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,44}}</string>
			<key>sourceSize</key>
			<string>{42,44}</string>
		</dict>
		<key>wd_vl_fire_window_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,850},{102,174}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{102,174}}</string>
			<key>sourceSize</key>
			<string>{110,178}</string>
		</dict>
		<key>wd_vl_fire_window_side_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,215},{86,167}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,9},{86,167}}</string>
			<key>sourceSize</key>
			<string>{92,181}</string>
		</dict>
		<key>wd_vl_fire_window_side_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,935},{87,167}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,5},{87,167}}</string>
			<key>sourceSize</key>
			<string>{95,181}</string>
		</dict>
		<key>wd_vl_platform_metal_base.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,1015},{73,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,9}}</string>
			<key>sourceSize</key>
			<string>{73,9}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>VillageSheet03.png</string>
		<key>size</key>
		<string>{1022,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8d27fe3c89f08b829cbb6bd31269dbbf$</string>
		<key>textureFileName</key>
		<string>VillageSheet03.png</string>
	</dict>
</dict>
</plist>
