<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Witch_Arm_Back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,216},{32,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,31}}</string>
			<key>sourceSize</key>
			<string>{32,31}</string>
		</dict>
		<key>Witch_Arm_Back_part_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,188},{15,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,27}}</string>
			<key>sourceSize</key>
			<string>{15,27}</string>
		</dict>
		<key>Witch_Arm_Front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,46},{43,26}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{43,26}}</string>
			<key>sourceSize</key>
			<string>{45,30}</string>
		</dict>
		<key>Witch_Broom_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{57,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,214}}</string>
			<key>sourceSize</key>
			<string>{57,214}</string>
		</dict>
		<key>Witch_Chin_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,1},{44,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,26}}</string>
			<key>sourceSize</key>
			<string>{44,26}</string>
		</dict>
		<key>Witch_Dress_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,1},{79,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,53}}</string>
			<key>sourceSize</key>
			<string>{79,53}</string>
		</dict>
		<key>Witch_Foot_Back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,216},{33,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,15}}</string>
			<key>sourceSize</key>
			<string>{33,15}</string>
		</dict>
		<key>Witch_Foot_Front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,111},{31,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,17}}</string>
			<key>sourceSize</key>
			<string>{31,17}</string>
		</dict>
		<key>Witch_Hair_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,216},{51,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,35}}</string>
			<key>sourceSize</key>
			<string>{51,35}</string>
		</dict>
		<key>Witch_Hand_Back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,111},{31,21}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{31,21}}</string>
			<key>sourceSize</key>
			<string>{33,21}</string>
		</dict>
		<key>Witch_Hand_Front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,188},{27,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,21}}</string>
			<key>sourceSize</key>
			<string>{27,21}</string>
		</dict>
		<key>Witch_Hand_Front_Point_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,90},{47,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,24}}</string>
			<key>sourceSize</key>
			<string>{47,24}</string>
		</dict>
		<key>Witch_Hat_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,1},{113,109}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,109}}</string>
			<key>sourceSize</key>
			<string>{121,113}</string>
		</dict>
		<key>Witch_Head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,138},{50,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,40}}</string>
			<key>sourceSize</key>
			<string>{50,40}</string>
		</dict>
		<key>Witch_Mouth_Inside_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,81},{41,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,50}}</string>
			<key>sourceSize</key>
			<string>{41,50}</string>
		</dict>
		<key>Witch_Mouth_Top_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,111},{41,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,19}}</string>
			<key>sourceSize</key>
			<string>{41,19}</string>
		</dict>
		<key>Witch_Neck_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,189},{21,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,43}}</string>
			<key>sourceSize</key>
			<string>{21,43}</string>
		</dict>
		<key>Witch_Nose_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,216},{61,34}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{61,34}}</string>
			<key>sourceSize</key>
			<string>{65,36}</string>
		</dict>
		<key>Witch_Shoulder_Back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,188},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,19}}</string>
			<key>sourceSize</key>
			<string>{19,19}</string>
		</dict>
		<key>Witch_Shoulder_Front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,129},{16,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,15}}</string>
			<key>sourceSize</key>
			<string>{16,15}</string>
		</dict>
		<key>Witch_Torso_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,138},{49,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,46}}</string>
			<key>sourceSize</key>
			<string>{49,46}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Witch_Sheet-hd.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d0bedad63309ef5b88c53665a08a3fa5$</string>
		<key>textureFileName</key>
		<string>Witch_Sheet-hd.png</string>
	</dict>
</dict>
</plist>
