<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Witch_Arm_Back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,109},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>Witch_Arm_Back_part_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,19},{8,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,14}}</string>
			<key>sourceSize</key>
			<string>{8,14}</string>
		</dict>
		<key>Witch_Arm_Front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,109},{23,13}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{23,13}}</string>
			<key>sourceSize</key>
			<string>{23,15}</string>
		</dict>
		<key>Witch_Broom_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{29,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,107}}</string>
			<key>sourceSize</key>
			<string>{29,107}</string>
		</dict>
		<key>Witch_Chin_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,87},{22,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,13}}</string>
			<key>sourceSize</key>
			<string>{22,14}</string>
		</dict>
		<key>Witch_Dress_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,1},{40,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,27}}</string>
			<key>sourceSize</key>
			<string>{40,27}</string>
		</dict>
		<key>Witch_Foot_Back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,1},{17,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,8}}</string>
			<key>sourceSize</key>
			<string>{17,8}</string>
		</dict>
		<key>Witch_Foot_Front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,43},{16,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,9}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>Witch_Hair_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,42},{26,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,18}}</string>
			<key>sourceSize</key>
			<string>{26,18}</string>
		</dict>
		<key>Witch_Hand_Back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,109},{17,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,11}}</string>
			<key>sourceSize</key>
			<string>{17,11}</string>
		</dict>
		<key>Witch_Hand_Front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,57},{14,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,11}}</string>
			<key>sourceSize</key>
			<string>{14,11}</string>
		</dict>
		<key>Witch_Hand_Front_Point_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,101},{24,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,12}}</string>
			<key>sourceSize</key>
			<string>{24,12}</string>
		</dict>
		<key>Witch_Hat_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,1},{57,55}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,55}}</string>
			<key>sourceSize</key>
			<string>{61,57}</string>
		</dict>
		<key>Witch_Head_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,61},{25,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,20}}</string>
			<key>sourceSize</key>
			<string>{25,20}</string>
		</dict>
		<key>Witch_Mouth_Inside_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,87},{21,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,25}}</string>
			<key>sourceSize</key>
			<string>{21,25}</string>
		</dict>
		<key>Witch_Mouth_Top_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,87},{21,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,10}}</string>
			<key>sourceSize</key>
			<string>{21,10}</string>
		</dict>
		<key>Witch_Neck_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,69},{11,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,22}}</string>
			<key>sourceSize</key>
			<string>{11,22}</string>
		</dict>
		<key>Witch_Nose_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,109},{31,18}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,18}}</string>
			<key>sourceSize</key>
			<string>{33,18}</string>
		</dict>
		<key>Witch_Shoulder_Back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,81},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>Witch_Shoulder_Front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,34},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,8}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>Witch_Torso_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,61},{25,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,23}}</string>
			<key>sourceSize</key>
			<string>{25,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Witch_Sheet.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:759294d7a64a0a601105f4845ae018c4$</string>
		<key>textureFileName</key>
		<string>Witch_Sheet.png</string>
	</dict>
</dict>
</plist>
