<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ZombieBunny_arm_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,152},{38,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,13}}</string>
			<key>sourceSize</key>
			<string>{38,13}</string>
		</dict>
		<key>ZombieBunny_arm_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,235},{28,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,11}}</string>
			<key>sourceSize</key>
			<string>{28,11}</string>
		</dict>
		<key>ZombieBunny_chin_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,152},{39,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,24}}</string>
			<key>sourceSize</key>
			<string>{39,24}</string>
		</dict>
		<key>ZombieBunny_ear_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,122},{53,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,23}}</string>
			<key>sourceSize</key>
			<string>{53,23}</string>
		</dict>
		<key>ZombieBunny_ear_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,129},{53,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,22}}</string>
			<key>sourceSize</key>
			<string>{53,22}</string>
		</dict>
		<key>ZombieBunny_hand_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,199},{29,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,32}}</string>
			<key>sourceSize</key>
			<string>{29,32}</string>
		</dict>
		<key>ZombieBunny_hand_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,159},{29,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,23}}</string>
			<key>sourceSize</key>
			<string>{29,23}</string>
		</dict>
		<key>ZombieBunny_heel_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,170},{23,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,10}}</string>
			<key>sourceSize</key>
			<string>{23,10}</string>
		</dict>
		<key>ZombieBunny_heel_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,157},{23,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,10}}</string>
			<key>sourceSize</key>
			<string>{23,10}</string>
		</dict>
		<key>ZombieBunny_leg_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,108},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>ZombieBunny_leg_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,92},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>ZombieBunny_mouth_inside_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,92},{36,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,55}}</string>
			<key>sourceSize</key>
			<string>{36,55}</string>
		</dict>
		<key>ZombieBunny_mouth_side_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,66},{9,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,27}}</string>
			<key>sourceSize</key>
			<string>{9,27}</string>
		</dict>
		<key>ZombieBunny_neck_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,146},{10,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,29}}</string>
			<key>sourceSize</key>
			<string>{10,29}</string>
		</dict>
		<key>ZombieBunny_shoulder_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,124},{17,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,13}}</string>
			<key>sourceSize</key>
			<string>{17,13}</string>
		</dict>
		<key>ZombieBunny_snow_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{120,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,25}}</string>
			<key>sourceSize</key>
			<string>{120,25}</string>
		</dict>
		<key>ZombieBunny_tail_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,26},{39,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,43}}</string>
			<key>sourceSize</key>
			<string>{39,43}</string>
		</dict>
		<key>ZombieBunny_teeth_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,199},{28,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,35}}</string>
			<key>sourceSize</key>
			<string>{28,35}</string>
		</dict>
		<key>ZombieBunny_thigh_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,146},{24,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,23}}</string>
			<key>sourceSize</key>
			<string>{24,23}</string>
		</dict>
		<key>ZombieBunny_thight_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,232},{24,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,23}}</string>
			<key>sourceSize</key>
			<string>{24,23}</string>
		</dict>
		<key>ZombieBunny_toes_back_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,235},{20,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,14}}</string>
			<key>sourceSize</key>
			<string>{20,14}</string>
		</dict>
		<key>ZombieBunny_toes_front_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,138},{20,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,14}}</string>
			<key>sourceSize</key>
			<string>{20,14}</string>
		</dict>
		<key>ZombieBunny_tongue_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,177},{38,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,21}}</string>
			<key>sourceSize</key>
			<string>{38,21}</string>
		</dict>
		<key>ZombieBunny_topHead_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,26},{75,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,65}}</string>
			<key>sourceSize</key>
			<string>{75,65}</string>
		</dict>
		<key>ZombieBunny_torso_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,66},{42,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,55}}</string>
			<key>sourceSize</key>
			<string>{42,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ZombieBunny_Sheet.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b180a93c4d33e0a89c62218497848535$</string>
		<key>textureFileName</key>
		<string>ZombieBunny_Sheet.png</string>
	</dict>
</dict>
</plist>
